[2019-05-27 02:59] merwok commented on #320
These (at least the first two) are packages with sub-packages, and would be considered advanced projects that benefit from src layout.

[2019-05-27 03:05] ofek commented on #320
@merwok Hmm? https://github.com/kennethreitz/requests/tree/master/requests is completely flat, am I missing something?

[2019-05-27 03:22] pradyunsg commented on #320
A single module = single `.py` file.

requests is not a single module. It's a single package.

[2019-05-27 03:30] ofek commented on #320
@pradyunsg What I listed were packages composed solely of what you referred to as "multiple top-level modules". Or did you mean "multiple top-level modules at the root" e.g. alongside `setup.py`?

[2019-05-27 03:52] pradyunsg commented on #320
This.

Sorry for the terseness. It's been a long day.

[2019-05-27 05:33] ofek commented on #320
Ah no worries!

In that case it seems `src/` has fully taken hold unfortunately, so I'll bow out for the final time 😄

[2019-05-27 17:45] pradyunsg commented on #320
If anyone has any concerns with this, please let us know. It'll be useful to discuss things if we've missed something here, or something was left un-addressed.

[2019-05-27 18:18] asmeurer commented on #320
There were several dissenting opinions to PyPA unilaterally recommending src/ layout. I thought the agreement here was to at most document the advantages/disadvantages of each, but not to recommend one way or the other. Just because a "unanimous" decision was reached in an in-person of PyPA members, that supersedes the lengthy discussion from the community that happened here?

[2019-05-27 21:39] pradyunsg commented on #320
I think it was to at least document the trade-offs. ;)

Anyway, the action items from the meeting are to document the trade-offs and updating the guide to show that src/ is a valid, reasonable layout.

---

Many of the points made here were taken into account and discussed in person. There was no "decision" made at the summit, but the room did reach consensus on a position we felt is reasonable, w

[2019-05-27 21:53] asmeurer commented on #320
If the goal here is simply to document tradeoffs of both approaches as valid, that's sounds good to me. @certik started a PR for that, though I had thought it was decided to not merge it (but I admit the discussions got quite lengthy and I stopped following them at some point, so I could be wrong about that).

But that isn't what this sounds like:

(emphasis added)

That sounds like you want the P

[2019-05-27 22:23] pfmoore commented on #320
To be honest, there's never going to *be* a consensus. Anyone expecting one is frankly being naive - just look at the tone of the discussions here. Although I just scanned the full thread here, and I only see 2 people really strongly against the `src` layout (not that I see that many participants at all, most of the debate here is fuelled by a very few people).

But the packaging guide (and PyPA a

[2019-05-27 22:26] pradyunsg commented on #320
Ugh. I literally just wanted to document what we was discussed and agreed upon at the summit so that it doesn't get lost. If you don't agree with that, cool. Don't push back against me personally, for documenting that.

If you (or anyone else really) want to continue suggesting that I'm somehow trying to silence/subvert parts of this discussion, I'm not going to bother responding.

---

@certik's

[2019-05-27 22:32] pradyunsg commented on #320
+1

Thanks @pfmoore for writing that! This is indeed a great summary of the situation here.

[2019-05-27 23:02] drunkwcodes commented on #618
I think it should be just "src" layout and others.

The src layout seems to be misused and denies the fact that `setup.py` is kind of a piece of important source which runs on every installation.

[2019-05-27 23:34] theacodes commented on #320
I generally dislike doing this, but I'm going to lock this conversation.

Here's our next steps:

@pradyunsg is working on turning @certik's guide into a discussion. After that is merged, I'll accept guides for src and non-src layouts from any authors.

After that, only at the consensus *and* request of the [*packaging working group*](https://wiki.python.org/psf/PackagingWG) will I update the prim

[2019-05-27 23:34] #320 closed

[2019-05-28 01:09] pradyunsg commented on #618
Since this is bikesheding after all, I think it is important to decide what to focus on.

I think that'll be: what these terms might communicate to first timers and to avoid names that can be mixed with other common concepts.

IMO that means we can take the following off the table:

- "root" can be confused with the root of the file system or as the superuser.
- "simple" and "natural" would commun

[2019-05-28 01:59] drunkwcodes commented on #618
No. "Flat" layout conflicts with its duplicate path name convention.
"Mediocre" layout for the first timers FTW.

[2019-05-28 03:20] pradyunsg commented on #618
Not sure if you're serious or trying to be funny/sarcastic there.

Anyway, mediocre doesn't make sense (it's not a neutral term) so I'm going to ignore all of that.

[2019-05-28 13:57] ncoghlan commented on #618
Directory name duplication happens in both layouts when the source project and the published package share a name (it just appears as `project/package` in the flat layout, and `project/src/package` in the src layout).

So the general way of describing the two layouts would be:

[2019-05-28 15:34] pradyunsg commented on #618
@ncoghlan I'm gonna borrow that wording, for the discussion topic. :)

[2019-06-03 11:01] guettli opened #619 "Missing directory layout for tests"
I am missing a directory layout recommendation for tests here:

  https://packaging.python.org/tutorials/packaging-projects/

I know that there are several ways to put you tests. It would be very nice, if there would be an official recommendation for this.

Thank you.

[2019-06-03 20:39] pradyunsg commented on #619
Hi @guetti! Thanks for filing this issue!

We just had a long and fairly polarizing discussion on the src/ vs flat layout over at #320, so I'd prefer that we defer this discussion to a later time. Folks like myself are a little less tired of "how to layout your project" discussions right now.

While I do think we should look into this at some point, the aim here too should probably be to document

[2019-06-09 06:08] ncoghlan commented on #619
Similar to flat vs src tree loyouts, in-package vs out-of-package tests is a question of trade-offs. I think the structure we're now proposing for the tree layout documentation in general will also work there - separate guides for both options, paired with a discussion that covers the trade-offs between them.

(If we ever add a testing tutorial though, I'd suggest we use a separate `tests` directo

[2019-06-30 08:04] guettli commented on #619
@ncoghlan

I think new comers want a to follow a sane default without reading a discussion that covers the trade-offs.

A footnote which links to the details makes sense.

If you look at this question: https://stackoverflow.com/questions/56426027/pycharm-create-test-target-directory

Imagine you coursor in your IDE/editor is in a python method. Now you want to create a test for this methos. Wouldn

[2019-06-30 08:40] ncoghlan commented on #619
Nobody has the authority to dictate a particular answer as the "one true way", because all the options have downsides.

However, narrowing it to a couple of alternatives is enough for tool creators to pick one that *they* favour, and then they can either document that it's the only approach they support, or provide an option to enable their non-default layout.

Pushing for "there can be only one"

[2019-07-01 07:00] guettli commented on #619
In 1996 I compiled the linux kernel for the first time. You need to answer a lot of questions for this. For almost every question there was a hint. Something like "if unsure choose ...". I had no clue what these questions were about. I managed to compete the task because these hints existed. That's what I have on my mind. One clear hint for new comers (without "or").

[2019-07-02 22:09] ncoghlan commented on #619
Sure, and re-reading my earlier notes, I agree if we ever have a testing tutorial, out-of-package tests will *probably* make a good default.

However, it would be inappropriate to add such a tutorial without the supporting documentation that makes it clear that that isn't a universally preferred approach.

[2019-07-05 12:22] plemelin commented on #580
@theacodes
I stumble upon this issue. After reading https://github.com/pypa/setuptools/issues/97 I could not find any reference to `find_namespace_packages` other than the code itself. Hopefully the text suits the needs

[2019-07-16 21:57] willingc commented on #367
I would be willing to write a documentation page about using conda-forge and PyPI together. It would focus more on the things available than promoting one over the other.

[2019-07-16 22:10] cjerdonek commented on #367
FYI, back in April I posted a comment that lists the current mentions of conda in the packaging docs, when a similar discussion was happening: https://discuss.python.org/t/drawing-a-line-to-the-scope-of-python-packaging/883/50?u=cjerdonek

It could be useful for consolidating things and deciding where new content should go / what needs updating.

[2019-07-20 03:31] nathanielcompton commented on #381
@di Saw that you took over packaging, and tagging you here. We should be able to close this issue as https://github.com/pypa/packaging.python.org/pull/530 resolved it.

As I get more free time, I'll try to find more close-able issues in this repo 👍

[2019-07-20 03:37] pradyunsg commented on #381
Thanks @nathanielcompton!

[2019-07-20 16:38] #381 closed

[2019-07-25 19:51] webknjaz opened #628 "Recommend using project-scoped API access tokens for dist uploads"
Ref: https://github.com/pypa/warehouse/issues/6211#issuecomment-513102869

The distributing guide should now mention the possibility of getting access tokens on a per-project basis and recommend that for use at least in automatic CI/CD systems: https://packaging.python.org/guides/distributing-packages-using-setuptools/#create-an-account

Also: @Ewjoachim brought up a question about storing multipl

[2019-08-02 11:22] flying-sheep commented on #182
None of these is single-source, as pretty much everything is under version control these days, and people tag versions. I prefer using the VCS as source for the version using [`get_version`](https://github.com/flying-sheep/get_version) or [`versioneer`](https://github.com/warner/python-versioneer).

[2019-08-02 18:15] brainwane opened #632 "add "fluctuations" note to Analyzing PyPI package downloads"
I'd like for us to add a note about known data fluctuations to `source/guides/analyzing-pypi-package-downloads.rst`.

As https://pypistats.org/faqs#why-are-there-so-many-more-downloads-after-july-26-2018 mentions, there's a known increase in PyPI's reported download stats starting July 26, 2018, because we improved our linehaul deployment.

I would like for someone to write a sentence or two about

[2019-08-04 03:46] ujuc opened #633 "Update copyright descriptions"
Hi,

This line https://github.com/pypa/packaging.python.org/blob/master/source/conf.py#L56 .

The copyright year is 2013-2017. Should not we update this to `2013-2019`?

[2019-08-12 11:44] ncoghlan commented on #633
Indeed!

[2019-08-13 22:42] #633 closed

[2019-08-16 20:30] blairg23 opened #636 "Two different URLS for packaging tutorial"
I can't tell if this is a bug or not, but I found two different URLs that led me to the "Python Packaging User Guide", which seem like identical pages...

Page 1: https://packaging.python.org/

Page 2: https://python-packaging-user-guide.readthedocs.io/

[2019-08-17 11:58] ncoghlan commented on #636
Yep, that's expected - the first one goes through the PSF's CDN frontend (and is the preferred domain for external links to target), while the second is the actual documentation hosting on ReadTheDocs.

The GitHub repo and the ReadTheDocs project originally had the same name (before we set up the packaging.python.org subdomain), but we later changed the GitHub repo name to match the public CDN end

[2019-08-17 11:58] #636 closed

[2019-08-19 07:34] ncoghlan opened #637 "Provide guide for repeatably building wheels"
https://twitter.com/brandon_rhodes/status/1163122034219655168?s=19 reminded me that we don't currently have a high level guide orddiscussion for repeatably building wheel files that could point folks towards projects like cibuildwheel and conda-press.

[2019-08-19 13:05] pradyunsg commented on #637
TWITTER DRIVEN DEVELOPMENT! \o/

[2019-08-22 09:46] webknjaz commented on #637
FTR just found these for PyPy: https://github.com/pypy/pypy-manylinux-demo / https://github.com/pypy/manylinux

[2019-08-25 15:31] jakenorth opened #638 "Incorrect Wording in Docs"
Small wording error on this page:
https://packaging.python.org/guides/analyzing-pypi-package-downloads/

This should say "prevent the download counts from being **accurate**" instead of "prevent the download counts from being **inaccurate**"

[2019-08-25 18:24] jwodder opened #640 "Website not updating"
Even though the repository was last committed to on August 13, the date at the bottom of https://packaging.python.org says that the site hasn't been updated since April 23 — and, indeed, the pull requests merged since then don't appear to have been applied to the site.

[2019-08-26 02:14] pradyunsg commented on #640
Seems to me that RTD isn't getting the relevant events from GitHub.

https://readthedocs.org/projects/python-packaging-user-guide/builds/

[2019-08-27 15:08] pganssle opened #643 "Document the "Do not upload" classifier trick"
In [this tweet](https://twitter.com/di_codes/status/1097220464445931525), @di mentions a trick to prevent accidentally uploading your packages to PyPI by adding a `Private :: Do Not Upload` classifier and in the thread @ewdurbin mentioned that he had made `Private` a reserved top-level classifier so the trick works reliably.

It seems like it would be a good idea to document this somewhere for eas

[2019-08-27 15:42] Julian commented on #643
Should there be a `License :: Closed Source` for this? Having two ways to do it isn't great obviously, but possibly the advantage of using License is some tools maybe care about being able to ask about the license anyhow from classifiers, so maybe using that namespace solves both?

[2019-08-27 15:45] pfmoore commented on #643
I may well have an open source project that I don't want to upload to PyPI (maybe because it's not yet ready for broad distribution).

[2019-08-29 18:53] di commented on #640
The webhook is failing and it's not clear to me why. I filed https://github.com/readthedocs/readthedocs.org/issues/6122.

[2019-08-29 20:52] di commented on #638
Closed in #639.

[2019-08-29 20:52] #638 closed

[2019-08-29 21:03] di commented on #640
OK, this should be resolved, [the most recent build](https://readthedocs.org/projects/python-packaging-user-guide/builds/9584920/) was automatically triggered from https://github.com/pypa/packaging.python.org/commit/fb64a4d9645744aec4faa35a5b07138f4ea8f386.

[2019-08-29 21:03] #640 closed

[2019-09-09 07:43] ComFreek opened #645 "Document warnings on how to set (long_)description"
I have just spent >= 1 hour to overcome this bug: https://github.com/pypa/twine/issues/454

- In the `description` argument passed to `setup(...)`, you **must not** pass newlines!<br>
  (Especially I passed `__doc__`, which starts of course with a newline most of the time.)
- In the `long_description` argument passed to `setup(...)`, you **must** use LF newlines (\n) **exclusively**. (No \n! No \r

[2019-10-08 11:42] brainwane commented on #297
[The Python docs](https://docs.python.org/3/distutils/packageindex.html#the-pypirc-file) now [no longer mention `.pypirc`, yay](https://github.com/python/cpython/pull/13087)! Thanks @kojoidrissa!

I'm having trouble figuring out when, but someone removed the `.pypirc` text from `source/tutorials/packaging-projects.rst` -- but it doesn't explicitly mention the keyring, so I think this issue is not

[2019-10-08 11:46] brainwane opened #652 "request for "your username" clarification in packaging tutorial"
At a recent [sprint night](https://www.meetup.com/nycpython/events/265028634/) a new user got confused during `source/tutorials/packaging-projects.rst` and simply reused the project name "example-pkg-your-username" instead of renaming it to something like "example-pkg-brainwane". I think he didn't read the explanatory text

so I suggest that this be changed to "replace-with-your-username" or that

[2019-10-08 11:48] brainwane opened #653 "request for clarification in packaging tutorial: graduating to canonical PyPI"
At [a recent sprint night](https://www.meetup.com/nycpython/events/265028634/) a new user asked: in the "Next steps", once I'm ready to upload to pypi.org instead of Test PyPI. what's the new PyPI URL I should upload to?

There's a section starting:

but it doesn't tell the user what the new upload URL will be.

[2019-10-08 15:48] pradyunsg commented on #297
@brainwane

I think the relevant file is `source/guides/distributing-packages-using-setuptools.rst`. It still mentions `.pypirc` and suggests creating a file with the user's password in plain text.

https://github.com/pypa/packaging.python.org/blob/c8339b381d0446b1c73aa94689869266beb0d334/source/guides/distributing-packages-using-setuptools.rst#create-an-account

[2019-10-09 17:00] #393 closed

[2019-10-09 17:22] bsolomon1124 commented on #653
I believe this value is specified at `twine/utils.py` as

[code]

However, in the interest of not introducing possible link rot, maybe it would suffice to just say something like, "`twine upload` defaults to the "real" pypi.org, so you don't need to specify `--repository-url` in this case."

[2019-10-09 18:02] #653 closed

[2019-10-12 19:34] avaldebe commented on #580
It looks to me that this issue was addressed on #622, so you should be able to close it.

[2019-10-13 09:10] #580 closed

[2019-10-14 18:28] objsys opened #657 "Problem with the Packaging Exercise"
I recently went through the packaging exercise that's documented here:  https://packaging.python.org/tutorials/packaging-projects/

Everything seemed to work fine until I got to the testing step where I was supposed to do an "import example_pkg".  Python said it was unable to find the package.  My user name on the test PyPI site is dcoup, so I also tried "import example_pkg_dcoup", but that didn't

[2019-10-23 17:13] DrGurkan opened #662 "Python 3.8.0 and Pip3 install fails: matplotlib, opencv-python, speech_recognition and many more.."
Hi,

I've encountered many pip3 install fails after I've migrated to Pyhton version 3.8.0 (I am using windows 10), my pip3 is up to date (as mentioned as a problem somewhere). I guess you are aware of this problem, if yes then when we will be able to use those packages on python 3.8.0?
Here are a few of these fails:
pip3 install speech_recognition
ERROR: Could not find a version that satisfies the

[2019-10-24 13:29] webknjaz commented on #662
@DrGurkan this resource contains generic information about packaging. You have to ask those project maintainers directly. Nobody here will be able to help you.

[2019-10-24 13:52] ncoghlan commented on #662
Python 3.8 is still relatively new, and it often takes a while for projects to start publishing binaries for the new release (especially volunteer-maintained projects where folks need to find time to run the extra builds).

If you have complex binary dependencies (and from your examples, it appears you do), then it's often a good idea to wait for the X.Y.1 release before updating.

If you're looki

[2019-10-24 13:52] #662 closed

[2019-10-28 16:27] #652 closed

[2019-10-28 16:56] jugmac00 opened #664 "Dead link to "table schema""
On the page
https://packaging.python.org/guides/analyzing-pypi-package-downloads/
the link behind "table schema"
points to the url
`https://bigquery.cloud.google.com/table/the-psf:pypi.downloads20161022?tab=schema`
which does not work anymore.

https://github.com/pypa/packaging.python.org/blame/master/source/guides/analyzing-pypi-package-downloads.rst#L58

[2019-10-28 19:20] di commented on #664
The link works for me:

<img width="846" alt="Screen Shot 2019-10-28 at 2 19 54 PM" src="https://user-images.githubusercontent.com/294415/67710504-1422ad80-f98e-11e9-8196-2506933ff624.png">

What makes you think it's dead?

[2019-10-28 19:28] di commented on #664
(As an aside, it looks like this UI will be going away next year, and we should update the link to something like https://console.cloud.google.com/bigquery?pli=1&p=the-psf&d=pypi&t=downloads&page=table instead.)

[2019-10-28 19:51] jugmac00 commented on #664
Hi @di
thanks for the quick response and sorry for not attaching a screenshot.

I get a "Unable to find table: the-psf:pypi.downloads20161022 " message.

For me it looks like on the attached screenshot - I tried both Chrome and Firefox on Ubuntu 18.04.

As I have to login with my Google account, maybe it is an authorization issue? From the text at the documentation I assumed it is viewable by ever

[2019-10-28 20:32] di commented on #664
Hmm, does https://bigquery.cloud.google.com/dataset/the-psf:pypi load for you?

This is a public dataset, so it should be available to everyone.

[2019-10-28 20:37] jugmac00 commented on #664
Same problem :-(

The page starts loading - a small popup appears for login to the Google account. After that the situation on the screenshot appears.

![Screenshot from 2019-10-28 21-35-31](https://user-images.githubusercontent.com/9895620/67715860-edcf3300-f9ca-11e9-8b03-e2008a0a566f.png)

[2019-10-28 20:53] jugmac00 commented on #664
Update... I made it work. Well, I guess 25+ years of www experience is hardly enough to handle the Google BigQuery gui...

Had to open a second browser window and head directly to https://bigquery.cloud.google.com/

On the next screen I had to click on "existing project"

![Screenshot from 2019-10-28 21-44-48](https://user-images.githubusercontent.com/9895620/67716988-24a64880-f9cd-11e9-9e53-dbc5d

[2019-10-28 20:54] fhoffa commented on #664
I don't see a problem, but if you have problems - try the new UI:

- https://console.cloud.google.com/bigquery?p=the-psf&d=pypi&t=downloads20191028&page=table

Does it load?

To save a lot on querying costs, try using my tables instead:

- https://towardsdatascience.com/python-pypi-stats-in-bigquery-reclustered-d80e583e1bfe

(hopefully we can do this in the master datasets, but you can use my tabl

[2019-10-28 20:57] di commented on #664
@jugmac00 Ah, glad you figured it out. Sorry that's not very intuitive, we should probably add a note that this might happen if you haven't used BigQuery before, so I'll leave this issue open.

[2019-10-28 21:01] jugmac00 commented on #664
@fhoffa Thank you very much for your offer. I just had a discussion on Twitter about project download numbers which seems way to high - at least compared to human users.

I was pointed to https://packaging.python.org/guides/analyzing-pypi-package-downloads/ and I just was curios what kind of data is stored. I just wanted to see the column names - I am not interested int he data itself or using Big

[2019-10-29 21:13] #632 closed

[2019-10-29 21:13] #664 closed

[2019-11-06 10:52] pfmoore opened #667 "Formally drop support for distutils-only projects?"
The guide already assumes that people will use setuptools when building projects, but it falls short (as far as I can see) of stating that projects should not use "pure" distutils without setuptools. Newer packaging standards (for example, PEP 517) no longer support the use of distutils without setuptools.

Should the packaging guide make a formal statement that use of distutils alone is no longer

[2019-11-06 11:25] pradyunsg commented on #667
Sounds like a good idea to me. Does anyone have any suggestions on what would be a good place to put this note?

[2019-11-09 08:19] illume commented on #667
- makes it harder for people to create packages.
- existing working packages don't use setuptools
- there's no pep that says distutils packages should now be broken

What is the benefit here for breaking things and making it harder for people?

You said:

However this is objectively not true.

pep 517 says:

[2019-11-09 09:25] illume opened #670 "UX: packaging guide front page"

[2019-11-09 10:25] pfmoore commented on #667
It's not so much breaking things, as acknowledging that they are already broken and in effect give packaging tools permission to not support distutils-only projects. The tools don't actually *need* such permission (they can make their own support choices) but in much the same way that Python's own support lifecycle makes it easier for tools to drop support for Python 2.6, a statement in the packag

[2019-11-09 20:10] pradyunsg commented on #667
No?

setuptools is an already-existing mechanism for keeping backward compatibility with distutils.

If you can pip install it today, you'd still be able to do so, since setuptools builds on top of (and patches) distutils to do the right thing. If you're using `distutils` in your setup.py, `pip install xyz` would use the setuptools mechanisms, since setuptools essentially replaces distutil's mecha

[2019-11-09 20:13] pradyunsg commented on #667
Seconded.

[2019-11-09 21:39] illume commented on #667
The honest answer would be to call setuptools the recommended option, but note that packages requiring the furthest reach should not depend on setuptools.

The linked issue lists various bugs in using setuptools. Especially when shipping code to older(and current!) distros with random versions of setuptools installed (or none at all). Calling distutils unsupported doesn't magically fix these probl

[2019-11-09 22:14] pradyunsg commented on #667
^ this is the main problem tbh. For this reason alone, I'd want to strongly suggest users to not use distutils. Anyway, I'm gonna bow out of this thread now. I don't see this headed in a very positive direction for me.

[2019-11-09 22:44] ncoghlan commented on #667
"from distutils.core import setup" is definitely deprecated, and we should say so in the documentation. The reason for this is that installing such projects with './setup.py install' will result in a broken Python environment, where a package is missing the metadata required to uninstall or upgrade it. If you want './setup.py install' or './setup.py bdist_wheel' to work correctly, you *must* use a

[2019-11-09 23:03] ncoghlan commented on #667
As far as where to document this goes, I would suggest putting a Sphinx note at the end of https://packaging.python.org/tutorials/packaging-projects/#creating-setup-py along the lines of:

And then in a footnote we could add:

[2019-11-09 23:07] ncoghlan commented on #667
The distro bugs are exactly that: distro bugs.

The answer is to use a virtual environment, and avoid their broken versions.

[2019-11-09 23:12] ncoghlan commented on #667
And yes, @illume, you should really reconsider how many people you really represent: the vast majority of Python users gave up on trying to support Linux distro Python installations a long time ago, and the distro vendors are fine with that (their view is that the distro Python is for the distro, and people shouldn't be running arbitrary third party projects in there).

So I don't know what commun

[2019-11-09 23:18] ncoghlan commented on #667
When we make the PR, we can link the "legacy approach" text to https://docs.python.org/3/library/distutils.html, since that page explicitly covers the fact that using distutils directly is not a recommended approach (and the reasons why).

[2019-11-10 07:15] pfmoore commented on #667
This isn't entirely accurate. Pip does not (and will not, in the long term) inject setuptools into projects which use PEP 517 processing (whether that's by explicit opt-in, or via the default setuptools backend). That only happens in the legacy "direct install" code path. So projects that want to use distutils under PEP 517 will need to use a distutils backend. Once the legacy code path is phased

[2019-11-11 12:16] ncoghlan commented on #667
Wait, there's a plan to remove the legacy code with direct setup.py invocation? That would render large parts of PyPI completely uninstallable (since nobody can go back and change old releases), so I didn't think there was any plan to completely drop that path - it would just never support the newer features like isolated builds and proper build time dependency resolution (which aren't things that

[2019-11-11 12:18] ncoghlan commented on #667
You also can't write a PEP 517 backend for distutils, as it doesn't generate the right metadata - instead, migrating a distutils-only project to PEP 517 necessarily means migrating it to setuptools as well.

[2019-11-11 12:51] pfmoore commented on #667
There's no plan as such, but it's certainly something we'd look at doing at some point (and personally, I'd advocate for it). A pre-requisite for doing it would be that the equivalent new codepath (using the default setuptools backend to build a wheel and install that) worked for if not all, then at least nearly all old-style projects. But I don't see any reason why we wouldn't expect to be able t

[2019-11-13 21:37] ncoghlan commented on #667
I think I actually just misunderstood what you were suggesting, since there's two potential levels of removal here:

* removing the option to bypass PEP 517 entirely (I think we all assume that will happen at some point)
* making the default PEP 517 backend something other than "setuptools.build_meta.__legacy__" (while I haven't actually tried it, I believe this already handles projects that impor

[2019-11-16 07:16] #670 closed

[2019-11-16 07:36] pradyunsg commented on #670
:eyes:

[2019-11-29 13:11] uranusjr opened #679 "Add a page to map things to their PEPs"
I saw @pfmoore [on discuss.python.org](https://discuss.python.org/t/can-extras-require-values-be-os-dependant/2718) and realise I am in the same situation a lot as well. The PEP numbers are difficult to memorise (I can remember 517 and 518 from the top of my head and that’s about it), and I need to constantly search to know what PEP defines (the newset version of) wheel, that defines version speci

[2019-11-29 13:21] webknjaz commented on #679
It sounds like a good idea but I'm pretty sure I personally would still resort to googling things. And I think that a lot of folks would do the same. So such a page must also be SEO optimized.

[2019-11-30 04:45] pradyunsg commented on #679
I like this idea too - we should list related PEPs on the page listing the specifications.

[2019-11-30 18:05] webknjaz commented on #679
Or/and maybe have some sort of a box "related PEPs" on each docs page?

[2019-12-01 09:36] lorarjohns commented on #194
I'd love to contribute content on virtual environments.

I can also get into managing and deploying packages with Docker Compose; pytest and Fabric/GitHub CI/CD workflows with VSCode, and packaging vs 'developing' for different tools and different objectives, if you like. I have a teaching and research background and really enjoy making tutorials 😄

[2019-12-01 09:42] lorarjohns commented on #578
I'm happy to take it this week if it's still needed! @theacodes

[2019-12-02 00:26] webknjaz commented on #578
@lorarjohns I believe it's still needed. I think if you fully understand what to add, go ahead and create a PR.

[2019-12-02 00:56] webknjaz opened #680 "Autoinviting authors to review changes to the content they contributed"
When somebody sends a PR, it's useful to ask the original author(s) of the given guide to review it. For this, maintainers need to find out who that is, using `git blame` or trying to recall this information. [`authors.txt`] is a bit out-of-date and also it doesn't map authors to their contents.

I suggest using `.github/CODEOWNERS` to track this information. This will make GitHub automatically re

[2019-12-07 00:13] ncoghlan commented on #679
The entire idea behind https://packaging.python.org/specifications/ is that folks should be relying on those stable URLs, so the PEPs only need to cover the *changes* between versions.

We unfortunately mishandled PEP 517 in that regard, as it used the PEP itself as the specification, rather than creating a suitable entry on the specifications page (preferably a combined one with PEP 518 that cove

[2019-12-07 00:20] ncoghlan commented on #679
See https://packaging.python.org/specifications/core-metadata/ for a case that Dustin already fixed - while there's a reference to the most recent PEP, the page itself contains everything you need.

https://packaging.python.org/specifications/platform-compatibility-tags/ is another example where the spec page is properly up to date for the status quo (although it will be updated again as PEP 600 i

[2019-12-07 05:06] webknjaz commented on #680
For example, I'd like to be auto-pinged about things like https://github.com/pypa/packaging.python.org/pull/677.

[2019-12-09 17:34] di opened #681 ""Platform compatibility tags" should include include PEP 600"
The page at https://packaging.python.org/specifications/platform-compatibility-tags/ should be updated now that [PEP 600](https://www.python.org/dev/peps/pep-0600/) has been accepted.

[2019-12-09 17:41] di commented on #680
I personally try to treat pending requested reviews as blocking, so I'd be hesitant to add this since it means that we'd need to wait for the original author to review before merging. However, I suppose if this starts happening we can always remove the mapping in `CODEOWNERS`.

I think this is probably fine if the people who want it do it themselves, and stay up-to-date with pending reviews. I don

[2019-12-10 01:59] webknjaz commented on #680
Yes, I think I wanted suggest opt-in originally. But I think we may need a way to notify authors about such possibility.

[2019-12-12 10:26] mesmine commented on #195
Hello I'm new and I will like to work on that issue

[2019-12-23 07:20] imankulov commented on #643
I came across this issue while finding a way to mark my python packages as private. Adding a cross-reference to a change in Warehouse which sort of "institutionalizes the trick": https://github.com/pypa/warehouse/pull/5440

[2020-01-05 17:47] pganssle opened #685 "Canonical guide to specifying dependencies?"
We should probably have a canonical guide to installing dependencies on packaging.python.org, especially since [PEP 508](https://www.python.org/dev/peps/pep-0508/) has changed things like how to link to a git repository. I get a lot of questions like, "Why are my dependency links not working now?" and since I don't really use those I can just tell people, "Oh something about that changed, here's a

[2020-01-15 23:25] gmboyer commented on #657
I've just run into this same issue after following the tutorial. PIP installation of example_pkg from test PyPI finishes successfully in Windows 10 powershell but results in a 'no module named example_pkg' error when attempting to import in python.

Were you able to find a solution?

[2020-01-16 23:21] brainwane commented on #628
@ewdurbin @di @woodruffw I could use your advice on answering https://twitter.com/Ewjoachim/status/1154474823717982208 per @webknjaz's note above. How should we advise people to deal with multiple tokens in `.pypirc`?

[2020-01-16 23:29] di commented on #628
@brainwane It's not super ideal but the support for multiple repos could be used for this

[code]

And then the user does `twine upload -r pypi-project-A` or `twine upload -r pypi-project-B`

[2020-01-16 23:34] brainwane commented on #628
Thanks @di. I'd love for someone to polish that and add it to the right place(s) on PyPUG.

I'd also like for someone to update https://packaging.python.org/guides/migrating-to-pypi-org/#publishing-releases which still recommends user/password instead of API tokens.

[2020-01-17 17:37] Mariatta opened #688 "Suggestion: Have a "Quick Start" guide"
I think it would be great if in addition to the [in depth tutorial](https://packaging.python.org/tutorials/installing-packages/), there is actually a quick start guide.

To elaborate, if a brand new user of Python lands on <https://pypi.org/>, they see a link that says "learn about installing packages" that takes them to the tutorial. The tutorial is very lengthly, explains about the requirements,

[2020-01-17 22:12] brettcannon commented on #688
So pypi.org does mention pip on every project page indirectly via the installation instructions, so I would assume that's where it should be linked from. If the true target is a beginner just going straight for it then they aren't going to poke around but go straight to the project they want. So I would think a link around that `pip install X` example on the page is the best place to link to it.

[2020-01-20 19:49] bhrutledge commented on #297
Checking in on the desired outcome of this issue. I've been passively tracking issues related to twine and credentials (most recently <https://github.com/pypa/packaging-problems/issues/313>). My sense is that the documentation around `.pypirc`, API tokens, and keyring is fragmented and inconsistent. I searched this repo, warehouse, twine, and packaging-problems for mentions of those items; my find

[2020-01-20 20:18] bhrutledge commented on #628
FWIW, there was some discussion about this in https://github.com/pypa/twine/issues/496.

[2020-01-20 20:56] bhrutledge commented on #297
Related: https://github.com/pypa/packaging.python.org/issues/628 and https://github.com/pypa/twine/issues/496 re: project-scoped API tokens.

I haven't investigated if/how those are supported by twine when using keyring. Maybe @jaraco has a quick answer?

[2020-01-21 22:42] ncoghlan commented on #688
https://github.com/pypa/packaging.python.org/issues/396 covers the fact that what we'd really like to do is have a separate "How to make sure your environment is properly configured" guide, rather than having a smattering of that content embedded directly in the package installation tutorial.

Then the installation tutorial could be made a lot simpler, with only folks that have problems needing to

[2020-01-23 17:37] wesleyjellis opened #689 "Confusing example linked in packaging-namespace-packages"
The section on the [packaging-namespace-packages page for "Native namespace packages"](https://packaging.python.org/guides/packaging-namespace-packages/#native-namespace-packages) includes a link to the [native namespace package example project](https://github.com/pypa/sample-namespace-packages/tree/master/native)

This is a bit confusing because the packaing.python.org page uses `find_namespace_p

[2020-01-26 12:19] bhrutledge commented on #297
I did some investigation, and it's not obvious how to use multiple project API tokens with twine and keyring: https://github.com/pypa/twine/issues/565.

[2020-01-26 12:20] bhrutledge commented on #628
FYI, I did some investigation, and it's not obvious how to use multiple project API tokens with twine and keyring: https://github.com/pypa/twine/issues/565.

[2020-01-26 18:11] jaraco commented on #297
The twine/keyring integration assumes one password per user and index. What keyring needs to support multiple credentials is some way to distinguish the tokens by project name. Perhaps instead of relying on `__token__` for the username, it should use `PyPI token for {project}` and fallback to `PyPI token` (but still transmit `__token__` during the upload). Other syntax is possible, like `__token__

[2020-01-26 18:26] takluyver commented on #297
For flit, I was planning to stuff the project name associated with a token into the 'username' for keyring, e.g. `token:{project}`. I was assuming this would not be visible to users in normal operation. It would be good if flit and twine can settle on a common convention for this.

I know the secret storage protocol offered by Gnome allows for arbitrary key-value metadata associated with a secret,

[2020-01-26 19:35] jaraco commented on #297
+1 to having a common scheme shared by all tools. Just please don't require the 'project' to be specified. For a person managing a single project or two, that's fine, but where many projects share a token, you want keyring to store that credential exactly once. Perhaps `token[:designator]` where the user can provide an optional designator for the token (or none at all for the sole or primary token

[2020-01-26 20:53] takluyver commented on #297
I might go for something like `token:user:takowl` for a user-scoped token and `token:project:pynsist` for a project-scoped one.

I guess the precise details depend on whether this is something you expect users to see or enter manually, or more of an implementation detail. I'm hoping there will one day be an API to create a token (https://github.com/pypa/warehouse/issues/6396 ), so if there isn't a

[2020-01-26 22:33] jaraco commented on #297
I think it's a mistake to assume a token is uniquely associated with either a user or a project. A user can create a token for any purpose. For example, consider the tokens configured on my account:

<img width="853" alt="image" src="https://user-images.githubusercontent.com/308610/73142755-5e382f80-4060-11ea-82cf-1ea08becffcf.png">

I've created two tokens with the "all projects" scope, and anoth

[2020-01-27 01:52] bhrutledge commented on #297
It's cool to see this discussion evolve. Thanks for diving in. Here are some thoughts from a relative newcomer to the packaging ecosystem.

I tend to agree with @jaraco's take. To me, it seems like the key for distinguishing a token is its "Name", rather than its "Scope". Furthermore, this already works in twine for "All projects" tokens:

[code]

With that in mind, I like the optional `username`

[2020-01-27 13:42] takluyver commented on #297
I understand that tokens are more complicated than my idea encompasses. But I'm thinking about how tools are practically going to use them: it needs to be reliable and efficient to find the token to use to upload a given project.

Keyring doesn't have any API to search for several credentials at once, and I assume it's not easy to add that given its cross-platform, extensible nature. So we have to

[2020-01-29 15:41] stigok commented on #397
I'm back here in 2020 struggeling to find information about it. I had to look at the actual commit merged here to figure out what it was.

[2020-02-01 19:20] bhrutledge commented on #297
Hoping to keep the discussion going, and possibly for clarification, here's the CLI workflow that I'm imagining, keeping in mind that this could be streamlined with `.pypirc`.

Account token (works today):

[code]

Project token (proposed in https://github.com/pypa/twine/issues/565):

[code]

Another idea from https://github.com/pypa/twine/issues/565, combined with one from @di in https://github.c

[2020-02-02 18:27] brainwane commented on #228
If anyone wants to work on this issue: you would find some basic information about `distutils-extra` (links to source code, issue tracker, and documentation), and write a sentence or two summarizing what it is and why it might be used.  Then you would look at https://packaging.python.org/key_projects/#non-pypa-projects , which you edit using the file `source/key_projects.rst`, and add an entry in

[2020-02-02 23:14] ncoghlan commented on #297
@takluyver's suggested approach seems reasonable to me: if the given username is exactly `__token__` look for the project-specific token first, then fall back to the generic token.

If the given username is something else, even if it starts with `__token__:`, then just use it as-is.

[2020-02-05 00:45] bhrutledge commented on #297
With this approach, I'm having trouble visualizing the commands that a package maintainer would use to set an account and/or project token in keyring, and then use one of those tokens to upload their package with twine. Could somebody provide an example?

[2020-02-06 23:14] mstrofbass commented on #589
While complete removal of references to pipenv may be unnecessary, given the clear dysfunction in the pipenv project (see: https://github.com/pypa/pipenv/issues/4058), it should be features less prominently in the documentation. With it being set out as it is on the tool recommendations page, most people will simply opt for it instead of exploring the others, completely unaware of how dysfunctiona

[2020-02-10 19:22] uranusjr opened #693 "Update Packaging Python Projects tutorial to use PEP 518"
Currently the tutorial instructs the user to construct the package without `pyproject.toml`. A package built as such however has some install-time perculirities that may confuse users (see pypa/pip#7709 pypa/pip#7716). Adding `pyproject.toml` into the initial tutorial would help nudge the user onto the right track from the beginning. It could also be helpful for driving PEP 518 adoption—or at leas

[2020-02-11 13:12] randomir opened #694 "Regex for entry point name is invalid"
See under [Data model, end of second bullet](https://packaging.python.org/specifications/entry-points/#data-model).

The dash character should be at the beginning or ending of a regex range.

[2020-02-11 17:43] #694 closed

[2020-02-12 23:58] vanrein opened #696 "Packaging instructions are not optimal about README.MD"
Thank you for providing feedback on Python packaging!

To help us help you, please fill out as much of the following as you can. If a question is not relevant, feel free to skip it.

1. What is your operating system and version?

MacOS 10.15.3

2. What is your Python version?

Python 3.7.3

3. What version of pip do you have?

pip 19.0.3

4. If following an online tutorial or guide, please provide

[2020-02-13 00:01] di commented on #696
I agree that a proper path to the README would be idea. Here's what we suggest on https://github.com/pypa/sampleproject:

[code]

You should include the README in your distribution, if not for this reason, because your users might want to read it along with your source.

[2020-02-13 16:50] hartwork commented on #589
@theacodes please consider re-opening. 69c412726da3419ef45f392ec19d14848d87c22c did not fix that pipenv is the primary recommendation.

[2020-02-18 17:04] davaya commented on #619
You **don't** need to write a whole tutorial in order to include a default layout for first-time packagers.  As one myself, I'm frustrated by "The section does not aim to cover best practices for Python project development as a whole" in https://packaging.python.org/guides/distributing-packages-using-setuptools/.

How much harm could it possibly do to include a tests folder in the first newbie exa

[2020-02-23 02:06] ncoghlan commented on #619
I've moderated my stance since writing https://github.com/pypa/packaging.python.org/issues/619#issuecomment-507863267 above (mostly prompted by @davaya's comment), so I went ahead and merged the PR that changed the status quo to be an unqualified recommendation for a top level tests directory.

I'm leaving the issue open, though, as I do think a full resolution would consist of:

* a new discussio

[2020-02-27 15:57] Shlokatadistance commented on #657
Hello. What I think is the issue is that the packages you are installing are not transporting to the right paths, meaning that your installed packages and your python environment exist in different paths. This is a common error when you start to use virtual environments, especially in the case of MacOS where new developers try and shift the system to a higher version of python compared to the pre-

[2020-03-01 18:36] anki-code opened #700 "Namespace packages and bin directory replaced by latest package when PIP_TARGET is set"
Hello!

While I'm working on [xxh/xxh](https://github.com/xxh/xxh) I've faced with issue around PIP_TARGET environment variable and [namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/).

When I set PIP_TARGET and then try to install group of subpackages then every new package just replace the latest.

For example there are two packages `xonda` and `xontrib-autoju

[2020-03-02 11:24] vstinner opened #701 "pipenv seems to no longer be maintained: don't recommend it anymore"
The Python Packaging User Guide recommends to use pipenv:

* https://packaging.python.org/guides/tool-recommendations/
* https://packaging.python.org/tutorials/managing-dependencies/

But pipenv seems to no longer be maintained:

* Multiple users requested new pipenv release:

  * https://github.com/pypa/pipenv/issues/4127 created in January 2020
  * https://github.com/pypa/pipenv/issues/4058 crea

[2020-03-04 20:11] brainwane commented on #701
@techalchemy or @uranusjr could you comment on this?

[2020-03-04 20:14] brainwane opened #702 "Add Flit rationale to key projects entry"
This is a good first issue for someone: add a link to https://flit.readthedocs.io/en/latest/rationale.html within https://packaging.python.org/key_projects/#flit .

https://github.com/pypa/packaging.python.org/blob/master/source/key_projects.rst#flit is the file you would edit to do this. Perhaps the wording could be like:

cc @takluyver

[2020-03-04 20:18] webknjaz commented on #701
Yeah, a lot of people are in favor of not recommending it but the other side feels strongly about using it in the guides.

@ncoghlan ^

[2020-03-04 20:40] brainwane commented on #701
@techalchemy is working towards a release but facing some difficulty and would like help: [see today's IRC logs](http://kafka.dcpython.org/day/pypa-dev/2020-03-04).

[2020-03-04 21:15] di commented on #701
I think at the very least we should de-prioritize or give a caveat about our recommendations of pipenv until a new release is made and the project is back on track. Following our recommendation and finding the project to be in a broken state is extremely painful for users, and is currently damaging to the reputation and trust users have in this guide.

[2020-03-05 14:27] fconil commented on #701
I agree that pipenv should not be recommended anymore (at least deprioritized with warnings).

I started using pipenv, convinced it was the tool officially recommanded by the Python community.

I discovered pipenv was stalled for a long time, then I searched and found some information on the tool's drawbacks :

1. [RIP Pipenv](https://medium.com/telnyx-engineering/rip-pipenv-tried-too-hard-do-what

[2020-03-05 14:38] JBKahn commented on #701
Is it possible to update the [managing dependencies](https://packaging.python.org/tutorials/managing-dependencies/) page with examples from `pipenv`, `poetry`, `pip-tools` and `pip`?

As someone who made the move to poetry after just too many issues with pipenv, I was in favour of removing it. That being said, if the pypa took a non-biased approach of providing tutorial info on all the recommended

[2020-03-06 03:10] nealmcb commented on #701
What @fconil says makes lots of sense to me. I appreciate the fact that Poetry supports packaging of libraries, which last I heard was not a goal of Pipenv, and I gravitated to Poetry for other reasons as well.
But I'm surprised to see that Poetry is putting variables like `name` and `description` in a private `[tool.poetry]` section of `pyproject.toml`, presumably because those haven't been defin

[2020-03-06 09:33] uranusjr commented on #701
@nealmcb The is some effort in standardising the metadata. @brettcannon and I had been [comparing formats in this repo](https://github.com/uranusjr/packaging-metadata-comparisons), including completing ones in Python and other ecosystems we can draw inspiration from. Unfortunately I couldn’t find the discussion that led to this work (somewhere on [discussion.python.org](https://discuss.python.org/

[2020-03-06 16:06] nealmcb commented on #701
@uranusjr Thanks for the links and encouragement. I found these potentially-related dicussions:

- [Structured, Exchangeable lock file format \(requirements\.txt 2\.0?\) ](https://discuss.python.org/t/structured-exchangeable-lock-file-format-requirements-txt-2-0/876)
- [WIP Package manager using \_\_pypackages\_\_ and pyproject\.toml](https://discuss.python.org/t/wip-package-manager-using-pypackag

[2020-03-06 19:16] brettcannon commented on #701
So I think there are a couple of questions in this thread:
1. Do we want to continue to recommend pipenv?
2. Do we want the tutorial to provide instructions for other popular tools?

For me, I think the general answer here is we should either switch which tool is recommended at this point or explain a couple of them. The problem is as a tutorial do we want to give e.g. 4 sets of instructions for p

[2020-03-06 21:55] webknjaz commented on #701
@fconil

If you want to stick to using the default ecosystem tools, this should be twine.
Also, flit isn't "for putting package on PyPI", it's a build wrapper that also has a feature to do uploads. It's doing more than one thing (and has its own restrictions if you ask me).

Personally, I use https://pypi.org/project/pep517/ to build dists. I've heard that some of pip maintainers were thinking abo

[2020-03-07 12:13] #680 closed

[2020-03-07 12:14] pradyunsg commented on #680
Merged #705 in the spirit of opt-in.

[2020-03-07 12:35] pradyunsg commented on #701
One of the things with tutorials is to *not* overwhelm the user (who may be a beginner) with multiple choices up front and instead, provide them with a good default and present alternatives. So, no, I don't think having tabs or providing instructions for multiple tools in the same tutorial is a good idea. That said, there's a fairly sound argument that pipenv is not a "good default" as of today.

[2020-03-07 23:40] xcdr commented on #701
For ordinary developers like me, this situation in Python ecosystem is very problematic.

For Ruby standard is RVM and Rubygems and together works flawless, nobody think about version/venv management because "it just works".

There is virtualenv, venv, pyenv, pipenv, poetry (something else?) and nothing works as should at 100% in term of usability (even vscode integration).

I like Python, vscode

[2020-03-08 11:36] philgyford commented on #701
It does feel that the situation is complicated by the wide spectrum of users - from people trying to get their first (and maybe only ever) python script running through to people who spend most of their time making modules distributed via PyPI (or some other extreme of complexity and professionalism that's beyond me).

As a mainly-web-developer, who very rarely releases any packages, I was very pl

[2020-03-08 17:14] xcdr commented on #701
I can't imagine standard solution without Pipenv or Poetry because I have several Python project where I need to quickly start the environment. I think that should be described simple setup with venv + pip (it already works but is too simple ) and equivalent to RVM/RubyGems such as Poetry / Pyenv which is  is compliant with PEP-517 and actively maintained but not work well with vscode extension (b

[2020-03-09 04:12] uranusjr commented on #701
May I recommend the discussion be moved to another thread, potentially another venue? The topic of recent messages has drifted to become much wider than the title indicates, and it’s terrible for discovery, causing the dialog somewhat into a feedback loop, since only those who had commented know its existence and respond.

[2020-03-13 03:00] ibraheemybg commented on #618
Hello am actually an intermediate python developer but then i think "auto_src.py" will make a good layout as it will kind of notify users that its automatic and he no specific layout🙌🏼

[2020-03-13 03:24] ibraheemybg commented on #679
I think adding a link that maps to their pep is a great idea and it will enhance fastness when using the tool..I could work on this project if given the opportunity

[2020-03-13 03:54] pastelmind opened #709 "Organize guides into categories"
Currently, the [Guides index](https://packaging.python.org/guides/) contains a single huge list of 22 guides. This makes finding the right topic cumbersome. Organizing this list into categories would greatly improve readability and navigability.

(We do have a Search Box, but having a well-organized navbar is still important.)

Deciding *how* to categorize each guide may be subject to debate. We c

[2020-03-13 05:16] pastelmind commented on #702
Please check out my attempt at #710.

[2020-03-13 05:27] pastelmind commented on #528
I think this overlaps with #559, which was closed by #593. Should this be closed?

[2020-03-13 06:33] pastelmind commented on #696
I used the code from https://github.com/pypa/sampleproject/blob/master/setup.py (currently at [d09af3dbd851d385e56f0aed29875bfa3d3df230] to update the sample `setup.py`, and also explain why README.md needs to be added to the package. Please check #711.

I didn't mention this because AFAIK the wheel metadata already includes the long description, so technically the contents of the README is usuall

[2020-03-14 04:59] ncoghlan commented on #701
While the long delay between pipenv releases is genuinely problematic, there isn't any other comparable tool that both acknowledges that app development and library development are distinct activities, and also prioritises app development over library development (other than the lower level pip-tools project).

The status quo definitely isn't OK though, so I'll be talking to @techalchemy and @brai

[2020-03-14 11:31] pfmoore commented on #701
I don't think this issue should have been closed. @ncoghlan please consider re-opening it. The fact that pipenv is the only tool that fits this use case doesn't mean that it should necessarily be recommended. I'm sympathetic to the process problems pipenv has had, but at the moment, I think that recommending a tool that is widely viewed as unmaintained and problematic isn't the right stance to tak

[2020-03-14 13:41] pradyunsg commented on #701
I second everything that @pfmoore says and, quoting myself from earlier in this issue discussion:

[2020-03-14 16:22] layday commented on #701
Poetry can lock dependencies, can install dependencies from a lock file and can package "applications" into "libraries" while maintaing the same dependency specification format.  I would suggest some people here are experiencing NIH-itis by continuing to expend time and resources into a moribund project in the presence of a more capable alternative.  What I would like to see is for the lock file f

[2020-03-14 16:30] pfmoore commented on #701
@layday See [this discussion](https://discuss.python.org/t/structured-exchangeable-lock-file-format-requirements-txt-2-0/876) about standardising a lock file format.

Whether poetry is a suitable alternative to pipenv, I'm not 100% sure (it didn't fit my use case when I looked). But I think that's a separate discussion. I'm happy to *have* that discussion (in an appropriate forum) but I don't want

[2020-03-14 16:39] layday commented on #701
Fair enough, and thanks for the link.

[2020-03-14 20:26] anishpatel commented on #397
It's located here: https://packaging.python.org/guides/distributing-packages-using-setuptools/#py-modules

[2020-03-25 20:28] guettli commented on #619
@ncoghlan you wrote "unqualified recommendation". I think a qualified recommendation would make more sense. Who can do a qualified recommendation?

[2020-03-25 20:39] brainwane commented on #701
Thanks to @ncoghlan for nudging and helping pipenv get back on track; [Dan just posted an email to distutils-sig about work towards a new release this month](https://mail.python.org/archives/list/distutils-sig@python.org/thread/EY2KKSWVCYBVO2RB6OMD7TFOWO35B2WG/). Currently it sounds like there's a pipenv maintenance gap and @techalchemy wants to work to grow more contributors and co-maintainers to

[2020-03-28 00:18] malanb5 opened #713 "Trouble Loading Module after Upload to test.pypi.org"
**Background**
MacOS 10.15.4
Python 3.7.6
pip 20.0.2

**Details**
If following an online tutorial or guide, please provide a link to the page or section giving you the trouble:
https://packaging.python.org/tutorials/packaging-projects/

Could you describe your issue in as much detail as possible?

My project structure was simply a class ReqParser.py with a \_\_init\_\_.py file.  The package name w

[2020-03-28 00:19] malanb5 commented on #713
I then found this note from joelbarmettlerUZH via Medium (https://medium.com/@joel.barmettler/how-to-upload-your-python-package-to-pypi-65edc5fe9c56)

He actually explicitly included the filenames in his __init__.py.
*__init__.py*
[code]
After including:
[code]
Compiling and then uploading I was able to successfully install and then use my ReqParser class.

[2020-03-28 00:40] malanb5 commented on #713
Following the above-mentioned steps, I was unable to recreate the issue. Marking this closed.

[2020-03-28 00:40] #713 closed

[2020-04-03 19:59] brainwane opened #714 "Add "trove classifiers" project to key projects page"
This is a good first issue for someone: add an item within https://packaging.python.org/key_projects/#flit  about the `trove-classifiers` project https://github.com/pypa/trove-classifiers ([PyPI project](https://pypi.org/project/trove-classifiers/)).

https://github.com/pypa/packaging.python.org/blob/master/source/key_projects.rst is the file you would edit to do this. Copy the formatting of other

[2020-04-03 21:15] #702 closed

[2020-04-05 13:31] bsolomon1124 commented on #397
...though still very much undocumented in [setuptools own documentation](https://setuptools.readthedocs.io/en/latest/setuptools.html).

[2020-04-09 02:36] mstrofbass commented on #701
After all the discussion over the past four or so months, the fact that no one at PyPA has even done the bare minimum of warning users about the issues or softening the language in the guide does a really good job of summing up the Python world.

[2020-04-10 04:33] ncoghlan commented on #701
@brainwane @pfmoore @pradyunsg Fair points. I've posted https://github.com/pypa/packaging.python.org/pull/715/files as a proposal to express the caveats on the status quo, pending the `pipenv` release this month, and at least one timely maintenance release after that.

That PR also adds a reference to `poetry` at the *top* of the dependency management guide (in addition to the existing one at the

[2020-04-10 09:03] pfmoore commented on #701
#715 looks like a reasonable interim measure. But it also exposes the key issue to me quite nicely - the focus of the document is framed in such a way that pipenv isn't so much "recommended" as "the only option". I'd argue that a better framing would be

pipenv - handles all types of project equally well
poetry - expects projects to be structured like a Python package
hatch - broader project manag

[2020-04-10 12:25] ncoghlan commented on #701
Thea and my intent with the original framing is that the tutorials should be structured for folks that don't really know what they want yet, they just want to get their application up and running (and the expectation is that that first application will be a web app, or something quite similar, such as a CLI or GUI app that only ever gets run locally).

However, for folks with more experience, espe

[2020-04-10 13:49] pradyunsg commented on #701
With #715 merged, I do think this issue can be closed now.

FWIW, I spent a few hours yesterday and today; to help unblock https://github.com/pypa/pipenv/pull/4169 which, as per my understanding, was the last blocker for the next pipenv release.

[2020-04-10 13:59] JBKahn commented on #701
Even if the this release happens, I still think the guide should be more impartial about which solution to use. Both tools have their drawbacks and it would be best to provide both and not pick favorites. Although I suppose you can take that with a grain of salt from someone who prefers using poetry both for package and application development. Pipenv already benefits from being `pypa/pipenv` is a

[2020-04-10 14:43] pfmoore commented on #701
I think that #715 addresses this issue, and as such this can be closed.

However, see my comment [above](https://github.com/pypa/packaging.python.org/issues/701#issuecomment-599044004):

Very little of the discussion on this issue was *actually* about the maintenance status of pipenv, more about issues such as how alternatives should be presented, whether recommending pipenv is the right choice in

[2020-04-10 18:47] sdispater commented on #701
Author of Poetry here :-)

Poetry does not expect anything regarding the structure of your Python project. Some commands (like `new`, `build` and `publish`) are directed to people who want to build packages and publish them, but the rest of the commands do not assume anything in regards to the project structure I( use it myself for Python applications that do not follow a standard package structur

[2020-04-10 18:56] pfmoore commented on #701
Thank you. It does seem to be common, and if it's not true then it adds weight to the argument that poetry should be considered alongside pipenv. (It may or may not be true that pipenv still ends up "recommended", but I'd rather we do that on a proper assessment rather than on a misconception).

This really isn't the right place to have this conversation, but in the absence of anywhere better, cou

[2020-04-10 20:21] JBKahn commented on #701
I **think** this would be the equivalent set of steps
- Create directory
- Create `script.py`
- `poetry init -n -q`
- `poetry add pandas`
- `poetry run python script.py`

where `poetry init -n -q` is the key step here, it creates a `pyproject.toml` like so:
[code]

[2020-04-11 19:24] agarusa opened #716 "Unhelpfull documentation on pip upgrade."
At page [](https://packaging.python.org/guides/installing-using-pip-and-virtual-environments/) guide says:

However that didn't work for my pip 9.0.1 found on Ubuntu-18-LTS. I found solution here: [](https://pip.pypa.io/en/stable/installing/#upgrading-pip) and would like to propose to mention this line of code too, or add a link to this pip-upgrade article.

[2020-04-11 21:16] webknjaz commented on #716
Why do you think it didn't work?

[2020-04-12 04:34] datbossg31030 commented on #716
I don't know who all y'all are but my property my stuff do not belong to you all if you're not part of the federal GSA or anything I'm dealing with Federal you should be tampering with it I told nobody don't touch don't copy don't help don't mess with it's not yours cuz y'all want to upgrade I'm not trying to help y'all trying to scam get over y'all Bunch up hacker Developers that's going to lead

[2020-04-18 07:47] aragilar opened #719 "Is "AnotherProject (3.4)" a valid version requirement?"
One of the examples given in https://packaging.python.org/specifications/core-metadata/#provides-dist-multiple-use is "AnotherProject (3.4)".
packaging currently throws an `InvalidRequirement` error with 'Parse error at `"'(3.4)'": Expected stringEnd'`
PEP 345 allows it (and there are similar examples within the PEP).
PEP 440 and PEP 508 would appear to allow it (given it is the simplest case with

[2020-04-19 16:14] anki-code commented on #700
The issue is also actual to `bin` directory. If we install two packages with executed files the latest package replace bin directory.

[2020-04-19 16:24] anki-code commented on #700
Almost 2 months passed. @brainwane could please help? May be I'm doing this wrong way...

[2020-04-19 16:35] uranusjr commented on #700
No idea why you’re tagging me but this sounds similar to pypa/pip#5178.

[2020-04-19 17:05] anki-code commented on #700
@uranusjr sorry for mention I just don't know who is the right person and thank you for the link! I've found some thoughts!

[2020-04-21 08:43] pfmoore opened #720 "The "Packaging projects" tutorial should discuss using pyproject.toml"
The tutorial at https://packaging.python.org/tutorials/packaging-projects/ describes building an old-style setuptools project. We should be covering using `pyproject.toml`. Reasons include:

1. It's the "modern" way of defining packages.
2. It ensures that the project defines its build dependency on `wheel`, which avoids oddities such as pip doing a direct `setup.py install` when installing from s

[2020-04-25 16:14] frog-o opened #724 "I would like to make a better reference page"
### Why
Right now I have been trying to make my first pull request and Its been a nightmare.  There is a lot I forgot about since I first creating my  GitHub account and howto setup git was one of those things. (even though they do have a good [guid](https://help.github.com/en/github/getting-started-with-github/set-up-git) and I forgotten it was there ) linking me to the relevant info when I creat

[2020-04-25 19:23] webknjaz commented on #724
There's `source/contribute.rst` already but it's only displayed on the website, not on GitHub:
<img width="922" alt="Screen Shot 2020-04-25 at 9 11 31 PM" src="https://user-images.githubusercontent.com/578543/80288649-8efc3380-8739-11ea-9f63-42cebf6151ac.png">
It probably may makes sense to move it (or its part) to the repo root as `CONTRIBUTING.rst` and then include this file in `source/contribut

[2020-05-07 12:15] graingert opened #726 "advice for maintainers on dropping universal=1 wheels"
There should be some advice on what to do about universal wheels when dropping support for python versions in this guide: https://packaging.python.org/guides/dropping-older-python-versions/

eg, should this:
[code]
 be removed?

[2020-05-14 19:41] pradyunsg commented on #700
@anki-code Thanks for filing this issue but I'm afraid this is the wrong place for such support requests.

If you're still facing issues, I think that [python-list](https://mail.python.org/mailman/listinfo/python-list) or [python-tutor](https://mail.python.org/mailman/listinfo/tutor) mailing lists, or [#python on Freenode](https://webchat.freenode.net/?channels=%23python) (IRC) would be better cha

[2020-05-14 19:41] #700 closed

[2020-05-17 23:21] riodw commented on #657
I just ran into this issue myself

[2020-05-18 20:38] Lawrence-Krukrubo commented on #194
Hey guys, how can I contribute. I'm a top writer in Artificial intelligence in the Medium and I love to code. please let me know where I can best fit in

[2020-05-28 12:50] stdedos opened #730 "Missing documention for .pypirc format"
Would this be the correct place for this issue? https://github.com/pypa/twine/issues/638

[2020-05-28 13:37] bhrutledge commented on #730
(originally from https://github.com/pypa/twine/issues/638)

Thanks, @stdedos. It looks like that documentation was removed in https://github.com/python/cpython/pull/13087.

After looking around a bit, it seems like there is no current documentation of the `.pypirc` format. There are some examples at:

- [Packaging and distributing projects — Python Packaging User Guide](https://packaging.python.or

[2020-05-28 18:19] di commented on #730
I think we need to document/standardize the existing `.pypirc` format. It's unclear to me whether this needs to be a PEP or we can just do it in the specifications section of this guide.

[2020-05-28 20:08] brainwane opened #732 "Update Key Projects links that point to pypa-dev Google Group"
We've now [decommissioned](https://groups.google.com/d/msg/pypa-dev/rUNsfIbruHM/LCEx-CB5AgAJ) the [pypa-dev Google Group](https://groups.google.com/forum/#!forum/pypa-dev).

I'd like for someone to go through [the Key Projects page](https://packaging.python.org/key_projects/) and update all the following "Dev list" links so that they point to [https://mail.python.org/mailman3/lists/distutils-sig.p

[2020-05-28 20:54] bhrutledge commented on #730
@di Would it be reasonable to start with a PR here that adds some combination/edit of the content removed from the `distutils` docs and https://github.com/pypa/twine/pull/340?

I could take a pass at that.

[2020-05-28 21:01] di commented on #730
@bhrutledge I think that would be a reasonable first step.

[2020-05-29 15:46] frog-o commented on #732
In the  [decommissioned](https://groups.google.com/forum/#!msg/pypa-dev/rUNsfIbruHM/LCEx-CB5AgAJ)mailing list
it links to the reason for [close](https://groups.google.com/forum/#!msg/pypa-dev/twf9HCGfv3k/t2HJwzF-AgAJ)

https://discuss.python.org/c/packaging , which started about a year and
a half ago[3]. Very wide scope. You can log in with an account, or with
Facebook or GitHub or via email. Abou

[2020-05-31 11:18] frog-o opened #735 "Feature request Guid on Package installtion"
Thing that would be useful in such a guid

There are many different types of packages and I find a lot of confusion between them and really could use some explanation on them your glossary covers just briefly on some of this.

How and where library stored I found a [tuttorial](https://www.tutorialspoint.com/Where-are-the-python-modules-stored) which
tells yo run

Import sys
print(sys.path)

which

[2020-06-02 00:07] di commented on #657
For folks experiencing this issue: can you confirm you have the following directory structure?

    packaging_tutorial
    ├── LICENSE
    ├── README.md
    ├── example_pkg
    │   └── __init__.py
    ├── setup.py
    └── tests

[2020-06-02 16:06] brainwane commented on #714
@arshadrr could you please try doing this?

Following up your successful work on https://github.com/pypa/warehouse/pull/8028 .

[2020-06-02 16:08] brainwane commented on #732
Moved the login question to a new issue.

[2020-06-02 16:19] arshadrr commented on #714
@brainwane I'll give it a go.

[2020-06-04 13:56] #714 closed

[2020-06-05 17:53] #730 closed

[2020-06-15 10:52] gezamolnar opened #741 "More accurate guidance: what is the meaning of "you're in your virtual environment" ?"
Hi,

As a newbie, I would like to read more accurate descriptions.
e.g.
"Installing packages
Now that you're in your virtual environment you can install packages. Let's install the Requests library from the :term:`Python Package Index (PyPI)`:
"
- Does this mean that
   a) the command shell's current directory needs to be set to the virtual environment's directory (if yes: exactly which directory?

[2020-06-15 12:47] guglielmosanchini opened #742 "Wrong if condition to establish if commit is tagged"
here, https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/, in the section: Publishing the distribution to PyPI and TestPyPI,
the line **if: startsWith(github.event.ref, 'refs/tags')** should be **if: startsWith(github.ref, 'refs/tags')**

[2020-06-15 17:52] di commented on #742
Thanks! Looks like this was done in https://github.com/pypa/gh-action-pypi-publish/commit/55abf9c047d0a4a6b07b9318fec99297801871ba as well, so it seems valid. I've added a "good first issue" label here.

(cc @webknjaz)

[2020-06-19 16:39] DzRepo opened #743 "Recommendation on the Packaging Projects Tutorial"
Perhaps it's me, a total packaging noob, but when I went through the tutorial and came across
``` example_pkg/__init__.py is required to import the directory as a package, and can simply be an empty file.```
I created the empty file, and copied my module into the directory and left it at that.

Going through the rest of the exercise, I was surprised my module wasn't there when I installed into a n

[2020-06-19 18:33] di opened #744 "Suggest branch restriction in GitHub Actions tutorial"
I was working through the guide at https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/ and made a mistake by creating a workflow that published any time a push is made.

The guide currently suggests:

[code]

But this means that the release job will run on any push on any branch.

I think instead, we should advise to restrict the job t

[2020-06-19 18:33] di commented on #744
(cc @webknjaz)

[2020-06-19 18:51] webknjaz commented on #742
Yeah, I guess that event structure changed over time. Honestly, I'm considering to switch it over to the `created` event instead according to pointers @ https://github.com/pypa/gh-action-pypi-publish/pull/31.
I'm currently battle-testing this approach in a few of my repos, in order to come up with a more robust example to recommend. And I'm yet to develop a more complex guide with OS-specific whee

[2020-06-19 21:48] merwok opened #745 "Explain clearly that python / pip / other commands are not Python code"
https://github.com/pypa/packaging-problems/issues/369 is the latest instance of a person trying to type `python setup.py sdist` or `pip install something` in the Python shell rather than in a system console, which is not obvious to everyone.

None of https://packaging.python.org/tutorials/packaging-projects and https://packaging.python.org/guides/distributing-packages-using-setuptools/#wheels say

[2020-06-19 21:54] merwok commented on #743
Hello!  I think there is some confusion here between _import modules_ and _distributable packages_, which I’ll try to clarify (maybe leading to a doc improvement).

Python imports modules.  A package is a special module made up of a directory that contains submodules, including a required special one in `__init__.py`.

To import a submodule, one needs to write `import example_pkg.sub_module` or `f

[2020-06-19 22:25] merwok commented on #741
It does indeed refer to being in a shell with the virtual environment active.
The directory where you are is not relevant; Python install tools do not put things in the current directory (like npm or others) for now, but always into a site-packages directory (system, virtualenv or user-specific).

[2020-06-19 23:20] merwok commented on #599
I think the question here may come from #598

[2020-06-19 23:21] merwok commented on #598
What exact command are you using to install the package?
How exactly do you see that modifications are coming?

[2020-06-19 23:24] merwok commented on #95
PR #492 explains nicely that the `license` field is in general unneeded and that a license classifier should be used.

However I don’t understand why the last line says that that _license classifiers_ are good values for the `license` field!  Seems to re-create the confusion that was just cleared.

[2020-06-20 10:06] waldyrious commented on #95
I would expect [SPDX identifiers](https://spdx.org/licenses/) to be used in that field, with a possible fallback to an arbitrary value if a custom license is used. That's [what NPM does](https://docs.npmjs.com/files/package.json#license), for example.

[2020-06-20 11:21] pfmoore commented on #745
+1 on helping people to better understand this distinction - it's common (maybe more so on Windows?) to see people who don't understand the idea of a shell trying to work with the packaging guides, and this is foundational knowledge that we assume in a lot of places.

I'd prefer it if we provided a brief summary plus pointers to resources that people could use to understand the concepts of shell,

[2020-06-20 11:59] deepa346 commented on #196
I can work.

[2020-06-20 17:48] merwok commented on #95
Python packaging specifications are older than that! :slightly_smiling_face:
Classifiers define their own format, and License is free form.

There is a proposal to add a field with SPDX identifiers, but it’s a different discussion than this ticket.

[2020-06-20 17:50] merwok commented on #745
I think the ideal thing then would be to link to a section of [Python Setup and Usage](https://docs.python.org/3/using/) in the official docs.

[2020-06-22 07:46] alanfranz opened #746 "Pipenv caveat: is it still valid?"
Hello,
I'm about to start a new Python project, and I'd like to align to current Python good practices for packaging; I'm totally not a packaging newbie, but I've not used poetry/pipenv extensively (my current setup uses pip, setup.py and requirements.txt with custom Makefile targets).

So, I've come across this caveat:
https://packaging.python.org/tutorials/managing-dependencies/#recommendation-c

[2020-06-22 09:59] pradyunsg commented on #746
https://github.com/pypa/packaging.python.org/pull/729

We have a PR to remove the caveat. I'm waiting on another editor/expert to green-tick before merging. :)

[2020-06-22 12:57] pradyunsg commented on #746
Removed by merging #729. Thanks for filing this issue @alanfranz! ^>^

[2020-06-22 12:57] #746 closed

[2020-06-25 23:23] SaltyCatFish commented on #732
Just FYI

line 225: `Dev list <http://groups.google.com/group/pypa-dev>`__ |

Actually 252.  Just for historical purposes.

Submitting pull request now.

[2020-06-26 03:54] #732 closed

[2020-06-26 03:58] #742 closed

[2020-06-30 12:11] uranusjr opened #751 "Address the python3 command issue on Windows"
A lot of the support requests on [pypa/packaging-problems](https://github.com/pypa/packaging-problems) are Windows users not being able to run the `python3` command, since it is not shipped with the official CPython distribution. (recent example: pypa/packaging-problems#373)

Microsoft recently added a `python3.exe` stub that automatically opens the Windows Store page if you does not have the Stor

[2020-06-30 12:23] pfmoore commented on #751
Agreed this is a bad situation. IMO it should be raised as an issue against CPython, flagging that the current state of the Microsoft stubs means that there is no reliable way of writing documentation that will work cross-platform for beginners or users unfamiliar with the command line.

I don't think we'll get a solution (arguably, the MS stubs aren't even the responsibility of the CPython devs)

[2020-06-30 13:09] di commented on #751
@brettcannon, @zooba, any thoughts here?

[2020-06-30 19:26] brettcannon commented on #751
I am far from a Windows expert, so I'm not a good person to ask. 😄 But personally I always add `python3` to `PATH` when I do an install.

And unless we can convince every Linux distro to install the Python Launcher for UNIX once it's finished, I don't think pointing users at `py` is going to work either.

[2020-07-01 05:18] uranusjr commented on #751
I should’ve mentioned it in the top post: the official CPython distribution does not contain a `python3.exe` executable. So `python3` would end up calling the Windows stub even if the user adds the installed CPython distribution to `PATH`.

[2020-07-02 20:15] ihzarizkyk commented on #194
how to make the first package? ...

[2020-07-05 01:59] pradyunsg commented on #95
SPDX identifiers for Python package licensing is a work-in-progress proposal: https://discuss.python.org/t/improving-license-clarity-with-better-package-metadata/2154?u=pradyunsg. If you'd like to show your support for that effort, consider doing so on that thread/topic.

For this issue though, I think the actionable item is to amend https://github.com/pypa/packaging.python.org/pull/492/files#diff

[2020-07-05 22:55] merwok commented on #95
I have started with a PR that removes the ill advice.
More improvements can be done on top of that.

[2020-07-09 17:51] pradyunsg commented on #701
Closing since pipenv's maintenance situation has improved, and #729 removed the caveat that was added in #715.

[2020-07-09 17:51] #701 closed

[2020-07-09 17:53] pradyunsg commented on #701
I agree with @pfmoore about what most of the discussion here has been:

If someone wants us to move forward on this front, I suggest opening a new issue for that discussion, and *not* discussing here.

[2020-07-19 12:02] funkyfuture opened #757 "Section on entrypoint extras could use clarification"
the `extras` field related part of the [entrypoints data model description](https://packaging.python.org/specifications/entry-points/#data-model) currently states:

a text-related question would thus be: what is that 'different model'.

my practical question is: how should i implement modules that contain entrypoints that are supposed to be only loaded when a certain extra (dependency) has bee ins

[2020-07-19 17:06] webknjaz commented on #757
I'd do something like this:
[code]

N.B. This will explode early when loaded via setuptools/pkg_resources, or later (when installed from wheels by modern pip that uses imports for loading)

[2020-07-20 08:23] haesleinhuepf opened #786 "pypi / python3 issue on Windows"
Hi all,

tldr: reporting about a potentially easy-to-fix issue related to Windows 10. Consider replacing `python3` by `python` in user guide to make it work on Windows/conda.

Related to the documentation on this page:
https://packaging.python.org/tutorials/packaging-projects/

It mentions that his line should output a lot of stuff to the command line:
[code]

Unfortunately, some Windows python in

[2020-08-09 21:56] yufi1213 commented on #194
https://github.com/pypa/packaging.python.org/issues/194#issuecomment-653201984

[2020-08-10 22:21] webknjaz opened #762 "Enable per-PR website previews"
This is easy to do by connecting RTD and enabling PR builds: https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html.

Even though this website does not use RTD, it'd be beneficial to be able to see how the changes in PRs look.

[2020-08-10 23:03] di commented on #762
Done!

[2020-08-10 23:03] #762 closed

[2020-08-11 09:31] webknjaz commented on #762
@di it doesn't seem to be working: https://github.com/pypa/packaging.python.org/pull/763. Are you sure this repo has the right webhook integrated?

[2020-08-11 15:18] di commented on #762
Looks like the webhook wasn't set to receive pull request notifications. It should be good now.

[2020-08-19 07:11] pradyunsg opened #764 "Process of suggesting changes to the specifications may not sufficiently clearly explained"
From https://discuss.python.org/t/adding-a-default-extra-require-environment/4898/48?u=pradyunsg

I feel that these are all legitimate questions about the process that we don't clarify well enough, and we should possibly clarify each of these points in/near the "Proposing new specifications" section.

[2020-08-19 20:39] rneelas commented on #194
@ddbeck is there any open tutorials to which I can contribute? Please do let me know, more happy to write up

[2020-08-23 15:48] cooperlees opened #765 "Add PEP compliant Documentation if JSON API PEP Accepted"
Proposing some slight modifications to the JSON API to allow custom indexes to implement. e.g. devpi

Issue here: https://github.com/pypa/packaging-problems/issues/367

This is a reminder to update the spec here if accepted: https://github.com/pypa/packaging.python.org/tree/master/source/specifications

[2020-08-25 02:18] uranusjr opened #766 "Invalid command in the Installing Setuptools “Extras” section"
[code]

This command is not valid; pip emits

[code]

Changing the command to the following installs the editable package correctly (given a valid setup.py in CWD):
[code]

[2020-08-27 05:35] hyeryung-jeon commented on #657
Can help me with running the program after it as been packaged?
I followed the example but there is no actual program to run .So, I figured I should place the actual program in the folder together with the __init__.py file. I wrote a simple program to input username and print it on screen. So, the packing worked but how to run the actual program? In virtual env, run python then import programname.

[2020-08-27 14:28] merwok commented on #657
@hyeryung-jeon your inquiry is not directly related to the problem being discussed here, and it’s more useful for everyone to keep one topic per discussion.

To get help about how Python imports work and the difference between file, module and script, you can use these forums:
- https://mail.python.org/mailman/listinfo/tutor
- https://python-forum.io/
- https://discord.com/invite/python

Cheers!

[2020-08-28 07:18] int-ua opened #767 "Packaging guide: please add a hint about avoiding "cannot import name from partially initialized module""
https://packaging.python.org/tutorials/packaging-projects/ In the hindsight it's kind of obvious why it fails but when making a one-file project the straightforward solution is to name both directory and file with the same name. Adding a hint in that guide would improve UX as users will hopefully notice it before uploading and understanding that they can't do `from example_pkg import example_funct

[2020-08-28 07:38] int-ua commented on #767
fixed by `from .example_pkg import *` in the `__init__.py`

[2020-08-28 07:38] #767 closed

[2020-08-28 09:31] webknjaz commented on #767
Hey Serhii, if you have a specific change in mind, feel free to send a pull request and we'll review it accordingly.

[2020-08-31 14:44] nchammas opened #768 "Provide some guidance on specifying test dependencies"
The packaging guide could use a brief blurb providing guidance on how to specify test dependencies for your project.

Some background:
* There is [this question on Stack Overflow](https://stackoverflow.com/q/4734292/877069) on how to use the `tests_require` option of `setuptools.setup()`. The question has 25K views.
* The [setuptools docs for `tests_require`](https://setuptools.readthedocs.io/en/l

[2020-09-01 19:53] wholmgren commented on #578
I ran into a similar issue with the publishing using github actions guide https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/#publishing-the-distribution-to-pypi-and-testpypi

[2020-09-09 12:46] webknjaz opened #770 "Redirect any `pep517` package porcelain commands references to `python-build`"
We have to review all the repo contents for any recommendations to use `python -m pep517.build` or its variations. It's got popular because it was the only way to invoke PEP517 build backends while pip only has a CLI subcommand for building wheels but not sdists.
It is now being deprecated and the official recommendation is to point folks to [`python-build`](https://github.com/FFY00/python-build)

[2020-09-09 12:47] webknjaz commented on #770
cc @FFY00

[2020-09-09 12:52] pfmoore commented on #770
Searching the repo, that's the only occurrence (from #647)

[2020-09-22 14:12] cmsre opened #773 "repo"
reject host

[2020-09-22 14:15] webknjaz commented on #773
@di @pradyunsg could you plz enable content reporting for this repo? (See the last line @ https://github.com/pypa/packaging.python.org/community)

[2020-09-22 14:23] di commented on #773
@webknjaz Done.

[2020-09-22 14:23] #773 closed

[2020-09-29 23:44] bhazelton opened #777 "GitHub Actions tutorial: Warn about filling up test pypi package limit if you publish every commit as suggested"
I followed the guide at https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/ and got everything working so that every push to our main branch was published to test.pypi and only actual releases were published to pypi. We were very happy for several months until the push to test.pypi started erroring because we had hit the project size l

[2020-09-30 06:30] webknjaz commented on #777
@di @pradyunsg could you please mark this as "good first issue" / "Hacktoberfest"?

[2020-09-30 06:56] webknjaz commented on #777
If anyone is to submit the PR, I think it's worth using an "attention" box and pointing to https://pypi.org/help/#project-size-limit from the text.

[2020-10-23 02:28] Duchongc opened #779 "HTTPError: 403 Forbidden from https://test.pypi.org/legacy/"
Run: python3 -m twine upload --repository testpypi dist/*

HTTPError: 403 Forbidden from https://test.pypi.org/legacy/
Invalid or non-existent authentication information. See https://test.pypi.org/help/#invalid-auth for more information.
What's the problem?

[2020-10-23 09:30] webknjaz commented on #779
Your test.pypi.org username+password pair is invalid.

[2020-10-26 16:40] tswast opened #782 "Update "Analyzing PyPI package downloads" guide to use more efficient `file_downloads` table"
The `the-psf:pypi.file_downloads` table is partitioned by day, which makes time-limited queries easier to write than having to concatenate tables. Also, it is clustered by `project`, which makes the vast majority of queries people would want to do (count downloads for a specific package) much more efficient.

[2020-10-26 17:28] #779 closed

[2020-10-27 12:18] NicMan30 opened #783 "Small mistake in guide"
I'm relatively new to programming so please forgive me if it really is correct, but I'm pretty sure that on https://packaging.python.org/guides/installing-using-pip-and-virtual-environments/ in the section on _Activating a virtual environment_ the windows response to the command **where python** should be **...\env\Scripts\python.exe** instead of **.../env/bin/python.exe**. At least it is for me.

[2020-10-27 20:11] #782 closed

[2020-11-05 16:17] aendie opened #787 "minor English misuse"
With reference to the following page: https://packaging.python.org/overview/

At the very bottom there is the text "Once you understand the natural boundaries between each packaging solution, you begin to realize that the varied landscape is a small price Python programmers pay for using one of the most balanced, flexible language available."

The expression "one of the most" always refers to a pl

[2020-11-05 17:01] webknjaz commented on #787
Feel free to send a PR

[2020-11-07 00:01] zooba commented on #751
Apologies for missing this (trying to clear out my GitHub notifications tonight).

We have fixed the lack of message in that executable, so as updates roll out it should help. (This is a 6-12 month exercise... the bug has been fixed for a while already.)

As for people being confused by the lack of a `python3.exe`, well, that's always been the case. I don't think things have gotten any worse here

[2020-11-07 05:46] uranusjr commented on #751
This would definitely help. Personally I believe the best solution is to make the `py` command available on all platforms so everyone can just use that instead, since both `python` or `python3` are already problematic in more than one way anyway. I don’t think that’s going to happen very soon, unfortunately. Telling people to always use virtual environments feels like an acceptable stop-gap soluti

[2020-11-17 19:37] edlanglois opened #792 "Links to setuptools documentation need to be updated"
[This packaging page](https://packaging.python.org/guides/distributing-packages-using-setuptools/) (and possibly other documentation pages, I haven't checked) links to [this setuptools guide page](https://setuptools.readthedocs.io/en/latest/setuptools.html), which has largely been emptied of content.

It looks like the new documentation is [here](https://setuptools.readthedocs.io/en/latest/usergui

[2020-11-17 19:41] webknjaz commented on #792
FWIW it's best to use intersphinx references where possible. Here's a list of what's available: https://webknjaz.github.io/intersphinx-untangled/setuptools.rtfd.io/

[2020-11-18 22:18] pomyboy74 opened #794 "lol"
from pynput.keyboard import Listener

[2020-11-18 22:38] #794 closed

[2020-11-23 14:49] OldSubSailor opened #798 "Documentation with Regard to macOS and formatting"
I apologize if I am doing this wrong. I was reading the documentation late last night and saw a reference box regarding Linux, and terminology, and think that the same needs to be pointed out for macOS and OS X.
Even as of Big Sur, Apple included Python 2.7. Therefore if one uses commands such as:
pip install or python -m install, from the terminal, things will try to use python 2.7 and not work o

[2020-11-23 14:53] webknjaz commented on #798
@OldSubSailor this sounds reasonable. I think nobody will object if you send the suggested changes as a pull request so feel free to open one :)

[2020-11-23 14:59] OldSubSailor commented on #798
I am sorry , I looked at that but got lost right away.
I will try to visit it again later

[2020-12-10 15:38] webknjaz commented on #709
There's
[code]
that essentially limits the TOC to the higher-level items. Changing it to `2` should include the subpages if that's what you're looking for. This relies on the file system structure, though.

[2020-12-14 15:09] JaroCamphuijsen opened #804 "GitHub Actions tutorial: Problem with equal version names when uploading to test.pypi"
When following this guide I ran into a problem related to https://github.com/pypa/packaging.python.org/issues/777.

The point is that you cannot upload packages to pypi (or test.pypi) with the same (version) name. This definitely happens when uploading to test.pypi on every push. The workflow from this tutorial therefore fails even when running it for a second time with the following message:

`Th

[2020-12-14 16:16] bhazelton commented on #804
Agreed. We worked hard to fix the version issue, which solved it for a time, until we filled up the space on test pypi. I don't see much purpose in using test pypi at all at this point. If it either allowed me to mark versions as temporary somehow so they were auto-deleted after a period of time or allowed me to do batch deletions it would be very helpful. I really like the idea of pushing to test

[2020-12-14 19:21] JaroCamphuijsen commented on #804
Another possible solution I can think of would be to only publish tagged github releases with "rc" (release candidate) in the in the name. In that way you can still test your release by making release candidates with version tags like "v1.2.0rc2" and then only publish the versions without "rc" to pypi.

Of course this all depends on the release workflow which might differ per project. However I th

[2021-01-02 01:30] henryiii opened #809 "Modernize packaging tutorial"
The [packaging tutorial](https://packaging.python.org/tutorials/packaging-projects/) contains quite a lot of dated suggestions; on browsing, I see at least the following things:

* pyproject.toml is missing
* setup.py is used for metadata instead of setup.cfg
* setup.py is run manually (`python3 setup.py sdist bdist_wheel`) instead of using PyPA-build

Would you like me to update the tutorial with

[2021-01-03 21:46] hugovk commented on #209
This is probably no longer necessary now we're one year after the Python 2 EOL. Close this issue?

[2021-01-03 22:08] hugovk commented on #48
By now, I think all of these, except wheel, are either removed, deprecated or at least discouraged.

Here's a discussion from this weekend with (so far) agreement on removing bdist_wheel.

https://discuss.python.org/t/remove-bdist-wininst-command/6434?u=hugovk

See also:

* https://www.python.org/dev/peps/pep-0527/
* https://github.com/pypa/warehouse/issues/6792
* https://github.com/pypa/setuptool

[2021-01-03 22:23] hugovk commented on #101
There's now a tutorial covering the basics of creating docs using Sphinx with links for more info.

https://packaging.python.org/tutorials/creating-documentation/

Is that enough to close this issue?

[2021-01-03 22:31] hugovk commented on #145
There's now a dedicated guide page to TestPyPI and it's mentioned on other pages too:

https://packaging.python.org/guides/using-testpypi/

Is this enough to close this issue?

[2021-01-03 22:45] pradyunsg commented on #101
Yes.

[2021-01-03 22:45] #101 closed

[2021-01-03 22:46] #787 closed

[2021-01-03 22:47] #209 closed

[2021-01-03 22:47] #145 closed

[2021-01-13 08:46] JulienPalard commented on #809
This page looks the most up-to-date doc of how to build today: https://setuptools.readthedocs.io/en/latest/build_meta.html, which is what I recommend, so I'd personally find it nice to have the equivalent in the packaging tutorial, yes.

[2021-01-17 11:42] 8day opened #814 "Most likely namespace packages explained wrongly"
E.g., compare examples at https://packaging.python.org/guides/packaging-namespace-packages/#packaging-namespace-packages and https://www.python.org/dev/peps/pep-0420/#examples. I.e., using examples from packaging.python.org, packages will be merged upon installation, whereas the very purpose of namespace packages is to avoid this.

This example:
[code]
Must look like this:
[code]
Also, for ``names

[2021-01-27 00:49] brettcannon opened #816 "Add PEP 629 to the Simple repository API spec page"
Implemented in https://github.com/pypa/packaging.python.org/pull/815.

[2021-01-27 14:54] henryiii commented on #783
I'm not much of a Windows users, but from using it through GitHub Actions, I'm 95% sure that this is correct, things are in /Scripts not /bin.

[2021-01-27 14:56] henryiii commented on #770
This is closable now, fixed by pypa/setuptools#2519. #817 would update one of the setup.py builds with `python -m build`, as well.

[2021-01-28 19:47] #816 closed

[2021-01-28 19:49] #770 closed

[2021-01-29 01:16] #809 closed

[2021-02-03 04:19] henryiii opened #819 "ReadTheDocs is trying to build master, not main"
The website is stale, it is looking for and not finding master. This needs to be switched to main in the RtD UI.

[2021-02-03 14:55] webknjaz commented on #819
Yep, this is true: https://readthedocs.org/projects/python-packaging-user-guide/builds/12820640/

[2021-02-03 14:56] webknjaz commented on #819
One of @dstufft @ncoghlan @qwcode @ewdurbin @di @theacodes should be able to fix this.

[2021-02-03 15:07] ewdurbin commented on #819
branch updated and build complete.

[2021-02-03 15:07] #819 closed

[2021-02-03 17:29] aendie opened #821 "Typo in Python Packaging User Guide"
I believe this is a simple typo on the following page:
https://packaging.python.org/tutorials/packaging-projects/

Select **setup.py (dynamic)** in the section "Configuring metadata".
It correctly shows:

![image](https://user-images.githubusercontent.com/13238632/106784977-3608e680-664d-11eb-843a-1460bb90acfc.png)

Now select **setup.cfg (static)** ...... it shows:

![image](https://user-images.g

[2021-02-03 18:02] webknjaz commented on #821
Good catch! Feel free to submit a PR fixing this :)

[2021-02-03 21:29] aendie commented on #821
Hello Sviatoslav,

I click on “Found a bug” at the bottom right of the page – I don’t know how to do more unfortunately.

Could you submit the PR?

Thanks!!!!

From: Sviatoslav Sydorenko <notifications@github.com>
Sent: Wednesday, 3 February 2021 19:03
To: pypa/packaging.python.org <packaging.python.org@noreply.github.com>
Cc: aendie <aendie.bauer@gmail.com>; Author <author@noreply.github.com>
Sub

[2021-02-04 00:07] webknjaz commented on #821
@aendie oh, that's easy. Just go to
https://github.com/pypa/packaging.python.org/blob/main/source/tutorials/packaging-projects.rst, click the ✏ Edit button, and it'll hit you how to make a PR once you change the text.
![IMG_20210204_010310](https://user-images.githubusercontent.com/578543/106825361-0249b300-6685-11eb-87ee-9ece5247f34a.jpg)

[2021-02-04 10:11] aendie commented on #821
DONE  (and thanks for your help).

[2021-02-04 15:24] #821 closed

[2021-02-07 20:58] martinmaeland commented on #657
Hi! I think the problem could be a line missing in 'setup.cfd'. It does not seem that the 'example_pkg' is included when building. This could be solved by adding the `packages = example_pkg`, like this:

[code]

[2021-02-08 15:01] giandanila opened #824 "danila verdinan"

[2021-02-08 17:47] #824 closed

[2021-02-09 17:07] merwok commented on #770
Can I ask why the guide uses pep517/python-build and not pip?

If  I remember correctly, python-build is meant to be a reference implementation of an installer following PEP 517 and 518.  I am not using it myself because I use virtualenvs and pip.  Problem reports are starting to show up: https://github.com/pypa/packaging-problems/issues?q=is%3Aissue+is%3Aopen+%22python3+-m+build+%22

From the tra

[2021-02-09 17:12] FFY00 commented on #770
pip cannot build sdists AFAIK. pypa/build calls pip when setting up an isolated environment to then build the packages, but the building step does not involve pip in any way, it is just the means to provision the environment. In fact, pypa/build using pip is just an implementation detail, it could change the way it provisions the isolated environments any time.

I hope that was clear, but if it wa

[2021-02-09 17:12] henryiii commented on #770
Pip is a package installer, not a package builder. There's no way to make an SDist through pip, as well. `pypa/build` does call pip to install packages. There's a bug in the tutorial that would be fixed by #823, but that's not merged yet.

[2021-02-09 17:24] henryiii commented on #770
With the exception of the issue that was due to a bug in build 0.2.0 fixed in 0.2.1, those issues are not related to build, really, but issues (primarily with a missing line in the example that I'm trying to get fixed in #823 )

[2021-02-09 18:02] merwok commented on #770
Glad to hear that!  There wasn’t a general agreement about that for years.

The future is here!

[2021-02-09 19:39] di opened #825 "Promoting Sviatoslav Sydorenko as maintainer of the PUG"
I've found @webknjaz to be doing a great job of triaging incoming PRs here and providing meaningful reviews. He's prompted me to review several PRs in a row after he's reviewed them and each time I have no additional comments.

I have no problems promoting him to maintainer of the guide. Is anyone in favor or opposed? @webknjaz, would you like to be a maintainer here?

[2021-02-09 20:12] webknjaz commented on #825
I'd be okay with merging most of the trivial changes by myself but also many other things still need another pair of eyes (or more) :)

[2021-02-09 23:53] pradyunsg commented on #825
I'm in favour! :)

[2021-02-11 21:50] Tecktron commented on #367
I would love to see some reasons why and in what cases one should use these tools. Not just the (dis)advantages of each other but also include just using venv from the standard lib and pip. I have a _very_ hard time trying to figure out why pipenv is the "preferred" choice, there's 0 explanation for a tool that, until very recently, wasn't updated for years.

It's like saying ketchup is better tha

[2021-02-17 10:32] qsqa opened #830 "Be bold: prefer pip over easy_install"
At [https://packaging.python.org/discussions/pip-vs-easy-install/](https://packaging.python.org/discussions/pip-vs-easy-install/), it would be helpful to note that easy_install is now deprecated.

[2021-02-17 15:17] webknjaz commented on #830
@qsqa That's a good idea. Feel free to send a PR modifying https://github.com/pypa/packaging.python.org/blob/main/source/discussions/pip-vs-easy-install.rst.

[2021-02-21 17:20] di commented on #825
Done!

[2021-02-21 17:20] #825 closed

[2021-02-21 18:51] webknjaz commented on #804
Agreed. I didn't demonstrate how to solve the version clash there. I wanted to start with something simple but clearly, the tutorial should be improved. Personally, I rely on setuptools-scm to generate versions and I apply "no local version part" strategy to upload per commit (example: https://github.com/ansible/pylibssh/blob/a648cd7/.github/workflows/build-test-n-publish.yml#L337-L341).

As for f

[2021-02-21 18:53] webknjaz commented on #777
Another thing such a warning could suggest is using a custom PyPI-compatible server in CI just for testing.

[2021-02-22 23:53] webknjaz opened #836 "Enable automerge in the repo settings"
Essentially, it allows telling GH to merge a PR once all CI-like checks are green (and branch other protection restrictions are satisfied). With this feature, I can close the PR tab in my browser and let it get merged by itself, whenever the CI jobs finish.

@di this is a useful feature but I don't have access to enable it. It's just a checkbox in the repo settings.

It's called `Allow auto-merge`

[2021-02-23 12:31] layday opened #838 "Step in packaging guide to create `setup.py' might cause confusion"
The "Creating the package files" step instructs readers to create a `setup.py`, which remains empty, leading to build failures:

* https://github.com/pypa/packaging-problems/issues/453
* https://github.com/pypa/packaging-problems/issues/454
* https://github.com/pypa/packaging-problems/issues/455

The guide later mentions that, "If you include [setup.py], you must have a call to setup() in it", but

[2021-02-23 22:32] pradyunsg commented on #836
I’ve enabled this and required reviews, because we probably don’t want random unreviewed PRs being merged. :)

[2021-02-23 22:32] #836 closed

[2021-02-23 23:32] webknjaz commented on #836
Makes sense. OTOH it's not like anybody clicks merge w/o looking at the content :)

[2021-02-24 03:23] Nines9S commented on #838
Was scratching my head for ages wondering what I was doing wrong. Looks like I skimmed over that line too, it's very easily missed for sure. Finally got it working thanks to you!

[2021-02-24 18:20] webknjaz commented on #838
Would turning it into an admonition help?

[2021-03-01 00:02] jacoporepossi opened #847 "Code and tutorial not matching"
Hi all,
I'm a bit confused because on 56d3120 you switched over to using the src/ layout but the [tutorial](https://packaging.python.org/tutorials/packaging-projects/) still shows this example:
[code]

I was just wondering which layout is preferred/suggested by pypa (and if src/layout is the optimal choise, perhaps the guide needs an update since it's confusing).

Thank you!

[2021-03-02 23:12] di opened #846 "Unifying packaging.python.org with pypa.io, possibly other PyPA docs too"
We have a few web properties that represent "Python Packaging":
* https://packaging.python.org (this repo, fairly well maintained)
* https://pypa.io (https://github.com/pypa/pypa.io, infrequently updated)
* Various project-specific docs:
  * https://pip.pypa.io/
  * https://virtualenv.pypa.io/
  * https://warehouse.pypa.io/
  * etc

I'd like to propose unifying at least the first two, by rolling `

[2021-03-02 23:29] di commented on #847
The `src`-based layout is preferred! I've transferred this issue to https://github.com/pypa/packaging.python.org so it can be addressed in the tutorial there.

[2021-03-02 23:50] pfmoore commented on #846
I'm assuming that https://bootstrap.pypa.io would remain unchanged, as that's where get-pip.py and the virtualenv zipapp version is hosted. I imagine that is hard coded in a *lot* of places, so I don't think it would be easy to change.

I'm not over-keen on moving the pip docs (mostly because my muscle memory is pretty solid on pip.pypa.io 🙂) but unifying the "general" docs seems like a good plan,

[2021-03-03 00:53] FFY00 commented on #846
I am +1 on merging pypa.io into packaging.python.org. -0.5 on unifying the project documentation.

[2021-03-03 01:31] di commented on #846
@pfmoore Thanks for noting that, I agree it shouldn't change. I also think any more extreme changes would come with appropriate redirects, so your muscle memory and our SEO would not be impaired 😉.

@FFY00 of the three options for project documentations, which would you prefer?

[2021-03-03 02:01] FFY00 commented on #846
The first.

Note that not all project docs live at `*.pypi.io`, I would leave it up to the projects to choose where to place them. If we want to unify, we probably want to unify everything.

[2021-03-03 03:08] datakid opened #848 "On Numpy versions: can we use environment_markers?"
`numpy` recently updated to version `1.20.x`, which deprecated `python 3.6`

CentOS 7.x has `python3.6` as it's latest available `python3`.

Due to the changes that have happened to CentOS 8.x, CentOS 7.x will be kept beyond planned update schedules given it's still supported.

Can [setup.py](https://github.com/novnc/websockify/blob/24c3f75edefe49473389c5e11f4af335d49b6e75/setup.py#L32)'s `install

[2021-03-03 09:18] uranusjr commented on #846
I never coule understand or explain why the PyPA Specifications are listed on packaging.python.org instead of pypa.io, so this is definitely a welcomed change.

I also advocate the project documentation to stay where they are.

[2021-03-03 10:12] pradyunsg commented on #846
This might be a minority opinion, but I'm a strong -1 on all the changes proposed here.

I think it'd be a much better investment of everyone's time to better clarify what the two sites are supposed to be for; and to give some TLC to the navigation story on both those sites. And, to spend some time improving the individual projects' documentation before we move things around.

We should probably i

[2021-03-03 10:48] pfmoore commented on #846
I'm -0 myself to be honest, so you're not a complete minority 🙂

It's not obvious to me what we'd solve with a reorganisation like this. PyPA is specifically *not* supposed to be in charge of individual projects, so "branding" everything together sounds to be like an extension of the PyPA charter (which would need a broader debate).

The reason I'm "only" -0 is that having a single starting point

[2021-03-03 11:03] gaborbernat commented on #846
I personally would be ok (+0.5) to merge ``packaging.python.org`` and ``pypa.io`` root. I'd keep all project documentations separate though.

[2021-03-03 21:06] di commented on #848
Yes, see https://setuptools.readthedocs.io/en/latest/userguide/dependency_management.html#platform-specific-dependencies.

[2021-03-03 21:06] #848 closed

[2021-03-03 23:40] webknjaz commented on #848
I just want to add that some old setuptools versions may not support this and the compatible way of doing the same would be:
[code]
or maybe
[code]
but if you don't need to support ancient setuptools, you don't need this older syntax.

[2021-03-06 14:54] freek-sonal commented on #194
@ddbeck i would like to start contributing in open source. And while learning, i wanted to contribute in writing tutorials. Please let me know if you have any work i can contribute to.

[2021-03-06 19:21] pyfisch opened #852 "Include PEP 639 in Core metadata specifications"
Include [PEP 639](https://www.python.org/dev/peps/pep-0639/) in [Core metadata specifications](https://packaging.python.org/specifications/core-metadata/). `License-File` is missing from the list, other changes should be included too.

[2021-03-06 19:56] pradyunsg commented on #852
PEP 639 is a Draft, and not an accepted PEP. It's not a currently active standard.

[2021-03-06 19:58] pradyunsg commented on #852
https://discuss.python.org/t/pep-639-improving-license-clarity-with-better-package-metadata/2154/141 is where the current discussions about it are taking place.

Closing since this isn't actionable right now, but thanks for filing this issue @pyfisch! ^>^

[2021-03-06 19:58] #852 closed

[2021-03-06 19:59] pyfisch commented on #852
Thanks for pointing out, that it is still a draft.

[2021-03-07 02:31] webknjaz commented on #846
I agree with what @pradyunsg and @pfmoore said. The distinction should be clear.

[2021-03-08 15:04] webknjaz commented on #726
Yes! It's a great idea! I keep having `universal=1` in some places because it never occured to me that it should be changed. Earlier today @gaborbernat pointed out to me that this is wrong and causes the wheels to be `py2.py3`. I somehow didn't realize this.

So I was about to file an issue about it when I found this one :)

The docs change should point out that the maintainers should be mindful o

[2021-03-08 15:12] hugovk commented on #726
Yep, comparing wheel filenames created with and without the flag:

[code]

Their contents are identical, except for `pyflakes-2.2.0.dist-info/WHEEL` (and `RECORD`'s hash of this file):

[code]
[code]

[2021-03-09 14:17] #838 closed

[2021-03-11 04:55] #726 closed

[2021-03-11 08:44] webknjaz commented on #847
FTR here are some notes from PyPA Mini-Summit (PyCon 2019):
https://docs.google.com/document/d/1Wz2-ECkicJgAmQDxMFivWmU2ZunKvPZ2UfQ59zDGj7g/edit#heading=h.2cgqnlxl8y3e.
There are action items at the end of this section.

[2021-03-11 09:12] #847 closed

[2021-03-22 12:37] naveen521kk opened #863 "Encourage `py.exe` on Windows"
In windows, there is a launcher for python called `py.exe` which should be part of the default installation. What I am suggesting is using tabs to separate for Windows and `Unix/macOS`. Something like
[code]
will render something like

![image](https://user-images.githubusercontent.com/49693820/111990404-414e9d80-8b39-11eb-9327-f01e06e3721e.png)
![image](https://user-images.githubusercontent.com/4

[2021-03-22 16:11] webknjaz commented on #863
Do you intend to introduce this across all the articles or do you have something specific in mind? I think it's fine to add this (the *NIX tab should probably go first, though, as it's more common in the Python dev world).

[2021-03-22 17:02] naveen521kk commented on #863
I would simply add this everywhere because I could see in many places `python3` is specified and Windows python doesn't have a shim to python3, and typing `python3` would launch Windows store to install python.

:+1:

[2021-03-23 07:18] pradyunsg commented on #863
Looking at the PR (and pip's documentation), I think I'd much rather have a block of text explaining why you should use `py -m pip` and `python -m pip` outside of virtual environments, and just use `pip` in these examples, with the assumption that the user is in a virtual environment? Using such environments is best practice anyway.

That isn't to say that the PR on its own isn't useful and an imp

[2021-03-23 07:20] sify21 opened #865 "What's the recommendation for managing library dependencies?"
[Tool recommendations](https://packaging.python.org/guides/tool-recommendations/) page and [Tutorials](https://packaging.python.org/tutorials/) page only talks about *Managing Application Dependencies*. But what about *Managing Library Dependencies*? What tool is recommended if I want to write a library for others to use? Do I have to manually write down all direct and indirect dependencies in the

[2021-03-23 07:41] pradyunsg commented on #863
More characters and additional work for CoNsIsTeNcY in invocations, in virtual envs and in the global environments.

[2021-03-23 07:59] naveen521kk commented on #863
I think having `py -m pip` should be better because we don't whether they are in virtual environments or not. Also, on windows, if `Add to Path` isn't checked `python.exe` or its scripts will not be added to the path, so `py.exe` is the best to use IMO.

[2021-03-23 09:00] pfmoore commented on #863
I'm in favour of making `py -m pip` the standard invocation on Windows. It's the one approach that works in *every* case on that platform. I don't think we should pursue a mythical cross-platform invocation, Unix has too many inconsistencies and variations (python3 vs python, pip3 vs pip) to be a compatibility target worth aiming for.

[2021-03-23 22:17] bhrutledge commented on #720
With the resolution of #809, the tutorial now includes a minimal `pyproject.toml` to use `setuptools`. Can this be closed?

[2021-03-23 22:18] bhrutledge commented on #693
With the resolution of #809, the tutorial now includes a minimal `pyproject.toml` to use `setuptools`. Can this be closed?

Also, is this is a duplicate of #720?

[2021-03-23 22:31] bhrutledge opened #866 "Clarify "Packaging Python Projects" tutorial"
First, **thank you** for the work to update the tutorial to use `pyproject.toml`, `setup.cfg`, and `build`! Looks like that was mostly related to #809.

I've been noticing what seems like an uptick in issues on https://github.com/pypa/packaging-problems/issues/, particularly related to `python3 -m build`. That prompted me to work through the tutorial from scratch, doing my best to keep a beginner'

[2021-03-23 22:48] uranusjr commented on #693
Yeah, I think #809 covers this. The *Packaging and distributing projects* guide could also use an update, but that's a separate issue.

[2021-03-23 22:48] #693 closed

[2021-03-24 07:28] #720 closed

[2021-03-28 18:59] layday opened #867 "Add mention of manifest.in in packaging tutorial"
Readers would be aided by a brief introduction to `manifest.in` for adding arbitrary files to the distribution; see https://github.com/pypa/packaging-problems/issues/292.

[2021-03-28 18:59] layday commented on #867
cc @henryiii

[2021-03-30 16:39] henryiii opened #869 "Archive vs Distribution fuzzy"
I feel the discussion in is quite confusing about Source Distributions and Source Archives. They are clearly treated as separate, with a Source Archive coming "prior to creation of a Source Distribution" in the glossary, but the output of `build --sdist` is a "Source Archive" and everything below is called an archive, with "You should always upload a source archive and provide built archives for t

[2021-03-30 16:49] pfmoore commented on #869
PEP 517 uses the term "source tree" for a bunch of files that make up the source of a Python project, but which isn't a sdist. So if you want a term, I'd suggest "archived source tree".

If you're asking whether we need the idea of an archived source tree at all, I'd say we do, if only to distinguish it from a sdist (the key point about a sdist being that it has - at least in principle - a standar

[2021-03-30 16:55] henryiii commented on #869
The problem I have here is that they are being mixed, with `Source Archive` clearly referring to the thing you upload to PyPI multiple times, and also "a precursor" to it in the glossary. You should not upload a non-distribution archive. I would generally probably avoid talking about the original source as an archive here at all, since it's pretty arbitrary that you'd decide to archive it (often i

[2021-03-30 18:05] #867 closed

[2021-03-30 18:18] pfmoore commented on #869
Yep, that's wrong and should be fixed - we have enough confusion without inconsistent documentation making things worse 🙁

+1, although to force the point home, I'd make the point somewhere that source trees can be bundled into an archive, but doing so doesn't make them a sdist.

[2021-03-30 18:21] henryiii commented on #869
I'd probably include that in both the definitions for Source Tree and Source Distribution. A good example is `setuptools_scm`, which can generate a file that is present in the Source Distribution, but not an archive of the Source Tree. (I've got others, too, like pybind11, which produces two SDists from a single Source tree)

[2021-03-31 12:23] ashwinvis opened #870 "Mention alternatives to discover plugins via entry_points"
In "Creating and discovering plugins" guide, the recommendation is to use `pkg_resources.iter_entry_points`. In https://github.com/takluyver/entrypoints it is noted that:

I agree with this observation too. Now with the standard library `importlib.metadata` feature landing in Python 3.10+ and [its backport](https://github.com/jaraco/backports.entry_points_selectable), this recommendation can be up

[2021-03-31 19:04] webknjaz commented on #870
@ashwinvis do you want to draft a PR for this?

[2021-04-02 00:39] henryiii commented on #870
Shouldn't you just require `importlib_metadata`>3.6 for < Python 3.10? Ah, maybe it's because the normal backport dropped support for Python 2.7 and 3.5?

[2021-04-02 16:47] layday commented on #870
There's a new entry point interface coming in Python 3.10 - `entry_points` does not take a `group` argument in Python 3.9 and 3.9. `backports.entry_points_selectable` backports this to Python < 3.10 without requiring the whole of the `importlib_metadata`, uh... backport under Python 3.8 and 3.9. The 3.6 version of `importlib_metadata` and the version that'll ship with 3.10 deprecate the older entr

[2021-04-02 17:16] henryiii commented on #870
TLDR, for modern entry points:

* Python 2.7 and 3.5 are supported by `backports.entry_points_selectable` and not by any version of `importlib_metadata`
* Python 3.6-3.7 it internally requires `importlib_metadata` 3.6+ anyway
* Python 3.8-3.9 you can avoid including `importlib_metadata` (though it's just a pure Python package, so likely not a huge deal, but a minor savings?)

Obviously, after that

[2021-04-02 17:38] layday commented on #870
You'd use it if you support Python 3.5 and earlier and want to use the new interface or avoid deprecation warnings since `importlib_metadata` 3.6 requires Python 3.6 or later.

[2021-04-02 17:39] layday commented on #870
This is a lot of unnecessary complexity and the guides and the tutorials should not recommend the backport.

[2021-04-02 18:44] jaraco commented on #870
I don't understand "and not by any version of `importlib_metadata`". `importlib_metadata<3` supports Python 2.7 and 3.5. `importlib_metadata < 1.2` supports Python 3.4.

By "it", I presume you mean `backports.entry_points_selectable`? That's not entirely true. Yes, in a clean environment, loading from PyPI, pip will pick up the latest release of `importlib_metadata`, but it only _requires_ `import

[2021-04-02 18:59] henryiii commented on #870
I need you to help me [argue with Poetry's devs]()https://github.com/python-poetry/poetry/discussions/3757 that they should not be pushing everyone to set upper limits on everything, a library should not be setting something like `click>=7, click<8`. :)

I would clarify the above points in the readme. Also, it should be quite rare that a library would set an upper limit on importlib_metadata (unle

[2021-04-03 14:25] layday opened #871 "Reconsider aspects of `setup.cfg` in packaging tutorial"
While I appreciate the desire to have metadata declared statically, I'm a bit sceptical about the switch to `setup.cfg` in the packaging tutorial.  The `setup.cfg` format is not backed by a standard and lacks support for lists and dictionaries. Non-scalar values are custom-parsed with an opaque grammar which is specific to setuptools - consider nested `optional key = value`, or some lists being co

[2021-04-03 14:42] webknjaz commented on #871
Well, this tutorial is specifically about setuptools, why would you expect it to be generic? Also, the declarative format is safer (no arbitrary code during the build time) and is recommended most of the time, unless there's a need to do some weird dynamic logic (which is rather rare). Besides, it is possible to combine `setup.py` with `setup.cfg` meaning that the static stuff is nice and declarat

[2021-04-03 14:46] webknjaz commented on #871
cc @jaraco @pganssle any setuptools options on this?

[2021-04-03 14:49] webknjaz commented on #871
cc @henryiii @matthewfeickert you contributed to the related tutorials, any opinions?

[2021-04-03 14:51] webknjaz commented on #871
@layday re: src-layout

It was agreed on the PyPA Mini-Summit two years ago that it's the best practice that needs to be baked in the tutorials AFAIR.

[2021-04-03 15:05] layday commented on #871
It probably wasn't clear that I was referring to the advantages listed when the adoption of `setup.cfg` was proposed [here](https://github.com/pypa/packaging.python.org/pull/818#issue-563670114).

I'm not questioning whether static metadata are broadly better than dynamic metadata. What I'm wondering is whether _teaching_ `setup.cfg` and `src` trees is better than teaching `setup.py` to an audienc

[2021-04-03 15:11] henryiii commented on #871
I'm strongly in favor of setup.cfg. It's a better format for most projects - and even ones that need some dynamic code, it's better to keep the static information in setup.cfg. Would PEP 621 pyproject.toml be better? Yes, but it's not supported yet. Converting to pyproject.toml will happen years down the line. Setuptools needs to support it, as well as flake8 and mypy. It will be easier to convert

[2021-04-03 15:14] di commented on #866
+1 to this.

@bhrutledge I'm certain your feedback is valuable, please feel free to go ahead and create a PR so we can review directly.

[2021-04-03 15:14] henryiii commented on #871
Arbitrary code execution is not a problem for security, it's a problem for users doing things they should not do. I've seen hundreds of setup.py's, many of which were doing evil things that had much better solutions that would have been required if it was static. Building and manipulating paths, opening and messing with files, globbing, not opening files correctly (see above), etc. Add a single un

[2021-04-03 15:37] layday commented on #871
Neither flake8 nor mypy need to support pyproject.toml - both of these have their own stand-alone configuration files and it's not uncommon to see popular projects keep them separate.  There might be the odd tool out there which only supports `setup.cfg` - I can't think of one off the top of my head.  Either way, flake8 and mypy do not appear in the packaging tutorial.

Calling `setup()` and havin

[2021-04-03 16:02] henryiii commented on #871
Those formats are still cfg based. My point is that someone learning to make Python packages still needs to learn cfg files eventually, so why not now? Eventually, this might go away, but it's not gone yet.

What sort of packages do you want to see being produced? I would like to see setup.cfg packages with src/ layouts be the most common type of package added to PyPI, with (non-trivial) setup.py

[2021-04-03 23:46] matthewfeickert commented on #871
I don't have much to add as I already agree with everything that @webknjaz and @henryiii have added and their points are clear and well reasoned, and with regards to

I hard _disagree_. So I'll just ask some questions and try to answer others.

As @henryiii has already pointed out, we should be teaching people how to do things in the tutorials. @layday maybe you could open an Issue that expresses

[2021-04-04 08:07] #830 closed

[2021-04-05 16:45] matthewfeickert commented on #696
As I'm (slowly) going through and picking through "good first issue" Issues, should this one still be open / in need of a PR? Or from @pastelmind's comment

can this be closed?

[2021-04-05 17:08] pastelmind commented on #696
Looking back, I realized that my PR does not adequately address the two concerns raised by @vanrein. I'll reiterate them here and attempt to answer them:

1. Why not use `__path__` to load README.md?
  - Because `setup.py` is _meant_ to be run at the project root anyway, so there's little point in providing flexibility for infeasible cases. (This was
@merwok's argument; I'm not knowledged enough t

[2021-04-05 20:37] vanrein commented on #696
FYI, this never really worked for me; I now refrain from including READMEs and am seriously unhappy with Python packaging -- mostly because there are so many versions of it, and all are slightly incompatible.  I have given up on half of the Python Packaging Promises, basically, and cut down to bare essentials.  What would be useful is a clear indication of what works on what packaging system.  Now

[2021-04-05 21:28] pastelmind commented on #696
I agree that the state of Python packaging is still far from becoming streamlined after all these years. It would have saved me many hours if someone had told me "Yeah this is tough. Just use Flit or Poetry."

It reminds me of how, in the JavaScript world, NPM (the default package manager, dependency manager _and_ publishing tool) lagged behind competitiors like Yarn for years--though NPM has been

[2021-04-05 22:24] matthewfeickert commented on #696
Without going off the topic of this Issue, and what a PR resolution might be, too much &mdash; I'm sorry to hear that you've had such a bad experience here @vanrein. If your library that you're trying to package is public have you reported your specific issues as a GitHub issue over on [`pypa/packaging-problems`](https://github.com/pypa/packaging-problems)?

[2021-04-05 23:31] merwok commented on #696
Re-reading the original message: the guides all talk about `README.md`, as that’s the common name for such a file in a github-dominated landscape, but your code snippet and the error message show `README.MD`.  Do you have a readme file exactly named that way (caps)?

[2021-04-06 05:59] vanrein commented on #696
Yes I do.  I only recently learnt about the capitalisation of the extension, find it ugly, but should work towards compliance.  But the file is not available, I hardly think this is practical?

[2021-04-06 06:22] matthewfeickert commented on #696
I'm not sure what you mean here that the README file is "not available". Can you link to your project if it is public so that we can see?

With regards to the Issue of revising the tutorial, I agree with @pastelmind's thoughts

RE: being beyond the scope of the "Packaging Python Projects" tutorial. I think that given @merwok's point in PR https://github.com/pypa/packaging.python.org/pull/711#discu

[2021-04-06 06:26] matthewfeickert commented on #95
@merwok did PR #753 resolve this Issue? If so, can you ask a maintainer to close it?

[2021-04-06 07:31] pradyunsg commented on #696
Right, and our problem is quite the opposite.

Existing tooling is great for handling complicated workflows and usecases, and all the new tooling is for simpler packaging usecases.

None the less, the documentation definitely needs some TLC and thought.

[2021-04-06 13:28] merwok commented on #696
Compliance with what?  I don’t think I know any program that requires caps.

Not clear what you are saying.  You have encountered a problem that’s not clear or common and we’re trying to help.

[2021-04-07 13:59] webknjaz commented on #871
@layday I just wanted to add that especially for people coming from many other languages, it is quite common to have a config managing the build process rather than a seemingly arbitrary script.

Think about it: when we show the folks a script, it is like implicitly encouraging them to put any code they like there. But practically, it's only required for complex cases. Even if we put a big red war

[2021-04-11 19:09] wackyblackie opened #874 "packaging.python.org Windows commands"
In the Python Packaging User Guide the commands for Windows are ```py```. When I run them like that (with ```py```), I get:
[code]
However, when I use the "Unix/macOS" commands, it works just fine:
[code]

Maybe consider switching the Windows commands to ```python3``` or take away the Windows-specific commands.

Best regards,
@wackyblackie

[2021-04-11 19:34] pfmoore commented on #874
That looks like you have a version of Python that didn't come from the python.org installers. Where did you install Python from?

[2021-04-11 20:27] wackyblackie commented on #874
I installed Python from the Microsoft Store.

[2021-04-11 20:34] pradyunsg commented on #874
/cc @zooba, in case he has more information/context to provide here.

[2021-04-12 00:59] bhrutledge opened #876 "URLs with trailing slashes aren't working"
A recent build of the Twine docs [failed with this error](https://github.com/pypa/twine/runs/2319520105?check_suite_focus=true#step:5:222):

[code]

At the moment, that URL shows the RTD "This page does not exist yet" error.

The same thing is happening on internal links in the docs, such as "An Overview of Packaging for Python" in the table of contents. The `href` is referencing `overview.html`,

[2021-04-12 08:43] noahkw commented on #876
For me, all of the links that are not section overviews are broken, i.e.:

https://packaging.python.org/guides/installing-using-pip-and-virtual-environments/

https://packaging.python.org/discussions/install-requires-vs-requirements/

This is with or without trailing slashes.

[2021-04-12 09:45] sergei-maertens opened #878 "packaging.python.org appears broken - Maze found errors"
Hi, we noticed that the documentation website is having issues because of a failing Sphinx build with enabled link checker.

We link to https://packaging.python.org/tutorials/installing-packages.html, which is currently throwing a "Maze found" error. This appears to not be intentional, as the tutorials index page (https://packaging.python.org/tutorials/) still links to this page.

[2021-04-12 09:46] sergei-maertens commented on #878
Upon closer look, this seems related to #876 as well

[2021-04-12 13:47] #876 closed

[2021-04-12 13:48] webknjaz commented on #876
Thanks for the report! #877 should fix this. Also ref https://github.com/pyca/cryptography/issues/5863#issuecomment-792343136.

[2021-04-12 14:16] webknjaz commented on #876
Upstream report: https://github.com/readthedocs/readthedocs.org/issues/8092

[2021-04-12 14:20] webknjaz commented on #878
Yes, thanks for the report. Fixed by #877.

[2021-04-12 14:20] #878 closed

[2021-04-13 10:49] sergei-maertens commented on #878
thanks for the quick resolution!

[2021-04-14 19:42] #870 closed

[2021-04-14 22:28] webknjaz commented on #567
@di @pradyunsg do you know if this is still unresolved?

@Frame42

That is a template link, it's not supposed to lead anywhere

[2021-04-14 22:47] di commented on #567
I haven't seen this recently, I think it can probably be closed.

[2021-04-14 22:56] webknjaz commented on #567
Yeah, looks like nobody's added any new reports for the last 3 years. We can reopen later.

[2021-04-14 22:56] #567 closed

[2021-04-15 11:31] pradyunsg commented on #874
Cross linking to #863.

[2021-04-15 11:33] pradyunsg commented on #863
As per #874, the second sentence here is not true. Should we revert the changes we made based on this, closing #874 and continue the discussion here?

[2021-04-15 11:39] pfmoore commented on #863
I think that `py.exe` is traditionally the right thing on Windows, and is correct for the installers provided from python.org. So we should keep that recommendation for now, but we should open up a discussion with someone¹ over what we do about the store Python.

What we may need is something like [PEP 394](https://www.python.org/dev/peps/pep-0394/) but for Windows.

¹ That someone should be "whoe

[2021-04-15 12:57] naveen521kk opened #883 "How to deprecate a python package?"
I don't know the exact procedure to do "deprecate a python package" and I couldn't find any in the docs.
I am from [Manim's](https://github.com/ManimCommunity) team, we previously published under the name of [`manimce`](https://pypi.org/project/manimce/) and later changed to [`manim`](https://pypi.org/project/manim/), because we didn't have access to `manim` name on PyPi initially (https://github.

[2021-04-15 14:24] pradyunsg commented on #883
Failing on install won't help, since the pip's dependency resolver will backtrack to an older version that doesn't fail. For your use case, I'd recommend making a new release, which fails on import with a message to use `manim` instead of `manimce`.

[2021-04-15 14:26] pradyunsg commented on #883
@webknjaz I've relabeled this, since this definitely should not be a tutorial. A discussion/guide is more appropriate, talking about what the tradeoffs are between the various choices a user has.

[2021-04-15 14:30] webknjaz commented on #883
Honestly, the Python Packaging ecosystem could benefit from having some sort of `Obsoletes:` field in the metadata which in conjunction with `Provides:` could be a good starting point for implementing alternatives in the installers...

Right now, you can upload a now `.post0`-release (see PEP440) with the readme/long description updated with instruction pointing at where to obtain the updates + ma

[2021-04-15 14:57] naveen521kk commented on #883
Oh, I thought the other way round. So, failing on install shouldn't work.

Won't it create conflicts with package contents? We haven't changed the module name though, it's always `manim` so having an `__init__.py` from both packages may create problems?

:+1: this looks good to me. Should the `DeprecationWarning` and `UserWarning` go to `setup.py` or when the user imports the module?

[2021-04-15 15:18] webknjaz commented on #883
This https://github.com/pypa/pip/issues/8509 will happen. You need to tell them to install the new dist in a fresh virtualenv or do `pip uninstall -y manimce && pip install manim`.

In runtime. `setup.py` is executed during build time. It won't run if the users install from wheels. And if they install from `sdist` and there's a `wheel` package present in that env, `pip` will cache that and any sub

[2021-04-15 18:52] naveen521kk commented on #883
I did the first step of releasing a `.post0` release now with a `DeprecationWarning` and a note on README.

[2021-04-18 08:07] dayvheed commented on #194
Hi @ddbeck. I am a technical content writer that has written a couple of blog tutorials in Python and ML. I would love to contribute to this project in any way possible. Please let me know if there's something I can do

[2021-04-18 10:27] webknjaz commented on #194
@dayvheed there's a recently requested package deprecation guide: https://github.com/pypa/packaging.python.org/issues/883. Do you want to propose a PR on this topic? There's pointers in that issue one could start exploring and converting into an RST file.

[2021-04-18 10:52] dayvheed commented on #194
@webknjaz thanks a lot. I just checked it out. So if I get the thread right, the author wants to inform users that manimce is obsolete and manim should rather be installed.

I can then write a documentation of the things around this development. Is that correct please?

[2021-04-18 10:57] webknjaz commented on #194
Yep. That's right, also let's move the discussion related to the specific guide to that document or to a PR — if you want to start with submitting an unfinished draft and update it as you add new things there. You may want to take a look at other guides and attempt to match that style.

[2021-04-18 11:26] dayvheed commented on #883
Hi @naveen521kk. I want to help in writing the documentation for the deprecation steps you have taken regarding [manimce](https://pypi.org/project/manimce/) and [manim](https://pypi.org/project/manim/). Before I get started, it would be great to have a rounded understanding of the salient points regarding this deprecation.

I can then write the documentation. Could you put me through, please?

[2021-04-18 11:27] dayvheed commented on #194
Thank you. I have moved further discussions there.

[2021-04-18 12:01] naveen521kk commented on #883
We at first when creating the first release of the project; we wanted to publish to the PyPI package `manim`. But that was blocked because someone has uploaded malware in the same name, previously. We [contacted PyPA support](https://github.com/pypa/pypi-support/issues/450) for getting that name unblocked so that it allows us to push, also we didn't want to delay the release because of this, that'

[2021-04-18 15:13] dayvheed commented on #883
Ok. I will come up with something and show you!

[2021-04-18 19:47] dayvheed commented on #883
Hi @naveen521kk , @webknjaz

I just wrote a deprecation documentation and initiated a pull request. You may find it in #884. Please let me have your thoughts.

[2021-04-19 15:22] dayvheed commented on #883
@naveen521kk @webknjaz please let me know when you've checked my PR. I really would value your feedback

[2021-04-22 18:58] naveen521kk commented on #883
It's been around a week and now I pushed a `.post1` with a UserWarning. After around two weeks, I will do a release that will error out on import.

[2021-04-25 16:33] dayvheed commented on #883
Alright

[2021-04-27 04:59] asabbagh opened #887 "Contradictions/Inconsistencies between packaging tutorial and guide"
Page 1: [Packaging Python Projects](https://packaging.python.org/tutorials/packaging-projects)
Page 2: [Packaging and distributing projects](https://packaging.python.org/guides/distributing-packages-using-setuptools/)

The first states

The second states

The first mentions pyproject.toml, whereas the second doesn't mention it at all.

I know that one's a "tutorial" and the other is a "guide", and

[2021-04-27 12:32] webknjaz commented on #887
Agreed. That sounds reasonable.

[2021-05-07 18:46] brainwane commented on #846
@nlhkabu and @ei8fdb I'd like to hear your thoughts on this question, if you have time -- it feels connected to the documentation work you were doing in late 2020.

[2021-05-10 20:13] webknjaz commented on #667
Is this still relevant? distutils is getting deprecated and is going to be removed from stdlib in CPython 2.12.

[2021-05-16 10:56] naveen521kk commented on #883
Today I pushed `0.1.1.post2` to PyPI which raise an exception on import.

So, this issue is fixed. Maybe I will keep it open until @dayvheed comes with a guide for that :).

[2021-05-17 01:21] bhrutledge commented on #866
First batch submitted. I'll wait until those are merged before working on further changes.

[2021-05-17 15:27] zooba commented on #863
Catching up on notifications - did that discussion get opened?

FWIW, I'm hesitant to change anything about what the python.org installer puts on PATH until I can get a better setup for managing global commands (which I'm currently working on internally with the Windows team). Adding python3.exe would be preferable to me long-term, apart from it further polluting the system path.

The way I'd rath

[2021-05-17 15:30] zooba commented on #874
All the context is there - the Store package installs `python`/`python3`/`python3.x` commands, but not install `py` (because it couldn't override the python.org `py` and would just create more conflicts).

I posted on the other linked issue with my proposal, but to repeat it, "if `py` works for you, use that anywhere you see `python3`".

[2021-05-18 20:31] FFY00 opened #895 "Add examples to metadata in pyproject.toml page"
PEP 621 defines a standard format for package metadata in `pyproject.toml`. I expect several backends to implement it, but not all to produce high quality documentation on how to use it, specially small domain-specific backends. It would be great to have a tutorial/description of the fields packaging.python.org that backends could point users to. Right now, the best option is to point to the PEP i

[2021-05-21 05:04] henryiii commented on #866
FYI, some of the extra issues have been related to a few bugs in build, several of which are being fixed in the version about to be rolled out. I think the issues will slow down a little after that.

So far the changes look great. :)

I'm wondering if we could update to using pipx in the future? Using `pipx run build`, `pipx run twine`, etc. would help with the lack of virtual environments, and wo

[2021-05-21 05:05] henryiii commented on #895
Would it be best to add right after or simultaneously with either setuptools or the first implementing backend? (cibuildwheel is sort-of first, but only for requires-python ;) ) It's going to be rather confusing if there's a guide for something but it can't be used yet.

[2021-05-21 05:09] henryiii commented on #887
"needed to make editable pip installs work" is actually not true anymore since the most recent pip release. Unless you are on an old Python unsupported by the most recent pip release. :)

[2021-05-21 05:17] FFY00 commented on #895
I was envisioning this more like a separate page backends could point to. The setuptools documentation could show an example, as it is fairly straightforward, and have a link for the fill documentation for more details.

[2021-05-21 08:25] webknjaz commented on #887
@henryiii do you have an issue or a PR link with the change? I don't recall seeing that.

[2021-05-21 13:23] bhrutledge commented on #866
While I love pipx, I'm wary of introducing an additional tool, especially one that's not a PyPA project. I'd rather encourage the use of a virtual environment, which folks should already be familiar with from the [Installing Packages tutorial](https://packaging.python.org/tutorials/installing-packages/).

[2021-05-21 13:29] bhrutledge commented on #866
Thanks! My next step is to simplify/clarify the language around `setup.py` and editable installs.

[2021-05-21 13:58] pradyunsg commented on #866
That'll change in a few days: https://mail.python.org/archives/list/pypa-committers@python.org/thread/JMT66ZZHAGY3OYU26ANKOOUXV2Q2C7O6/

[2021-05-21 14:01] pradyunsg commented on #866
I do think it's still worthwhile to keep recommending virtual environments for now though. pipx can probably be a separate recommendation.

[2021-05-21 14:20] henryiii commented on #887
Either https://pip.pypa.io/en/stable/news/#v21-1 (under features, can't really link to the header because they are auto-generated, so identical for all versions) or https://github.com/pypa/pip/pull/9547.

[2021-05-21 14:36] pradyunsg commented on #887
Note that this still doesn't cover non-setuptools build backends.

[2021-05-21 14:52] henryiii commented on #887
Well, the comment about setup.py being required is also for the setuptools backend. But yes, it's not editable PEP 517 support.

[2021-05-22 10:07] dtsap opened #899 "Wrong package name in guide's example"
There is a mistake on an example of installing packages tutorial (https://packaging.python.org/tutorials/installing-packages/) under Creating Virtual Environments section, that is about how to use the virtualenv package, in which the venv package is wrongly used (python3 -m venv <DIR>) instead of virtualenv.

[2021-05-22 11:09] webknjaz commented on #899
Do you want to send a pull request? The source is here https://github.com/pypa/packaging.python.org/blob/main/source/tutorials/installing-packages.rst

[2021-05-22 14:16] webknjaz commented on #866
I'd rather not recommend pipx because we'd have to explain how to provision it on different OSs which belongs in other places. Also, I don't think we favor pipx over virtualenv.

[2021-05-22 16:54] dtsap commented on #899
sure

[2021-05-22 16:58] webknjaz commented on #899
Thanks!

[2021-05-22 16:59] #899 closed

[2021-05-24 14:30] jaraco opened #901 "Fix broken refs due to pip docs changes"
Looks like https://github.com/pypa/pip/pull/10009/files#diff-f35faadf148777b2d0e535cfd8e8f3e1bbc0fecdb7fda5ccd0b9d7d4a4e5471eR31 substantially changed the RST labels it exposes which means that this site needs to fix the links first. This is what hard-blocks the current PR from merging.

_Originally posted by @webknjaz in https://github.com/pypa/packaging.python.org/issues/898#issuecomment-8470400

[2021-05-24 21:58] #901 closed

[2021-05-25 23:08] bhrutledge commented on #887
This seems related to #866.

[2021-05-26 00:52] bhrutledge commented on #887
Also, rather than update https://packaging.python.org/guides/distributing-packages-using-setuptools/, could it be replaced with links to the [setuptools docs](https://setuptools.readthedocs.io/en/latest/userguide/index.html)? They've seen some dramatic improvements.

[2021-05-26 09:09] bryandenniskeith commented on #657
This is the directory structure I have except I have setup.cfg instead of setup.py

I'm having the same problem that others describe: No module named

Bryan

[2021-05-26 12:25] webknjaz commented on #657
@bryandenniskeith do you use `find:` to autodetect packages?

[2021-05-27 06:04] bryandenniskeith commented on #657
The `[options]` and `[options.packages.find]` sections of my `setup.cfg` look like this:

[code]
I wanted to try adding `packages = example_pkg` to the `[options]` sections as @martinmaeland suggested, but now I've run across another problem when running `build` the second time.  I'll open a new thread about that issue.

[2021-05-27 06:13] webknjaz commented on #657
@bryandenniskeith remove "package_dir". If your package is top-level, it should be project root. Then, `find:` will locate it. Because currently it tries to look inside `example_pkg/` for folders that have `__init__.py` in them. Otherwise, set that to "src" and `mkdir src && mv example_pkg src/`.

Note that the current version of the tutorial uses src-layout: https://packaging.python.org/tutorials

[2021-05-27 06:29] bryandenniskeith opened #905 "packaging exercise: build fails because ensurepip is not available"
I went all the way through the packaging exercise with a successful `build`.  I used a virtual environmental (for the first time) to successfully install my new package.  The process failed on `import example_pkg`  I made some changes to my `setup.cfg`, and when I went to `build` again, `build` failed like this:

[code]
However, using `venv` works:

[code]
**if** I am in a different directory.  If

[2021-05-27 08:04] webknjaz commented on #905
I believe you may be hitting https://gist.github.com/tiran/2dec9e03c6f901814f6d1e8dad09528e. Also, most of the Linux distros, when repackaging CPython (or third party Python packages), decouple its parts into many separate packages (even though they are all originally bundled together in the upstream project). And so to get them, you must explicitly install those by running the commands prompted i

[2021-05-27 08:43] pradyunsg commented on #905
/cc @stefanor @doko42, since they likely have the relevant context to help here.

[2021-05-27 08:51] bryandenniskeith commented on #905
Well, after a little more testing...  If I have this:

[code]
in my `setup.cfg`, then `python3 -m build` runs fine.

If I add this line (because I'm trying to fix the `No module name example_pkg` error that I get after installing my package in a virtual environment):

`packages = example_pkg`

then `python3 -m build` fails as I previously describe.  @webknjaz is this a symptom of the issue that yo

[2021-05-27 09:04] doko42 commented on #905
sorry, it's unclear to me what exactly you are doing, and where you started from.  Maybe you could describe the steps taken from the start?

Also how accurate are the guides? Still seeing references to easy_install, and the installing-using-linux-tools guide has seen a last update in 2015 ...

[2021-05-27 09:28] bryandenniskeith commented on #657
@webknjaz I tried doing it without src, keeping the package at the top level, but something still went wrong.  Putting the package in src as you suggest (and you're right, as the tutorial demonstrates) did indeed work.  I'll just put my real package in src for now until I understand all this better.  Thank you.

[2021-05-27 09:40] bryandenniskeith commented on #905
@doko42 I was following the steps in this tutorial: https://packaging.python.org/tutorials/packaging-projects/

and made it all the way through the end only to have this error at the end after installing my new package in a virtual environment: `No module named 'example_pkg'`

The problem was that I was trying to put my project in root rather than in src as the tutorial suggests so I had my `setup

[2021-05-27 09:48] doko42 commented on #905
did you install python3-venv as the message suggested?

[2021-05-27 09:54] bryandenniskeith commented on #905
Yes.  I also tested that I could create virtual environments using `venv` in other directories.  That worked but failed in my `packaging_tutorial` directory.  Before making changes to the `setup.cfg` I tried uninstalling and reinstalling python3-venv and also specifically python3.8-venv, but none of that made a difference.  Changing `setup.cfg` as I described made the problem go away.

[2021-05-27 10:04] bryandenniskeith opened #906 "packaging exercise: pip does not install latest version"
I was following this packaging tutorial: https://packaging.python.org/tutorials/packaging-projects/
and had to make a number of changes to my project.  At each change I incremented the version number and uploaded the new version to testpypi.  I could see the new version on the server.  However, when I went to download and install the new version in my virtual environment, pip wouldn't install the

[2021-05-27 11:11] webknjaz commented on #905
With this you tell setuptools that your target package is located at `example_pkg/example_pkg/`.

As I said in another thread, you want to remove `package_dir` instead. Although, the general recommendation is to use src-layout because the natural layout makes testing unobvious.

But this mistake is separate from missing packages on your system. I personally recommend avoiding system Python (especi

[2021-05-27 12:52] webknjaz commented on #906
If you did that immediately after upload, you must've hit the cache. It gets invalidated in about 10 minutes. So normally, you shouldn't attempt installing right away because some parts of PyPI or its CDN might be not yet aware of the new release.

Please, do not edit the contents of `site-packages` manually. Well, you _could_ do this in an isolated virtualenv for educational purposes, of course,

[2021-05-27 12:55] pfmoore commented on #906
[code]

You didn't specify `--upgrade`, so pip sees 0.0.4 is installed, that satisfies the requirement to install the package, so it stops there.

[2021-05-27 13:07] webknjaz commented on #906
Oh, that. I missed this line :man_facepalming:

[2021-05-27 13:13] webknjaz commented on #906
And I want to add that `pip install example-pkg-bryankeith` means _I want **some** version of `example-pkg-bryankeith` to be present in my env_ while if you'd used `pip install 'example-pkg-bryankeith > 0.0.4'`, it'd tell pip to look for a newer version even without `--upgrade|-U` because the currently installed one wouldn't satisfy the install request.

[2021-05-27 15:51] bryandenniskeith commented on #905
Thank you.  Yes, now I have it working with the src layout.

[2021-05-27 15:59] bryandenniskeith commented on #906
`--upgrade` is what I needed plus the advice of waiting a bit before trying to download and install the newly uploaded package.  Thank you for answering my pip questions and also for explaining quite clearly what is actually going on.  I had tried `--upgrade` at one point and unknowingly ran into the problem of hitting the server too quickly before the package was ready.  :)

[2021-05-27 16:27] webknjaz commented on #905
Can this issue be closed now?

[2021-05-27 16:32] webknjaz commented on #906
I wonder if we need to add a note somewhere in the tutorial about the situation with the cache...

Do we have any other possible action items here?

[2021-05-28 04:29] bryandenniskeith commented on #905
Yes.

[2021-05-28 06:28] #905 closed

[2021-05-28 14:48] #798 closed

[2021-06-02 11:00] astrojuanlu opened #912 "Reword, reorder or rework tool recommendations for application dependencies"
Quoting @pfmoore in https://github.com/pypa/packaging.python.org/issues/701#issuecomment-612059528:

The situation of Pipenv has changed a lot since the original concerns about the viability of the project were raised. However, I still found it weird to see it's the prominent recommendation, with pip, pip-tools, and Poetry as secondary alternatives. Why?

_Disclaimer: I used Pipenv for some time w

[2021-06-02 11:00] astrojuanlu commented on #701
Done: https://github.com/pypa/packaging.python.org/issues/912

[2021-06-02 11:27] webknjaz commented on #912
That sounds reasonable. We need to be impartial so the neutral way looks like what we need.

[2021-06-02 18:00] merwok commented on #912
If that’s useful, I have noted my personal pros and cons for some of the current tools here: https://github.com/Pylons/pyramid/issues/3270#issuecomment-551878433

Feel free to reuse any of that in a PR.

FWIW I still use virtualenvwrapper (which calls virtualenv which uses venv), pip-tools when I can, pipenv or poetry when I must.  Strongly dislike that pipenv updates dependencies when you do anot

[2021-06-18 11:12] bhrutledge opened #915 "Change links to IRC"
As noted in [IRC webchat is down. What does this mean for PyPA? - Packaging - Discussions on Python.org](https://discuss.python.org/t/irc-webchat-is-down-what-does-this-mean-for-pypa/9324), the PyPA IRC has moved from Freenode to Libera.Chat. It looks like the only links are in the [key projects listing](https://github.com/pypa/packaging.python.org/blob/main/source/key_projects.rst). The new links

[2021-06-18 11:22] webknjaz commented on #915
There's also links in the issue selectors / forms of various repos. We'd need to grep everything under the org to find all the mentions.

[2021-06-18 11:26] bhrutledge commented on #915
I was thinking those would be handled by the various projects, so that the scope of this issue was just for this repo.

[2021-06-18 11:43] webknjaz commented on #915
Yes, sure. Just wanted to mention this explicitly.

[2021-06-18 11:46] #915 closed

[2021-06-19 00:49] layday commented on #871
Thanks all for your input.  I don't really have much more to say here that I haven't already said.  I don't think the poor ergonomics of `setup.cfg` can be dismissed, but I agree that there's good sense in using a DSL for build configuration.  With the adoption of `pypa/build`, ideally, setuptools should not be recommended to beginners at all - I'd welcome a discussion centred around alternatives.

[2021-06-19 00:49] #871 closed

[2021-06-19 02:29] jaraco commented on #871
I haven't had time to read more than the OP, so take this response with a grain of salt.

I do think teaching `setup.cfg` is preferable. From Setuptools' perspective, it's the preferred format to define a project, with `setup.py` being supported for compatibility and fallback.

Regarding the clumsy aspects, like requiring multiple config values for a "src layout", I agree, that's a wart. I'd like

[2021-06-19 02:34] jaraco opened #920 "Feature idea - plugin to infer package metadata from SCM metadata"
setuptools_scm provides a way to infer the version of a project from SCM metadata (tagged commits).

I'd also like to write some plugins for Setuptools that enable some other magic like:

- Infer the name of the project from the parent directory or from the stem of the SCM URL.
- Infer the author from most common committer of the oldest 100 commits.
- Infer the maintainer from the most common comm

[2021-06-19 11:18] bhrutledge commented on #743
As #913, the tutorial now includes an example module a function definition:

https://packaging.python.org/tutorials/packaging-projects/#a-simple-project

My hope is that's a sufficient minimal example. I think there's value in "following this tutorial as-is using this project, before packaging your own project", because it introduces the concepts in a concrete, reproducible way.

With that in mind

[2021-06-19 11:21] bhrutledge commented on #887
This feels related to https://github.com/pypa/packaging.python.org/issues/792.

[2021-06-19 11:21] bhrutledge commented on #792
This feels related to https://github.com/pypa/packaging.python.org/issues/887.

[2021-06-19 19:22] #866 closed

[2021-06-21 15:25] webknjaz commented on #743
Sounds like it's solved.

[2021-06-21 15:25] #743 closed

[2021-06-22 08:07] domdfcoding commented on #895
I semi-rewrote PEP 621 as part of the docs for whey (see https://whey.readthedocs.io/en/latest/configuration.html), removing the parts aimed at backend authors and adding examples for each field.

Is that the sort of thing you were thinking of?

[2021-06-22 12:51] pradyunsg commented on #895
Yea, that looks about right.

[2021-06-22 12:52] souldia18 opened #923 "Thanks all!"
Thanks all!

_Originally posted by @bhrutledge in https://github.com/pypa/packaging.python.org/issues/919#issuecomment-865848509_

[2021-06-22 12:54] #923 closed

[2021-06-22 12:54] FFY00 commented on #895
Yes, exactly. That documentation will be the same for everyone, so better avoid duplicated efforts.

[2021-06-23 16:41] rbarrois commented on #912
I would be really interested in having a clean heuristic to decide whether a tool should be recommended or not; in my opinion, this would rely not on the tool's ergonomics / behaviour, but in its support for documented formats, approved PEPs, and APIs.

For instance, we could have:
1. A set of **target standards**; at this point in time, this would likely be *`python -m venv`, wheels and `pyprojec

[2021-06-25 12:04] webknjaz opened #926 "Promoting Brian Rutledge as maintainer of the PUG"
@bhrutledge has been exceptionally active in this repository in recent months and sent some contributions a year ago too.

I propose to promote Brian to a maintainer because I believe he can be a huge help in moving the PUG forward. His past PRs have always been well-thought and he is very collaborative when something needs discussing or polishing.

He's also mentioned that he is interested in ste

[2021-06-25 12:35] bhrutledge commented on #926
Thanks for the vote of confidence, @webknjaz.  😊

[2021-06-25 14:09] theacodes commented on #926
👍

On Fri, Jun 25, 2021, 8:36 AM Brian Rutledge ***@***.***>
wrote:

[2021-06-25 18:46] wodny commented on #912
Nice. I thought of adding a table of projects with functions in columns like [comparisons on Wikipedia][1]. Possibly to [Tool recommendations][2] or [Project Summaries][3]. With some normalization of cells maybe, like:
- sourcing version - `pyproject.toml`, from source by regex, from source by import, from source by AST (with optional remarks like: via plugin)
- editable installs: yes/no
- manages

[2021-06-26 14:33] meowmeowmeowcat opened #927 "Translation Plan"
Hi,

I would like to ask if there is any translation plan of packaging.python.org?

[2021-06-27 07:34] webknjaz commented on #927
Hi @meowmeowmeowcat, no. At the moment nobody raised this question AFAIK. But I like the idea and I think it would be great to set up a translation process. This may require a discussion with other maintainers first, but I'd definitely support such an effort.

[2021-06-27 07:38] webknjaz commented on #927
@pypa/packaging-user-guide-editors @ewdurbin @di @pradyunsg do you think it'd be possible to use Warehouse's Weblate for this? I think the configuration pointers are present here https://docs.weblate.org/en/latest/devel/sphinx.html.

[2021-06-27 07:40] webknjaz commented on #927
@meowmeowmeowcat as a side note, the translation would require a dedicated person per language to continuously update the articles as the canonical English versions change and new articles appear. Would you commit to something like this? You'd need to take ownership over curating your language.

[2021-06-27 07:59] pradyunsg commented on #927
None at this time, no.

Sphinx and ReadTheDocs have fairly strong internationalization support -- so if someone is interested in translating and maintaining that translated guide, I'm pretty sure we can make that happen. Personally, I wouldn't be pushing for setting up that infrastructure and figuring those details out, unless someone is actually interested in doing the translation.

[2021-06-27 08:57] anxolerd commented on #927
It would be nice to have packaging.python.org in different languages. I would even contribute to Ukrainian translation time to time, but, unfortunately i cannot constantly look at the original English articles and update translation on daily or weekly basis

[2021-06-27 09:18] meowmeowmeowcat commented on #927
Sure, and I have translated some English to `zh_Hant` and `zh_Hans` on [PyPI](http://pypi.org) actually.

[2021-06-27 09:33] meowmeowmeowcat commented on #927
Actually I am interested in doing the translation and that's why I open this issue. 🤣

[2021-06-27 11:31] bhrutledge commented on #619
FWIW: In my recent work on #866 (and related to #718), I wondered about adding an example of testing, possibly before [Generating distribution archives](https://packaging.python.org/tutorials/packaging-projects/#generating-distribution-archives). I thought it would help establish a testing habit, and also validate the project layout before running `build`. I've got what I think is a minimal exampl

[2021-06-27 14:25] ncoghlan commented on #619
@guettli Anyone can write the qualified recommendation (my comment is using qualified in the "with caveats" sense, not the "with relevant credentials" sense)

[2021-06-27 14:39] bhrutledge commented on #619
If I can get a 👍 from a maintainer, I'm happy to open a PR based on my previous comment (incorporating any suggestions, of course).

[2021-06-27 20:38] webknjaz commented on #927
@meowmeowmeowcat it would be useful if somebody checked what we need to start doing this and maybe outlined the mechanics of the whole process. PRs adding the necessary configuration (including CI checks and a guide for translators into existing and new languages) are welcome too.

[2021-06-27 20:46] webknjaz commented on #619
@bhrutledge quick look at your repo seems fine except that I'd default to pytest — it's been a de facto go-to framework for many years now. I understand that it's not in stdlib but I argue that it's what many pythonistas will see in the wild. And it will also set them on the path of exploring better UX/DX and best community practices.

[2021-06-27 21:12] bhrutledge commented on #619
That sounds good to me. Does that imply adding and explaining `extras_require` in `setup.cfg`, so that readers could do `pip install -e .[dev]`? Or would it better for this audience to just `python3 -m pip install pytest`?

[2021-06-27 21:19] webknjaz commented on #619
I wouldn't add extras simply because it's controversial: some people like test/docs/dev extras but I think this doesn't belong there. Those envs aren't really useful to the end-users of the published artifacts (you can't `pip install` just an extra w/o the package itself) + it's best to have such envs pinned with all the transitive deps (pip-tools style, for example) and such info wouldn't be a gr

[2021-06-27 23:42] meowmeowmeowcat commented on #927
@webknjaz Is it possible to create a new translation project under [pypa on weblate](https://hosted.weblate.org/projects/pypa/)?

[2021-06-28 01:05] bhrutledge commented on #619
I updated my example project to use pytest: https://github.com/bhrutledge/example-pkg-bhrutledge/commit/f20bcbf5bda35deb1925d9e831cf7d2bb899bca4

[2021-06-28 04:08] meowmeowmeowcat commented on #927
I have already made a example on [Weblate](https://hosted.weblate.org/projects/packaging-python-org/packaging-python-org/)

[2021-06-28 05:46] meowmeowmeowcat commented on #927
So I think here are the steps we need to start doing the translation:

- We should generate `.po` of the docs for translation (which is done)
- Put `.po` files on the Weblate
- Add Translation CI check
- Writing a guide for Translators

[2021-06-28 06:25] webknjaz commented on #927
Probably yes. But I don't have such access. That's why I've tagged @di and @ewdurbin earlier — they should have a better answer to how this could be implemented.

[2021-06-28 06:27] webknjaz commented on #927
I _think_ the Weblate bot (integration?) is able to generate those files if set up properly. My understanding is that we'll need to generate them often or even embed this into the merging process. I hope folks who have set it up for Warehouse could shed some light on how it's done.

[2021-06-28 06:35] webknjaz commented on #619
@bhrutledge I've added a few comments on that commit page.

[2021-06-28 06:42] meowmeowmeowcat commented on #927
Okay. Thanks

[2021-06-28 06:48] meowmeowmeowcat commented on #927
So probably we should wait someone answering this before we go to the next step

[2021-06-28 10:42] bhrutledge opened #931 "installing-using-pip: Update command output"
As noted in in https://github.com/pypa/packaging.python.org/pull/928#discussion_r659366032, there are few places in that document where the command and its output are shown in a single `code-block`, but with no distinction between them, which might lead folks to thinking that `pip 9.0.1 ...` is a command to execute. If the output of a command is valuable, I recommend putting it into a separate `..

[2021-06-28 15:36] henryiii opened #934 "The windows examples use "bash" and backslashes"
This creates weird highlighting especially with backslashes in paths. I think we can use the `.. code-block:: bat` lexer instead.

_Originally posted by @henryiii in https://github.com/pypa/packaging.python.org/pull/928#issuecomment-869787000_

[2021-06-29 00:31] bhrutledge commented on #934
Or `.. code-block:: text`, which is what's currently used for other Windows output in `installing-using-pip-and-virtual-environments.rst`.

See also #931.

[2021-06-29 04:21] meowmeowmeowcat commented on #927
Thanks!

[2021-06-29 19:10] #617 closed

[2021-07-03 11:37] #783 closed

[2021-07-07 04:29] meowmeowmeowcat commented on #927
@ewdurbin Could you add another component under the PyPA project on Weblate, please? The template of translation is located in `locales/messages.pot`.

[2021-07-08 19:04] brainwane commented on #926
Yeah, this sounds good to me!

[2021-07-08 19:33] pradyunsg commented on #926
Added Brian to the relevant GitHub team!

[2021-07-08 19:33] #926 closed

[2021-07-09 07:26] pradyunsg commented on #927
Let's move the generation of this into a GitHub action and stop checking this file into the version control -- the output of this is purely deterministic, and checking it in doesn't really have any direct benefit AFAICT.

[2021-07-09 07:32] meowmeowmeowcat commented on #927
I think so.

[2021-07-09 14:47] webknjaz commented on #927
@pradyunsg I'm pretty sure it needs to be checked in because Weblate is supposed to pick up the phrases from it per my understanding, I'm pretty sure Warehouse works like this.

[2021-07-09 15:24] ewdurbin commented on #927
https://hosted.weblate.org/projects/pypa/packaging-python-org/ has been created. I'd like to ask for one or two folks involved in managing the translation to create accounts on weblate and share their usernames here so I can add them to administer the component.

[2021-07-09 16:56] pradyunsg commented on #927
Okay, that sucks. For starters, we'll still need the same automation -- to ensure that it's properly generated on each revision.

It's also a pretty bad state of "updates will need more than just changing the text" in our workflows IMO since it eliminates easy GitHub-UI only changes as well. As an easy example, we'd no longer be able to take GitHub UI driven typo fixes, which... is pretty bad IMO.

[2021-07-09 19:11] webknjaz commented on #927
@pradyunsg

I think we could come up with some solution pushing the updates to GH automatically, on PR merge, for example. Also, not having the extracted strings in main up-to-date shouldn't be a big deal, we could make sure to update it periodically for starters.

@ewdurbin

@anxolerd and I have the same usernames as on GitHub, we both worked on the Ukrainian translation of Warehouse. I guess we'

[2021-07-10 03:14] meowmeowmeowcat commented on #927
@webknjaz @pradyunsg Is it possible for us to update `messages.pot` automatically by Github Action when merging the PR?

[2021-07-10 06:05] webknjaz commented on #927
That's what I was thinking

[2021-07-10 08:32] meowmeowmeowcat commented on #927
@webknjaz I've already prepared the Github Action file. However, you may need to generate a secret called `ACCESS_TOKEN` in `Settings/Secrets` for Github Action to push changes of `messages.pot`

[2021-07-12 09:27] meowmeowmeowcat commented on #927
@webknjaz I think a better solution is open a new repo (probably called `packaging.python.org-l10n`) for translations, so the new repo will receive changes in packaging.python.org and update `messages.pot` constantly. Just like python docs.

[2021-07-12 09:42] #934 closed

[2021-07-12 09:42] #931 closed

[2021-07-12 14:49] webknjaz commented on #931
Honestly, I think it's a wrong solution — it's natural to see the console output for as long as the prompt is present and the correct lexer for sessions is set.

[2021-07-12 15:42] webknjaz commented on #927
I considered it but I don't see many problems with having a single repo. If it's autoupdated periodically, separately from PRs, it shouldn't cause any disturbance.

[2021-07-12 15:48] meowmeowmeowcat commented on #927
So there would be a lot commits from Github Action (probably I should set it to update automatically every three/four days so there won't have so many commits), is this acceptable for this repo? :)

[2021-07-12 18:34] ewdurbin commented on #927
`webknjaz` and `anxolerd` users on Weblate have been added and should have administrative control over the whole PyPA project on Weblate. @webknjaz and @anxolerd please do not modify settings for the warehouse component or glossary without consulting the pypa/warehouse issue tracker.

I'm going to unsubscribe from this thread now. Please mention me again if there is something I need to do.

[2021-07-12 18:36] webknjaz commented on #927
Absolutely. Note that using a pre-populated `GITHUB_TOKEN` secret will not generate any events on GitHub meaning there will be no test runs triggered and no GitHub Apps will react to those commits.

[2021-07-13 03:11] meowmeowmeowcat commented on #927
Thanks for answering this!

[2021-07-13 03:14] meowmeowmeowcat commented on #927
@webknjaz Could you please change the language code on Weblate to be identical with readthedocs?

[2021-07-13 10:51] bhrutledge opened #947 "Normalize command lines in code blocks"
In most places where there's a command line, it's shown without a prompt, e.g.

[code]

However, there are some places where it's preceded by a prompt character:

[code]

I think we should remove the prompt characters entirely, and standardize on `code-block:: bash` (plus `code-block:: bat` for Windows if the command is different). For places where that's not practical (i.e. where including the pr

[2021-07-14 16:54] webknjaz commented on #927
@meowmeowmeowcat we need to change the automation to produce paths without `../` in front of the collected strings: this breaks links from Weblate to GH currently (because it removes the segment with the branch name from URLs).

[2021-07-15 06:24] meowmeowmeowcat commented on #927
@webknjaz Can this be fixed in Weblate settings?

[2021-07-15 11:37] meowmeowmeowcat commented on #947
@bhrutledge Do we need to keep using the prompt in this command?
[code]
I think folks won't know it is a command if we remove the prompt.

[2021-07-15 12:20] bhrutledge commented on #947
@meowmeowmeowcat Thanks for asking. To clarify, I don't think we want to remove _all_ prompts (at the moment):

So, to answer your question, yes. That said, I might follow-up with a separate PR that replaces `ENTRYPOINT_OF_PACKAGE` with a concrete example.

[2021-07-15 12:36] rffontenelle commented on #927
Hey there. Thanks for the initiative of internationalizing packaging.python.org guide. I'd like to make a suggestion:

While looking for instructions on building translated docs locally, I notice that [p-p-o info page on Weblate](https://hosted.weblate.org/projects/pypa/packaging-python-org/pt_BR/#information) seems to have exact [info as Warehouse component](https://hosted.weblate.org/projects/py

[2021-07-15 12:43] webknjaz commented on #927
@rffontenelle so I looked into it and there's no per-component setting, it's project-global. And is edited at https://hosted.weblate.org/settings/pypa/ — @ewdurbin @di what can we do about this? Should we mention both projects there?

[2021-07-15 12:46] webknjaz commented on #927
@meowmeowmeowcat if you inspect the URLs in `<a href="...">` with DevTools, you'll see that the branch name **is included**.
One example URL is `https://github.com/pypa/packaging.python.org/blob/main/../source/overview.rst#L61`. But because of `/../`, it gets normalized as `https://github.com/pypa/packaging.python.org/blob/source/overview.rst#L61` which is broken.
The only proper way to fix this i

[2021-07-15 13:15] meowmeowmeowcat commented on #927
@webknjaz I've checked some other docs and they didn't remove the `../` in front of each reference, but they still work properly. Therefore, I think this could be fixed in settings.

Also, I can't remove`../` because the `messages.pot` is located in `locales/`, which means that it must use `../` to get the text in the docs.

[2021-07-15 13:17] meowmeowmeowcat commented on #927
Could you please change the original one in Repository Browser to `https://github.com/pypa/blob/{{branch}}/{{filename}}#L{{line}}`?

[2021-07-15 13:27] webknjaz commented on #927
I guess I could add that `/source/` chunk but it just looks like a weird workaround rather than a proper solution.

[2021-07-15 13:28] meowmeowmeowcat commented on #947
@bhrutledge Thanks for clarification!

[2021-07-15 13:31] webknjaz commented on #927
btw Warehouse doesn't have `../`: you can see it in https://github.com/pypa/warehouse/blob/main/warehouse/locale/messages.pot.

[2021-07-15 13:49] meowmeowmeowcat commented on #927
I agree. However, let's use this solution first until we find a better solution for this.

[2021-07-15 14:38] meowmeowmeowcat commented on #927
@webknjaz I've found a solution:

By putting the `messages.pot` in dir `./`, and the `.pot` won't have `../` anymore.

Example:

[code]

[2021-07-15 15:12] webknjaz commented on #927
I currently injected `/locales/`, will address this later then.

[2021-07-16 09:59] meowmeowmeowcat commented on #927
@webknjaz Could you explain more for injecting `/locales/`?

[2021-07-16 13:05] webknjaz commented on #927
@meowmeowmeowcat it's the same as your suggestion to add `/source/` but is more correct technically because the path is relative to the pot file.

[2021-07-16 13:08] meowmeowmeowcat commented on #927
Oh, I see.  :)

[2021-07-16 13:09] webknjaz commented on #927
@rffontenelle @meowmeowmeowcat looking at your translation attempts I must urge you not to translate references. I saw some translations changing the text in places like
[code]
But this sort of ref is not just a rendered text, it's also bound to the link somewhere in the document that looks like
[code]
And changing the ref in one place will break this connection making sphinx incapable of finding

[2021-07-16 13:11] webknjaz commented on #927
On a side note, today I've enabled syntax highlighting in the translation fields which should make it easier to make sure that it doesn't have broken sequences.

[2021-07-16 13:18] meowmeowmeowcat commented on #927
@webknjaz Thanks for your reminder! I think we should add this to our translation guide as folks may make mistake like this.

[2021-07-16 13:19] webknjaz commented on #927
Yes, that's an excellent idea. I just wanted to make sure that somebody fixes the mistakes that have been made already.

[2021-07-16 13:51] meowmeowmeowcat commented on #927
I've fixed mistakes that I have been made. I also marked some translations in `pt_BR` as need edit.

@rffontenelle Please fix them.

[2021-07-16 14:16] ewdurbin commented on #927
That's copy/pasted from warehouse's docs. We could probably just update it to link to https://warehouse.readthedocs.io/translations.html for warehouse and some page on packaging.python.org if you want to create it once a workflow is settled on.

[2021-07-16 18:56] rffontenelle commented on #927
@webknjaz @meowmeowmeowcat thanks for the heads up. Fixed the ref links.

One nice syntax guide for RST docs: https://docutils.sourceforge.io/docs/user/rst/quickref.html

[2021-07-17 10:09] #947 closed

[2021-07-17 11:01] meowmeowmeowcat commented on #927
@rffontenelle Thanks for suggestion. This guide will be added to translation guide.

[2021-07-21 15:54] brettcannon opened #955 "Bring over PEPs 517, 518, and 660 to the specs section"
As of right now various specifications reference those PEPs but there is no complete view of what  they contain (e.g. the sdist spec references PEP 518 for what `pyproject.toml` although technically it should  also reference PEP 517 for being to actually build an sdist from a source tree). We should probably have a single specification that covers how to build sdists and wheels from a source tree

[2021-07-24 16:21] bhrutledge commented on #615
Related: [Creating a setup process for a Python command line utility - Packaging - Discussions on Python.org](https://discuss.python.org/t/creating-a-setup-process-for-a-python-command-line-utility/9600)

[2021-08-05 14:07] webknjaz commented on #927
@ewdurbin @di there's an alert here https://hosted.weblate.org/projects/pypa/packaging-python-org/#alerts and the :warning: symbol is displayed next to our project. It seems to imply that the PSF license is unacceptable. Could you take a look?

[2021-08-05 16:09] rffontenelle commented on #927
@webknjaz [It seems] that Weblate relies on [SPDX License List] to tell if the license is accepted or not, which means being FSF Free/Libre and OSI Approved. This is done [automagically] by extracting for SPDX License List, and that list has "Python License 2.0" with Y(es) for both requirements, and "Python Software Foundation License 2.0" which does **not** have Y for both requirements. PyPA proj

[2021-08-05 16:18] ewdurbin commented on #927
looks like @rffontenelle's analysis is correct: https://opensource.org/licenses/Python-2.0 https://www.gnu.org/licenses/license-list.en.html#Python indicate that the license is FSF and OSI approved. Might be something we need to discuss with SPDX too?

[2021-08-05 16:36] webknjaz commented on #927
Yep, that's what I was thinking too.

[2021-08-05 16:57] rffontenelle commented on #927
Let's differentiate "Python-2.0" from "Python Software Foundation License 2.0" in SPDX's point of view.

You are saying "Python-2.0", but "Python Software Foundation License 2.0" is set in Weblate, which is "PSF-2.0" according to SPDX. To SPDX, the following are two different licenses:

**Full name: Python Software Foundation License 2.0**
Identifier: PSF-2.0
SDPX URL: https://spdx.org/licenses/PS

[2021-08-05 16:59] rffontenelle commented on #927
Also, what's with CC BY-SA 3.0 license in this project's README file ?

https://packaging.python.org/'s footnote states "This page is licensed under the Python Software Foundation License Version 2."

[2021-08-05 17:24] webknjaz commented on #927
It's interesting that both SPDX pages point at https://opensource.org/licenses/Python-2.0 in the `Other web pages for this license` field. And there's also this note:

So basically if `Python-2.0` is libre, then its part (PSF-2.0) should also be libre...

[2021-08-05 17:29] webknjaz commented on #927
Looks like this is coming from the theme and is not overridden in this repo: https://github.com/python/python-docs-theme/blob/6ed468a/python_docs_theme/layout.html#L122-L125.
I wonder if @pradyunsg's Furo will have the same problem — adopting it (or its derivative) will probably just drop the license mention completely).

[2021-08-16 18:16] #766 closed

[2021-08-17 01:51] msanazi22 commented on #194
Hi

[2021-08-18 01:14] taiya commented on #479
+1 to this, also `simple` is mentioned somewhere in the howtos:
https://packaging.python.org/guides/using-testpypi

Am I supposed to use legacy? simple? both(legacy for upload, simple for download)?

[2021-08-23 10:00] 231995 opened #961 "Git"

[2021-08-23 13:36] smheidrich commented on #757
Another way to do this that uses `extra` data from the installed distribution metadata (as opposed to having to specify the requirements again using `__requires__`) and that works even for non-console scripts would be to add `setuptools` to the package dependencies and use [`pkg_resources.require()`](https://setuptools.readthedocs.io/en/latest/pkg_resources.html#basic-workingset-methods):
[code]
T

[2021-08-23 17:11] #961 closed

[2021-08-23 22:42] L2021 opened #963 "Lilo.2021"
There is so much thing unbelievable

[2021-08-23 22:42] #963 closed

[2021-08-24 03:56] matthewfeickert commented on #912
:wave: Based on a recent [Twitter discussion](https://twitter.com/webology/status/1429829980591165449) I'd like to take a crack at opening a PR to address these points, but as this has been a discussion that has gone on for some time I'd prefer to get some PyPA maintainers consensus on an action proposal before working on a PR :+1: (once I'm back from vacation later this week). (So cc'ing @willing

[2021-08-24 21:28] brettcannon commented on #912
I think the key thing is to make sure the info is clear and timeless. So starting to make recommendations or full blown tutorials run the risk of going stale compared to listing known tools which have support and then linking to their tools.

Long term, I hope all the work we have been doing around standards like PEP 621 will make it easier to write one tutorial on how to specify stuff and then li

[2021-08-28 09:53] bhrutledge opened #971 "Update PyPI README instructions"
While reviewing https://github.com/pypa/packaging.python.org/pull/969, I noticed that [making-a-pypi-friendly-readme.rst](https://github.com/pypa/packaging.python.org/blob/main/source/guides/making-a-pypi-friendly-readme.rst) uses `setup.py`, while [packaging-projects.rst](https://github.com/pypa/packaging.python.org/blob/main/source/tutorials/packaging-projects.rst) recommends `setup.cfg`.

I thi

[2021-09-04 07:35] meowmeowmeowcat commented on #927
@webknjaz Is syntax highlighting disabled?

[2021-09-04 08:30] webknjaz commented on #927
It should be enabled.

[2021-09-04 08:39] rffontenelle commented on #927
I see it enabled in pt_BR

[2021-09-04 08:39] meowmeowmeowcat commented on #927
<img width="1209" alt="image" src="https://user-images.githubusercontent.com/68463158/132088368-e753b3a7-7279-435b-bcc7-36b4d8d447ba.png">

<img width="1296" alt="image" src="https://user-images.githubusercontent.com/68463158/132088404-c9180b33-7118-4f07-8900-0f0f69865112.png">

It sounds very strange now. I can see that Ukrainian has syntax highlighting, but other languages don't have it.

[2021-09-04 13:21] meowmeowmeowcat opened #977 "Document the solution for folks who can't paste their token in twine correctly"
@bhrutledge That would be a good spot to document it. Also, maybe it should be documented in https://packaging.python.org/tutorials/packaging-projects/ if possible. If four people have reported it that I see, maybe others have tried to upload using twine and have been unable to do so.

_Originally posted by @mathstar13 in https://github.com/pypa/twine/issues/671#issuecomment-678659253_

[2021-09-04 14:16] rffontenelle commented on #927
@meowmeowmeowcat Can you please provide an example and link to a string of any language which doesn't have syntax highlighting?

[2021-09-04 14:19] meowmeowmeowcat commented on #927
Sure.

https://hosted.weblate.org/translate/pypa/packaging-python-org/zh_Hans/?q=state%3Aempty&sort_by=-priority%2Cposition&offset=700

https://hosted.weblate.org/translate/pypa/packaging-python-org/eo/?q=state%3Aempty&offset=5

[2021-09-04 14:22] meowmeowmeowcat commented on #927
🤦 I know what's going on. There is no issue with syntax highlight. Sorry for the confusion.

[2021-09-05 16:21] webknjaz commented on #927
FYI @pradyunsg and I tried to come up with a workaround for auto-updating the POT file (on a social call that we have periodically) and decided that the updates should happen in the PRs with changes to the respective RST files (for many reasons, including the fact that it's seemingly impossible to make GHA / bots bypass the branch projection). To facilitate this, we'll try integrating https://pre-

[2021-09-05 16:30] meowmeowmeowcat commented on #927
Good idea!

@webknjaz Would you take care of this?

[2021-09-05 16:39] webknjaz commented on #927
Yep, also Pradyun needs to add the integration, I don't have sufficient privileges for this.

[2021-09-05 16:43] meowmeowmeowcat commented on #927
That's great! Thank you for both of you working on this!

[2021-09-05 16:59] webknjaz commented on #927
@meowmeowmeowcat do you know if the MO files are necessary for the localization to work? I'd prefer not to keep binaries in the repo.

[2021-09-05 17:11] webknjaz commented on #927
Ah, there's `gettext_auto_build`: https://github.com/readthedocs/readthedocs.org/issues/4702#issuecomment-426556170.

[2021-09-05 23:12] meowmeowmeowcat commented on #927
Yes, and you have removed `.mo` files from the repo. So this is solved. However, I still wonder if they are required to build the docs. I'll have a test later.

[2021-09-06 00:05] webknjaz commented on #927
They are required but Sphinx generates them during the build. So it works (I've checked both locally and on RTD + added the respective setting explicitly).

[2021-09-06 06:19] meowmeowmeowcat commented on #927
Great! So this is solved. :) Now I have another question: Can you build other languages for the docs, for example `zh_Hans` etc.

[2021-09-06 06:44] sdkdeepa commented on #194
Hello, I would like to contribute to this documentation. Please let me know where I could start. Thank you!

[2021-09-06 21:50] bhrutledge commented on #977
I think linking to https://pypi.org/help/#invalid-auth in a `.. tip::` below the `twine` output would be very helpful.

[2021-09-07 12:02] webknjaz commented on #927
It looks like Sphinx doesn't validate the exact language codes. According to my tests, it accepts any string there.

[2021-09-07 12:25] meowmeowmeowcat commented on #927
Oh, I see. And I've also found a solution for RTD. RTD follows the language codes given by Sphinx: https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-language. After I checked the docs of Weblate, I think we don't have to modify our language codes now. We can add symlinks instead.

[2021-09-14 11:06] funkyfuture commented on #757
thanks for your responses.

while @webknjaz proposal improves readability by flattening the code, i agree that duplicated dependency declarations are a maintenance burden and error prone.

i haven't tried out @smheidrich's proposal, but as far as i understand it, the module where this is implemented would have to be shielded in a `try-except` block as well.

however, i'm not really convinced by th

[2021-09-23 04:28] timcu opened #999 "Incorrect output filename should have dashes not underscores for tar.gz"
### OS version

Ubuntu 21.04

### Python version

Python 3.9.5

### Pip version

pip 21.2.4

### Guide link

https://packaging.python.org/tutorials/packaging-projects

### Problem description

Incorrect output filename for tar.gz in your documentation
[code]
Should be
[code]
I think uploading also shows incorrect name.
[code]
Should be
[code]

### Error message

_No response_

[2021-09-28 23:14] shi-yan opened #989 "manifest.in document is poor"
this is a poor document regarding manifest.in usage.

https://packaging.python.org/guides/using-manifest-in/

for example it doesn't contain any example for using recursive-include

[code]
don't work at all.

it has to be

[code]

[2021-09-29 05:27] webknjaz commented on #989
Feel free to send a PR.

[2021-09-29 12:21] TarunavBA commented on #194
@sdkdeepa let me know if you can help to my projects. You can [mail](mailto:tarunavba@gmail.com) me. I would feel very happy if you can help me in my python project.

[2021-10-05 11:32] ssbarnea opened #995 "objects.inv vanished from docs (404 error)"
Apparently an URL that worked previously now returns 404:
[code]

If the location of `objects.inv` has changed, can you please provide its new location? I searched for related bugs but did not find any.

[2021-10-05 11:35] meowmeowmeowcat commented on #995
@ssbarnea The location of `objects.inv` should be https://packaging.python.org/objects.inv.

[2021-10-05 11:37] ssbarnea commented on #995
Thanks!

[2021-10-05 11:37] #995 closed

[2021-10-05 11:54] ssbarnea commented on #995
While I was able to address the moved `objects.inv` I now [faces another error](https://github.com/ansible-community/ansible-compat/runs/3802866563?check_suite_focus=true#step:7:35), which is caused by a warning from sphinx:
[code]

Considering that I fixed the objects.inv location, I wonder if the new file no longer have the docs for version, causing this. As objects.inv is not really human frien

[2021-10-05 13:53] webknjaz commented on #995
This is a reference to a different project. The one you're looking for is https://packaging.pypa.io/en/latest/ / https://github.com/pypa/packaging.

P.S. I have a static site that presents many intersphinx references for different sphinx docs that you may use to look up what's available right from your browser https://webknjaz.github.io/intersphinx-untangled/.

[2021-10-11 11:12] richtong opened #1001 "setup.cfg in https://packaging.python.org/tutorials/packaging-projects/ does not work"
Even if you copy and paste the setup.cfg directly from the site, the src directory is not picked up. The setup.py works fine. Is there some hidden syntax here that a noob needs to know I see the use of four spaces is that significant? in package_dir. What is happening is that no src files are found with this setup.cfg

[code]

[2021-10-11 12:37] bhrutledge commented on #1001
@richtong I'm sorry to hear you're having trouble. This setup.cfg has worked for me and many others, but I'm happy to help clarify if needed. Can you tell us more about your environment? Specifically:

- Operating system
- Python version
- Directory structure of your project
- Commands you've executed and their output

Also, I don't quite understand what you mean by:

Can you be more specific? Wha

[2021-10-14 16:48] jb-gf opened #1002 "Dj"

[2021-10-14 17:09] #1002 closed

[2021-10-15 22:55] webknjaz opened #1003 "Participate in Hacktoberfest"
$sbj. @pradyunsg could you add the corresponding topic to this repo?

[2021-10-16 07:16] pradyunsg commented on #1003
I've added it the `hacktoberfest` topic. Please be mindful of how things go here. :)

[2021-10-16 07:16] #1003 closed

[2021-10-16 15:38] webknjaz commented on #977
We could try embedding that GIF in a collapsible block so that it does not distract folks who don't need a visual clue. I wouldn't commit it to Git, though.

[2021-10-16 15:41] webknjaz commented on #786
@haesleinhuepf the docs now have some Windows command examples. Is this still an issue?

[2021-10-16 21:45] pradyunsg commented on #786
/cc @zooba in case there's better guidance we can provide for Windows users, given that this is due to the interaction with the Windows Store Python + the python/python3 shims for it.

[2021-10-17 10:09] bhrutledge commented on #977
@webknjaz Where would you host the image? Are there other pages that use images?

[2021-10-17 15:58] webknjaz commented on #977
There are assets @ https://github.com/pypa/packaging.python.org/tree/main/source/assets but Git is not designed to store blobs effectively so I'd only keep SVGs in the repo.

As for the GIF, I imagine that it may be possible to just embed the GH-hosted one that is already uploaded in your comment.

[2021-10-20 11:43] astrojuanlu commented on #912
pipenv docs have been down for about a week https://github.com/pypa/pipenv/issues/4805 which is unfortunate, but I think it makes clear that the project is not in good shape.

I don't think we have reached a crystal clear consensus or agreed on what exactly do we want beyond some general recommendations, so I guess it will be easier to discuss over an actual pull request.

[2021-11-14 02:04] rffontenelle commented on #927
I'm getting a check failure on a regex and I believe it shouldn't be failing. I assume the regex used is customized. Can this be verified? [This is the translation string](https://hosted.weblate.org/translate/pypa/packaging-python-org/pt_BR/?q=has:check) .

 (Click in the images to see full size)

<img src="https://user-images.githubusercontent.com/1571783/141664429-87f4f5b0-aa24-4ad4-889d-4478898

[2021-11-14 05:01] meowmeowmeowcat commented on #927
@rffontenelle I guess translating the string
[code]
to:
[code]
should silence this error, as Weblate assumes that it would be translated.

[2021-11-14 06:29] rffontenelle commented on #927
@meowmeowmeowcat you guessed correctly. However ``` :ref:`python_requires` ``` should be considered valid too to reStructuredText, and is normally not translated AFAIK.

How about adjusting the regex to something that matches both the current state and also the original text? E.g.

[code]

[2021-11-14 06:34] meowmeowmeowcat commented on #927
@webknjaz Could you help us on modifying this if possible? Thanks!

[2021-11-14 09:12] webknjaz commented on #927
@rffontenelle @meowmeowmeowcat thanks for bringing this up! Adding those checks was a lot of manual work, I haven't done this for all the strings (never got time) and I've tried to make them generic where possible. The common case is that you'd actually need a custom translation in many cases, for example, because if the linked label has a title with a different text, that title will be injected a

[2021-11-14 12:21] rffontenelle commented on #927
@webknjaz I thought it was a custom setting, but haven't thought on the work it took to set it up. Thanks for the effort, it is very appreciated.

It wasn't luck---I knew that python_requires was a term that shouldn't be translated. I normally have a tab with the translate strings in Weblate and another tab with the documentation. So I see what's the resulting the RST syntax.

But please notice th