[2017-09-28 14:01] pfmoore commented on #382
@veekaybee Well, `sys`, `os`, and `re` are standard library modules, and will *always* be available unless your python is broken. And they don't exist on PyPI, so pip wouldn't download them anyway.

You're also confusing the module name (that you use in the "import" statement) and the package name (that you install via pip). But that's an entirely reasonable confusion, and not something I'd try to

[2017-09-28 15:40] ncoghlan commented on #382
The point about the standard library is made a couple of paragraphs further down: "because the three modules we’ve included, os, re, and sys, are part of the standard Python library. "

So while I agree the phrasing of the earlier paragraph could be improved a bit, the discrepancy is really just the known confusion around import packages vs distribution packages that we cover in the PyPUG glossary

[2017-09-28 16:01] paulromano opened #383 "Scientific packages guide out of date"
The guide on [Installing Scientific Packages](https://packaging.python.org/guides/installing-scientific-packages/) talks about how NumPy and SciPy can't be distributed as wheels; that seems to have been [resolved](https://pypi.org/project/numpy/#files) since this page was updated (2014?).

[2017-09-28 16:10] jonparrott commented on #383
Thanks for reporting @paulromano! You're welcome to send a PR, otherwise I'll get to this soon(ish).

[2017-09-28 16:12] jonparrott commented on #382
Totally agree - in fact, I'm *always* happy to review external articles about packaging. My contact info is in my profile, and if the blog is stored on github they can summon me to the PR. I know that most of us in the PyPA can't commit to that, but I'm happy to do so as part of my community outreach time.

[2017-09-28 18:34] pfmoore commented on #382
@jonparrott Brilliant - I do agree that starting with something that can be improved and working on it is a good approach (and as I say, I really did like the style of the article). I was just very conscious that I wasn't going to have the time to help with review and improvement, and I wasn't sure we had the resources for that. Good to know we do.

(And offtopic, but thanks for *all* the work you

[2017-09-28 19:09] jonparrott commented on #382
Happy to help, I'm also trying to shuffle things so I can spend more time here in a consistent fashion.

[2017-09-28 22:39] veekaybee commented on #382
Thanks so much for the feedback! I just pushed a change that includes `nltk` in the requirements file, which was a great suggestion, and cleared up the reference to `os` and co. as being part of the standard library. Regardless of what you decide, link or not, this feedback has been helpful in improving the post. https://github.com/veekaybee/veekaybee.github.io/commit/0c278fd87bc7c11308e3a2fc5f1e9

[2017-09-29 22:00] #373 closed

[2017-10-01 19:53] pradyunsg commented on #320
I'm setting a reminder for myself; if no one comes around to this by mid-October, I'll give this a shot. :)

[2017-10-02 04:40] ncoghlan opened #388 "Update sdist specification section to refer to PEP 517"
(Filing as an issue rather than a PR to avoid conflicting with @di's PR at #386)

https://www.python.org/dev/peps/pep-0517/#source-trees defines a new sdist format for use with PEP 517 compatible build frontends.

The relevant specific subsection should be updated to mention the provisional acceptance of that format, but note that publishing tools should still provide `setup.py` shims for the time

[2017-10-03 14:52] #319 closed

[2017-10-03 15:07] ncoghlan commented on #319
The merged PR covers both the split out into multiple pages, as well as the update to have the core metadata page cover *all* the fields, including those that were originally defined in PEP 345.

[2017-10-03 15:10] ncoghlan commented on #259
@di Something to take into account when drafting a metadata 1.3 PEP (the current stated constraints for Provide-Extra are more restrictive than intended, since PEP 508 allows for hyphens and periods to be part of Extras names)

[2017-10-17 14:38] pfmoore commented on #373
What's the expectation on when this guide will go live? I've just tried pipenv "for real" for the first time, and there are some issues I've had that made for what I felt was a bit of a confusing experience once I got past the very basic `pipenv install foo` stage. I've reported those that are actionable, but for others, I'm struggling to work out how to express "I got confused" in a usable way at

[2017-10-17 16:24] jonparrott commented on #373
@pfmoore I was planning on doing the final touches to the pipenv guide and moving it to be the new tutorial during my block of hours on Friday.

This is totally valid (and useful). I'd be really interested in hearing your thoughts.

Here is fine. I suppose I could also hop in IRC sometime.

[2017-10-17 17:53] pfmoore commented on #373
@jonparrott I'm happy with here. In the first instance it probably makes sense to document what I did and why, and how it caused me to stumble. That's easier in this format than IRC (which I don't normally use, but can if it helps). We can then work out where to go from there. I assume @kennethreitz will probably be interested too, and if he prefers to take this somewhere else (e.g., specific issu

[2017-10-17 19:10] jonparrott commented on #373
Cool - if it's easier for you feel free to write up a "friction log" using google docs or send it over via PR so we can comment/review/discuss.

[2017-10-17 20:56] pfmoore commented on #373
The situation I was in, is that I was setting up for a new piece of work, analyzing data. It's an exploratory project rather than a "build an application" type of thing, typical (as I understand it) of many data science types of project.

I wanted to maintain the project environment in a virtualenv, and it seemed like pipenv would be a good tool to use, for various reasons - as a learning exercise

[2017-10-18 06:01] ncoghlan commented on #373
I think there are two potential paths to go down here, since `pipenv` really does aim to optimise for the case where wheel files are available from a readily accessible shared index server, without relying on local machine-dependent artifact stores.

Option 1 is to simply say for these cases "Use the `--site-packages` option, and install whatever automation-unfriendly components you need globally

[2017-10-18 08:20] pfmoore commented on #373
Hmm, if that's the case, then there's no indication of that fact in either pipenv's documentation or ours. Something like "if you need to use packages that are not hosted on a public index server like PyPI, then you should use (alternative approach)" would be useful - although do we have a recommended alternative approach?

While more and more packages (particularly in the scientific stack) seem t

[2017-10-18 10:39] ncoghlan commented on #373
And I guess that's the key purpose of the issue: prior PyPA experience with `pipenv` has been primarily based on Linux and Mac OS X, where the typical answers to getting non-wheel dependencies involving using the system package manager or homebrew, rather than downloading a wheel file via the browser and going from there.

So if there's a showstopper UX problem, there's a showstopper UX problem, w

[2017-10-18 10:45] ncoghlan commented on #373
@pfmoore Is there something that can be placed in a `pip.ini` file to say "Here's an extra directory to get wheel files from"? Given that `PIP_FIND_LINKS` worked for you, then I'm guessing there may be.

If so, I'm thinking this may be amenable to a config file based approach: https://pip.pypa.io/en/stable/user_guide/#config-file

Essentially, we'd tell folks "If you need access to extra wheel fil

[2017-10-18 10:55] pfmoore commented on #373
I think the key thing that needs to be clear is what the core use cases for pipenv are. My naive expectation was that it was intended to handle the various use cases that pip does:

* Installs from PyPI
* Editable installs
* Installing from wheel files/local repositories

If that is the intention, then the problem's simple - not all the functionality is implemented yet. If the expectation is that

[2017-10-18 10:57] pfmoore commented on #373
I should also say that this isn't really for us to say. Ultimately, it's a question for the @kennethreitz and the pipenv developers. We should only be documenting how to use the tool within its scope, and how to recognise when it's not appropriate for a given situation.

[2017-10-18 11:35] ncoghlan commented on #373
I wouldn't expect `pipenv` to natively support installing from local files, since that makes it harder to reliably reproduce the environment on another machine. Doing that is a problem for the same reason actually using the `--site-packages` option is a problem: you have to manage any related dependency installation steps manually, outside `pipenv`.

So I see two parts to this UX concern:

1. Sett

[2017-10-18 12:11] ncoghlan commented on #373
Specifically, the section of `Pipfile` that I'm think of is this one: https://docs.pipenv.org/advanced.html#specifying-package-indexes

If that permitted `file://` URLs, or offered a `local_dir` option as an alternative to `url`, then it would cover this case, while also reasonably clearly indicating that the result `Pipfile` depends on external downloads to be used.

[2017-10-18 12:30] pfmoore commented on #373
Absolutely. That's where I expected to find the information.

And regarding reproducibility, I think you're missing my point (or consider it "advanced" usage) that I planned on holding the required wheels within the project directory and installing them from there. That effectively makes for a 100% reproducible setup. With that in mind, I think that "support installations from artifacts stored wit

[2017-10-18 12:52] ncoghlan commented on #373
Oh, I'd misunderstood what you were suggesting - I thought you were expecting to be able to use wheels from arbitrary host directories.

I think that makes even more sense as a `pipenv` RFE, whereby you can specify something like:

    [[source]]
    bundled_artifacts = "relative_path_within_repo"
    name = "bundled"

[2017-10-18 12:55] pfmoore commented on #373
Yep, precisely that. That seems like a really nice enhancement, and totally in line with how pipenv works. I'll add that specific suggestion to the issue I opened over there, as it expresses what I want far better than I did.

[2017-10-18 12:59] pfmoore commented on #373
Relevant pipenv issue: https://github.com/kennethreitz/pipenv/issues/914

[2017-10-20 16:58] jonparrott commented on #373
Okay - so are we okay to move forward with promoting to this to top-level tutorial?

I plan to amend the bottom of the tutorial to link to the pip/virtualenv flow as well as mention conda for scientific packages.

[2017-10-20 18:53] micsanMercy16 opened #391 "python pip issue"
Hi
I run on my Mac OS X 10.11.6
python -m ensure.pipenv python build.py
and it does not build the output received is the following. Please advise. Thank you

pkg_resources.RequirementParseError: Expected ',' or end-of-list in ordereddict==1.1; python_version < '3.1' at ; python_version < '3.1'
  🐍   ▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉ 2/21 — 00:00:00
Spawning environment shell (/bin/bash). Use 'exit'

[2017-10-20 21:44] pfmoore commented on #373
Personally, I think it's premature. I found trying to use pipenv on a project fairly confusing as soon as I hit a dependency that wasn't trivially installable from PyPI. At that point, neither this guide, nor the pipenv docs, really offer any useful guidance, and I ended up needing to abandon pipenv in favour of pew plus `requirements.txt` (which was painless, but that may just be because I'm fami

[2017-10-23 06:44] glyph commented on #297
I think this might actually be doable now. `twine` can't *put* a password in the keyring, but it can *read* one.

[2017-10-23 17:38] jonparrott commented on #297
@glyph what would it take for twine to be able to put a password in the keyring?

[2017-10-23 17:39] jonparrott commented on #373
Summoning @ncoghlan and @dstufft to weigh in.

@pfmoore is there anything I can add to this tutorial, pipenv's docs, or to another guide to better address your concerns? Or is it just a fundamentally missing feature in pipenv?

[2017-10-23 18:41] pfmoore commented on #373
I honestly don't know. I've been thinking about it, and while there *is* a missing feature (some equivalent of pip's `--find-links`) that's not the key point. The real issue is more a conceptual one, of what pipenv is *for*, and how to use it in a development workflow. So I guess what I'd see as missing is:

1. Why should you use pipenv? I guess the implicit answer is "because it's the recommended

[2017-10-23 19:25] jonparrott commented on #373
I *do* want to do this, similar to what we have now for [pip and virtualenv](https://packaging.python.org/guides/installing-using-pip-and-virtualenv/#installing-extras). I was planning on doing this post-cut-over but happy to block on that.

[2017-10-24 07:01] ncoghlan commented on #297
@takluyver may know, as I believe flit already does this (at least on Linux).

[2017-10-24 08:57] takluyver commented on #297
Yup, flit uses keyring on all platforms, so long as it's available (it's a soft dependency).

My strategy is to first try various means to get a stored or provided password. If none is found, we prompt the user, and then if `keyring` is importable, we store the password. You can see the code to do it here:

https://github.com/takluyver/flit/blob/8e1077c4d425239fea860b143714a2622c4d16db/flit/upload

[2017-10-24 09:03] ncoghlan commented on #373
For the `Why pipenv?` aspect, there are two major cross-platform pieces:

1. It's not just replacing pew + requirements.txt, it's replacing pew + pip-tools + requirements.txt.in. Defaulting to dependency pinning matters, since it more clearly separates "These are the dependencies I expect to work" (`Pipfile`) from "This is the combination of dependencies I've actually tested" (`Pipfile.lock`), eve

[2017-10-24 09:57] pfmoore commented on #373
@ncoghlan Thanks for the explanations. I guess I'm still unclear (as a consumer of this guide) why I should care about pinning, and what effect it'll have on me. If I'm developing something like a data analysis project (the actual situation I tried out pipenv for) I just want the current version of the library that gets my data from its source. If I check my project into github, should I check in

[2017-10-24 10:06] pfmoore commented on #373
Also, I guess the other question (from people familiar with older approaches) is, what *is* the recommended approach to replace `pew` (or `virtualenv`)  plus `requirements.txt`? When did using `pip-tools` (either directly or via `pipenv`) become recommended practice for newcomers, and why? That's probably where my confusion stems from - I had never seen any "beginner's tutorial" recommending `pip-

[2017-10-24 12:21] ncoghlan commented on #373
You should check in `Pipfile.lock`, such that when someone else clones the repository later and runs `pipenv install` or `pipenv install --dev`, they'll get the exact same versions you did (including checking the hashes to ensure that nobody has intercepted the downloads and messed with them). `pipenv` thus takes the view that "I want to upgrade my dependencies now" should be a deliberate decision

[2017-10-24 12:46] pfmoore commented on #373
OK. I'm not 100% comfortable with that view, but that's not the point here. If the tutorial explained the background and recommended approach, and how pipenv supports that approach, that would help a lot.

Again, task based examples (I want to develop a library, I want to develop a standalone application, I'm writing an adhoc script to be shared with others, I'm working on a data analysis project,

[2017-10-25 09:02] pfmoore commented on #373
OK, thinking some more about this, the following are actual tasks I needed to do when working on my current project. They were all things that the library I was using needed, and they are pretty typical things to do, from my experience and what I've seen from others.

1. Install a package off PyPI.
   Easy, and already covered: `pipenv install foo`.
2. Install a wheel from somewhere other than PyP

[2017-10-25 18:15] jonparrott commented on #373
Thanks @pfmoore for your detailed feedback.

It seems (1) is covered by the tutorial and it seems reasonable to add (4) and (5) to the tutorial directly.

For (2) and (3) I think those are best covered in a separate guide (something like "Using pipenv for advanced use cases").

I will try to address all of this during my next set of hours here. :)

[2017-10-25 19:23] pfmoore commented on #373
Thanks @jonparrott

Personally, I still don't think I'll recommend pipenv to newcomers yet. But hopefully it'll improve as additional feedback is generated from the people introduced to it by this tutorial.

[2017-10-26 01:57] techalchemy commented on #373
Hey @jonparrott I followed you over here from Pipenv (I am a maintainer) where we _had_ support for local files which was regressed somewhere.  We actually maintained that support and still have it as long as the local files are in the top level project path, but the requirements parser library we use errors out if you pass in anything like a directory separator.  I just pushed a working fix for t

[2017-10-27 00:26] ncoghlan commented on #373
@pfmoore As a couple of examples of reasons I think recommending a higher level tool by default is valuable, look into `pipenv graph` (showing you your current dependency tree) and `pipenv check` (checking for known security flaws in your dependency stack).

You *can* do that kind of thing yourself if you want to, but with `pipenv` you get it by default (hence my comparison to Django as a full-fle

[2017-11-06 08:42] ncoghlan opened #393 "venv section in current tutorial excludes Windows"
In https://packaging.python.org/tutorials/installing-packages/#creating-virtual-environments (and the section just before it), we show examples using the `source` command.

On Windows, the activate script is just run directly, since there's no `source` equivalent in an interactive shell.

[2017-11-06 08:47] ncoghlan opened #394 "Consider initial bootstrapping concerns for pipenv-based tutorial"
The pipenv-based tutorial at https://packaging.python.org/new-tutorials/installing-and-using-packages/ assumes we're going to be able to rely on a system `pip` installation for boostrapping purposes.

However, the current tutorial *starts* by introducing virtual environments, precisely because getting `pip` running reliably outside a virtual environment cross-platform with novice developers is a g

[2017-11-08 12:07] pradyunsg commented on #320
Turns out I didn't actually get the time to doing this. If anyone else wants to take this forward, please do.

[2017-11-08 20:21] jonparrott commented on #394
@ncoghlan hmm, I didn't run into any of these problems during testing. Am I missing something?

1. The installers for windows includes pip.
2. Building from source includes pip.
3. Linux has `python-pip` packages (although we could be more clear about using these).

I need to double check on MacOS as that might be trickier.

[2017-11-08 20:47] pfmoore commented on #394
@jonparrott the Windows installers include pip, but don't put pip (or even Python) on your PATH by default. The canonical incantation on Windows is `py -m pip`, but if you have more than one Python installed it gets more complex. I think we can discount that for beginners, though (as having multiple versions of Python installed qualifies you as "not a beginner").

Having said this, I'm actually no

[2017-11-08 21:42] jonparrott commented on #394
I'm totally in favor of changing this to be `python -m pip` for Linux/Mac and `py -m pip` for windows. Oversight on my part for not doing that in the first place.

+1, but I think it's also useful for us to cross-link to other resources that *are* useful for Python beginners.

Is that because of his personal experience or because of the tutorial? If the latter, why?

[2017-11-08 21:55] ncoghlan commented on #394
The problem I see is with getting `pipenv` itself to a reliably runnable state - we currently make the assumption that `pipenv` will just work, but the whole point of `pipenv` is that you run it *without* a virtual environment active, which means we're back into dealing with system PATH issues.

The original `pip` tutorial switched over to getting users into a virtual environment ASAP precisely du

[2017-11-08 22:10] jonparrott commented on #394
That seems like a super confusing situation. I'd prefer to stick to one particular tool for the majority of use cases if possible.

The PATH stuff to get pipenv to work from the user install site seem to work fine, at least in my testing. We could get more users to give feedback on that, but I don't think it's severe enough to start backtracking on suggesting pipenv for mosts use cases.

[2017-11-08 22:10] pfmoore commented on #394
At the moment this is just my opinion, and I'll get his actual comments and report back. But my thoughts are:

1. I don't think he'll understand the explanation of why we're recommending pipenv. He managed OK to get python and pip working without assistance, and even installed numpy (into the system site-packages, I believe, but that's fine...). It's not at all clear, in terms he'd understand, why

[2017-11-08 22:15] pfmoore commented on #394
Personally, I use `pipsi` to set up a standalone `pipenv` installation. That's ideal, but far from a "beginner" level setup.

Ideally, tools like `pipenv`, `pew`, `tox`, and `virtualenv` (Python environment managers) would be better made available as standalone applications (maybe bundling a copy of Python, maybe adapting to locate and work with a system Python install). But the state of producing

[2017-11-08 22:56] ncoghlan commented on #394
Right, I use `pipsi` as well, hence the instructions in https://pagure.io/modularity/fedmod to start out with `sudo dnf install pipsi`, then using that to bootstrap `pew` and `pipenv`.

*If* you're using an individual (i.e. not system wide) install of Python, then you can just do `python -m pip install pipsi`.

By contrast, if you're using a Linux or Mac OS X system install, then you need to do `p

[2017-11-08 23:34] pfmoore commented on #394
You could manage an incantation of Python using urllib to replace curl. But no matter how you do it, there's a bootstrapping problem.

Hmm, I wonder whether pipsi would be a candidate for providing as a "standalone installer" (installer exe on Windows, whatever the equivalent is on Mac OS and Linux)? So "Install pipsi" would be a generic instruction that leads a new user to something that looks li

[2017-11-08 23:54] ncoghlan commented on #394
Aye, I think real Windows & Mac OS X installers for `pipsi` could help a great deal in the long run. Then the "find a suitable base version of Python to use" logic can exist inside `pipsi`, just as it does inside `pipenv`.

In the near term though, I think changing to the pipenv installation instructions in the tutorial to be:

* `py -3 -m pip install --user pipenv` (Windows)
* `python3 -m pip ins

[2017-11-09 12:34] pfmoore commented on #394
First batch of feedback from my colleague.

He basically got stuck with the current document because the `pip` command won't work for him. The `python` command does, though. What he'd done is a default install of Python, then when he got to a point where he needed to run `python` from the command line, he hunted round, found the directory it had been installed in, and added that to `PATH` (but did

[2017-11-09 14:33] pfmoore commented on #394
OK, having read the documentation on pipenv, I asked my colleague what he got from it. His answer was that he got the impression that pipenv was a "better" version of pip that was somehow "safer", but he didn't really have any feel for why it was safer or even what "safer" meant.

When I explained that pipenv managed packages on a per-directory basis, his reaction was "I don't want that". He expec

[2017-11-10 01:09] ncoghlan commented on #394
Thanks @pfmoore. I think our lack of clear reader personas may be hurting us here, as there's at least two major ones, and `pipenv` is only the right answer for one of them.

* the first is a case like Paul's colleague: their use case for Python is "ad hoc personal scripting", rather than creating shareable software. For that, they just need clear guidance on setting up *exactly 1* environment on

[2017-11-10 08:41] pfmoore commented on #394
That sounds good. I just checked with Ian (my colleague) and he agreed - that would have suited him perfectly.

[2017-11-10 17:48] jonparrott commented on #394
Alright, sounds like we have a way forward here, I'm going to try to make more progress on this soon.

[2017-11-11 05:27] ncoghlan opened #396 "Review initial bootstrapping instructions in pip tutorial"
A couple of things I've realised we need to clearly establish for the packaging user guide are:

* Which commands can folks contributing to the packaging guide or working on the PyPI user experience assume will "just work" on an end user's machine?
* How much guidance should the *packaging* tutorials provide on ensuring a system is in that state, given the wide variety of potential starting states

[2017-11-11 05:35] ncoghlan commented on #394
I've split out a separate issue regarding the initial bootstrapping of a "Baseline Python package management environment": https://github.com/pypa/python-packaging-user-guide/issues/396

We may want to set the bar a little higher for the `pipenv` case, and require that folks get to a point where they can run these as a prerequisite and have them work properly:

    pipsi install pew
    pipsi inst

[2017-11-11 05:41] ncoghlan commented on #396
Something else this would let us do is document how various ways of obtaining Python fare in terms of meeting the baseline assumptions:

* platform provided \*nix Python 3.x installations
* python.org Mac OS X installers
* python.org Windows installers (both user installs and system installs)

We'd then encourage alternate distributors to document how their particular solution covers the baseline

[2017-11-11 06:24] luther9 opened #397 "`setuptools.setup` parameter `py_modules` is undocumented"
I wrote my own distribution package with only one module, but the module file was not being installed along with the dist info file. I found by looking up the code for the `six` module that `setup` has a `py_modules` parameter which apparently must be used to make the installation work. This ~module~ parameter is not mentioned anywhere in https://packaging.python.org/tutorials/distributing-package

[2017-11-11 06:56] ncoghlan commented on #397
This is part of the "MANIFEST.in complexity problem", where https://packaging.python.org/tutorials/distributing-packages/#manifest-in is the main docs for how to add files to a setuptools package, and then https://docs.python.org/3.4/distutils/sourcedist.html#specifying-the-files-to-distribute explains which files you'll get included by default if you don't provide one. (The latter is the destinat

[2017-11-12 00:27] #397 closed

[2017-11-12 00:30] ncoghlan commented on #397
Thanks for the PR @pradyunsg, and thanks for the initial report @luther9!

If we hear anything about folks becoming confused as to whether they need `py_modules` or not, then we may need to clarify what "single file modules" actually means (or equivalently, when the `packages=find_packages(...)`  option on its own isn't sufficient), but just having the section is already a good improvement.

[2017-11-12 02:19] pradyunsg commented on #397
Thanks for the merge @ncoghlan!

That sounds like a good way forward.

[2017-11-12 13:58] ncoghlan commented on #396
Something I'm wondering is whether or not we could reduce the assumptions to an actual concrete set of commands for a user to optionally work through as a troubleshooting script, such as:

    # Checking python & pip run *and* match
    $ python --version
    Python 3.6.2
    $ python -c "import sysconfig; print(sysconfig.get_path('purelib'))"
    /home/ncoghlan/.virtualenvs/cpython/lib/python3.6/

[2017-11-13 10:54] ncoghlan opened #399 "Mention python3-venv for Debian/Ubuntu setups"
Debian & Ubuntu are missing the `ensurepip` module by default for Python 3.5+: you need to install `python3-venv` in order to get it.

https://packaging.python.org/guides/installing-using-linux-tools/ should be updated to mention that.

[2017-11-16 12:41] ncoghlan commented on #359
Updated based on the snaek -> milksnake change.

[2017-11-26 01:29] ncoghlan opened #401 "Consolidate pypi.org migration notes"
We currently have two sets of pypi.org migration notes:

* https://packaging.python.org/guides/tool-recommendations/#publishing-platform-migration
* https://packaging.python.org/guides/migrating-to-pypi-org/

Aside from duplicating information, the first set also kind of overwhelms that tool recommendation lists that are intended to be the main purpose of that particular guide.

It would be prefer

[2017-11-29 11:19] ncoghlan commented on #394
PR: https://github.com/pypa/python-packaging-user-guide/pull/402

[2017-11-29 11:21] ncoghlan commented on #396
While they're not the main focus of the PR, I've made some improvements to this in https://github.com/pypa/python-packaging-user-guide/pull/402

[2017-11-29 11:22] ncoghlan commented on #393
In https://github.com/pypa/python-packaging-user-guide/pull/402 I've emphasised that these sections are mainly for Linux users. Windows users should be able to just not worry about them.

[2017-11-29 11:23] ncoghlan commented on #375
I've included a link to `hatch` as part of the new dependency management tutorial in https://github.com/pypa/python-packaging-user-guide/pull/402

[2017-11-29 11:25] ncoghlan commented on #367
I've included a link to both pip-tools and hatch at the end of the new pipenv dependency management tutorial in https://github.com/pypa/python-packaging-user-guide/pull/402

However, I still think a broader discussion article about the trade-offs between the various options would make sense.

[2017-11-30 03:59] ncoghlan opened #403 "Add a manually updated "NEWS" page"
Prompted by the discussion in https://github.com/python/psf-infra-meta/issues/1, I'm thinking it could be useful to have a manually updated page at "https://packaging.python.org/news" where we mention significant updates like the addition of the new "pipenv" tutorial, or updates to the pypi.org migration instructions.

[2017-12-02 12:58] #403 closed

[2017-12-04 04:42] ncoghlan commented on #151
With https://packaging.python.org/specifications/ now giving each of the core specifications its own page, I'm going to declare this implemented - with the presentation of the specs themselves separated from the PEP process that defines them, we're free to make non-functional readability changes through the normal PyPUG PR process.

This means that just like the language reference in the CPython d

[2017-12-04 04:42] #151 closed

[2017-12-04 06:28] ncoghlan opened #406 "Guide and/or tutorial for command execution tools"
Once you've bootstrapped yourself a generally available Python installation, it's useful to be able to run Python scripts without having to explicitly set up virtual environments for them, without having to globally install all of their dependencies, and without having to rely on platform specific package management tools.

* `pipsi` handles that for fully packages projects: https://pypi.python.or

[2017-12-04 09:52] souravsingh commented on #383
@jonparrott I can take a look at this.

[2017-12-04 12:53] paulromano commented on #383
I started making some changes but never got around to finishing and putting in a PR. @souravsingh Here are the changes I have in case you want to incorporate:
[code]

[2017-12-06 05:18] ncoghlan opened #407 "Account for Jupyter shell/kernel interactions"
The tutorials now mention `!python -m pip ...` as a way of running installation commands.

However, this isn't quite right due to the problems @jakevdp describes in https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/index.html

At the very least, we should update those examples to use the variant of the command that ensures the right environment is being updated.

[2017-12-08 13:32] takluyver opened #409 "Metadata spec does not mention environment markers"
See [PEP 345](https://www.python.org/dev/peps/pep-0345/#environment-markers), which defines environment markers applying to several fields - most importantly, `Requires-Dist`.

The [core metadata specification](https://packaging.python.org/specifications/core-metadata/#requires-python) page does not say anything about these at present.

[2017-12-08 13:43] takluyver opened #410 "Metadata spec: what's a valid name?"
The requires-dist section says:

But the Name field provides no guidance on what is valid.

It looks like the correct answer is [in PEP 508](https://www.python.org/dev/peps/pep-0508/#names): names have to match this (case-insensitive) regex: `^([A-Z0-9]|[A-Z0-9][A-Z0-9._-]*[A-Z0-9])$` . This should be in the metadata spec document, so people don't have to go hunting through PEPs for it.

[2017-12-08 13:45] takluyver commented on #410
I may get to these issues myself - I'm just working on some validation code to check that flit makes valid metadata, so I want to write down what the document lacks while I remember it.

[2017-12-08 13:59] takluyver opened #411 "Metadata spec: version spec without parentheses?"
The requires-dist section again:

[PEP 508](https://www.python.org/dev/peps/pep-0508/#versions) appears to drop the need for the parentheses:

Does this supersede what's in the spec?

[2017-12-08 16:11] di commented on #410
The Metadata 1.3 spec should resolve this once accepted. See https://www.python.org/dev/peps/pep-0566/

I have a branch which brings this guide up to date with that PEP -- I'll make a WIP PR for it now so as not to duplicate work.

[2017-12-08 16:14] takluyver commented on #410
Thanks @di :-)

[2017-12-08 16:19] di commented on #409
I think that's what the [Dependency Specifiers](https://packaging.python.org/specifications/dependency-specifiers/) page is supposed to be. Maybe this should be renamed to "Environment Markers"?

[2017-12-08 16:25] takluyver commented on #409
Environment markers are part of that, but not all of it.

I think the core metadata page at least needs to make it clear which fields have environment markers, and where the canonical description of them is.

[2017-12-08 16:30] takluyver opened #413 "Core-metadata: Requires-Python example"
The Requires-Python field is supposed to contain 'version specifiers'. But the first example is:

[code]

By my reading of both [PEP 440](https://www.python.org/dev/peps/pep-0440/#version-specifiers) and [PEP 508](https://www.python.org/dev/peps/pep-0508/#environment-markers), this is not a valid version specifier, because it doesn't begin with one of the comparison operators `~=  == != <= >=  ===

[2017-12-08 16:31] di commented on #411
@takluyver Would you mind raising this for discussion within [this distutils-sig thread](https://mail.python.org/pipermail/distutils-sig/2017-December/031788.html)? I think this clarification could easily be included in PEP 566.

[2017-12-08 16:35] takluyver commented on #411
Sure!

[2017-12-08 16:51] takluyver commented on #413
If my understanding is correct, then PR #414 fixes this.

[2017-12-08 17:37] #413 closed

[2017-12-09 06:52] ncoghlan commented on #409
+1 (and enabling that kind of clarification without requiring a PEP update was a key part of the motivation for moving the specs into PyPUG)

[2017-12-11 02:48] gtback commented on #377
I don't know if I count as a first timer since I already submitted one PR (#408), but I'd be happy to take this on.

Looking through the history of distutils, it looks like it's support for README.rst is [new in Python 3.7](https://github.com/python/cpython/commit/f9f87f0934ca570293ba7194bed3448a7f9bf39c), but setuptools has supported README.rst since [at least five years ago](https://github.com/p

[2017-12-11 17:47] jonparrott commented on #377
Go for it, @gtback!

[2017-12-12 17:31] #409 closed

[2017-12-13 19:29] jonparrott commented on #297
@ncoghlan after discussing with Sumana on IRC about the [security implications](http://python-security.readthedocs.io/pypi-vuln/index-2017-11-08-pypirc_exposure_on_github.html) of `.pypirc`, I strongly think that the tutorials should discourage the use of `.pypirc` altogether and we should work towards our tools having keyring support. Let me know if you have any thoughts/reservations.

[2017-12-13 19:39] lgh2 commented on #203
I think it would also make sense to discuss in the packaging tutorial sample project how to structure the `__init__.py` file, and what can go in it.

I recently tried making my own package from the official tutorial and ran into problems getting the `__init__.py` file to behave the way I wanted it to.

For instance, the sample project seems to set up its imports in the `__init__.py` in such a way

[2017-12-13 20:06] jonparrott commented on #203
That's good feedback, @lgh2. I think at minimum we should link off to the Python doc's description of packages and imports.

[2017-12-13 20:10] dstufft commented on #297
I think something like `twine configure` would be awesome.

[2017-12-13 21:57] lgh2 commented on #203
I agree that adding a link to the Python docs about how packages and imports work would be helpful, and it would make sense to link to it and not try to re-create it ourselves.

However, I briefly looked in the Python documentation for distutils and they don't seem to provide the kind of information I was looking for about __init__.py files.  I think something like what I was looking for were exam

[2017-12-13 22:02] jonparrott commented on #203
I meant more of this: https://docs.python.org/3/tutorial/modules.html

But definitely useful for us to provide guidance on using `__all__` and import aliases.

[2017-12-14 06:01] ncoghlan commented on #297
+1 from me for moving towards platform credential storage support. We have
that freedom now that we're not dependent on the standard library for
upload management.

[2017-12-14 06:15] ncoghlan commented on #203
I think having an explicit guide in PyPUG for this would make sense (we
have one for namespace packages, after all - we just took the design of
self-contained packages for granted, even though it's a surprisingly
complex topic, especially if you want to keep the internal package
structure from leaking into things like pickle files).

I don't believe it's tutorial level material though - at the tut

[2017-12-14 20:58] lgh2 commented on #203
Based on what you said in your second paragraph, @ncoghlan,  and how complex the topic seems to be, I agree that it would make sense to split out the discussion of the `__init__` files into a separate guide.

[2017-12-16 11:43] petri commented on #234
I am not an authority by any means on this, but as far as I know, a KGS can refer to different kinds of distributions, and it perfectly ok to do so. Thus the term is distribution kind agnostic, is it not?

[2017-12-16 12:27] pradyunsg commented on #234
Distribution Package is defined.

There is at least one place in the document (in Built Distribution definition) that links "distribution" to "Distribution Package" heading. Maybe, this use should as well.

Alternatively, mention that distribution packages may be simply called distributions?

[2017-12-18 08:15] guettli commented on #234
@pradyunsg you mean that the word "distribution" in the definition of "Known Good Set (KGS)" means "Distribution Package"?

Yes, maybe. Maybe not. I don't know.

[2017-12-18 08:23] pradyunsg commented on #234
Yes. That's what it looks like to me.

[2017-12-19 22:46] brainwane commented on #210
@njsmith suggested it might also be good to link to https://pypi.python.org/pypi/pyroma .

[2017-12-22 03:59] Mariatta opened #420 "Error while building the docs"
When I ran `make html` I saw this error:

loading intersphinx inventory from https://pypa.io/en/latest/objects.inv...
WARNING: intersphinx inventory 'https://pypa.io/en/latest/objects.inv' not fetchable due to <class 'requests.exceptions.SSLError'>: HTTPSConnectionPool(host='pypa.io', port=443): Max retries exceeded with url: /en/latest/objects.inv (Caused by SSLError(SSLError(1, '[SSL: CERTIFICAT

[2017-12-27 11:22] pradyunsg commented on #234
Actually, reading this again, it might make more sense to rephrase this to:

"A set of releases of different projects which are known to be compatible with each other."

[2018-01-02 17:08] jonparrott commented on #420
/cc @ncoghlan @dstufft

This is because pypa.io's certificate is borked. I posted about this in pypa-dev a while back but there wasn't a response. Not sure what to do. :/

[2018-01-02 17:09] #377 closed

[2018-01-03 20:12] mbacchi commented on #297
Here's a blog post I did on how to prevent .pypirc from being leaked for reference: http://mbacchi.github.io/2017/12/22/3-ways-prevent-secret-leaks-github.html

FYI @brainwane

[2018-01-03 20:51] mbacchi opened #422 "Add description of how to view your project to the Using TestPyPI guide and Uploading to PyPI tutorial"
On the page https://packaging.python.org/guides/using-testpypi/#using-test-pypi the legacy site is still referenced. This should be fixed to use the new warehouse url, which I assume is simply https://test.pypi.org/

[2018-01-03 21:02] jonparrott commented on #297
Thank you, @mbacchi! very helpful.

[2018-01-03 21:03] jonparrott commented on #422
Thanks for reporting @mbacchi! This is super easy bug to fix so I'll see if anyone wants to fix it real quick, otherwise I'll grab it later this week.

[2018-01-04 00:27] mbacchi commented on #422
Actually, the legacy URL may still be required. I tried using the url without legacy and got the following errors:

[code]

Is the legacy URL required for uploading via twine, but not used in the warehouse URL(i.e.  https://test.pypi.org/ )?

Anyway clarification about the multiple urls is probably good.
Thanks!

[2018-01-04 15:28] di commented on #422
@mbacchi Unfortunately it's a bit confusing, `https://test.pypi.org/legacy` is the legacy _API_, not pypi-legacy (which would have been `https://testpypi.python.org/pypi`).

So the URL is correct, for now, although there has been a request to change it to something less confusing: https://github.com/pypa/warehouse/issues/2285.

[2018-01-04 15:50] mbacchi commented on #422
Thanks @di. I figured out that if I upload to legacy using twine, the project is visible at https://test.pypi.org/project/PROJECT but it took a little doing to figure out how to verify it was uploaded properly on the frontend. Maybe if there was a section in the Using TestPyPI guide describing how to view the project after upload, we could avoid some confusion.

Let me know what you think. I'd be

[2018-01-04 16:01] di commented on #422
@mbacchi I would agree with that. Seems like it would be worth putting something similar at [Uploading your Project to PyPI](https://packaging.python.org/tutorials/distributing-packages/#uploading-your-project-to-pypi) as well.

[2018-01-04 17:49] kimberlythegeek opened #423 "SSL Error when trying to install from test.pypi.org"
Followed the instructions on [Uploading your Project to PyPi](https://packaging.python.org/tutorials/distributing-packages/#uploading-your-project-to-pypi), and [Using TestPyPi](https://packaging.python.org/guides/using-testpypi/#using-test-pypi).

I successfully uploaded my package to https://test.pypi.org/legacy/, and can view the latest release on both testpypi.python.org and test.pypi.org, but

[2018-01-04 17:52] jonparrott commented on #423
@dstufft any ideas here?

[2018-01-04 18:01] di commented on #423
Hey @kimberlythegeek, could you tell us what version of OpenSSL you have? E.g.:

[code]

If you're using macOS and haven't upgraded OpenSSL already, you'll likely need to.

[2018-01-04 18:21] kimberlythegeek commented on #423
`OpenSSL 0.9.8zh 14 Jan 2016`

I just updated to 1.0.2 using `brew install openssl`, but the output has not changed.

I added `export PATH="/usr/local/opt/openssl/bin:$PATH"` to my .zshrc file.

`openssl version` returns `OpenSSL 1.0.2n  7 Dec 2017`
`$ python -c "import ssl; print(ssl.OPENSSL_VERSION)"` returns `OpenSSL 0.9.8zh 14 Jan 2016`

[2018-01-04 20:18] kimberlythegeek commented on #423
Evidently this is a problem with Mac and the Python 2.7 version distributed from python.org.

All of the solutions I found suggested to to install python via homebrew.

So, after much pain and suffering, I uninstalled python 2.7, removed symlinks, reinstalled from homebrew (which for some reason did not install pip), installed pip with get-pip.py, fixed references in my virtual environments, and f

[2018-01-04 20:18] #423 closed

[2018-01-25 17:47] brainwane commented on #95
I ran into this problem today and realized that it would be great if https://packaging.python.org/specifications/core-metadata/#license-optional or https://packaging.python.org/tutorials/distributing-packages/#license pointed to the list of trove classifiers at https://pypi.python.org/pypi?%3Aaction=list_classifiers (which is where I figured out that I needed to specify the GPL as `License :: OSI

[2018-01-25 18:00] brainwane commented on #95
Given pypa/warehouse#1300, linking to https://pypi.org/pypi?%3Aaction=list_classifiers would be better.

[2018-01-26 11:49] pradyunsg commented on #391
I think that [python-list](https://mail.python.org/mailman/listinfo/python-list) or [python-tutor](https://mail.python.org/mailman/listinfo/tutor) or #python on Freenode (IRC) would be better channels to get support for the issue you're facing.

This tracker is not the correct place. :)

[2018-01-26 17:01] brainwane commented on #66
There are still a bunch of old links out on the web (e.g., in people's blog posts) that point at pages like https://python-packaging-user-guide.readthedocs.io/en/latest/current.html . @ericholscher could you help make a redirect happen?

[2018-01-26 17:04] jonparrott commented on #391
I'm going to close this for now, as this doesn't seem like a specific issue with the packaging docs.

[2018-01-26 17:04] #391 closed

[2018-01-26 17:04] brainwane commented on #210
I now see that https://packaging.python.org/tutorials/distributing-packages/?highlight=https#uploading-your-project-to-pypi does mention [readme_renderer](https://github.com/pypa/readme_renderer/).

I do think a bit more explanation, mapping bits of the README to bits of a PyPI project detail page, would be useful.

[2018-01-27 04:53] ncoghlan commented on #95
Nice, moving the specs into PyPUG made this a relatively simple PR, rather than "we don't have an easy way of handling that kind of spec clarification" (which was the whole point of moving them, but it's still nice seeing that theory work out in practice).

[2018-01-27 05:11] ncoghlan commented on #66
Hmm, I actually thought we had this configured in our RTD settings, but it doesn't seem like that's the case.

I've added python-packaging-user-guide.readthedocs.io back to the domain list, to see if that at least gets those links resolving again.

[2018-01-27 07:05] ncoghlan commented on #95
The core metadata page now links to this. Do we want to link directly to it from anywhere else?

(The link is to the Legacy PyPI URL, since Warehouse doesn't provide this yet)

[2018-02-01 22:20] brainwane commented on #422
@mbacchi #426 added the relevant info to the Using TestPyPI guide - could you add it to the [Uploading your Project to PyPI](https://packaging.python.org/tutorials/distributing-packages/#uploading-your-project-to-pypi) documentation as well? That would be great.

[2018-02-01 22:43] brainwane commented on #297
I'm on Debian 9.3 (stretch, e.g., stable) and today I successfully made a username/password/website credential available for `python-keyring` to retrieve (so `twine` can use it when uploading a package).

I followed, basically, [the instructions for Ubuntu 16.04](https://pypi.org/project/keyring/#using-keyring-on-ubuntu-16-04) plus @jaraco's explanation in https://github.com/pypa/twine/pull/208#is

[2018-02-01 22:59] di commented on #297
I want to reiterate [a comment I made here](https://github.com/pypa/twine/issues/277#issuecomment-340018389):

To be more explicit, the following lines (run anywhere, not just from within twine) would give @brainwane back the password in plaintext:

[code]

I don't really see the value in putting this in the guide unless it's at least marginally more secure that keeping a password in `~/.pypirc`,

[2018-02-01 23:27] takluyver commented on #297
It doesn't protect against untrusted code running in your user account, but storing the password in the keyring is an improvement in other ways:

- If your computer is stolen, the thief can't access the keyring data unless they know your login password - the keyring is encrypted even if you haven't set up an encrypted filesystem (AIUI).
- Your .pypirc file might be readable by other users who can

[2018-02-01 23:57] di commented on #297
All great points @takluyver. Consider me convinced, and thanks for laying out an explanation.

[2018-02-02 15:12] ncoghlan opened #427 "Add pipenv caveat about mixing Python versions"
Due to https://github.com/pypa/pipenv/issues/857, pipenv can currently get environment marker evaluation wrong when generating the lock file if the target venv uses a version of Python other than the one running pipenv.

This is most frequently a problem when setting up a Py2 venv from Py3 (due to the prevalence of Py2 only conditional dependencies), but issues can also arise when creating venvs f

[2018-02-05 18:59] jonparrott commented on #427
should we just wait for the upstream issue to be addressed or do we anticipate this guide needing this caveat long-term?

[2018-02-05 20:50] ncoghlan commented on #427
I think it's worth adding the caveat in the near term, as the `pipenv` folks have been trying different ways of fixing this over the past few releases, and it isn't clear yet when a more robust approach to mixing and matching Python versions will ship.

As things currently stand, we're seeing folks trying to use a recent Python 3 to manage Python 2.7 projects (rather than developing & deploying on

[2018-02-05 20:59] jonparrott commented on #427
Sounds good. I'll try to get this up this week, but if someone wants to send a PR to beat me to it I'll merge quickly. :)

[2018-02-07 10:55] ncoghlan opened #428 "Provide pointer to Google Big Query download statistics"
(I thought there was already an open issue for this, but I can't find it, so filing this one)

We don't really have the Google Big Query download stats documented anywhere. https://mail.python.org/pipermail/distutils-sig/2016-May/028986.html is the original announcement, and https://langui.sh/2016/12/09/data-driven-decisions/ is a good blog post about them, but neither is particularly discoverable

[2018-02-07 17:56] tswast commented on #428
In addition to pointing them at the dataset & blog post, it could be good to link to pypinfo, which bundles up some handy queries for package maintainers. https://github.com/ofek/pypinfo

[2018-02-07 17:58] jonparrott commented on #428
chatted with @tswast and he's going to take this on. :)

[2018-02-09 18:17] jonparrott commented on #420
I'm going to close this issue as there's nothing we can do here. Whoever has access to pypi.io's hosting/dns will have to fix this.

[2018-02-09 18:17] #420 closed

[2018-02-09 18:17] #422 closed

[2018-02-09 18:19] jonparrott commented on #411
@di do you mind if I assign this over to you since you're working on a PR to update Metadata stuff?

[2018-02-09 18:21] di commented on #411
@jonparrott Sure, I will fix this in #412.

[2018-02-09 18:23] jonparrott commented on #394
@ncoghlan can we consider this closed or is there still actionable steps here?

[2018-02-09 18:24] jonparrott commented on #396
There's a lot of good ideas here, but I'm unsure of what is actionable. @ncoghlan can you help me break this down into concrete things that need to happen? Do we need a new guide called `Setting up a baseline Python environment` or similar?

[2018-02-09 18:26] jonparrott commented on #399
@ncoghlan not sure what you mean here, none of the other linux sections suggest installing virtualenv, should I update all of them to install pip, setuptools, wheel, and virtualenv?

[2018-02-09 18:29] jonparrott commented on #411
Thanks!

[2018-02-09 19:17] Mariatta commented on #420
Thanks @jonparrott Yeah I figured this is out of the scope for this project.
So who has access to pypi.io? PSF infra?

[2018-02-09 19:21] jonparrott commented on #420
Maybe? Summoning @ewdurbin.

[2018-02-09 23:49] ewdurbin commented on #420
@Mariatta @jonparrott I don't have access for pypa.io, I think we need @dstufft

Note: @dstufft I'd be happy to participate as an infra admin for pypa infra :)

[2018-02-09 23:57] jonparrott commented on #420
I'm also more than happy to help carry the burden of pypa infra, especially around the docs-related stuff.

[2018-02-10 03:09] ncoghlan commented on #394
Aye, I think this is done now that we decided to make dependency management a separate tutorial from basic package installation.

[2018-02-10 03:09] #394 closed

[2018-02-10 04:01] #427 closed

[2018-02-11 11:27] ncoghlan commented on #396
Yeah, I think a new Guide would be a good way to handle this.

#399 is an example of needing this kind of information, since "apt-get install python3" will give you a Python where venv's are still missing pip by default.

[2018-02-11 11:29] ncoghlan commented on #399
The problem is that Debian & Ubuntu *remove* ensurepip from their Python 3 installation, so by default "python3 -m venv" doesn't install pip (thus breaking the entire point of PEP 453 and the backport to 2.7).

Other redistributors (including other Linux distros) don't do that - they make venv work properly by default, as the standard library reference indicates they should.

[2018-02-11 15:56] mattheww opened #432 "Out-of-date footnote about linux wheels"
Footnote 7 in guides/tool-recommendations.rst currently says:

I think that's out of date, and should either be removed or replaced with a reference to 'manylinux' documentation.

[2018-02-16 20:39] tswast commented on #428
I suppose this would be a [Guide](https://packaging.python.org/guides/). A title for the guide could be something like "Analyzing PyPI package downloads".

[2018-02-18 05:01] ncoghlan commented on #428
+1 to structuring this as guide and using that title.

[2018-02-19 02:05] #428 closed

[2018-02-19 14:06] ncoghlan opened #434 ""make html" in the root directory fails"
Attempting to build with `make html` in a suitable configured virtual environment currently fails:

[code]

However, `nox -s build` does (mostly) work, and the command line it uses looks the same as the one printed by the make file.

I'm not clear on what's actually happening, I only know that `pip install -r requirements.txt && make html` can't find the PyPA docs theme in an activated venv (regar

[2018-02-19 14:17] ncoghlan commented on #401
I'm going to handle this now, as we need to add info about user registration being turned off in legacy PyPI as a result of https://status.python.org/incidents/mgjw1g5yjy5j

[2018-02-19 14:35] ncoghlan commented on #401
#401 handles the consolidation, and also adds the note about user registration migrating.

[2018-02-19 15:32] pradyunsg commented on #434
I'll take a look.

[2018-02-19 16:02] pradyunsg commented on #434
Seems to work fine on mine. (Python 3.6.3/2.7.14, MacOS)

I ran `pip install -r requirements.txt` and `make html` worked just fine after.

[code]

@ncoghlan I'm not sure what's happening here. :/

[2018-02-19 16:53] jonparrott commented on #434
Hey @ncoghlan, I also can't reproduce this. Here's my pip log.

[code]

[2018-02-20 02:28] ncoghlan commented on #434
Thanks. Given the "it's just you" info, I dug a little deeper, and it looks like either the Fedora `python3-sphinx` package is somehow messing with PATH, or else I'd previously messed with it and subsequently forgot about doing so.

Either way, after I uninstalled the system package, `which sphinx-build` found the version in the venv as expected, and `make html` started working normally.

[2018-02-20 02:28] #434 closed

[2018-02-20 04:51] jonparrott commented on #434
This is why nox is wonderful. :)

On Mon, Feb 19, 2018, 6:28 PM Nick Coghlan <notifications@github.com> wrote:

[2018-02-21 10:43] stevepiercy opened #437 "Update pipenv as an official PyPA project"
[pipenv is listed as a non-PyPA project](https://packaging.python.org/key_projects/#non-pypa-projects). It should be moved under PyPA projects, now that [pipenv is official](https://github.com/pypa/pypa.io/issues/22#issuecomment-367230312).

There may be other places where its status as being "official" should be announced, and for what versions of Python, if relevant.

Side note, the docs for [pi

[2018-02-21 11:26] #437 closed

[2018-02-21 16:41] brainwane commented on #108
pypa/warehouse#582 is where some current progress on this is happening.

[2018-02-21 17:19] brainwane commented on #401
I missed the chance to review #436 before it was merged. Thanks for it, @ncoghlan.

As of earlier this week [we do have package and release management features in Warehouse](https://github.com/pypa/warehouse/milestone/8?closed=1) so I'll update the ["Managing published packages and releases"](https://github.com/pypa/python-packaging-user-guide/blob/master/source/guides/migrating-to-pypi-org.rst#ma

[2018-02-22 06:05] uranusjr opened #442 "List Pipenv as a tool recommendation"
Pipenv is currently used in the tutorial, but not mentioned in the guides, causing confusion such as pypa/pipenv#1453.

[2018-02-23 17:14] #442 closed

[2018-02-23 17:24] jonparrott commented on #399
While confirming this I noticed some unfortuante behavior: `python3 -m venv` *runs* without `python3-venv` but errors, I'm sure users love that:

[code]

[2018-02-23 17:24] #432 closed

[2018-02-23 17:29] #399 closed

[2018-02-23 23:40] brainwane commented on #210
The packaging and distribution tutorial currently says:

I think that right now we should just say it is a requirement, to simplify the experience for users, till the multiple steps laid out in https://github.com/pypa/warehouse/issues/869#issuecomment-340928703 are completed. This would also reduce conflict with [the sample project README](https://github.com/pypa/sampleproject/blob/master/README.r

[2018-02-24 00:27] di commented on #210
I think the docs are implying that plaintext is also an option, if users don't want to use reStructuredText.

[2018-02-24 04:13] ncoghlan commented on #210
Right, the two currently fully supported formats are plain text (`*.txt`) and reStructuredText (`*.rst`). It works out that way because PyPI attempts to render with https://pypi.python.org/pypi/readme_renderer and if that fails, it treats the description as plain text.

`*.md` doesn't render as ReST, so it ends up being handled as plain text.

[2018-02-24 04:17] ncoghlan commented on #210
Also worth noting: PEP 566 has been accepted, so I'd expect Markdown to be supported properly over the next couple of months (`pypi.python.org` will still render them as plain text, but `pypi.org` will render them properly)

[2018-02-26 16:12] merwok opened #447 "Notes / todo blocks use code-block markup instead of comments"
There are some weird blocks in the packaging binary extensions page, which is explained by the use of `::` instead of `..`.

[2018-02-26 16:59] jonparrott commented on #447
Thanks, @merwok. Should be an easy fix.

[2018-02-26 21:12] ncoghlan commented on #447
That was intentional, so it was visible to readers that the doc wasn't complete.

However, I'm now more inclined to just reduce the scope of the page and say that it is *not* intended to provide a comprehensive guide to writing binary packages by hand, but instead provide pointers to tools and documentation for building and publishing them.

The new "Additional Resources" section at the end of the

[2018-02-26 21:48] merwok commented on #447
Showing the todo lists intentionally is alright, but they should not be highlighted as code IMO :)

[2018-02-27 15:22] nnadeau commented on #210
@ncoghlan do you have a branch/PR/issue we can follow for Markdown support?

[2018-02-27 15:45] di commented on #210
@nnadeau You can follow https://github.com/pypa/warehouse/issues/869, which I will close once it's possible to publish a package with a Markdown description with some subset of packaging tools.

[2018-02-28 04:07] ncoghlan commented on #411
Since "Update the core metadata page to match PEP 566" is a known task, I don't think we're gaining anything by keeping this open.

[2018-02-28 04:07] #411 closed

[2018-02-28 04:08] ncoghlan commented on #410
Since "Update the core metadata page to match PEP 566" is a known task, I don't think we're gaining anything by keeping this open.

[2018-02-28 04:08] #410 closed

[2018-02-28 04:08] #401 closed

[2018-03-04 05:09] ncoghlan opened #450 "Guide request: gracefully dropping support for older Python versions"
Talking to @tonybaloney about https://twitter.com/anthonypjshaw/status/970088412177776640, I discovered that our support for gracefully dropping support for older Python versions is currently better than I realised, but it's also far from obvious how to actually do it and the potential errors to avoid.

The key moving parts are:

* the `Requires-Python` field in metadata 1.2+: https://packaging.py

[2018-03-04 05:17] ncoghlan commented on #450
It occurs to me that an even more conservative approach would be to start out by specifying `Requires-Python` for *currently* supported Python versions. If you add `Requires-Python: >= 2.7, != 3.0, != 3.1, != 3.2" for example, then it's relatively straightforward to get hold of a Python 2.6 installation and check that that gets pinned at the last version missing the `Requires-Python` metadata as e

[2018-03-04 11:15] ncoghlan commented on #450
@tonybaloney has investigated this further (by way of https://github.com/tonybaloney/friendly-deprecation-test), and found that while pip 9 won't install the incompatible version on older Pythons, the mere *availability* of that version still prevents installation of maintenance updates for the older version - you need to explicitly amend the installation command to request a compatible version.

[2018-03-04 22:43] tonybaloney commented on #450
Use case here is that package maintainers will continually drop support for out-of-support versions of Python, e.g. 2.6, 2.7 (soon), 3.2, 3.3 etc.
Every 12-18 months this will need to be updated.

Looking at the download stats of users on packages I maintain, most downloads are coming from 2.7. I'd like to drop support for 2.7-3.4 and start implementing async/await features.

But, the users of old

[2018-03-05 06:35] ncoghlan commented on #450
I think the current metadata can already express that OK - v2.0+ would have `Requires-Python: >= 3.5`, while v1.3.x would either continue without the setting, or would have it set to `Requires-Python: >= 2.7`.

The problem is that `pip` isn't gracefully handling that case: it's erroring out because the incompatible version exists, rather than just installing the latest compatible version.

[2018-03-05 06:38] ncoghlan commented on #450
Take Django as an example: https://pypi.python.org/simple/django/ and https://pypi.org/simple/django/ both set `data-requires-python` on Django 2.0+. If `pip` were to simply *filter out* the versions with unmet `Requires-Python` constraints, then `pip install django` on Python 2.7 would automatically pick up the latest 1.x release as desired.

[2018-03-05 07:05] ncoghlan commented on #450
cc'ing @pradyunsg and @dstufft here before I turn this into an RFE for `pip`'s handling of `data-requires-python`.

[2018-03-05 07:20] pradyunsg commented on #450
I'm not sure if I'm misunderstanding but I think this happens already.

<img width="715" alt="screen shot 2018-03-05 at 12 49 22 pm" src="https://user-images.githubusercontent.com/3275593/36961984-abd8ad50-2073-11e8-90bf-3d40852cf102.png">

<img width="717" alt="screen shot 2018-03-05 at 12 49 13 pm" src="https://user-images.githubusercontent.com/3275593/36961985-aed4181e-2073-11e8-957d-524529a8d4

[2018-03-05 15:54] ncoghlan commented on #450
@pradyunsg Thanks for checking that - it seemed odd that it wasn't working that way, so I'm happy to hear the problem is somewhere else rather than in pip's handling of `data-requires-python`.

Your results made me realise I hadn't checked the link metadata at https://pypi.org/simple/friendly-deprecation-test/, and that shows that PyPI hasn't picked up the `Requires-Python` metadata correctly, whi

[2018-03-05 16:31] pradyunsg commented on #450
Yeah. There's some discussion over at pypa/warehouse#474 IIRC.

Basically, certain metadata is only loaded by warehouse when a wheel is uploaded first, and it's loaded from only that wheel. This might be one of those cases.

[2018-03-05 16:39] ncoghlan commented on #450
The specific problem hit here was to only upload the sdist (which is an entirely reasonable thing to do, it just has the consequence that PyPI doesn't know how to pull metadata from it without running arbitrary user uploaded code). I filed https://github.com/pypa/warehouse/issues/3138 to suggest making it possible for project admins to set the `Requires-Python` metadata directly in the PyPI databa

[2018-03-05 17:13] dstufft commented on #450
I don't think it has anything to do with an sdist, you just need a new enough setuptools and twine when you do the upload.

[2018-03-06 02:24] tonybaloney commented on #450
I was using setuptools 38.5.1 and twine 1.8.1

[2018-03-06 02:35] tonybaloney commented on #450
@ncoghlan it works when using setuptools 👍
[code]

[2018-03-06 02:36] dstufft commented on #450
Oh yea, distutils doesn't support it at all.

[2018-03-06 03:28] tonybaloney commented on #450
I did post an article about this, happy to write another explaining the process. But considering I've fumbled my way into making it working I might not be the best person to do so :-)

[2018-03-07 01:33] ncoghlan commented on #450
@tonybaloney Thanks for working through it with us! If nobody beats me to it, I'll turn your experience with this into a packaging.python.org guide this weekend :)

[2018-03-07 01:34] ncoghlan commented on #450
Link to @tonybaloney's article: https://hackernoon.com/phasing-out-python-runtimes-gracefully-956f112f33c4

[2018-03-07 01:41] ncoghlan opened #452 "Revise `pipenv` version mixing caveat"
`pipenv` 11 uses the Python in the virtual environment to generate the lock file now, so version differences between the host Python and venv Python are no longer a problem. The caveat should be reworded to:

1. Make sure folks are using `pipenv` 11+
2. Note that `pipenv` folks on a single target version, and running `pipenv install` on a different version may implicitly install extra unpinned dep

[2018-03-07 09:31] hugovk commented on #450
@tonybaloney Thanks for the useful article!

By the way, there's a autocorrect typo in `pip install — upgrade setuptools` and likewise with  the smart quotes in `tar xvfz dist/my-package-1.0.0.tar.gz -O | grep “Requires-Python”`.

[2018-03-07 12:26] sffjunkie opened #453 "tutorials/installing-packages is problematic in the way it deals with multiples operating systems."
The installing packages page has the following note

*"Due to the way most Linux distributions are handling the Python 3 migration, Linux users using the system Python without creating a virtual environment first should replace the python command in this tutorial with python3"*

However most of the commands are already changed to `python3` in the rest of the text. Therefore on Windows when followi

[2018-03-07 12:37] ncoghlan commented on #453
The instructions that start with `python3` relating to creating virtual environments, which typically isn't needed on non-Linux systems.

It's definitely a problem with trying to handle Linux and Mac OS X in the same guide as we use to handle Windows, though - the baseline starting states for the 3 operating systems are *very* different, so we end up with cases like this where it isn't obvious tha

[2018-03-08 15:30] abhi67srm opened #454 "Python setup from scratch"
As a beginner i faced some problem when I was installing python on my system, like I whether I should install anaconda first then install python or directly I should install  python so these type of problem beginner usually faced when they drive into python from some other programming language, so I want you to explain this issue.
Thank you

[2018-03-08 18:07] jonparrott commented on #454
Duplicate of #396.

[2018-03-08 18:07] #454 closed

[2018-03-08 22:47] brainwane commented on #297
We'll be publicizing pypi.org widely probably within the next two weeks, and I would very much welcome help on this, so the packaging guide (which we link to consistently within https://pypi.org/help/ and elsewhere on the site) mentions `keying` as a preferred credential store.

I've [just put out a new release of twine](https://pypi.org/project/twine/1.10.0/) and would be happy to put out a point

[2018-03-12 12:59] ncoghlan commented on #450
I wrote:

Well, that didn't happen, and I'm no longer sure when I'll make time to do this myself (we're starting to get more feedback on the interpreter start-up changes in the 3.7 beta, so I have a few problems like https://bugs.python.org/issue33042 to find and fix).

If anyone does want to take a go at writing this themselves:

* comment here to say you're starting a draft (to reduce the change

[2018-03-13 01:57] tonybaloney commented on #450
I'll do it today.

[2018-03-13 02:31] brainwane commented on #145
@zzzeek Thank you for your bug report. I've referred to this several times as I've improved or learned more about packaging documentation. I have an open issue for Twine pypa/twine#11 to make Twine's usage and `README` information clearly say that users should use Test PyPI first. And https://packaging.python.org/tutorials/distributing-packages/#uploading-your-project-to-pypi mentions that the rea

[2018-03-15 01:24] brainwane commented on #297
I'm working towards getting Twine 1.10.1 out in the next few days and would strongly welcome doc improvements related to `keyring` to get into that release!

[2018-03-18 01:18] brainwane commented on #210
@di posted it in pypa/warehouse#869 but it's worth pointing to here as well: [with releases or pre-releases available of all the tools in the packaging and distro toolchain, you can now build and upload an sdist to Warehouse with a Markdown `README`](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi)!

Followups:
* pypa/wheel#231
* pypa/warehouse#869

[2018-03-20 20:21] #383 closed

[2018-03-20 20:25] brainwane commented on #297
[Twine 1.11.0 is now out](https://pypi.org/project/twine/1.11.0/) and includes guidance in the `README` for using `keyring`.

@jonparrott and I have, in our experience, run into hiccups in getting `keyring` support to work well on Linux. We'll file bugs appropriately. Once the user experience is smoother, then the packaging/distro guide should replace `.pypirc` recommendations with `keyring` recom

[2018-03-20 20:26] brainwane commented on #259
Can we close this now that [PEP 566 (Metadata 2.1)](https://www.python.org/dev/peps/pep-0566/) is accepted?

[2018-03-20 20:34] brainwane commented on #114
Hi @madprime and thanks for this report.

I believe this need is still unsatisfied in the current packaging and distribution tutorial and in the guides/discussions.

[2018-03-20 20:38] di commented on #259
Hmm, actually it looks like I missed this in PEP 566.

[2018-03-20 20:38] brainwane commented on #210
@ddbeck If you are interested in writing "make a PyPI-friendly `README`" as a Guide, I for one would welcome it.

[2018-03-20 20:44] brainwane commented on #298
Now that we have https://packaging.python.org/guides/using-testpypi/ can we close this issue?

[2018-03-20 20:46] jonparrott commented on #298
Probably, and I can expand on this more when I get a chance to re-write the
distributing guide.

On Tue, Mar 20, 2018 at 1:44 PM Sumana Harihareswara <
notifications@github.com> wrote:

[2018-03-21 10:43] ncoghlan commented on #259
@di All the tools implement this in accordance with PEP 508 (at least as far as I am aware), so I think we can just treat this as an errata on the field description.

[2018-03-21 23:06] tonybaloney commented on #450
Raised PR.

[2018-03-22 13:06] ddbeck commented on #210
@brainwane good timing on reminding me of this! I actually have some time for this either tomorrow or Monday. Feel free to nudge me about it if there's no progress by Tuesday. :-)

[2018-03-29 14:15] pradyunsg commented on #396
Is anyone working on this?

This would be _really_ useful and I'm happy to help in any way to push this forward. Happy to write as well, if someone would be willing to provide some guidance. :)

[2018-03-29 14:38] ncoghlan commented on #396
I'm not aware of anyone currently working on it, and even a relatively rough first version becomes something we can iterate on based on feedback.

[2018-03-29 19:50] jonparrott commented on #396
Go for it. I'm always happy to review. You're welcome to just put up a skeleton/outline and I can review that to ensure structure is good before you start fleshing out sections.

[2018-03-30 15:49] pradyunsg commented on #396
Awesome. Will definitely post a structure in a bit.

I'm gonna do a lot of presentations + writing + planning work this weekend. This should fit right in. :)

[2018-03-31 19:20] ddbeck commented on #210
OK, I've opened a PR to add a guide. I ultimately did not cover testing README rendering because the `setup.py` check doesn't seem to check Markdown yet. But maybe it's something we can cover later.

[2018-04-01 08:02] untitaker commented on #406
I'd like something like that to be included in pipenv similar to how cargo does it.

[2018-04-01 08:20] ncoghlan commented on #406
At least for now, this is considered out of scope for `pipenv`, since it manages ephemeral environments, while user commands need persistent ones: https://github.com/pypa/pipenv/issues/609

[2018-04-01 09:42] uranusjr commented on #406
For Pipenv there is at least a workaround. Some packages are impossible to install with pipsi because of this constraint, e.g. `pipsi install jupyter`.

[2018-04-03 01:52] pradyunsg commented on #396
Just noting here that I didn't get the time to work on this.

[2018-04-03 12:46] ncoghlan commented on #450
#459 has been merged. Thanks again @tonybaloney, for both the original article and the guide! :)

[2018-04-03 12:46] #450 closed

[2018-04-03 13:44] brainwane opened #463 "Add pip.conf heads-up to PyPI.org migration guide"
Followup to https://github.com/pypa/packaging-problems/issues/135 :

A user had a `.pip` directory containing a `pip.conf` file that pointed to the old PyPI URL:

[code]

I think https://packaging.python.org/guides/migrating-to-pypi-org/#downloading-packages should include a heads-up about that. Once you figure out the language to add, and add it, we'll revise the https://pyfound.blogspot.com/2018

[2018-04-16 18:19] brainwane opened #473 "SEO: improve how search engines see PyPUG"
We'd like for packaging.python.org to show up higher in search results for various queries (although it is currently the top result for `python packaging` on at least one search engine).

@jonparrott said:

[2018-04-16 18:20] brainwane opened #474 "Update news with updates Dec 2017-present"
https://packaging.python.org/news/ currently stops in November 2017; let's update it.

[2018-04-16 20:23] brainwane opened #476 "Update pypi.python.org links to pypi.org links"
I think this would be a pretty easy task for a new first-timer.

1. Follow `README.rst` to clone and build the guide locally.

2. In the root of the repository, run:

`git grep "https://pypi.python.org"`

3. Go through those files and replace most of the old pypi.python.org URLs with new pypi.org URLs. Guides: https://packaging.python.org/guides/migrating-to-pypi-org/ and https://warehouse.readthe

[2018-04-17 10:09] ncoghlan commented on #473
@jonparrott If there's any advice you can offer here that would be applicable for python.org SEO in general, that would be helpful :)

(mail.python.org sometimes seems like it takes weeks or months for new threads to get indexed, and it would be nice if there was a way to register canonical URLs for the older versions of the 3.x Python docs without having to go through and actually edit the HTML s

[2018-04-17 16:05] jonparrott commented on #473
@ncoghlan baby steps, but I'll keep that in mind. :)

[2018-04-24 05:39] pgadige commented on #476
I'm working on this

[2018-04-24 12:05] ncoghlan commented on #114
https://github.com/pypa/python-packaging-user-guide/pull/478 implements @jonparrott's suggestion, and also makes it clearer that auto-registration happens automatically, regardless of whether you're using twine to handle the upload.

[2018-04-25 18:06] #476 closed, assigned to nobody

[2018-04-25 18:53] pzwang commented on #310
Just stopping by to add an emphatic +1 on this.  In discussions on Python packaging, we can sometimes get lost on the "how" and the "what", and lose sight of the "why".  Mahmoud's presentation nicely distills down the user job stories about *why* people want to package something, and therefore what is even within the scope of definition of "binary artifact".

(IMO I think 90% of the misunderstandi

[2018-04-27 00:25] mgarod opened #479 "Confusing URL in tutorial: https://test.pypi.org/legacy/"
I had a discussion with @brainwane about the confusing nature of the URL in this `twine` command
`$ twine upload --repository-url https://test.pypi.org/legacy/ dist/*` (https://packaging.python.org/guides/using-testpypi/#using-test-pypi)

To a beginner like myself, this appears like I'm uploading to the legacy pyPI infrastructure, but Sumana explained that is not the case.

Recommend removing "leg

[2018-04-27 15:38] nixjdm opened #480 "Document project_urls in Core metadata specifications"
https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use is missing a section for project_urls. This should be added.

[2018-04-27 17:27] nixjdm commented on #480
@di Sorry for the confusion. I linked to where I did because that's close to where a `project_urls` section would live, so that with a small amount of scrolling you could see that the section doesn't exist.

There is a `project_urls` section in the tutorial, but not in the metadata specifications page. There should be a section in the specs as well, particularly for this, because it's spec is not

[2018-04-27 18:11] nixjdm commented on #480
@di Yes, maybe I was / am confused. I was looking at https://github.com/pypa/warehouse/blob/b38745817f1f9a3d929de043f7e99bcd4963154c/warehouse/forklift/legacy.py#L543-L558, and thinking since requires_external is in the specs, project_urls should be too. I didn't notice the case sensitivity though, which should have been a clue.

It seems the name of the core metadata that is documented, is more r

[2018-04-27 18:24] di commented on #480
@nixjdm Yes, the upload API more or less mimics the setuptools kwargs. Since `Project-URL` is multiple use, it becomes `project_urls` instead of `project_url`. The `description` bit is just so that we can generate a link to the spec when necessary.

That's a great point about commas though. I agree that it should probably be documented somewhere (possibly in multiple places).

[2018-04-27 18:54] nixjdm commented on #480
Alright, thanks for setting me straight @di. I'll close this. I'll open ticket for updating that the setuptools docs for that repo, and anywhere else with your recommendation, or you can ;)

Thanks!

[2018-04-27 18:54] #480 closed

[2018-04-28 22:00] di opened #481 "Add note about requirements for Markdown descriptions"
A lot of users are getting bit when first trying to publish when their first Markdown description because various tools they're using are out of date:

* https://github.com/pypa/warehouse/issues/3849
* https://github.com/pypa/warehouse/issues/3664
* and elswhere

When we're talking about `long_description_content_type` or `Description-Content-Type` in this guide, we should probably add a note or c

[2018-04-30 20:31] ara4n commented on #423
pretty sure that updating `pip` via `curl` won't work here if the underlying openssl library is too old. I just had to also fix this by installing python2 via brew.

[2018-05-02 14:15] brainwane commented on #210
Per https://github.com/pypa/warehouse/issues/3438#issuecomment-376654131 I would love for https://packaging.python.org/guides/making-a-pypi-friendly-readme/ to mention the minimum versions of these tools folks will need:

* `pkginfo>=1.4.2`
* `twine>=1.11.0`
* `setuptools>=38.6.0`
* `wheel>=0.31.0`

[2018-05-02 14:52] brainwane commented on #66
Nope, link still does not resolve. @jonparrott can you take a look?

[2018-05-02 14:56] brainwane commented on #95
[The core metadata page](https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use) now links to https://pypi.org/classifiers/ which is actually pleasant to look at!

@jonparrott any thoughts? Maybe scope creep for https://github.com/pypa/python-packaging-user-guide/issues/210 but maybe not?

[2018-05-02 15:10] brainwane commented on #95
Related: https://github.com/pypa/packaging-problems/issues/31

[2018-05-02 15:50] di commented on #210
I've already made a separate issue for that: https://github.com/pypa/python-packaging-user-guide/issues/481

Also should not that the `pkginfo` requirement is satisfied by upgrading `twine`, so we probably don't need to explicitly mention it.

[2018-05-03 14:07] ncoghlan commented on #396
From https://github.com/pypa/pipenv/issues/2122, another potential issue that can come up is situations where `PATH` and `sys.path` may end up checking different locations in different orders, such that a command found on `PATH` *doesn't* find the matching version of itself on `sys.path`.

[2018-05-03 15:54] jonparrott commented on #95
I do feel like it's out of scope for #210. Let me think on this some more.

[2018-05-04 17:16] jonparrott commented on #66
Yeah. Hrm, it's weird to serve the same content from different domains. @ericholscher is there any way to set a "canonical domain" in such a way that `python-packaging-user-guide.readthedocs.io` redirects transparently to `packaging.python.org`? (GitHub appears to do this with github pages and custom domains).

If not - would you be open to such a feature? I can contribute it if you point me in th

[2018-05-05 14:31] ncoghlan commented on #66
After fiddling with the settings again, I'm thinking this may actually be an RTD bug, as it correctly removes the `en/latest` segment from the path for `packaging.python.org`, but fails to do so for `python-packaging-user-guide.readthedocs.io`. As a result, the following three URLs all end up at the right place (redirecting to `guides/tool-recommendations` in the corresponding domain):

* https://

[2018-05-07 15:51] jonparrott commented on #66
Alright, how do we go about getting this resolved, then?

[2018-05-10 07:30] pradyunsg commented on #396
Coming to this now, I'm thinking of roughly something like:

- Introduction
  Talk about why we have this document
- Expectations from the environment
  Have a list here, of what things should be available and things that should match up etc
  - Verification
    Provide instructions on how to verify that your environment matches the requirements above
  - Troubleshooting
    If an environment isn'

[2018-05-10 07:36] pradyunsg commented on #474
@brainwane Would this be something for the Sprint?

[2018-05-10 07:39] pradyunsg commented on #396
And that last section also provides any platform specific instructions needed.

[2018-05-10 11:04] jonparrott commented on #474
This is something for me to do during the sprint. (And something for me to
add a build check for.)

On Thu, May 10, 2018, 3:37 AM Pradyun Gedam <notifications@github.com>
wrote:

[2018-05-13 19:55] illume opened #484 "How to do Documentation is missing."
- How to upload documentation is important for packages.
- Which documentation tool to use (Sphinx)

[2018-05-14 12:43] theacodes commented on #474
This is a great issue for a first-time contributor to take on. Building a check (or using something more complex) would be a task for me.

[2018-05-14 12:46] pradyunsg commented on #474
If you go along the route of combining smaller NEWS fragments, I suggest looking at towncrier. It's working well for pip.

[2018-05-14 12:59] theacodes commented on #322
I don't think this is needed any longer, so I'm going to close this.

[2018-05-14 12:59] #322 closed

[2018-05-14 13:02] theacodes commented on #49
I'm going to close this - the packaging guide more or less acts as one big FAQ at this point. I think if there are common questions that aren't being answered, we should address those with tutorials or guides.

[2018-05-14 13:02] #49 closed

[2018-05-14 13:03] theacodes commented on #53
@JonasGroeger if you're still interested in doing this, it would make a wonderful guide. Let me know if it's still something you want to take on!

[2018-05-14 13:46] theacodes commented on #53
No worries. I will close this for now.

[2018-05-14 13:46] #53 closed

[2018-05-14 16:10] Juanlu001 commented on #320
Before asking here "what is the expected structure for a discussion document about `src` layouts?" I went to see the rest of the [discussions](https://packaging.python.org/discussions/) for inspiration, and found that:

* The [Deploying Python applications](https://packaging.python.org/discussions/deploying-python-applications/) is WIP,
* [pip vs easy_install](https://packaging.python.org/discussi

[2018-05-14 18:37] theacodes commented on #47
@reuven oof, I removed those. `extensions.rst` has indeed been renamed to `packaging-binary-extensions.rst`. I definitely think we could expand more on the API/ABI thing, perhaps by writing a new specification.

[2018-05-14 20:28] brcrista opened #494 "Feedback from PyCon sprint on package creation tutorial"
(@brainwane asked me to write this, despite not being a well-formed issue)

During the PyCon sprint for Python packaging, I worked through the [tutorial](https://packaging.python.org/tutorials/distributing-packages/#configuring-your-project) and wrote down pain points or places I got stuck.

* The material is good, but it is written more as a reference than as a tutorial.  I had to read through a

[2018-05-14 23:49] ncoghlan commented on #47
https://docs.python.org/3/c-api/stable.html and https://docs.python.org/3/c-api/apiabiversion.html#apiabiversion are the relevant CPython C API docs, but I think the packaging user guide needs something a bit more fundamental:

1. Extension modules typically need to be rebuilt for each new Python version and each new Python interpreter
2. This is indicated by compatibility tags in the created whee

[2018-05-15 06:26] theacodes commented on #494
Just a heads up that I've started re-writing the tutorial on the plane ride home. This feedback directly fits with my assessment of the current tutorial.

[2018-05-16 19:00] cs01 opened #497 "Pipfile status question"
[This question](https://www.reddit.com/r/Python/comments/8jd6aq/why_is_pipenv_the_recommended_packaging_tool_by/dz0kxlh/) was posed on reddit, and I have the same question. What is the PyPA's take on this?

Also any insight into whether it's planned to be merged into the standardized [pyproject.toml](https://www.python.org/dev/peps/pep-0518/) would be appreciated.

Thank you!

[2018-05-16 19:13] dstufft commented on #497
Generally the idea behind ``Pipfile`` was that it wasn't a standard, because it wasn't a cross tool file in the same way that ``pyproject.toml``, wheels, etc was. It was intended to be specific to pip so it didn't make sense to send it through the standardization process.

Maybe that is wrong and we should send it through standardization. Merging it into ``pyproject.toml`` isn't currently planned

[2018-05-16 23:07] cs01 commented on #497
Thanks!

[2018-05-16 23:07] #497 closed

[2018-05-17 07:25] pradyunsg commented on #320
Dumping my notes here (in case someone gets to this before I do).

Documentation and Blog Posts:

* https://blog.ionelmc.ro/2014/05/25/python-packaging/#the-structure
* https://docs.pytest.org/en/latest/goodpractices.html#choosing-a-test-layout-import-rules
* http://python-packaging.readthedocs.io/en/latest/minimal.html#creating-the-scaffolding
* https://www.kennethreitz.org/essays/repository-stru

[2018-05-17 08:18] pfmoore commented on #320
Note that flit *does* intend to support a single project structure. So if this guide doesn't make a specific recommendation, we may need to add a note that your build tool of choice might not support your layout (once we get to the point where we're not recommending setuptools as the primary build tool). Conversely, if we do recommend one layout, that may be an incentive for build tools to support

[2018-05-17 09:03] pradyunsg commented on #320
Yep -- that's what I was thinking too but @theacodes suggested otherwise. I figured we can have a discussion on this (whether to recommend one layout or not) once we have a document listing out the merits/demerits of each.

[2018-05-17 15:09] takluyver commented on #320
I'm happy to hold the discussion until we've put together a summary of the pros and cons of each, but I do think that the packaging user guide should make a clear recommendation, for two reasons:

1. It's most helpful to new developers to find out 'this is how to package your project'. Asking people to evaluate two options and work out which one is best for their situation is extra cognitive load.

[2018-05-17 15:51] Juanlu001 commented on #320
I guess existing projects would not have to switch if their current setup works well enough for them. After all, this is intended to help new developers.

[2018-05-17 15:59] takluyver commented on #320
Right, but there's still a transition cost in telling new developers to do
something different from most existing projects, and from (further)
splitting the ecosystem of packages.

For flit, if I do move to the src layout by default, I would push projects
to switch over - with a suitable transition period and hopefully some
tooling to make it easier.

On Thu, 17 May 2018, 5:51 p.m. Juan Luis Cano

[2018-05-17 16:37] hynek commented on #320
I think this is a fair statement. There are no real pros and cons thing going on here – src is objectively better in many ways. Any argument I’ve heard against it so far was either some kind of misconception or about aesthetics (although mostly “looks like java” or “that’s how we’ve always done” which I both don’t find very valuable).

I’d argue that if you want to give beginners a layout as defau

[2018-05-17 16:48] ofek commented on #320
Why can't we recommend virtual environments or `pip install -e ...` for testing? That solves the whole situation and is something that should be/is done anyway.

Officially recommending `src/` will cause extreme churn for current devs and spur extra questions ("why is this necessary? it's ugly, other langs don't need this") for new devs when a simple disclaimer/note would suffice (definitely do th

[2018-05-17 16:49] dstufft commented on #320
No it doesn't solve it for testing, because ``.`` comes first in sys.path, and for projects that want to have a ``tests/`` directory that is importable but isn't installed, it's not even fixable in any other way.

[2018-05-17 16:53] ofek commented on #320
Sorry, but could you please elaborate on that scenario?

[2018-05-17 17:04] dstufft commented on #320
So a few things, first is that by default the first item on ``sys.path`` in many contexts is ``.``, so any time you're in a context like that, by default you're going to import from the current directory instead of the virtual environment.

In *some* cases, this is solvable by tracking down every place you start up Python and munging ``sys.path`` to remove that (which also means that you can't jus

[2018-05-17 17:15] hynek commented on #320
I have multiple people who screwed up their packaging and uploaded a broken package come to me and tell me that I was right™ and that they switched now. So saying it doesn’t help anyone is at least anecdotally wrong.

It seems to be one of the things that don’t seem worth it until it is. Which is kinda exactly what beginners should be protected from because they can’t make that call themselves and

[2018-05-17 17:19] dstufft commented on #320
It's not even really just beginners (although they need it for sure). I'm far from a beginner and I didn't believe in ``src/`` until the cryptography issue cropped up and I spent multiple days trying to make any other solution work. It's non obvious, even to experts but it solves real problems and should be the default.

[2018-05-17 17:48] hynek commented on #320
Oh 💯 same here. I switched after screwing up myself.

[2018-05-17 18:57] ctheune commented on #320
I like where this is headed! 🦄 I guess I just have to keep my mouth shut now. :)

[2018-05-18 12:12] pradyunsg commented on #320
The following are the points that have been made in the various blog posts I linked above:

For src:

- @hynek's blog
  - testing issues (@dstufft elaborated them above)
- @ionelmc's blog
  - import parity
  - "prevents you from readily importing your code in the setup.py script"
  - "makes manifests very simple to write"
  - "messy editable installs"
    - non-src editable installs mean files in

[2018-05-18 12:14] pradyunsg commented on #320
I'm not sure if this was the best way to spend my time but here's the first 60 projects from libraries.io's PyPI "Most Used" and the layout they're using today (on the default branch when you land on their repo). I think this is a strong heuristic for what the community does today.

<details>
<summary>Click to see a table that involved a lot of clicking to create.</summary>

project | uses 'src/'?

[2018-05-18 12:18] nicoddemus commented on #320
@pradyunsg thanks for the extensive summary and the table of the current state of things. 👍

FWIW in pytest we will eventually change to `src` layout as our own docs recommend, currently the package is on the repository root because of historical reasons only.

[2018-05-18 12:42] pradyunsg commented on #320
@nicoddemus I had missed out to mention that the pytest docs says that while talking about out-of-package tests (I'd marked it a note-to-self). Edited the above summary to mention that.

[2018-05-18 13:51] takluyver commented on #320
I too think I can see which way this is going. I don't have a strong preference, but for the sake of having a clear debate, I'll try to present the case for staying with non-src as the default recommendation.

* As @pradyunsg found (thanks!), most existing major projects do not use `src/`. I would imagine this to be even more true for the 'long tail' of projects (I'm not asking anyone to check). T

[2018-05-18 14:49] pfmoore commented on #320
@takluyver I agree with most of your points. The one really difficult issue for me is (essentially) the fact that the current directory is on `sys.path`, so that trying to use an installed copy of the application "accidentally" sees the local code. That's a Python issue, not a tool issue, so it's particularly tricky to address. Tools like `pytest` could possibly work around it, which would further

[2018-05-18 15:35] dstufft commented on #66
Seems so, thanks @ericholscher !

[2018-05-18 15:35] #66 closed

[2018-05-18 15:48] dstufft commented on #320
I don't buy the split of ecosystem issue, because having worked on projects with with ``src/`` and without... it really doesn't matter? There are so many other little differences between two projects whether there's one "extra" directory or not just sort of becomes noise (and tools like GitHub aren't even going to show you src/ as it's own directory if there's only one folder, it'll show you ``src

[2018-05-18 16:06] takluyver commented on #320
Paul:

My thinking on this is that a guide can include options if there's a clear way to say "use X if...". E.g. the packaging guide can say "X is for libraries, Y is for applications", because readers will mostly know which bit they're interested in. If you need to weigh up a list of advantages and disadvantages, the guide isn't really guiding you.

(Of course, extra options, pros and cons can be

[2018-05-18 16:11] pfmoore commented on #320
TBH, I suspect that in the long run, `flit init` will make *whichever* layout we choose "not that hard" for a significant number of people :-)

[2018-05-18 17:35] hynek commented on #320
JFTR the discussion has completely moved from “what is better” to “what has always be done”. And citing opinion pieces that don’t qualify their recommendation seems like mere noise to me. Also the ability to run code without installing it is a clear non-goal to me.

So far the only argument I’ve heard is that you have to press four more keys and that’s apparently not worth the upsides? Well.

Sinc

[2018-05-18 17:47] ofek commented on #320
@hynek We all know it's not `just 4 more keys` though :slightly_smiling_face: The recommended and easy discovery method `packages=find_packages()` would no longer work.

[2018-05-18 17:47] dstufft commented on #320
``packages=find_packages(where="src")``

[2018-05-18 17:53] ofek commented on #320
In my mind, a standard/recommended approach is at odds with requiring an option. Unless you want to make `src` the new default lookup too.

[2018-05-18 18:14] takluyver commented on #320
I don't think that's true. The discussion is about what the packaging guide should *recommend*, and we are aware that that recommendation may influence a large number of people.

As a separate but related matter, I intend to make flit enforce 'one way to do it', where that one way is (probably) the recommendation we agree on.

That feels like an unfair mischaracterisation. I listed several argumen

[2018-05-18 20:19] ddbeck commented on #210
OK, the README guide merged and the other issue is open so I'm going to close this. Thanks, everyone!

[2018-05-18 20:19] #210 closed

[2018-05-18 20:43] takluyver commented on #320
That makes sense, but the transition itself has a cost, so for me the question is whether it's superior *enough* to justify switching the recommendation, or whether we should keep the existing recommendation and improve tools to deal with it better. It sounds like it probably is worth switching, but I wanted to give the counterargument a fair airing as well.

And conversely, while I think the reco

[2018-05-18 22:44] theacodes commented on #320
If @takluyver doesn't feel comfortable, I'm happy to make the decision.

It would come down to three specific action items:

1. The new packaging tutorial (#498) would use the *preferred* layout.
2. We would write a new discussion topic on the pros and cons of the respective package options, linking to the abundant amount of resources.
3. Flit would adopt the PyPA preferred layout over whichever t

[2018-05-19 04:56] pradyunsg commented on #320
I can help update the tutorial and am happy to write the discussion document for this, if there's no one else to do either.

One thing I'd point out is that these would become recommendations for PEP 517 build backends - flit is among the first implementors and I expect there to be more.

So, if anything, this would be a good time to have a recommendation like this.

[2018-05-19 06:13] takluyver commented on #320
I'd rather let someone else make the call on this one; @theacodes I'm happy for that to be you, if that's OK with other people too.

I'm still a bit concerned that this discussion seems to be dominated by fans of the src layout. I've tried to present the case against, but I don't really have much of a preference, and my way of looking at it doesn't seem to resonate much with people. Should we give

[2018-05-19 12:54] hynek commented on #320
Why do you like that? The whole point of src is that it doesn’t happen so if there are valid use cases they should be put on record.

[2018-05-19 13:19] ncoghlan commented on #320
Note that the `ENVVAR=value command` approach doesn't work on Windows (at least, as far as I know). `pipenv install --dev -e src` should work reliably cross platform, though.

As far as the recommendation itself goes, I personally tend to work on complex projects where we end up with a lot of administrivia cluttering up the repo, so cleanly separating out a `src` directory for "this is what gets i

[2018-05-19 13:53] takluyver commented on #320
Well, if this is the copy I'm changing, this is often the copy I want to test. For a lot of packages I have a development install, so it's the same copy anyway, but when I don't, I'm usually more interested in testing the development copy than the same package that I have installed somewhere else.

I thought the argument was that you should be able to *choose* whether you're testing installed or i

[2018-05-19 19:53] hynek commented on #320
Hm that sounds like you don’t use virtualenvs which makes your point make more sense. How is the recommendation stance on that? If you use virtualenvs it seems like a non-point to me, because It’s unlikely to have something installed and editing at the same time. Is this maybe a science stack thing where some things IIRC just can’t be installed into virtualenvs properly (at least on macOS).

[2018-05-19 20:27] takluyver commented on #320
Yup, I usually install stuff with `--user`, and I only fire up an environment when I want to test a specific different version. It may be a habit I picked up from the days when packages like numpy and matplotlib couldn't easily be pip-installed. But now I like it because it means I'm regularly dogfooding bits of code as I work on other packages. For instance, whenever I publish a package using fli

[2018-05-20 01:04] ncoghlan commented on #320
For me, I think this is getting into a similar use case gradient to the one we encountered when considering whether or not the `pipenv` tutorial should *replace* the `pip` tutorial or supplement it (see https://github.com/pypa/python-packaging-user-guide/issues/394 for details on that).

The non-src approach fits nicely into a learning curve that starts with:

1. I am using Python scripts and help

[2018-05-20 01:08] dstufft commented on #320
I don't think the benefits of ``src/`` have anything to do with how complex your project is, and I think framing it in that way does a disservice to the idea, because realistically I think every project should be structured in a way to prevent implict importing from ``.``, for much the same reason Python removed the implicit relative imports.

I don't think there is any benefit to a new user for n

[2018-05-20 02:02] ncoghlan commented on #320
Thanks to implicit namespace packages, using a `src` directory *doesn't* prevent imports from `.` though - it just makes you spell those imports as `import src.local_package` rather than spelling them as `import local_package`.

The gist of my comment above is that if you don't have a test suite yet, and aren't using linters and/or typecheckers yet, and aren't using `tox` for cross-version testing

[2018-05-20 02:17] dstufft commented on #320
I suspect exactly zero people are typing ``import src.local_package`` accidentally, but a lot of people are typing ``import local_package`` and expecting to get the installed copy. This feels like a post hoc rationalization for the status quo.

Sure, but using a src directory is a very minimal amount of effort for little downside and possibly immense gain. The beginning of the project is also when

[2018-05-20 03:03] ncoghlan commented on #320
You just stated the biggest downside yourself: using a separate source directory breaks running `python -c "import my_package"` from the root directory of your project, which means the habits that developers have learned working on personal automation scripts and git-published applications *stop working*, and they now have to acquire a new set of habits that are more appropriate for publishing sof

[2018-05-20 03:33] dstufft commented on #320
I don't think it matters if the tool is ``pipenv install -e .``, ``pip install -e .``, ``setup.py develop``, ``flit install``, or something else.

I think the right place to start talking about it is when someone is learning to package their software, learning that with packaged software you're going to be installing it, and starting to import from that installed location by default, etc is part o

[2018-05-20 03:44] hynek commented on #320
I feel like I’ve said everything so I’m gonna peace out but on my way out I gotta agree with Donald one more time. What we’re talking about here is *packaging* libs in order to put them on PyPI – not learning to program a computer. Making `pip install -e .` and `pip install -c …` work is a *great* intermediate step.

[2018-05-20 04:33] ncoghlan commented on #320
Right, I think we're agreeing now, but if we're going to be recommending the `src` directory approach, the tutorial can't leave the answer as "use some tool to make the import work again" - it has to be very prescriptive as to *which* tool, and *how* to set it up to make imports work again once the module to be imported is no longer in the current directory.

Since the application dependency manag

[2018-05-20 04:35] dstufft commented on #320
Right. I’m saying I don’t care which tool, not that the doc shouldn’t tell them a tool to use.

Sent from my iPhone

[2018-05-20 04:37] FunkyLoveCow opened #500 "Warning in managing-dependencies/#installing-packages-for-your-project links to "open" Github issue that is closed"
The warning at the bottom of the [managing-dependencies/#installing-packages-for-your-project](https://packaging.python.org/tutorials/managing-dependencies/#installing-packages-for-your-project) section reads:

It links to https://github.com/pypa/pipenv/issues/857 which was closed in March 2018.

Should this warning be removed or tutorial updated to reflect the outcome of the above issue?

[2018-05-20 04:55] theacodes commented on #500
@dstufft WDYT?

[2018-05-20 04:56] theacodes commented on #500
or @ncoghlan.

[2018-05-20 05:18] ncoghlan commented on #500
There's an existing issue for fixing the caveat at https://github.com/pypa/python-packaging-user-guide/issues/452

It arguably isn't quite as simple as just deleting it, although doing that would likely be better than keeping it around (since it's irrelevant to anyone running the latest version of pipenv).

[2018-05-20 05:18] #500 closed

[2018-05-20 06:06] theacodes commented on #452
Yeah let's just take it out. We seem to recommend a eager update strategy for tools.

[2018-05-20 06:13] #203 closed

[2018-05-20 06:13] #298 closed

[2018-05-20 06:13] #494 closed

[2018-05-20 07:25] #452 closed

[2018-05-20 07:28] ncoghlan commented on #452
I've pretty much come around to the perspective of the browser developers when it comes to networked software: if a client is allowed to access the public internet, "evergreen" is pretty much the only safe update management strategy (and then you redesign everything else around that policy).

[2018-05-20 17:56] pradyunsg opened #503 "Packaging and distributing {projects -> libraries}"
https://packaging.python.org/guides/distributing-packages-using-setuptools/

The title of this page is "Packaging and distributing projects". Maybe we should change projects to libraries in this title since that's a better fit.

Context - I've had a beginner friend who was trying to convert a python script to something he could share (as a stand-alone executable) and he thought this guide would he

[2018-05-20 17:58] pradyunsg commented on #503
Same thing for https://packaging.python.org/tutorials/packaging-projects/

[2018-05-21 10:00] ncoghlan commented on #503
These both deliberately say "projects" in order to match `pyproject.toml`. We also want to avoid getting into a definitional debate about library vs framework, and you can also distribute applications this way when your intended audience is other Python developers.

[2018-05-21 10:00] #503 closed

[2018-05-21 10:02] ncoghlan commented on #396
Yep, I think that's what we have in mind.

[2018-05-21 15:08] sdispater opened #506 "Misleading description of poetry"
As the author of Poetry, I find this somewhat misleading.

Like I said on Twitter, there is a misconception around Poetry and what its purpose is. Poetry is a tool to manage Python projects, being an application or a library.

This is not true, the only metadata necessary in Poetry are the project name, its version and one or more author. That’s it. I made this choice because for me every project

[2018-05-21 15:48] theacodes commented on #506
Thanks, @sdispater - do you have any specific wording you'd like to suggest that we use when linking to poetry?

[2018-05-22 10:19] ncoghlan commented on #506
The config file for poetry is `pyproject.toml` - that's a Python-specific packaging metadata format, and the main reason to use it is if you're wanting to interoperate with other tools in the Python ecosystem that know how to read it.

The reason `pipenv` deliberately doesn't use `pyproject.toml` is because we explicitly want to separate the "PyPI consumer" case (where components are consumed from

[2018-05-22 21:04] sdispater commented on #506
That's why if you want to depend on a git dependency in development you would put it in the `dev-dependencies` section.

[code]

That way, you can have concrete dependencies and abstract dependencies all in one file.

[2018-05-23 10:43] ncoghlan commented on #506
Thanks for clarifying your concerns with the current reference wording @sdispater - I'll put together a PR that hopefully clarifies things, and we can iterate on some specific wording there.

@dstufft Agreed on the fact that we could have nested `Pipfile` inside `pyproject.toml` at a technical level (putting aside the question of when the respective formats were invented), and that the core semant

[2018-05-23 11:13] ncoghlan commented on #506
#508 is the PR with the rewording. The commit message is longer than the docs are, and it does focus on the file structure, as that seems to be what folks sometimes find most counter-intuitive about the `pipenv` model (i.e. the fact that if you have a `pipenv`-managed repository for a PEP 517/518 based repo, you'll end up with both `Pipfile` and `pyproject.toml` at the top level).

While concrete

[2018-05-23 19:29] ademidun opened #510 "Confusing Python Package Next Steps"
The [instructions for uploading to pypi.org](https://packaging.python.org/tutorials/packaging-projects/#next-steps) instead of uploading to test.pypi.org are worded in a slightly confusing manner.
Currently:

Should be

[2018-05-23 22:21] #506 closed

[2018-05-23 23:15] dwighthubbard opened #511 "The bandersnatch links in the project summaries are incorrect"
During the Pycon 2018 sprints we moved the bandersnatch codebase to the pypa org on github https://github.com/pypa/bandersnatch

In addition, existing open issues where migrated to github issues in the new repository.

The links in the packaging guide still point to the old bitbucket repo and issue trackers which are no longer used.

[2018-05-24 20:39] #511 closed

[2018-05-25 14:01] ncoghlan commented on #510
Rather than describing how to change the commands, I'm wondering if we might be better off putting the post-modification commands directly in this section. @theacodes, your thoughts?

[2018-05-25 20:00] theacodes commented on #510
Yeah definitely.

On Fri, May 25, 2018 at 7:01 AM Nick Coghlan <notifications@github.com>
wrote:

[2018-05-29 08:01] pgadige commented on #407
I'm working on this issue.
As I understand, we should provide the variant of the commands of the form `!python -m pip ...` that will work inside a Jupyter notebook right?

[2018-05-29 10:14] pgadige commented on #407
May I know how you'd like this change to be incorporated in the tutorial?

I suppose there's only one tutorial, i.e. [Installing Packages](https://packaging.python.org/tutorials/installing-packages/) that mentions Jupyter notebook's enhanced shell. Perhaps, I've missed others. I'll appreciate your help in identifying those.

I have an idea. I think instead of updating each `!python -m pip ...` ins

[2018-05-29 10:58] #510 closed

[2018-05-29 11:06] ncoghlan commented on #407
Sorry, my original description was rather vague, and I had to go re-read the tutorial myself to work out what I meant :)

The problem is specifically with the first note in https://packaging.python.org/tutorials/installing-packages/#ensure-you-can-run-python-from-the-command-line, where we mention `!python --version` at the end as an example of running Python from the Jupyter shell.

That isn't ri

[2018-05-30 22:29] TiemenSch commented on #320
So, I was looking into project setups because I'm going to start on a big one, but in the `tests pickup the wrong code` case against `non-src`. Wouldn't it be just as easy to run the tests from another working directory? E.g. switch directly into `/tests` and run them from there? That solves your 'seeing the package' pretty quickly too I guess.

Or, since many projects will use the `non-src` setup

[2018-05-30 22:38] ncoghlan commented on #396
Via @mariatta, there's a new Real Python article covering getting set up across different platforms: https://realpython.com/installing-python/

[2018-05-31 06:11] pradyunsg commented on #320
Could you elaborate on why you say that; maybe with an example?

[2018-05-31 06:44] #407 closed

[2018-05-31 07:08] TiemenSch commented on #320
It still depends on what's in your MANIFEST.in or setup.py right? Of course if you just globstar whatever is in src, then it will be included. Otherwise, it's still just the .py stuff.

Moving it to src seems to revolve around detecting it when it shouldn't always be detected for some tool or command.

Especially since it seems that the landscape isn't at all `src` like, I would say any tool that

[2018-05-31 09:44] pgadige commented on #481
I'm working on this.
I think I'll add a note saying that

before the box with the example code.
Could you please review the content that should go into the note box?
Thank you!

[2018-05-31 11:10] hynek commented on #320
Yes but then you have to make sure that it happens every single time. It’s another moving part you have to keep in mind. The point of src is to be safe by default, not safe by bending backwards.

[2018-05-31 11:36] anthrotype commented on #320
Not sure if anybody mentioned this already. I only recently discovered that tox also offers a `changedir` option to change the working directory when executing the test commands.
I still prefer to use the `src/` layout if I can.

[2018-05-31 12:16] TiemenSch commented on #320
There's two ways to look at it.

* Moving to /src makes all basic stuff one step harder (including quick and simple execution, or even navigating your project), but all your build/test stuff can happily live at project root as long as *they* don't mind eachother at root.

* Not moving to /src requires your build/test to be moved to different dirs to work in. ``cd tests && python -m pytest [...]``

[2018-05-31 13:19] MrFu1998 opened #518 "solved"
* Pip version:  10.01
* Python version: 3.6.4
* Operating system: CentOS7

I used the pipenv specified version to install django, reported the following error

[code]
i refer to this page [ Advanced Usage of Pipenv — pipenv 2018.05.18 documentation](https://docs.pipenv.org/advanced/) ， Also changed the Pipfile configuration

[code]
But.... Still getting an error

help me

[2018-05-31 13:50] ionelmc commented on #320
From correctness point of view not really:
* In src layout: if you `dostuff` you get an failure, it won't work and you will know it.
* In ad-hoc layout: if you `dostuff` and forget to `cd stuff` before that it will work but incorrectly. You won't know if your package is correctly built/installed. That's the only true problem.

Anyway, I think this can be debated till the end of time. The only thin

[2018-05-31 13:58] MrFu1998 commented on #518
solved， pip Source problem， changed https://pypi.doubanio.com/simple

[2018-05-31 14:01] iweans commented on #518
I suggest, You can use  pypi source of "Douban"( https://pypi.doubanio.com/simple/', because of great firewall.
Alternative, you can using shadowsocks for you to get round it !

[2018-05-31 14:02] iweans commented on #518
May i have your QQ number ?

[2018-05-31 14:05] ncoghlan commented on #320
@ionelmc Please keep in mind that you may be collaborating with the designers of features that you're off-handedly describing as half-baked (and those features may have been the end result of months or years of extensive design debates).

[2018-05-31 18:03] di commented on #481
Given the confusion with https://github.com/pypa/warehouse/pull/4099, we should probably _also_ indicate that the upload must be performed with `twine`, and not with `python setup.py upload`.

We could also provide a helpful command to run to ensure all versions are up to date, like `pip install -U setuptools wheel twine`.

[2018-05-31 23:46] jarekwg commented on #481
^ Yes please!
Alongside version requirements, the actual commands should be clearly listed:
[code]
Took me a silly amount of stack overflow digging to figure this out..

[2018-06-01 02:08] ionelmc commented on #320
Just because someone put effort into it doesn't mean that I must like it, or that it's perfect. I hope you realize you can't please everyone, nor can you expect everyone to pretend they are pleased by whatever you are doing.

The same thing with this packaging guide, you cannot please everyone and give a really easy way of running stuff from a package while also giving a reliable way to package an

[2018-06-02 06:49] #518 closed

[2018-06-12 13:12] pgadige commented on #481
I drafted a concise note including the above details:

Could you please review the content and the structure of the draft, @di and @theacodes ?
I appreciate your feedback and suggestions.

[2018-06-12 16:34] theacodes commented on #481
Looks good enough to start with, send a PR?

[2018-06-13 09:57] pgadige opened #523 "Broken Flask and Flask-SQlAlchemy Hyperlinks"
In [Creating and discovering plugins](https://packaging.python.org/guides/creating-and-discovering-plugins/) guide, the `Flask` and `Flask-SQLAlchemy` hyperlinks are broken.

They return a `404 Bad request error` as shown:

![404-bad-request](https://user-images.githubusercontent.com/8632025/41343980-a270a6de-6f1d-11e8-8251-60d037a4bd74.png)

Redirect `Flask-SQLAlchemy` and `Flask` to their corres

[2018-06-15 16:28] #523 closed

[2018-06-15 16:29] #481 closed

[2018-06-18 18:44] pradyunsg commented on #396
Thinking about the "validate your Python setup" automation, I'm facing a sort of bootstrapping issue. There's no cross-platform way to actually run something like a script or automated checking unless we're first able to assume that the user knows how to run a script using an installed Python interpreter.

One idea was to explain clearly to the user how to run a script with Python and then use tho

[2018-06-18 18:52] pradyunsg opened #526 "Have a button to switch instructions shown to be OS specific"
It would be _really_ nice to be able to do something like this:

<img width="708" alt="GitHub Help OS-selector example" src="https://user-images.githubusercontent.com/3275593/41555664-02b75948-7356-11e8-8a32-454df13ef82f.png">

For the uninitiated, GitHub Help provides instructions for what commands to run and changes the contents of the page based on the OS selected in a selector provided at the

[2018-06-21 13:01] cefn commented on #397
Alternatively, can't packages=['something'] behaviour be extended to handle `something.py` as well as and `something/__init__.py` to prevent people hunting down undocumented arguments for a mainstream way of defining a python module.

That makes more sense to me as an outsider. Any reason this isn't the right way forward? Or is that decision managed by a different project?

[2018-06-23 01:14] aryan-harsh commented on #194
@ddbeck @theacodes is there any work left to do? can i help in any way. i do not know much of python, but am good with content writing.

[2018-06-23 01:16] aryan-harsh commented on #196
@ddbeck  is this work still left. i would like to help

[2018-06-23 06:12] pradyunsg commented on #196
As I understand, #396 is the same.

[2018-06-27 10:33] pradyunsg opened #528 "Packaging Tutorial should mention that packages TestPyPI and PyPI are different sets"
From https://github.com/pypa/packaging-problems/issues/170

Packages on TestPyPI and PyPI can differ. This can result in a hard-to-debug issue where one is unable to install `my-package` as `dependency` is not available on TestPyPI. It's not clear to a first timer that this might happen and what they should do next, since doing `pip install dependency` would work out for them but the suggested way

[2018-06-28 03:09] dstufft commented on #528
This is probably covered long term by https://github.com/pypa/warehouse/issues/2286, https://github.com/pypa/warehouse/issues/918, or https://github.com/pypa/warehouse/issues/726.

[2018-06-29 22:36] jaktonik commented on #297
Hey all, I'm a bit new to python packaging and have a general question about this particular bit of the docs, no idea about the best way to ask but this issue seems to be the most relevant place

The docs mention that one should install twine and run `twine upload --repository-url https://test.pypi.org/legacy/ dist/*` - but setup has this functionality built in, doesn't it? What's the difference b

[2018-06-30 05:08] ncoghlan commented on #62
With #305 merged, I think my original concern here has been addressed.

[2018-06-30 05:08] #62 closed

[2018-06-30 05:13] ncoghlan commented on #297
@jaktonik Depending on exactly which Python environment you're using, the native distutils upload may happen over HTTP, exposing your PyPI password as cleartext. There's also some newer metadata fields which distutils on its own won't extract and publish correctly, but twine makes sure are handled.

We should add that info as a footnote on https://packaging.python.org/guides/tool-recommendations/,

[2018-06-30 10:58] ddbeck commented on #196
@aryan-harsh Yes, it seems like there's a lot left to do on this stuff. I don't have a lot of time for this project at the moment, but if you open PR, feel free to tag me and I'll see if I can at least give it a review. Thank you!

[2018-07-01 21:30] gitqlt opened #529 "example setup.py references nonexisting github URL"
https://packaging.python.org/tutorials/packaging-projects/, Creating setup.py suggests the
[code]
which does not exist.

[2018-07-01 23:45] asottile commented on #360
@ncoghlan the only public use I know of `setuptools-golang` is https://github.com/asottile/dockerfile

[2018-07-03 11:05] pradyunsg commented on #320
This discussion seems to have settled down.

So, finally, how do we want to go here? Do we recommend one of `src/` or non-src layouts or just stay neutral?

As @pfmoore noted [above](https://github.com/pypa/python-packaging-user-guide/issues/320#issuecomment-390348406), not recommending is equivalent to choosing the non-src layout.

[2018-07-05 14:46] gtback commented on #526
Seems like this would go a long way towards addressing #453 😁

[2018-07-05 22:14] gtback opened #532 "Suggested order for classifers?"
1. Is there a suggested order for the values in the `classifiers` kwarg to `setup()`? I looked in a bunch of places, and didn't find anything definitive:

    - https://packaging.python.org/tutorials/packaging-projects/
    - https://pypi.org/classifiers/
    - https://www.python.org/dev/peps/pep-0301/#distutils-trove-classification
    - https://github.com/pypa/sampleproject
    - https://packagi

[2018-07-10 08:32] aritro01 commented on #529
Can I have this?

[2018-07-10 12:30] #529 closed

[2018-07-10 12:30] ncoghlan commented on #529
Done, thanks!

[2018-07-25 16:46] hsiaoyi0504 opened #535 "Minimum version requirement of setuptools to render markdown on PyPI"
It's related to issue pypa/setuptools#1440 and pypa/warehouse#4341.

It seems to me that the minimum version used of setuptool need to be updated, but doesn't have a conclusion yet.

Or we need to add a notice about building on Windows.

[2018-07-25 16:49] theacodes commented on #535
We list the minimum versions here: https://packaging.python.org/guides/making-a-pypi-friendly-readme/#including-your-readme-in-your-package-s-metadata

Is this insufficient/incorrect?

[2018-07-25 16:51] hsiaoyi0504 commented on #535
The libraries used in those issues are
[code]
meets current requirements:
[code]

[2018-07-27 21:37] di commented on #535
This is unrelated to the Markdown or the long_description_content_type field, see my comment here: https://github.com/pypa/setuptools/issues/1440#issuecomment-408544575

It's possible that this is a bug in setuptools/pkginfo/twine but otherwise the versions currently listed are sufficient for using this field.

[2018-07-27 22:45] hsiaoyi0504 commented on #535
@di I know what you mean, but I opened was because that I expected there will be a fix and a new release. Therefore, there will be a need to update the document or add a postscript about that. It’s a reminder that don’t forget to update the document as well.

[2018-08-04 01:40] dwalkerbeta commented on #474
I could take this task, if no one else has taken it. Where would be the best place to curate the news from?

[2018-08-04 12:07] zxc751176723 commented on #535
不懂

[2018-08-05 20:54] Syndace opened #536 "Usage of exec in option three of "Single-sourcing the package version""
Option three described [here](https://packaging.python.org/guides/single-sourcing-package-version/) recommends the usage of exec to load a file containing the version. I'm a little confused as to why exec is used instead of a simple import.

I read about the differences between import and exec in search for an explanation but it didn't make things more clear.

Are
[code]
and
[code]
the same? Is th

[2018-08-05 21:33] dstufft commented on #536
Hit the wrong button sorry.

Generally the reason it's done using ``exec`` is because it's less likely to trigger an import that may require dependencies to already have been installed.

[2018-08-05 21:49] Syndace commented on #536
Alright, so in case of a version file that includes just one single line:
[code]
there should be no problem with using the `import` variant.

Thank you very much.

[2018-08-05 21:49] #536 closed

[2018-08-08 15:57] theacodes commented on #474
@dwalkerbeta the commit log is probably the best ledger we have.

[2018-08-08 21:32] dwalkerbeta commented on #474
Ok, that's where I've been pulling from. I'll probably have a PR out this weekend for the in-place solution and I'm currently looking into towncrier as a longer-term solution.

[2018-08-08 21:51] theacodes commented on #474
Thank you so much!

On Wed, Aug 8, 2018, 2:32 PM David Walker <notifications@github.com> wrote:

[2018-08-13 14:48] dstufft opened #539 "Overview implies only uploading sdists for pure Python packages"
The recently added overview (which is overall pretty great), implies that for Pure Python packages, you only want to upload a sdist. While it's generally true that some of the wins are most obvious with packages that contain compiled code, pure python projects should pretty much always upload wheels as well (and for them, it's generally easier, and often times a single wheel file is all they need)

[2018-08-13 15:14] pradyunsg commented on #539
It might be a good idea to rename the sections to say something instead of source/binary here.

I can't really come up with any good alternative names here, other than possibly Python-only package distributions for the former.

[2018-08-13 15:51] pfmoore commented on #539
Strong +1 to this. The speed up for wheels is likely even greater on Windows, where creating subprocesses (i.e. running setuptools) is costly. And when pip implements PEP 517, that has an even higher cost in terms of subprocesses, as every PEP 517 hook call must be isolated into its own subprocess call.

So long story short, we should be strongly encouraging projects to upload wheels - *especially

[2018-08-13 18:15] mahmoud commented on #539
Here is what the Overview currently says:

As well as:

If more clarification is necessary, I would strongly suggest linking to good resources as opposed to simply adding more to these sections. The library-focused part of the overview is already bulging, and on the verge of losing its summary/overview focus, especially given how heavily focused the rest of the guide is on library packaging.

This

[2018-08-13 18:47] dstufft commented on #539
While I agree that the overview shouldn't be a tutorial, but the current sentiment in that document feels very misleading to me. The way it currently reads it feels to me like someone is going to read this, then get what appears to be conflicting advice from the actual tutorials, and end up feeling like packaging.python.org isn't internally consistent in what it is telling them, and confused about

[2018-08-13 19:07] dstufft commented on #539
I also noticed that the section about pure-python package links to https://docs.python.org/3/distutils/sourcedist.html, which of course doesn't mention wheel at all because it's part of the standard library, so wheel doesn't exist, and because it's a dedicated document for producing sdists.

The section concludes with:

Which sends a pretty strong signal to users to just go ahead and skip this nex

[2018-08-13 20:59] mahmoud commented on #539
I enjoyed that Nielsen article. Then I noticed it was written in 1997, which is almost a bigger deal than the fact that it doesn't address a technical audience. In any case, its main takeaways are that conciseness, scannability, and outbound links are critical.

I myself wish there was a better place to link to about sdists that dovetailed into a recommendation re: wheels. I would love to skinny u

[2018-08-13 21:01] pfmoore commented on #539
Why do you feel that's the case? Certainly there are many workflows involving deploying Python code, but honestly, I think we *should* be focusing on the one that is most common, at least in the open source community - building pure Python code for distribution on PyPI. It's likely far from being the most common workflow out there, but there's no way we can capture all of the various in-house work

[2018-08-13 21:08] pfmoore commented on #539
I'm not sure how that's even relevant. We very definitely should not be recommending an approach that avoids 3rd party tools these days - distutils simply doesn't support modern standards (yeah, unless you distribute only pure Python sdists, but that's cheating because your *users* still need setuptools to reliably install them, and you *should* test the install mechanisms that your users will use

[2018-08-13 21:18] mahmoud commented on #539
@pfmoore In short, that's how Python ended up with a blind spot for how people actually need to package Python. There are several options (e.g., freezing) that are far more common for proprietary software than open-source.

Everything I've experienced suggests the original post got so popular because the official channels up to this point seemed to only focus on built-in and open-source use cases

[2018-08-13 21:28] mahmoud commented on #539
@dstufft I think "modern" is kind of a loaded term and definitely a moving target. In any case, I look forward to the red bar on distutils because I think that's a necessary step in getting to all-wheels for pure-Python packages. In the meantime, distutils sdists are a good sight better than rolling your own, because at least it'll get a relatively standard path forward if technology constraints c

[2018-08-13 21:31] dstufft commented on #539
For the record, I'm perfectly fine not focusing specifically on uploading to PyPI, I still think the section creates a sense of a false dichotomy in whether you should use sdist or wheel to distribute your project. It presents them as different options (which they are) but the rationale for why they're different and why you'd use one over the other is just generally wrong IMO.

Why is the choice "

[2018-08-13 21:45] mahmoud commented on #539
@dstufft Yeah, they're not totally distinct, they're part of a gradient, with a lot of overlap between sdists and pure-Python wheels. I did my best to express that nuance without losing the distinctions, and in case you can't tell, am actively trying in this conversation to find language that would work better for that.

Re: distutils: It may seem a small/nonexistent issue if you're primarily open

[2018-08-13 22:05] dstufft commented on #539
So if the document just mentioned you *could* do that, but otherwise directed people towards setuptools, that'd be one thing. As far as I can tell the only mention of setuptools is talking about entrypoints later. If I'm trying to use this document to disambiguate what tools are available to me, the right answer doesn't even appear to be *in* this document, just the sub optimal "well if you REALLY

[2018-08-13 22:18] ncoghlan commented on #539
Note that the long term intent is for distutils to be gone by default in a future stdlib release, with an opt-in installation of setuptools required to get it back: https://github.com/pypa/packaging-problems/issues/127

[2018-08-15 02:27] mahmoud commented on #539
@dstufft I'd say the overview is mostly the first option, but kind of something else.

Foremost, the Overview, especially the central, technology-listing part, is meant to be a living document. So if distutils and sdists-for-library-distribution are on their way out, as you and @ncoghlan point out, let's convey that to readers. Tactfully, of course -- don't want to make it seem like Python's getti

[2018-08-15 09:10] pfmoore commented on #539
I have to say, when I read the page, that's not how it read to me. I found it read more like a narrative leading readers through the questions they would ask if they wanted to package up their software, and on that basis, as soon as I get to "you have a pure Python package, and sdists are what you need" (paraphrasing, but that's the message I took away from the page) I stop reading and follow the

[2018-08-15 16:25] mahmoud commented on #539
@pfmoore The beginning of the overview is a bit more narrative, as it introduces the concept of frontloading your deployment design phase.

And I think your list is pretty good! However, it doesn't focus on what's necessary on the target/deployment environment.

- bare .py can be installed with cp/scp, but needs a lot of environment predictability, and a little bit of blind faith
- sdists can be b

[2018-08-15 16:41] Great-Li-Xin opened #543 "Python packaging guide SUPER BUG"
In Page [Packaging Python Projects](Packaging Python Projects) Paragraph [Creating setup.py](https://packaging.python.org/tutorials/packaging-projects/#creating-setup-py)
'classifiers' should be a list, got type 'tuple'

[code]

[2018-08-15 16:44] theacodes commented on #543
@Great-Li-Xin thanks for filing, this should be a super easy fix if you want to send a PR!

[2018-08-15 17:27] Great-Li-Xin commented on #543
@theacodes Then FIX IT please. Thanks.

[2018-08-15 17:37] #543 closed

[2018-08-15 18:03] pfmoore commented on #539
I'd dispute or at least extend some of your points. I certainly *intended* to focus more on the target than on the developer's side.

And has no uninstall or management capabilities, and a relatively high level of Python knowledge on the part of the end user. Remember, this is in a section about libraries, so you have to know where `site-packages` is, and copy your file there. Deploying an *applic

[2018-08-16 05:25] mahmoud commented on #539
Some brief points:

Many popular libraries can and often are simply included by directly copying them into a project. That's the original library distribution story, after all.

As someone who works almost exclusively in non-Windows, I can attest that this is no longer the case, with the exception of OS-specific package developers, in which case your ecosystem and community have their own set of p

[2018-08-16 05:29] mahmoud commented on #539
Also as a side note, just to get some direct confirmation: Because distutils will go away at some point, does that mean that Python will simply no longer include a facility to both build and install a distributable library artifact? Or is there an `ensurepip` dance that means it contains about half of one?

[2018-08-16 08:56] pfmoore commented on #539
Can you provide examples? I'm not aware of any such.

Cool. Sorry for the noise in that case. I assume therefore that packages are not being installed into the system Python (as manually doing so is known to cause issues with the system Python). Again, can you provide links to examples? My main concern here is that we regularly advise people *not* to install packages into their system Python using

[2018-08-17 08:05] illume commented on #297
Hello wonderful people! 👋

I feel like the section in the python packaging guide about storing your password in plaintext in pypirc should be removed **immediately**.  It's a separate issue of if twine keyring support is ready for everyone, or if alternative instructions are ready.

https://packaging.python.org/guides/using-testpypi/?highlight=username#setting-up-testpypi-in-pypirc

The note about

[2018-08-17 16:28] theacodes commented on #297
Hi @illume, feel free to see a pull request!

[2018-08-17 16:41] illume commented on #297
Thanks @theacodes :)

[2018-09-01 18:41] dwalkerbeta commented on #474
I'm testing out the towncrier solution; I have a few questions. It looks like towncrier names its newsfragment files with _issueid.doc_ or _issueid.feature_. Would we want to replace those with the PR numbers? Some of the PRs don't have an issue assigned to them.

Also, is there any sort of versioning that has been adopted? Right now the --draft option from towncrier looks like this with the earli

[2018-09-03 07:10] martinlarsalbert opened #548 "https://packaging.python.org/tutorials/installing-packages/#"
Maybe mention that windows cmd uses double quotes:" instead of: '

Linux:
`pip install 'SomeProject==1.4'`

Windows cmd:
`pip install "SomeProject==1.4"`

[2018-09-03 23:43] ncoghlan commented on #548
Double quotes work on Linux (etc) as well, so if single quotes don't work on Windows, it will likely make more sense to just switch to double quotes for every example that isn't using a wildcard in the string.

[2018-09-04 18:30] pradyunsg commented on #548
IOW, @ncoghlan is saying we'll be happy to accept a PR for this, if someone comes around to this before one of the editors can. :)

[2018-09-05 01:07] Juanlu001 commented on #320
Readable, but gives false hope. [pytest does magic to retrieve the `rootdir`](https://docs.pytest.org/en/stable/customize.html#finding-the-rootdir), and therefore the option of moving to a directory might not work. I just discovered this, so my position for `src/` layouts is even stronger now.

[2018-09-05 22:05] ncoghlan commented on #310
Closed via #519 :)

[2018-09-05 22:05] #310 closed

[2018-09-05 22:18] ncoghlan opened #549 "Create guide to help teachers preconfigure a classroom"
In a school setting, teachers may need to set up multiple systems with the same set of packages, potentially without good access to PyPI from individual machines. (https://twitter.com/chris_swan/status/1037440530995703808?s=19 for example).

There are some decent options for handling this, including:

- use a larger Python distribution that pre installs a range of PyPI packages (e.g. Anaconda, Pyt

[2018-09-05 22:28] ncoghlan commented on #549
We could potentially even go so far as to https://docs.ansible.com/ansible/2.6/modules/pip_module.html and other config management tools, as this is literally the kind of ad hoc systems administration problem that Ansible was built to solve, and it can use Windows native remote control capabilities to set up the individual machines: https://docs.ansible.com/ansible/2.4/intro_windows.html

[2018-09-07 18:10] ntoll commented on #549
How can I help..? (And happy to do so)

[2018-09-07 20:11] dwalkerbeta commented on #474
How would the calver be formatted? Also I figure I'll remove the duplicated PR in the ().

[2018-09-07 20:26] theacodes commented on #474
2018.11.05

(year.month.day)

On Fri, Sep 7, 2018 at 1:11 PM David Walker <notifications@github.com>
wrote:

[2018-09-08 21:03] dwalkerbeta commented on #474
Which format would you want the news page to follow?
Old:
[code]

New:
[code]

The advantage of the old format is the readability, everything is just in bullet points. With the new format we could take advantage of towncrier's list-by-fragment-type feature (.doc, .new) but it doesn't look as "clean".

Let me know what you think.

[2018-09-10 16:01] theacodes commented on #474
I'm fine with either.

[2018-09-11 14:53] ncoghlan commented on #549
I was mostly thinking in terms of cross-referencing between the two sites once there's actually a relevant guide to reference on the PyPUG side, but it occurs to me that it would make sense to ask yourself and Carrie-Anne for content and structure suggestions as well, since it's tricky to figure out which audience this should be pitched at.

1. One of the key benefits of the Raspberry Pi is that R

[2018-09-11 14:58] ncoghlan commented on #474
I like the categorised one, but I'd retitle "Features" as something like "User Guide Development Updates" and list them after the more user facing categories.

[2018-09-22 14:49] alekhranjan75 opened #557 "Creating virtualenv using python3"
The documentation  is helpful for creating virtualenv using python2.7 but not for python3, although "python3" is used in the documentation but when the commands are executed it creates a virtualenv for python2.7 not python3.

[2018-09-28 15:42] awwad opened #559 "Tutorial suggests dangerous (for packages with deps) install-from-testpypi step"
The tutorial [recommends](https://packaging.python.org/tutorials/packaging-projects/#installing-your-newly-uploaded-package) ([permalink](https://github.com/pypa/python-packaging-user-guide/blob/63ed04736d47a999fed89d9cbc5b9cf788109991/source/tutorials/packaging-projects.rst#installing-your-newly-uploaded-package
)) that you test your upload to `test.pypi.org` by trying to install it.

If your pac

[2018-09-28 15:56] webknjaz commented on #559
Good point. It's an interesting attack vector.

P.S. May I suggest that for security things there must be some non-public channel used? (I'm not aware of such though)

[2018-10-02 04:03] certik commented on #320
Here is the strongest argument *against* `src`, that hasn't really been discussed so far:

* If you use `src`, you can no longer develop locally without installing the package. That makes developing significantly harder for developers, and you lose one of the huge advantages of Python.

However, perhaps there is a technique that will get me the easy development with `src`, and I just don't know ab

[2018-10-02 09:13] scolby33 commented on #320
@certik thanks for the deep contribution to this discussion! I've been following it for a while but decided to chime in as a `src` proponent to place my experiences in contrast to yours.

Like you seem to, I always develop in a virtual envrionment as soon as my program has an external dependency. I have a boilerplate `setup.py` and `setup.cfg` that I add early on in the development process (usuall

[2018-10-02 15:10] certik commented on #320
@scolby33 thanks for the write up. So I wrote down how one actually develops a non-src and a src package, step by step, so that we can compare the two approaches, with real projects. Let me know if I got it right in each case.

# SymPy (non-src)

## Prepare (once)

    git clone https://github.com/sympy/sympy
    conda create -y -n sympy python=3.7 mpmath pytest

## Develop (every day)

Start:

[2018-10-02 15:27] nicoddemus commented on #320
@certik you might be interested in [ESSS/conda-devenv](https://github.com/ESSS/conda-devenv), which was a tool we at ESSS developed to solve this exact problem: work with a package in develop mode in conda environments. With it, you don't need to use `pip` at all and your environment will always be up-to-date, without risking leaving it dirty.

It has worked very well for us for a couple of years

[2018-10-02 15:32] Juanlu001 commented on #320
@certik why do you need to `pip install -e . ` every day? I am not sure that part is correct, maybe others can confirm. `pip install -e .` is done once (for the case you don't have extension modules).

[2018-10-02 15:35] certik commented on #320
@Juanlu001 right, that's the part that I am not sure --- when you do some modifications to your package like adding new files, moving files around, will they be automatically picked up, or do you have to rerun `pip install -e .` each time? For example, when you switch git branches to test some pull request (let's say), then do you need to rerun `pip install -e .`?

[2018-10-02 15:39] Juanlu001 commented on #320
In my particular case, I only rerun `pip install -e .` when

a) I have to rebuild extension modules or
b) I switch to an `src/` layout because I'm shot myself in the foot once again :) (and that requires removing the `*.egg-info` directory, actually)

[2018-10-02 15:41] nicoddemus commented on #320
Just to add to @Juanlu001's response, the way that `-e` works is that basically it creates a `mylib.pth` file in the `site-packages` directory which configures `PYTHONPATH` to point to your source files, so no files are copied and this only needs to be done once.

[2018-10-02 15:57] certik commented on #320
@Juanlu001, @nicoddemus thanks for the feedback. I modified my workflow instructions above and moved `pip install -e .` to the "Prepare" section.

@nicoddemus using the instructions I posted, the `pip install -e .` seems to just add one file with the following contents:
[code]

[2018-10-02 16:04] nicoddemus commented on #320
Oh then I'm probably misremembering the details, and the file is named `flake8.egg-link` instead of `flake8.pth` as I mentioned earlier, but otherwise the behavior is the same as I described.

[2018-10-02 17:13] asmeurer commented on #320
I'm just jumping into this discussion, so excuse me if this has been answered, but is there anything that `src/` enables that isn't possible without it?

It seems people like it because it forces you to install the package, but there's nothing that prevents you from doing that with a top-level package. Actually, `pip install -e` or `setup.py develop` is no different from just running python from t

[2018-10-02 17:21] certik commented on #320
@asmeurer the `src/` approach allows to test the installed package with tests separate from the package. Without `src/` you have to remove the package (`rm -r sympy`) otherwise `pytest` will pick up your local version. However, as you said and I agree, if tests are part of the package itself, then this is not a problem. To test the installed version, you just use `pytest --pyargs sympy` from some

[2018-10-02 17:33] asmeurer commented on #320
I see. So the two things really aren't separable. You have

- tests separate from package, no src: hard to explicitly not test the local version of the package (or if not "hard", at least easy to accidentally test the wrong thing).
- tests included in package, src: no benefit (unless there are other reasons to use `src/`) you have to install the package or do some command to use it.
- tests separa

[2018-10-02 17:44] certik commented on #320
@asmeurer nice! You are right, there are 4 cases (tests separate/included  x  src/no-src), not just two (src/no-src), and so the workflow and pros/cons are different for each case.

To move this discussion forward, I suggest to document "best practices" for each of the 4 cases, with example real packages in each case, so that all people here are happy how "their" case is documented. I think we can

[2018-10-02 18:06] Juanlu001 commented on #320
Or, you _just_ use an `src/` layout :)

The "run pytest from another directory" stuff has already been discussed as well. The thing is that, no matter how hard you try to document it, someone will do the wrong thing unintentionally, whereas with the `src/` layout in principle there's not such a possibility.

To use an analogy from the web development world, we stopped _just_ dropping files on an F

[2018-10-02 18:19] asmeurer commented on #320
@Juanlu001 I think it depends what you consider the "wrong thing". To me, testing the tests against any version of the source other than the one from the exact same git commit is "the wrong thing". So the only layout that prevents that 100% is to put the tests inside the source (in which case, as I mentioned, using `src/` is pointless, unless I'm missing something), and even using relative imports

[2018-10-02 19:08] takluyver commented on #320
Presumably there are some projects where the tests contain sample data, and you don't want to include it all in the distribution because of how much it would increase the file size. That might be a case where you choose to put tests outside the package.

[2018-10-02 19:44] asmeurer commented on #320
@scolby33 well it's also my opinion that tests should always be included in the distribution, even binary distributions. At the very least, it's a valid use-case. As @takluyver mentions, it maybe isn't always a good idea depending on what your tests look like. We do this for SymPy for instance. You can always `import sympy;sympy.test()` to run the full tests. I know that a lot of people use things

[2018-10-02 19:59] scolby33 commented on #320
@asmeurer I hadn't considered testing in that way and actually wasn't aware that `numpy` and others included that functionality. That is definitely a plus for including tests in the package. (Although it should be possible in a `src/` layout too? I can't see why not.) As @takluyver mentioned, I have worked on projects with large non-Python data files that are used for tests that shouldn't be inclu

[2018-10-02 20:08] certik commented on #320
Ok, I started a PR #560, trying to document all the excellent points made in this issue. Can everybody please comment on the PR with feedback and additions? Let's make sure we can at least agree on the 4 ways to develop a Python package, making sure that all our pros and cons are represented.

I have seen that people, including myself, have misconceptions what the "best practice" is for "the other

[2018-10-02 21:03] TiemenSch commented on #320
This discussion will always go in circles. I think that any decent tool should have some ``path`` or ``root`` option, especially when there are use cases both for wanting or preventing an import from project (root) folders.

The line between useful and dangerous is extremely thin here, depending on what you're trying to accomplish. Since there seems to be such a dependency on what one wants to acc

[2018-10-02 21:15] certik commented on #320
@TiemenSch thanks, I've added Bokeh and Dash in https://github.com/pypa/python-packaging-user-guide/pull/560/commits/42d2b6b501590170d43c282c504e59b9fdc2bf06. I've added the `pytest` root proposal in https://github.com/pypa/python-packaging-user-guide/pull/560/commits/5b2242e37a3b1797ab1662fa78b1c05dc1db485d.

[2018-10-02 21:32] bittner commented on #267
Just as a side comment (and question):

When bundling applications, in properly engineered projects there is a CI service setup that handles that. The fact that there is a dedicated [chapter on AppVeyor](https://packaging.python.org/guides/supporting-windows-using-appveyor/) also reflects the weight the Windows user base has.

But is there also a CI service that allows you to run builds in a macOS

[2018-10-03 19:19] di commented on #267
Travis provides an "OS X Build Environment": https://docs.travis-ci.com/user/reference/osx/

[2018-10-04 09:18] pradyunsg commented on #559
`security@python.org` is probably fine for this since the Packaging-WG folks would be notified for things like this.

The appropriate fix for this would be to do one of the following:

- add `--no-deps` to the `pip install`
- `pip download --index-url=<test-pypi>` and then `pip install downloaded-artifact`

The latter has the advantage of also installing dependencies from PyPI.

[2018-10-05 23:06] dwalkerbeta commented on #557
I can't replicate this issue following the steps in the guide. After activating the environment I ran `python --version` and got `Python 3.6.4 :: Anaconda, Inc.`

[2018-10-06 08:01] webknjaz commented on #559
Is there a way to say "hey pip, only fetch this package from that index, use default index by default"?

[2018-10-06 19:09] dwalkerbeta commented on #473
I don't know too much about SEO, but I took a stab at this one. Some searching yielded a website called sitechecker.pro that offered a free check-up of a URL. This was part of the output:
![screen shot 2018-10-06 at 2 59 31 pm](https://user-images.githubusercontent.com/14132747/46574877-b3869400-c978-11e8-8105-68ae3993312d.png)

Obviously one website is not the final authority on SEO but it offere

[2018-10-08 13:52] alekhranjan75 commented on #557
Well this issue id for "Vanilla Python", not for "conda". I have tried it myself.

[2018-10-08 20:21] indygreg opened #564 "Interaction of hash pinning and subsequent uploading of new artifacts"
I am pretty religious about using hash pinning in pip requirements files because of its security benefits.

Over the past several months, I've had a number of projects start failing hash checks out of the blue because a new artifact was uploaded to PyPI - usually a wheel. Essentially:

1. I generate a `requirements.txt` with hashes for all available artifacts.
2. A new wheel is uploaded to PyPI.
3

[2018-10-08 23:32] di commented on #564
We occasionally face this circumstance with the dependencies for [pypa/warehouse](https://github.com/pypa/warehouse), so first of all: I feel your pain.

I'm curious if you're using any additional tools to manage your dependencies. For Warehouse, we use [`hashin`](https://pypi.org/project/hashin/) which is an excellent little library and makes it very easy to recompile the hashes of our dependenci

[2018-10-09 00:07] peterbe commented on #564
I actually think the release should be immutable. If you decide to "append" a 3.7 wheel after the release was made I think it should not be allowed.

More importantly, and what's been a problem in the past, is when the release files are *changed*. Is that still possible with warehouse? I think it should be disallowed because that's exactly the kinds of nasty surprises with hashes that @indygreg is

[2018-10-09 05:01] di commented on #564
This is definitely not possible now, and I'm fairly sure it wasn't possible with legacy PyPI either.

[2018-10-10 12:31] peterbe commented on #564
Here we go again! :(

According to https://pypi.org/project/zope.interface/4.5.0/#history version 4.5.0 was released in April 2018.
But all of a sudden it [breaks builds](https://circleci.com/gh/mozilla-services/kinto-dist/806), with the error:
[code]

What appears to have happened is that yesterday they added a bunch of new wheels for linux: https://pypi.org/project/zope.interface/4.5.0/#files (N

[2018-10-10 20:40] dstufft commented on #564
To be clear, there *is* no concept of "at once" in PyPI's upload API. You can only upload a single file at a time, even a command like ``twine upload dist/*`` is really uploading one file at a time. So no matter what something that limits people to not be able to upload new wheels is going to have to have some arbitrary window of time when we would hypothetically allow it, and then after some cut

[2018-10-13 05:54] scolby33 commented on #320
@TiemenSch I agree with you that a `path` or `root` option is critical. To be honest, I only got involved in this conversation when I realized Flit, which I wanted to try out, was incompatible with my favorite package layout. Perhaps I should head over to takluyver/flit#115 and consider making a pull... (@takluyver)

[2018-10-24 14:30] willsALMANJ commented on #406
Another project like `pipsi` is `pipx`: https://github.com/cs01/pipx It is very new at the moment but worth keeping an eye on.

[2018-10-28 10:56] sbr2018 commented on #95
It looks as though this has been fixed. Should this be closed?

[2018-10-28 12:00] pradyunsg commented on #463
I completely missed my mention earlier. :/

The following link https://pip.pypa.io/en/stable/user_guide/#configuration contains all the information about `pip.conf`.

---

The text seems fine to me. I'd suggest not using `$PIP_INDEX_URL` (since that's Unix specific) - "`PIP_INDEX_URL` environment variable" should be a good replacement.

[2018-10-28 15:10] di commented on #95
@cjerdonek Do you feel like #492 resolves the original issue?

[2018-10-28 15:48] di opened #567 "Some links in search results are 404"
For example, the second link currently at:

https://packaging.python.org/search/?q=distribution&check_keywords=yes&area=default

is:

http://packaging.python.org/specifications/index?highlight=distribution

However this link 404's, as the page is actually at:

https://packaging.python.org/specifications/

[2018-10-28 17:45] elainechan commented on #484
Working on this

[2018-10-29 03:16] elainechan commented on #484
Made pull request https://github.com/pypa/python-packaging-user-guide/pull/568

[2018-10-31 11:05] cykerway commented on #320
interesting topic; great debate; i would simply use the current master branch of `sampleproject` (@[ccf222d][]) for my argument, so you can reproduce what i say;

-   editable install:

    an editable install puts package names in top-level dir into `sys.path`; this may or may not be what you want; with the sample project you will have both `sample` and `tests`;

    if you want `sample`, you may

[2018-10-31 11:25] pradyunsg commented on #320
As an aside, could one of the @pypa/packaging-user-guide-editors remove the "for first timers" label from this issue? IMO the discussion would make clear that it's very much not. ;)

[2018-10-31 11:28] pradyunsg opened #569 "Rename the "for-first-timers" issue label to "good first issue""
This would be in line with the rest of PyPA's projects like Warehouse, setuptools, pip, wheel, and more.

[2018-10-31 16:51] di commented on #569
[It's also what's recommended by Github.](https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/)

[2018-10-31 17:01] theacodes commented on #569
Done.

[2018-10-31 17:01] #569 closed

[2018-11-05 08:54] ncoghlan commented on #567
Adding the file extension also results in a correct link: https://packaging.python.org/specifications/index.html?highlight=distribution

Is it possible we're hitting a Sphinx HtmlDir bug?

[2018-11-05 08:57] ncoghlan commented on #567
I didn't find anything recent, but https://github.com/sphinx-doc/sphinx/issues/3696 and https://github.com/sphinx-doc/sphinx/issues/3696 suggest that this *is* an area where there's some potential fragility in the link generation.

[2018-11-08 06:58] pradyunsg commented on #559
No. pip treats all indexes as equivalent internally.

[2018-11-08 16:41] webknjaz commented on #559
So no way to map packages to indexes? Meaning that whichever index comes first in the list wins for that dist name?

[2018-11-08 17:17] xavfernandez commented on #559
No. pip collects all the available versions from all indexes then select among those versions found the "best" one.

[2018-11-09 00:01] webknjaz commented on #559
What if there's a same dist with the same version across multiple indexes. Which one is the "best"?

[2018-11-09 05:12] pfmoore commented on #559
Any of them. Same dist and same version is how pip considers things identical. If you have a package which has wheels/sdists with the same version but different content, that package is broken.

[2018-11-23 23:55] E3V3A commented on #320
Found this similar discussion, when trying to understand why so many of the `packaging-problems` issues had not been closed... :thinking:
https://github.com/pypa/packaging-problems/issues/1

[2018-11-24 16:34] ncoghlan commented on #320
@E3V3A @takluyver is being overly modest, since `flit init` + `flit publish` already makes publishing (almost) as simple as you'd like them to be: https://flit.readthedocs.io/en/latest/

The "almost" comes from the fact that `pip` itself is unlikely to ever become a publishing tool due to the fact that pip operates under much stricter bootstrapping requirements that publication tools mostly no lon

[2018-11-25 14:41] takluyver commented on #320
I can definitely see how the packaging experience could be simpler than Flit if the tool was restricted to a more specific use case. But at the other end, Flit's limitations still concern me - not because I want everyone to use it, but because people will use it and hit the limits, and then they have to rewrite your packaging to use another tool.

In any case, this issue is about the `src/` questi

[2018-11-25 15:00] pradyunsg commented on #567
I just got directed to https://packaging.python.org/search/guides/tool-recommendations/?highlight=recommend from a search for "recommend" just now.

Not sure if it's the exact same issue but it's search-related.

[2018-11-25 22:01] di commented on #567
Seems like the same issue to me.

[2018-11-25 22:10] takluyver commented on #320
Trying to move the discussion forwards again:

Some people want to ensure they're testing the installed version. While I think the most common need for this is actually a shortcoming of packaging tools, there is a definite need for this where packages have a build step - you'd never want to totally rely on inplace builds. Other people want to ensure they're testing the local version, and this too

[2018-11-26 21:54] pfmoore commented on #320
Thanks. That's a nice summary. This sounds like we're reaching consensus on the src layout being the right recommendation. However, I do think that the arguments in favour of the non-src layout still have some merit. So what I propose is the following recommendation from PyPA:

1. The src layout is recommended for all projects
2. The non-src layout is an allowed, but discouraged, alternative. Part

[2018-11-27 00:53] certik commented on #320
Who in the Python community is the authority to decide this?

I disagree with the recommendation for the reasons I stated above (I am not going to repeat them here). I feel there might be a silent significant minority (or perhaps a majority?) of users who don't like the src approach. At this point, what should be the method to arrive at an agreement?

One method is to simply vote by people with me

[2018-11-27 01:05] theacodes commented on #320
As the primary maintainer of this project, I'd like to propose y'all do
this like so:

1. Write a discussion page for this. Capture all the pros and cons
discussed in this thread. Discussions are intended specifically for these
sort of topics where consensus is difficult.
2. Write a guide on configuring tools to work with the src layout. Again,
this is what guides are for. You have decided to do s

[2018-11-27 01:14] certik commented on #320
@theacodes I agree. I tried to do 1. and 2. in https://github.com/pypa/python-packaging-user-guide/pull/560, unless I misunderstand your comments. #560 is actually a superset of 2.: it shows how to configure tools to work with the "src" layout, but it also shows how to configure tools to work with the "non-src" layout. So to fullfill 2., the "non-src" part can be removed. 3. and 4. can then be don

[2018-11-27 09:37] pfmoore commented on #320
Adding my personal views as a separate comment, so that I don't muddy the waters over the process-related points I made in the previous comment,

1. I don't personally care very much what the "official recommendation" is. I'll likely continue doing what I do at the moment: for new projects, start with a non-src layout, and move to a src layout "when the project gets big enough" (which I'll judge s

[2018-11-27 10:48] TiemenSch commented on #320
I think the frustrating thing in the current landscape is that there isn't a easy-to-use `pyproject.toml` alternative such as flit that supports `src/`. enscons is named here and there, but I can't find any decent documentation on how to use it. As far as PR's go for flit, I already forked it to support a ``module_root`` (or insert any appropriate name) config option some time ago, which would mak

[2018-11-27 12:18] lithammer commented on #320
As far as I know [poetry](https://github.com/sdispater/poetry) (funny that it's not mentioned at all here) supports this.

[code]

[2018-11-27 15:37] TiemenSch commented on #320
Since it's not just a packaging tool (it's a complete dependency manager with tons of implications that come with it).

[2018-11-27 16:55] certik commented on #320
Given that the discussion is heading towards a recommendation of using `src`, I ask the proponents of the `src` layout to do one thing:

Can you please propose some ideas how to improve the tooling so that one can develop the `src` based package locally without installing it?

Here is an example how to develop a `src` package currently:

https://github.com/pypa/python-packaging-user-guide/blob/a35

[2018-11-27 16:56] Juanlu001 commented on #320
When I want to skip the `pip install -e` (for example, in systems without `pip`) I do `PYTHONPATH=$(pwd)/src python3 -m pytest ...`. Would that work for you @certik ?

[2018-11-27 17:06] pfmoore commented on #320
@certik - There's no way we should get involved in the "tests inside the package vs tests outside" debate here. FWIW, I favour tests outside, but unless we want to make this debate even more intractable and add that question to the mix, I believe we have to allow both tests inside and tests outside when recommending a layout.

I don't really see that you have. I'm not at all clear what the discuss

[2018-11-27 17:10] pfmoore commented on #320
Fair question. If you don't want to use editable installs, I'd set `$PYTHONPATH` to the `src` directory. I'm not aware of any issues with tooling, though, so beyond that I don't know what you mean.

[2018-11-27 17:49] theacodes commented on #320
@certik's PR adds this as a *guide*, which is good and part of my proposal, but it alone I think is insufficient. A **discussion** is a specific page archetype we have here that's intended to compare and contrast two or more options. Take a look at some of the existing (although anaemic) discussion pages:

1. https://packaging.python.org/discussions/install-requires-vs-requirements/
2. https://pac

[2018-11-27 18:15] certik commented on #320
@Juanlu001 thank you! It turns out neither flake8 nor matplotlib actually work this way, because they rely on some magic in `setup.py` that only works when you install the package. However, the Pillow package works this way. I have updated the document, here is an example how to develop a `src` package Pillow locally without installing it:

https://github.com/pypa/python-packaging-user-guide/blob/

[2018-11-27 18:22] certik commented on #320
@theacodes I agree with the direction of your comment. I have a question about the new "discussion" document. If you look at the Pros and Cons part of #560, it seems they contain a lot of what you have in mind for the "discussion" document? It seems they would have to be rewritten into a form of the examples 1. and 2. (in your comment), and perhaps expanded. Or is that not what you have in mind.

[2018-11-27 18:41] ofek commented on #320
@pfmoore

I do still and I'm sure there are many others who are simply too fatigued to comment 😄

What I plan to do when I have some time is distribute a tiny pytest plugin that more or less does `del sys.path[0]` at the proper moment during test collection. This ensures tests won't succeed unless an installation is active, either normal or develop.

Users should be required to make an installatio

[2018-11-27 19:14] pfmoore commented on #320
Oh! Sorry, I completely misunderstood you. I thought you were talking about another place on *github* where we could collect arguments like we've been doing here. My mistake - yes, I like the idea of a discussion page that summarises the trade-offs between the two layouts.

[2018-11-27 22:24] certik commented on #320
@pfmoore thank you for reading it and providing a feedback. That was precisely what I was hoping for. I'll work on it soon.

[2018-11-28 16:01] ncoghlan opened #577 "Should the publishing tutorial recommend the "unmaintained" badge?"
http://unmaintained.tech/ is a nice way of explicitly marking a project as not having any particular support commitments behind it.

However, it has a flaw in that it's *opt-in*, which means you have to already be experienced enough to understand and hence explicitly disclaim the unreasonable expectations that folks sometimes place on open source publishers in order to decide to use it.

So what I

[2018-11-28 17:44] theacodes commented on #577
I'm personally hesitant to introduce any new concepts in the publishing tutorial, but I'm happy to be convinced otherwise and happy to put this guidance elsewhere in the docs.

[2018-11-29 21:56] pradyunsg commented on #577
There's also shields.io's maintained badge.

https://img.shields.io/maintenance/yes/2017.svg
https://img.shields.io/maintenance/yes/2018.svg
https://img.shields.io/maintenance/no/2018.svg

It's got a slightly different tone + implementation than unmaintained.tech; is also applicable to actively maintained projects.

[2018-12-07 13:55] webknjaz opened #578 "Dist publishing guide should mention versioning restrictions"
It has a few paragraphs about local version identifiers https://packaging.python.org/guides/distributing-packages-using-setuptools/#local-version-identifiers where it has this *not intended for publication* phrase but doesn't clearly state that public indexes usually forbid local identifiers.

And uploading your project to PyPI section doesn't mention this: https://packaging.python.org/guides/dist

[2018-12-10 15:43] flowerbug opened #579 "Please Add "The Unlicense""
I'm surprised to not find this in the list...

https://unlicense.org/

[2018-12-10 15:59] flowerbug commented on #559
It seems to me that the common sense approach is to only allow references to either:

packages you have uploaded to test.pypi.org yourself and then any references to other packages must be satisfied by pypi.org (temporarily copy them and delete after a few days IMO).

this leaves no attack vector open other than what is on pypi.org itself.

[2018-12-10 16:10] flowerbug commented on #579
After more research I am closing this because It makes more sense for me to just use a different license that already exists...

[2018-12-10 16:10] #579 closed

[2018-12-12 05:14] feluxe opened #580 "Mention find_namespace_package function in "Packaging namespace packages" guide."
I was struggling with a namespace packge for a long time until I found out about `setuptools.find_namespace_packages()` in a github issue.

I think it would be nice if `find_namespace_packages()` was mentioned in this guide:

https://packaging.python.org/guides/packaging-namespace-packages/#packaging-namespace-packages

There is this section already:

I think it would be nice if it was updated to

[2018-12-14 19:02] theacodes commented on #580
Thanks for reporting this! This is a great first issue for someone. :)

[2018-12-31 04:06] dogweather opened #582 "Broken link to GitHub in footer"
* Page: https://packaging.python.org/tutorials/packaging-projects/
* In the "Latest" popup, links to: https://github.com/pypa/python-packaging-user-guide/blob/master/home/docs/checkouts/readthedocs.org/user_builds/python-packaging-user-guide/checkouts/latest/source/conf.py/tutorials/packaging-projects.rst as "View".
* Clicking View and going to that URL hits the GitHub 404 page.

[2018-12-31 04:34] dogweather opened #584 "Packaging Python Projects tutorial doesn't work as written"
The instructions can't be followed verbatim for the simple reason that the suggested package name, `example_pkg` is already in use on TestPyPI. TestPyPI will give the (newbie, student) user this unhelpful message:

It unhelpful because it's missing a **because** clause in the sentence. E.g., "... because another account owns this package name."

I saw a user go and check their account settings, pa

[2018-12-31 04:53] ncoghlan commented on #584
Excellent point.

If the suggested naming scheme is to append their PyPI username (e.g. `example_pkg_ncoghlan`), then that should inherently avoid name conflicts.

Thoughts, @theacodes?

[2018-12-31 06:11] theacodes commented on #584
Sounds good to me. I can send a PR once I'm back in the office.

On Sun, Dec 30, 2018, 8:53 PM Nick Coghlan <notifications@github.com> wrote:

[2018-12-31 06:32] dogweather commented on #584
Thanks everyone! You're blowing my mind, how open you are to suggestions. :-)

[2019-01-01 02:39] ncoghlan commented on #584
@dogweather The folks that wrote the original versions of the current tutorials did so after years of personal experience with the Python packaging ecosystem, so "Uh, this bit is weird and seems unnecessarily confusing" is actually one of the most valuable forms of feedback folks attempting to follow the tutorial can offer :)

[2019-01-03 06:59] CMeza99 commented on #582
Yup!
[code]
should be
[code]

[2019-01-03 07:04] CMeza99 commented on #474
I think this issue is resolved :)

[2019-01-04 12:41] ncoghlan commented on #474
Indeed - closing! :)

[2019-01-04 12:41] #474 closed

[2019-01-08 19:33] Juanlu001 commented on #320
Today I got this error and immediately I remembered this issue:

[code]

:man_facepalming:

[2019-01-11 15:02] ryan4yin commented on #582
and same problem for `managing-dependencies.rst`

`https://github.com/pypa/python-packaging-user-guide/blob/master/home/docs/checkouts/readthedocs.org/user_builds/python-packaging-user-guide/checkouts/latest/source/conf.py/tutorials/managing-dependencies.rst`
should be
`https://github.com/pypa/python-packaging-user-guide/blob/master/source/tutorials/managing-dependencies.rst`.

[2019-01-13 05:37] aasmpro commented on #582
@dogweather this is actually generated by [read the doc](https://readthedocs.org/projects/python-packaging-user-guide/) platform, therefore i think it just needs to be updated there.

[2019-01-13 17:02] pradyunsg commented on #320
I'll be working on the discussion topic for this over the next couple of days.

[2019-01-20 18:11] Skarlett opened #588 "Unauthenicated upload; Successful login"
Everytime I attempt to upload to the repository - I get this error message. I've tried my email and password combo, my username, and password combo (Which all work on pypi.org). Recently my account was found to be compromised; I recommissioned it today, and all seemed alright until I attempted to upload a project.

Error message:
`HTTPError: 403 Client Error: Invalid or non-existent authentication

[2019-01-21 23:40] di commented on #588
@Skarlett https://pypi.org and https://test.pypi.org are completely separate. You'll need to create an account on https://test.pypi.org as well.

[2019-01-22 01:50] 9034725985 opened #589 "Remove references to pipenv"
I just learned that Pipenv is no longer an official project.
I request we remove references to it from the page
https://packaging.python.org/guides/tool-recommendations/
This issue is a part of work that reverses #437 and clarifies that pipenv is not an official project.

It can't even go about the simple process of:

1. `pipenv install`
2. `pipenv uninstall --all-dev`

without giving an error.
Se

[2019-01-22 03:02] Conan-Kudo commented on #589
It's an official project of PyPA still, it's just not being pushed as the "be-all-end-all" option.

[2019-01-22 03:32] theacodes commented on #589
Hi, Pipenv is still a project managed by PyPA members and lives under the PyPA org. As far as I'm aware, this status has not changed.

The only requirement for a project to join the PyPA is that its maintainers agree to our Code of Conduct. Additionally, it isn't a requirement that a project be part of the PyPA to be a part of this documentation or part of the tool recommendations, it just has to

[2019-01-22 03:32] #589 closed

[2019-01-22 03:39] theacodes commented on #588
@Skarlett I think @di has found the solution to your problem. I'm going to go ahead and close this, but please let us know if you have any more questions.

[2019-01-22 03:39] #588 closed

[2019-01-22 03:42] theacodes opened #590 "Rename this project to packaging.python.org"
It's actually super confusing that this project's name on github doesn't match the serving domain name, so I'd like to go ahead and rename this to `pypa/packaging.python.org` unless anyone has any concerns.

@ncoghlan can you handle this as a PyPA admin?

[2019-01-22 04:31] theacodes commented on #532
At the moment, I don't see much benefit in calling out that the classifiers are an unordered list (it's additional information that isn't immediately useful to the developer). What's great is that now that this issue exists, a cursory google search will reveal the answer to the question.

I'm closing this for now, but if anyone feels strongly the that the tutorial or the setuptools docs should be

[2019-01-22 04:31] #532 closed

[2019-01-22 04:32] theacodes commented on #535
As far as I can tell, there's no action for this project here. Please let me know if I misunderstood.

[2019-01-22 04:32] #535 closed

[2019-01-22 04:32] theacodes commented on #539
Hey folks, this issue has been open for a long time and has a lot of discussion. Have we determined anything actionable for this project?

[2019-01-22 04:33] theacodes commented on #564
Since @dstufft indicated this is a pip problem, I'm going to close this issue here. Please let me know if this is a mistake and there is indeed something actionable for this project.

[2019-01-22 04:33] #564 closed

[2019-01-22 04:35] #584 closed

[2019-01-22 05:13] mahmoud commented on #539
Yes, I have on my task list to make some revisions, including some updated graphics.  :)I got a bit caught up on making [a survey of open-source Python applications](http://github.com/mahmoud/awesome-python-applications) (in large part to collect packaging practices), so the inevitable return is taking a bit longer is all. :)

[2019-01-22 05:15] theacodes commented on #539
No worries, thanks for the update!

On Mon, Jan 21, 2019, 9:13 PM Mahmoud Hashemi <notifications@github.com>
wrote:

[2019-01-22 08:57] pradyunsg commented on #559
From https://help.github.com/articles/transferring-an-issue-to-another-repository/:

I think only the [Organization owners] can, since they're the only ones with the "Admin" permissions on pypa/packaging-problems (AFAICT no pypa team has admin permissions on packaging-problems)

[Organization owners]: https://github.com/orgs/pypa/people?utf8=%E2%9C%93&query=+role%3Aowner

[2019-01-22 09:02] pradyunsg commented on #590
Completely on board for this.

Travis CI and RTD will need updates for their references?

I don't think @ncoghlan has the PyPA admin bit: https://github.com/orgs/pypa/people?utf8=%E2%9C%93&query=+role%3Aowner

[2019-01-22 09:06] pradyunsg commented on #567
Looking at https://docs.readthedocs.io/en/latest/team.html#support-team, @ericholscher perhaps?

[2019-01-22 12:47] ncoghlan commented on #589
Note that the referenced pipenv bug report was actually a Fedora downstream packaging bug (there was an error in the switch from bundled dependencies to shared dependencies)

[2019-01-22 13:13] ncoghlan commented on #577
I think if anything like this goes in, a Discussion page on the general topic of indicating project maintenance and support status would probably be the way to go, as it's an area where there isn't really a right answer, just a lot of different options with various pros and cons.

Some of the options would be:

- badges in the README
- just straight up saying something about in the README
- Trove

[2019-01-22 13:53] ncoghlan commented on #559
@theacodes I think there's a tutorial level fix for this specific issue, which is to include `--no-deps` in the suggested installation test: https://pip.pypa.io/en/stable/reference/pip_install/#install-no-deps

Then there can be a note explaining that because test.pypi doesn't mirror or otherwise redirect to the real PyPI it's better to use '--no-deps' since it's guaranteed free from unwanted side

[2019-01-22 13:57] ncoghlan commented on #590
Yeah, I've usually bugged @dstufft when I needed admin level stuff done (I think @pfmoore may have admin as well).

+1 for renaming, though - the only reason they don't already match is because we didn't actually have the domain name assigned when the project started and the affiliation with the PSF was loose enough that it wasn't clear if/when we'd get it.

[2019-01-22 14:09] pfmoore commented on #590
I have the ability to rename, but I have absolutely no feel for what the impact of doing so would be. For example, wouldn't it break users' email filters that put notifications from this repo into a specific folder?

I'm willing to push the button if the consensus is that it should be done - but I'm not willing to take the flak for doing so :wink:. And personally I think the risks outweigh the ben

[2019-01-22 14:54] pradyunsg commented on #590
FWIW, anyone listed here can make the rename happen.

I think so.

[2019-01-22 17:47] theacodes commented on #590
Email filters might break. Travis accommodates renames well. I *think* ReadTheDocs will be fine, but if not, I'm an admin there and can fix it.

[2019-01-22 17:50] pfmoore commented on #590
Issue links from other projects and/or external pages? Does github maintain redirects when a project gets renamed?

[2019-01-22 18:31] pradyunsg commented on #590
I have no more concerns -- let's do this.

[2019-02-08 12:27] akshaykanawat opened #598 "Platform related issue after packaging with 2 different command."
I've built a private python package which I hosted on bitbucket using "python setup.py bdist_wheel" command and after some modifications, I again rebuilt the package using "python setup.py sdist" command by mistake, which is for source distribution. After that in dist folder two archived files created, one with .gz format and the other with .whl format. Now when I am installing the package, modifi

[2019-02-08 14:48] jwodder commented on #598
What version of pip do you have on Ubuntu and Mac OS?

[2019-02-09 18:01] akshaykanawat commented on #598
For ubuntu it is pip 8.1.1 and for mac it was 2.7

[2019-02-12 06:35] akshaykanawat opened #599 "What happens if both .whl and .tar.gz are indist folder?"
If there are two compressed files in dist folder, one is .whl extension and the other has .tar.gz extension i.e. both built and source distribution are created. Now if I install the package on mac os, which one will be installed and why?

[2019-02-13 17:33] jwodder commented on #599
It depends on how you install the package.  If you just do `pip install /path/to/project/folder` or similar, neither one will be installed; pip will instead build a new wheel from the source tree and install that.  The only way to install from a file in `dist/` is to explicitly specify that file, e.g., `pip install /path/to/project/folder/dist/project-0.1.0-py3-none-any.whl`.

[2019-02-13 17:39] pfmoore commented on #599
If you install using `pip install project --find-links dist` then pip will prefer the wheel, assuming the version is the same, and that the wheel is valid for the target platform/architecture.

But the question begs, why do you care? For the same version of a given project, the wheel and sdist are expected to give functionally identical results when you install them, so it shouldn't matter to you

[2019-02-22 13:00] Frame42 commented on #567
in https://packaging.python.org/tutorials/packaging-projects/
link https://test.pypi.org/project/example-pkg-your-username gives a 404

[2019-02-23 21:17] cs01 commented on #406
In case anyone is interested, I just added this feature to pipx.

The `--include-deps` flag will recursively search all packages for entry points and expose them on the user's PATH.

[code]

[2019-02-26 06:33] theacodes commented on #406
Now that we have a pipx guide, does it make sense to close this? I'm happy to see a pipsi guide as well, but I'm unsure if we need to leave this open.

[2019-02-26 07:02] theacodes commented on #590
@di or @pfmoore, let's do this pretty please?

[2019-02-26 09:54] pfmoore commented on #590
OK, I'll do this now. Posting this *before* I do it so that if any emails go astray post-rename, at least people will have seen this :-)

[2019-02-26 09:55] pfmoore commented on #590
Oh, and note that anything around Travis and/or RTD, I don't have the means to do (it's possible I have permissions, but I've no idea how to). All I'm going to do is rename the github project. Hope that's what is expected.

[2019-02-26 09:57] pfmoore commented on #590
Done. And I got here by following the link from an email sent prior to the rename, so it looks like redirects are working :-)

[2019-02-26 10:46] pradyunsg commented on #590
Awesome! Thanks @pfmoore!

[2019-02-26 11:31] ncoghlan commented on #406
Yep, the new `pipx` guide covers this. Thanks @cs01!

[2019-02-26 11:31] #406 closed

[2019-02-26 12:32] ncoghlan commented on #590
ReadTheDocs project admins are me, Thea, Donald, and Marcus. (Has anyone heard from Marcus lately and know what he is up to these days?)

[2019-02-26 12:38] ncoghlan commented on #590
I've updated what can be updated on https://readthedocs.org/projects/python-packaging-user-guide/ so it isn't reliant on the GitHub redirect any more. Perhaps we should add a link to the GitHub README so future maintainers are made aware of where the RTD config actually lives, and who currently has access?

[2019-02-26 19:56] theacodes commented on #590
Yay, thanks, all!

@ncoghlan https://github.com/pypa/packaging.python.org/pull/600

[2019-02-26 19:56] #590 closed

[2019-02-27 04:46] dimaqq opened #601 "Recommendation for private package index"
Hi packaging team,

Our use case, which I think is relatively common:
* we write Python backend code (app)
* we write some libraries as needed, each in own git repo (github, gitlab, ...)
* some of these we publish, some remain private
* our app depends on mix of public and private libraries

An overview of what private pypi software is available would be most welcome on packaging.python.org or rel

[2019-02-27 05:05] dimaqq commented on #539
My 2c as a user of pypi (99.9% read, <.1% write):

The overview has too much text:
* not everyone is good at reading prose
* newcomer needs a quick summary (.py, .whl, requirements.txt, pypi, go)
* like in a newspaper, prioritise first page with actionable at the expense of exact

For example, the following:

Should, IMO, be replaced with:

(yes, a single word.)

Thus, on the subject of `sdist`, I

[2019-02-27 05:29] mahmoud commented on #539
@dimaqq Thanks for the feedback! I'll look at tightening up the language on the next round of edits.

Based on your feedback, I'll have to address the potential miscommunication that this document is meant as an introduction to PyPI, which it is not. Most Python software is not on, nor appropriate for, distribution with PyPI.

This overview is meant to provide an integrated perspective for develop

[2019-03-02 13:21] pradyunsg commented on #320
I've not been able to make time for this. If someone else wants to pick this up, please feel free to.

[2019-03-05 22:39] ncoghlan commented on #601
There's a basic guide here: https://packaging.python.org/guides/index-mirrors-and-caches/

However, it was mainly put together to hold the "Use devpi" recommendation, and doesn't consider all the alternatives that are available (including the multi-language ones like Artifactory)

[2019-03-06 04:37] pradyunsg commented on #601
@ncoghlan I think we probably should probably try to improve discoverability of this information. Googling "python private package index" shows as 2nd result: https://packaging.python.org/guides/hosting-your-own-index/

I feel a more approachable name for the two guides, along with cross-linking between them would help the situation here.

[2019-03-10 16:44] guy881 opened #603 "Repeated word "audience" in overview"
Hey, I probably found a mistake on this page: https://packaging.python.org/overview/#id9

I am not a native speaker, but I suppose this is just a unintended repetition of word  "audience".

[2019-03-10 19:06] theacodes commented on #603
Thanks, @guy881!

[2019-03-10 19:08] #603 closed

[2019-03-14 13:23] ncoghlan commented on #388
https://packaging.python.org/specifications/distribution-formats/#source-distribution-format was updated to reference PEP 517 back in #472, but we didn't close this issue at the time.

I found it again while starting to file an issue pointing out that as of the pip 19 release in January 2019, PEP 517 and PEP 518 *are* supported now, so `setup.py` shims are only needed for compatibility with older

[2019-04-27 13:24] Juanlu001 commented on #320
In the guide that @certik proposed in #560, it's mentioned that:

  ``pip install -e .``.

However, after the recent problems with pip 19.1 and editable installs, @pfmoore wrote a comment that left me thinking:

https://github.com/pypa/pip/issues/6434#issuecomment-487212683

I think there's a risk that editable installs don't get implemented in this post-PEP 517 world since they seem to be a setup

[2019-04-27 18:29] pfmoore commented on #320
I think it's extremely unlikely that they won't get supported - too many people use and rely on them to drop the idea. But it needs people to work on the standards and the implementation, so it's slow going as we're all volunteers.

I wish we *could* get a sense of how the majority (silent or otherwise) feels. The main reason this issue remains stalled is that there's no obvious consensus among ac

[2019-04-28 01:42] bskinn commented on #320
**tl;dr** I think we need editable installs in order to ease the entry pathway for novice Python package developers.

**Long version** Something I don't think I've seen in the discussion so far is this: I think it's also important to keep in mind that editable installs represent by far one of the easiest, most-minimal-config approaches for beginning package developers to get their work under relia

[2019-04-28 07:40] pfmoore commented on #320
I'm fine with this, but it's not relevant to the question of `src` or not, and this topic is long enough that I don't want it to digress any further :-)

[2019-04-28 12:00] bskinn commented on #320
@pfmoore You're absolutely right, of course; I mistakenly thought I was still on a pip9.1/PEP517 thread when I posted. :frowning_face:

I've already cross-posted to the [discuss.python thread](https://discuss.python.org/t/pip-19-1-and-installing-in-editable-mode-with-pyproject-toml/1553/16), a much better place for it.

[2019-05-04 20:20] kojoidrissa opened #610 "Missing redirect for publishing tutorial"
Links in the CPython docs for distributing modules, found [here](https://docs.python.org/3.6/distributing/index.html#reading-the-guide) link to https://packaging.python.org/tutorials/distributing-packages, but these docs have moved to [Packaging Python Projects](https://packaging.python.org/tutorials/packaging-projects/)

I found this with @ncoghlan, and he's working on cleaning it up as I type th

[2019-05-04 20:29] ncoghlan commented on #610
Fixed directly on readthedocs.org - the path with the trailing slash was redirected, but the CPython links omit the slash.

I also changed the `/distributing` redirect to go directly to the new location.

@theacodes I remember we were talking a while back about potentially setting up a version controlled file defining the redirects, but am I right in thinking we never actually set that up, and we'

[2019-05-04 20:29] #610 closed

[2019-05-04 21:10] theacodes commented on #610
Yeah we still have to manually do stuff in ReadTheDocs. I needed to go
learn how to write scripts for our CDN so we could do it there, but I
haven't had the time.

On Sat, May 4, 2019 at 4:29 PM Nick Coghlan <notifications@github.com>
wrote:

[2019-05-06 20:14] vadave opened #612 "Add python_requires usage to packaging tutorial"
Based on discussions at the Python Packaging Summit (for potentially making python_requires a mandatory field at some future point), we realized that the current version of the packaging tutorial does not demonstrate usage of the `python_requires` syntax.

[2019-05-06 20:37] #612 closed

[2019-05-06 21:16] bhrutledge opened #614 "Clarify that Packaging Tutorial is for importable modules"
Following-up from a discussion with @ncoghlan at the PyCon 2019 packaging sprint, re: https://packaging.python.org/tutorials/packaging-projects/

I have a simple executable script that I run on the command line as `python my_utility.py`. I'd rather run it as `my_utility`. The tutorial doesn't cover `entry_points`. I don't necessarily think it should, but I think it'd be helpful to make that a clea

[2019-05-06 21:25] bhrutledge opened #615 "Add a tutorial/guide for creating a command line tool"
Related to #614.

As a companion to the [packaging tutorial](https://packaging.python.org/tutorials/packaging-projects/) and [installing command line tools guide](https://packaging.python.org/guides/installing-stand-alone-command-line-tools/), it'd be nice to have a walkthrough of transforming a command-line utility from running `python my_utility.py` in the script's directory to running `my_utili

[2019-05-07 17:53] chrahunt opened #616 "Add importlib.metadata as an approach in "Single-sourcing the package version""
The [current version](https://github.com/pypa/packaging.python.org/blob/50e680302eed35e2631d69f70881088e8d6124e6/source/guides/single-sourcing-package-version.rst) of "Single-sourcing the package version" has an example using `pkg_resources`. It would probably make sense to include an item using `importlib.metadata` since it will be standard in 3.8+ with a backport as `importlib_metadata` and can

[2019-05-08 17:27] ncoghlan commented on #615
@theacodes Something that occurred to me while talking to Brian about this is that we have a potentially interesting opportunity here around the following structure:

* how to package a utility to make it installable with `pipx` (tutorial, perhaps?)
* how to use `briefcase` to take a utility installable with `pipx`, and create platform native installers for it

(cc @freakboy3742)

[2019-05-08 17:35] theacodes commented on #615
I'd love guides along those two lines.

On Wed, May 8, 2019, 10:27 AM Nick Coghlan <notifications@github.com> wrote:

[2019-05-08 19:24] freakboy3742 commented on #615
Briefcase doesn't currently have any tooling for supporting command line scripts - it's focused on packaging traditional "app" bundles (i.e., icons on a launcher that create a window). However, I don't have any objection to adding a mode for adding command line scripts.

[2019-05-08 20:39] bhrutledge commented on #615
I did what I think is the minimum amount of work to convert a standalone script to an installable utility in the [first release](https://github.com/bhrutledge/trello2md/tree/0.1.1) of a personal utility. The [next release](https://github.com/bhrutledge/trello2md/tree/0.1.2) added a `README` and `LICENSE`.

I know this doesn't follow a lot of best practices (package instead of module, `__main__`, t

[2019-05-20 09:10] Venu-Gopal18 commented on #194
@ddbeck  I am good at content writing and well aware of python . Is there anything I can do? I want to be participate as active as possible cuz I'm new

[2019-05-25 04:04] pradyunsg opened #617 "Broken Link in Index Mirrors and Cache Guide"
https://packaging.python.org/guides/index-mirrors-and-caches/#caching-with-pip has an outdated/broken link: "fast and local installs"

[2019-05-26 11:17] pradyunsg commented on #320
This was discussed at the Packaging Mini Summit ([notes for that][summit-notes]). Here's my rough summary from memory + the notes:

- We should use a name for non-src/ layout that isn't negative-tone:
  - suggestions at the summit: flat / natural / root / simple (please bikeshed elsewhere)
- Everyone agreed that there are benefits to the `src/` layout and that it should be documented.
- Final posi

[2019-05-26 14:48] ionelmc commented on #320
Regarding naming, dunno where else to post this, but for all intents and purposes "adhoc layout" is a better name than the flat/natural/simple alternatives:
* it's better suited for web search and indexing due to its rarity; the other words are pretty common,
* it conveys with high clarity the lack of structure, and convenience (easy to start with that layout)
* it's neutral

[2019-05-26 17:12] cjerdonek commented on #320
@ionelmc Note that @pradyunsg said _not_ to bikeshed here ("please bikeshed elsewhere").

[2019-05-26 18:17] ionelmc commented on #320
Pretty sure that's just copied of a whiteboard/meeting notes, so the context is different (a meeting at pycon, not this issue).

[2019-05-26 18:26] astrojuanlu opened #618 "Find better name for "non-src" layout"
From https://github.com/pypa/packaging.python.org/issues/320#issuecomment-495990983:

Suggestions so far:

* flat
* natural
* root
* simple
* adhoc (https://github.com/pypa/packaging.python.org/issues/320#issuecomment-496006293)

[2019-05-26 18:26] Juanlu001 commented on #320
@ionelmc I took the liberty of opening a new issue https://github.com/pypa/packaging.python.org/issues/618

[2019-05-26 18:31] cjerdonek commented on #618
Another possibility:

* top-level

[2019-05-26 19:13] pradyunsg commented on #320
No. It's not. There's a link to the notes taken at PyCon and if you'd spent 30 seconds to click and scroll through to verify that assumption, you'd have noticed that.

[2019-05-26 20:39] ionelmc commented on #320
Sheeesh ... I'm sorry I ruined your bugtracker fengshui. No need to get so hostile and negative.

[2019-05-26 23:19] pradyunsg commented on #320
I didn't mean to be hostile and apologies if it came across as that. It's not fengshui that I'm worried about here (GitHub lets us hide comments now) but I digress.

[2019-05-26 23:22] pradyunsg commented on #320
Coming back on topic here, @takluyver I think the concensus reached at the summit also places us in a good situation w.r.t. flit by having an unambiguous suggestion for what flit should do -> `module.py` OR `src/module/__init__.py`.

How do you feel about modifying flit to allow src/ for packages and not modules, and would flit support/remove support for non-src/ packages?

[2019-05-27 00:10] ofek commented on #320
@pradyunsg By "single module", do you mean literally 1 file?

[2019-05-27 00:55] pradyunsg commented on #320
Yep.

[2019-05-27 01:13] pradyunsg commented on #320
I guess that could be extended to multiple top-level modules, but this wasn't pointed out / discussed during the discussion at the summit though.

Optimistically summoning @ncoghlan and @dstufft for their thoughts on this.

[2019-05-27 02:17] ofek commented on #320
Yes please, multiple top-level modules is the correct heuristic imo. Examples include:

https://github.com/kennethreitz/requests
https://github.com/pallets/flask
https://github.com/docker/compose
https://github.com/huge-success/sanic

etc.