[2014-01-15 06:12] qwcode opened #2 "Get a python.org subdomain"
packaging.python.org?

---

migrated from https://bitbucket.org/pypa/python-packaging-user-guide/issue/42

[2014-01-15 06:15] qwcode opened #3 "convert FIXMEs to TODOs"
convert the FIXMEs to TODOs and use the sphinx todo plugin to gather them into a list that's displayed.

---

migrated from https://bitbucket.org/pypa/python-packaging-user-guide/issue/43

[2014-01-15 06:19] qwcode opened #4 "refactor setuptools docs"
Opening this issue to track the effort to fix/improve the setuptools docs.

This relates to this guide, because it makes it easier to link/reuse it's content, vs just trying to paste a tutorial on top of it.

Specific things to address:
- use the [Standard Pypa Docs Template](https://gist.github.com/qwcode/8431828)
- de-emphasize eggs and easy_install (currently listed as top 2 features)
- emphasi

[2014-01-15 06:22] qwcode opened #5 "refactor virtualenv docs"
use the [Standard Pypa Docs Template](https://gist.github.com/qwcode/8431828)

[2014-01-15 06:23] qwcode opened #6 "refactor pip docs"
use the [Standard Pypa Docs Template](https://gist.github.com/qwcode/8431828)

[2014-01-15 06:23] qwcode opened #7 "refactor wheel docs"
use the [Standard Pypa Docs Template](https://gist.github.com/qwcode/8431828)

[2014-01-15 06:25] qwcode opened #8 "Add topic for "Supporting Multiple Python Versions""
Similar to the "Binary Extensions" topic, it would be good to have a topic covering how to support multiple Python versions effectively.

Useful projects/resources to reference:
- six
- tox
- Travis and Shining Panda CI
- Ned Batchelder's What's in Which version pages
  - http://nedbatchelder.com/blog/201310/whats_in_which_python_3.html
  - http://nedbatchelder.com/blog/201109/whats_in_which_pytho

[2014-01-15 06:26] qwcode opened #9 "Ensure the user guide provides a clear answer to this SO question"
This is a good example of the kind of confusion that we want the Installation & Packaging Guide to address:
http://stackoverflow.com/questions/14665216/how-to-easily-distribute-python-software-that-has-python-module-dependencies-fr

(No, I'm not copying the whole thing in, it's huge)

---

migrated from https://bitbucket.org/pypa/python-packaging-user-guide/issue/9

[2014-01-15 06:28] qwcode opened #10 "setup.py/install_requires vs requirements.txt"
3 distinctions to cover I think:
- abstract vs concrete requirements (https://caremad.io/blog/setup-vs-requirement/)
- minimally defined vs exhaustive or frozen (http://stackoverflow.com/a/7085000)
- project requirements vs environment requirements.

[2014-01-16 00:52] qwcode opened #12 "docs.python.org updates"
issue to track docs.python.org changes related to packaging/installation

so far, we just have some disclaimers added with links back to the PUG
Python 2.7 docs: http://hg.python.org/cpython/rev/a9f91a38a265
Python 3.3 docs: http://hg.python.org/cpython/rev/16b7536e418b

[2014-01-19 20:47] qwcode opened #16 "mention the Pypa sampleproject"
mention https://github.com/pypa/sampleproject here https://python-packaging-user-guide.readthedocs.org/en/latest/packaging.html#getting-started-with-setuptools, but also in a new "Quickstart" section that @pfmoore is working on

[2014-01-20 19:14] #16 closed, assigned to nobody

[2014-01-20 19:40] #3 closed, assigned to nobody

[2014-01-21 05:57] qwcode opened #18 "Alternative TOC"
thoughts on a different TOC (motivated from comments in #16)
- Introduction
- Installation & Packaging Quickstart  (like now but with more links and notes)
  -  Install the Tools
  -  Create an Environment
  -  Install Packages
  -  Cache Wheels
  -  Create your own Project
  -  Build & Upload your project to PyPI
- Tool Recommendations (like now, but also add justifications where needed)
- The Fu

[2014-01-23 17:14] #18 closed, assigned to nobody

[2014-01-27 09:34] guettli opened #22 "No search hit for "requirements.txt""
There is no search hit for "requirements.txt". The word is in the docs, but some how I does not appear if you search for it.

See: http://python-packaging-user-guide.readthedocs.org/en/latest/search.html?q=requirements.txt&check_keywords=yes&area=default#

[2014-01-28 02:57] #10 closed, assigned to nobody

[2014-01-28 03:10] #9 closed, assigned to nobody

[2014-01-28 03:24] #8 closed, assigned to nobody

[2014-01-28 03:27] #22 closed, assigned to nobody

[2014-02-01 18:27] brettcannon opened #24 "Add an Example Deployment Strategies section"
The section would give people a launching-off point for solving their own deployment needs. I envision covering 3 types of deployments, but always using a venv and unpacking everything:
1. Always pull from PyPI (e.g. push a requirements file and then running pip on it)
2. Pulling from a private wheel repo (same as above but not hitting PyPI to save on speed/bandwidth)
3. cp a single wheel/zipfile

[2014-02-05 01:17] qwcode opened #25 ""Project" glossary term"
migrated from https://bitbucket.org/pypa/python-packaging-user-guide/issue/33/glossary-item-project-and-subsidiary-terms

---

Graham Wideman created an issue 2013-11-04
The word "project" is pretty important in the packaging and distribution landscape. For example in the single page Building and Distributing Packages with Setuptools it appears almost 300 times, with many qualities and characteris

[2014-02-05 01:21] qwcode opened #26 "Quick Recommendations page -- obstacles to understanding or adoption"
migrated from https://bitbucket.org/pypa/python-packaging-user-guide/issue/27/quick-recommendations-page-obstacles-to

---

Graham Wideman created an issue 2013-10-23
On another recent issue I've commented that I'm trying to assemble coherent recommendations for packaging and deployment doc improvements, and that is still in process.
In the meantime, a couple of most-pressing issues with the Quick

[2014-02-06 07:54] #24 closed, assigned to nobody

[2014-02-12 06:22] #6 closed, assigned to qwcode

[2014-02-23 00:23] brettcannon opened #29 "Mention wheel's `universal = 1` setting"
Maybe in http://python-packaging-user-guide.readthedocs.org/en/latest/quickstart.html#build-upload-your-project-to-pypi ?

[2014-02-23 00:23] brettcannon opened #30 "Mention Twine's support for GPG signatures"
Either `twine -a` or by just including the `*.asc` files in its argument. Probably belongs in http://python-packaging-user-guide.readthedocs.org/en/latest/quickstart.html#build-upload-your-project-to-pypi

[2014-02-23 00:25] brettcannon opened #31 "Mention `python setup.py register`"
Probably in http://python-packaging-user-guide.readthedocs.org/en/latest/quickstart.html#build-upload-your-project-to-pypi

[2014-02-23 07:21] #29 closed, assigned to nobody

[2014-02-23 11:26] ncoghlan opened #32 "LCA2014 presentation link"
linux.conf.au 2014: Python Packaging 2.0: Playing Well With Others (http://lwn.net/Articles/580399/ and https://www.youtube.com/watch?v=7An2GobbSWU)

Had another go at finding a video for PyTexas, no joy.

Do we want to point people at Noah's upcoming PyCon US 2014 talk? (https://us.pycon.org/2014/schedule/presentation/204/)

This intro talk from Asheesh Laroia may also be worth highlighting: http

[2014-02-23 22:27] #12 closed, assigned to nobody

[2014-02-23 22:28] #7 closed, assigned to nobody

[2014-02-23 22:28] #5 closed, assigned to nobody

[2014-02-23 22:28] #4 closed, assigned to qwcode

[2014-02-23 23:47] #2 closed, assigned to nobody

[2014-02-24 03:56] #32 closed, assigned to nobody

[2014-03-20 03:58] qwcode opened #40 "document `--universal` flag"
upon the new wheel release, document the `--universal` flag, and that "bdist_wheel" is the canonical setup.cfg section to use, not "wheel"

see  https://bitbucket.org/pypa/wheel/pull-request/32

also, log an issue to pythonwheels.com to change it's docs.

[2014-03-21 08:10] guettli opened #42 "Please explain entry point console_scripts"
Please explain the entry point 'console_scripts'.

The sampleproject contains an example, but docs would be nice.

[code]

The "Scripts" section is still empty: https://github.com/pypa/python-packaging-user-guide/blob/master/source/tutorial.rst#scripts

[2014-03-21 23:29] qwcode opened #43 "document `--user` option for core tool installs"
consider documenting (assuming we test it more) that you can `get-pip.py --user`, and mention `--user` as a possibility for the install of `virtualenv` (and `wheel`, and `twine` too, if not in a virtualenv)

see https://github.com/pypa/pip/issues/1668

[2014-03-24 13:36] guettli opened #45 "Please explain a good way to handle version numbers"
Most python project handle their own version number in a different way.

Goal: A common way to define it once, use it several times.

There is a solution in the example setup.py (find_version()), but please tell us something in the docs about it in this paragraph:

https://python-packaging-user-guide.readthedocs.org/en/latest/tutorial.html#version

Related:
-  http://stackoverflow.com/questions/45

[2014-04-03 04:43] #40 closed, assigned to nobody

[2014-04-03 04:46] #42 closed, assigned to nobody

[2014-04-04 11:18] techtonik opened #47 "API/ABI difference needs to be explained"
I wanted to add there links to [extensions.rst](https://github.com/pypa/python-packaging-user-guide/blob/master/source/extensions.rst) page:

But could not find a good place to inject this. I am not sure that I completely get the difference between Public API and Stable API from a perspective of extension developer, and also there is no explanation what ABI is about and what is its practical purpo

[2014-04-06 16:27] #25 closed, assigned to nobody

[2014-04-11 01:44] westurner opened #48 "Catalog of bdist_{rpm, deb, nsi, wininst, msi, esky, wheel} utilities?"
There are myriad ways to generate OS packages and installers from setuptools. The question has been presented a number of times. Would a separate page for cataloging bdist_\* methods be in scope for this project?
- http://www.reddit.com/r/Python/comments/1qx2nb/distributing_python_3_applications_very_tempted/cdhnwku
- http://www.reddit.com/r/Python/comments/1ew4l5/im_giving_a_demo_of_python_to_a_b

[2014-04-11 15:35] qwcode opened #49 "add a FAQ"
in addition to the tutorial, I think a FAQ would be another way to help users find the information they need.

[2014-04-20 11:43] pfmoore opened #51 "Clarify why we recommend entry points"
Add a bit more details on why entry points are recommended rather than `.py` scripts or batch files. Include a mention of the limitations of `PATHEXT` on Windows and the difficulty for single-platform developers of maintaining robust cross-platform solutions.

[2014-05-10 18:23] JonasGroeger opened #53 "How to build packages with c / c++ code"
I would like to write something about it like I [already did here](https://github.com/cython/cython/wiki/64BitCythonExtensionsOnWindows).

Where should I put it in the hierarchy?

[2014-05-15 06:44] #45 closed, assigned to nobody

[2014-05-15 16:59] #51 closed, assigned to nobody

[2014-05-29 12:45] rumpelsepp opened #57 "typo in history.rst"
should be

[2014-05-29 13:05] #57 closed, assigned to nobody

[2014-06-28 14:41] ncoghlan opened #62 "Provide a clearer visual brand identity for the PyPA documentation"
Currently, there's no obvious indication when viewing the Python Packaging User Guide itself that it's an officially blessed project of not only the pip/virtualenv/pypi/twine/setuptools development teams, but also of the CPython core developers. The "packaging.python.org" URL isn't enough, especially when the ReadTheDocs link is still better known to search engines.

It would be desirable to align

[2014-06-30 08:02] guettli opened #63 "Please include sphinx"
Please include some basic instructions where to put sphinx docs.

I don't want a copy of sphinx introduction, but a basic help how to layout
the  directory of the docs.

I know that anybody can use the structure he wants, but a basic best practice guideline would help people which are new to python.

[2014-07-03 00:28] dstufft opened #65 "Use HTMLDir"
The default on RTD is to use Sphin'x HTML output, which does something lame like https://packaging.python.org/en/latest/current.html which is not a pretty URL. It would be great if instead this used HTMLDir which would give an URL like https://packaging.python.org/en/latest/current/ which is prettier!

[2014-07-03 00:30] dstufft opened #66 "Reconcile RTD URL and canonical packaging.python.org URL"
So right now we're using the excellent RTD platform for hosting this guide. However the old URL is still floating around and a lot of people don't know about the https://packaging.python.org/ URL.

Maybe it would be a good idea to move to hosting this ourselves (or use a different hidden name) and have the old long name use a HTML redirect or even just say that the guide has moved. Maybe we can ev

[2014-07-22 15:22] qwcode opened #70 "mention pip's new automatic download cache"
mention pip's new automatic download cache in the "mirrors and caches" section when v1.6 is released.

[2014-08-10 15:43] #31 closed, assigned to nobody

[2014-08-10 15:44] #30 closed, assigned to nobody

[2014-08-29 00:37] gwideman opened #87 "Tutorial page: "package" needs clarification"
Regarding page: https://packaging.python.org/en/latest/tutorial.html

[Edit: Preview isn't working, and I can't figure out how to either use or suppress github's auto-numbering... grrr]

ONE. the word "package" appears in the narrative over 30 times (and many more times in the source code). In a significant proportion of cases, it's difficult to tell (particularly given that this is a tutorial) wh

[2014-08-29 00:40] gwideman opened #88 "Glossary Project entry"
" It’s possible to install a distribution from the project ‘spam’ and have it provide a package importable only as ‘eggs’."

Very unfortunate example, as "egg" is one of the distribution formats, giving this sentence multiple confusing meanings.

[2014-09-04 17:32] qwcode opened #89 ""Terminology Usage and Pronunciation Guide""
pasted from https://github.com/pypa/python-packaging-user-guide/issues/87#issuecomment-53976137
(from @ncoghlan )

So my proposal would be that we add a separate "Terminology Usage and Pronunciation Guide", distinct from the existing glossary, as it's primarily useful to folks writing documentation and creating presentations, rather than being necessary for folks reading or watching them.

Writing

[2014-09-26 10:46] pfmoore opened #93 "Add a section on building Windows binary wheels using a CI services (appveyor)"
I want to include a section in the official user guide on how to set up automatic wheel builds for Windows. The idea is to give projects a simple "cookbook" approach to getting wheels, without needing access to Windows environments, etc.

Some possible issues:

1. We don't cover testing in the PUG, so is it OK to describe setting up to CI services?
2. Is it OK to promote appveyor here? To my knowl

[2014-09-28 23:02] cjerdonek opened #95 "Document the license argument to setup.py"
It would be good to document permissible values for the "license" argument to setup.py and how it is used: https://python-packaging-user-guide.readthedocs.org/en/latest/tutorial.html#metadata

[2014-09-29 15:45] cjerdonek opened #97 "Have separate tutorials for project maintainers and installing packages"
I offered high-level feedback on the Packaging User Guide in its early stages -- back when the source files were hosted on Bitbucket.  I'm very happy with how the documentation has come along since then.  Thank you!  I especially like how the documentation aims for simplicity.

With that in mind, I would like to suggest that the tutorial for installing packages be separated from the tutorial for p

[2014-09-30 22:40] cjerdonek opened #100 "Articulate distinction between "library" and "application" projects"
There is a distinction between "library" projects and "application" projects that I only recently became more clearly and consciously aware of.  For example, see: http://www.fullstackpython.com/application-dependencies.html

The installation and distribution procedures in these two cases are somewhat different.  For example, on the packaging and distribution side, it seems libraries should normall

[2014-10-01 12:36] guettli opened #101 ""sphinx" should be found in the docs"
Since documentation of python packages is done with `sphinx` it should be mentioned somewhere.

But up to now it is not. See:
https://python-packaging-user-guide.readthedocs.org/en/latest/search.html?q=sphinx

Please add some information about sphinx.

A link to the sphinx docs is enough. Nobody needs a redundant copy of the sphinx docs.

[2014-10-03 17:20] #97 closed, assigned to nobody

[2014-10-04 08:55] ncoghlan opened #106 "Revisit "Package" vs "Distribution" vs "Distribution Packages""
To align with my changes to the stdlib docs, I tweaked a couple of section titles to use the term "Distribution Packages" rather than "Distributions": https://github.com/pypa/python-packaging-user-guide/commit/4c2e8759a2cdae798daeb8c7fe9907073caae876

However, that introduced something of an internal inconsistency within PyPUG, so I created this issue to specifically consider how to handle this lo

[2014-10-05 02:28] ncoghlan opened #107 "Consider switching to "python -m pip" in examples"
The bare "pip" invocation can fail in various circumstances, and it isn't clear how to invoke it such that it applies to the expected version of Python when multiple versions are installed in parallel. "python -m pip" works in more cases, and works cleanly with version switching invocations, like the Python Launcher for Windows, and python vs python3 at the system level on *nix systems.

http://bu

[2014-10-05 13:32] cjerdonek opened #108 "Provide packagers with clarification on pythonhosted.org"
One question that I'm sure newcomers to packaging have is, "where should I host my documentation?" or "is there an official or preferred place to host my documentation?" (I sure had this question.)

Of course, PyPI displays the package's "long_description" (which is also worth mentioning in the guide), but PyPI also says this on the edit page for a package--

I know the Guide tries to avoid taking

[2014-10-18 18:02] madprime opened #114 "how to update and upgrade a project on pypi"
It wasn't clear to me from this tutorial how to upgrade a project on PyPI to a new version:
https://packaging.python.org/en/latest/distributing.html#uploading-your-project-to-pypi

[2014-11-07 21:06] chrish42 opened #116 "Packaging guide links to (contradictory) setuptools documentation"
The packaging guide currently links to the setuptools documentation (http://pythonhosted.org/setuptools/). Given that the latter contradicts the packaging guide in multiple instances, I think that having the link is confusing to newcomers to Python and its packaging ecosystem. I think the link to http://pythonhosted.org/setuptools/ should be removed, or at least clearly marked with something sayin

[2014-11-14 02:04] #116 closed, assigned to nobody

[2014-11-20 13:54] ncoghlan opened #118 "Recommend a default cross platform virtual environment management tool"
(Note: the issue scope broadened considerably over the course of the subsequent discussion. When reading the comments below, note that the early ones were responding to the original issue title and description, which are preserved below)

As you accumulate more virtual environments, it's useful to have a tool to help manage them (creating new ones, listing the ones that already exist, activating t

[2014-12-07 20:48] derwolfe opened #120 "document installation of optional dependencies in the tutorial"
The tutorial should show the syntax required to install an optional dependency for a project.

[2014-12-22 00:37] ncoghlan opened #127 "Split out multi-version support to its own advanced topic?"
Multi-version support is currently a subsection of the "project development" advanced topic. Given the complexity of this issue, should it perhaps be its own advanced topic?

The main thought that prompted this is that I would like to absorb the list of standard library backport projects from the [Python 2 or Python 3](https://wiki.python.org/moin/Python2orPython3) page on the wiki into this secti

[2014-12-23 22:50] evildmp opened #128 "Inconsistent quoting of setup() arguments in distributing tutorial"
Some arguments are quoted without their trailing comma, such as `name` and `version`, and some are quoted with, such as `metadata`:
- https://github.com/pypa/python-packaging-user-guide/blob/master/source/distributing.rst#name
- https://github.com/pypa/python-packaging-user-guide/blob/master/source/distributing.rst#metadata

I think it makes more sense to leave out the comma in this context. I can

[2014-12-23 23:42] #128 closed, assigned to nobody

[2014-12-27 20:46] #127 closed, assigned to nobody

[2014-12-27 21:02] #120 closed, assigned to nobody

[2014-12-29 22:57] glyph opened #131 "document how a python project should document installing itself"
Right now, many many projects on PyPI document their install process as `sudo pip install`.  This is (obviously, I hope) suboptimal.

How _should_ projects document their installation process?  It's tempting to say "just `pip install`", but this falls apart if:
1. the user doesn't have a C compiler, but the project has a C extension
2. the user doesn't have the right version of a C compiler (for e

[2015-01-02 04:04] #106 closed

[2015-01-02 04:05] #87 closed

[2015-02-01 11:43] einmalfel opened #135 "Is Python3-only package installation forbidden on Linux machines?"
My project is written in Python 3 and is not compatible with version 2. Also, it doesn't have any C extensions.
I was going to package it for Linux (Windows and Mac compatibility might be added later).
Following python packaging user guide, I wrote a setup.py script and made other preparations, but when I went to a distribution part of a guide I found that there is two options:
- create a universa

[2015-02-01 13:52] pfmoore commented on #135
If you just do ```setup.py bdist_wheel``` for a pure Python package, by default you'll get a package that runs only on Python 3 (or Python 2, if that's what you ran setup with).

There should probably be an extra section in the guide explaining this - it's likely it was left out for no better reason than that it's the default and someone forgot to mention it.

[2015-02-01 14:07] pfmoore commented on #135
@einmalfel See #136 - does that clarify the situation sufficiently?

[2015-02-01 14:25] einmalfel commented on #135
Please, explain the difference between the "wheel" described in a section you add and a "platform wheel" described further in the guide?
Both a created with `python setup.py bdist_wheel`.

[2015-02-01 19:09] pfmoore commented on #135
@einmalfel Can you check #137 - @qwcode rewrote my attempt, does the new version adequately cover your concerns?

[2015-02-01 19:27] einmalfel commented on #135
@pfmoore @qwcode
For me, it's now clear. Thanks

[2015-02-01 19:37] #135 closed

[2015-02-01 21:55] pfmoore commented on #135
Thanks for pointing out the issue, and thanks @qwcode for refining my original attempt.

[2015-02-23 10:14] illume commented on #107
The pip bug you mention caused by distlib is fixed: https://bitbucket.org/pypa/distlib/issue/47

"various circumstances" is vague, and is not convincing.

Who updated the python docs to suggest python -m pip? It's just confusing telling people to do things in all sorts of different ways.

The pip guide does not suggest using this method.

No one uses this in practice.

python -m also fails for old

[2015-02-23 10:16] illume commented on #70
Yes, this was a confusing change with the new pip.

[2015-02-24 19:40] vitalk opened #138 "Inaccurate example in documentation"
In section about ["Single-sourcing the Project Version"](https://packaging.python.org/en/latest/single_source_version.html#single-sourcing-the-version) uses the hardcoded path to project path instead of `os.path.join` usage:

[code]

The correct path should be:

[code]

[2015-03-13 14:45] cpaulik opened #142 "Mention pyscaffold in the Packaging Tutorial?"
I found [Pyscaffold](http://pyscaffold.readthedocs.org/) very useful for creating my packages, especially since it also integrates with Shinx and pytest. Could this be mentioned in the Guide or is there a reason why this is not a good idea?

[2015-03-17 15:37] qwcode opened #143 "setup_requires"
things to cover
- delayed/nested imports (e.g. http://pytest.org/latest/goodpractises.html#integration-with-setuptools-test-commands)
- 3rd party workaround: https://bitbucket.org/dholth/setup-requires
- pip's plan to take control of setup_requires processing
- PEP426 replacements...
- https://pip.pypa.io/en/latest/reference/pip_install.html#controlling-setup-requires

[2015-03-17 16:12] qwcode opened #144 "citation for distutils security flaw"
see https://github.com/pypa/python-packaging-user-guide/commit/d6519e80e8b61dd7841fd4e445f8e145a4a66914#commitcomment-10156757

[2015-03-19 21:12] zzzeek opened #145 "no mention whatsoever of testpypi.python.org in docs"
the top [tool recommendations](https://python-packaging-user-guide.readthedocs.org/en/latest/current.html) page recommends using twine for secure uploads, when we look at the front page for [twine](https://pypi.python.org/pypi/twine) we see a super simple "twine upload" command, with no mention whatsoever that it will ignore your "sign" directive in setup.cfg and needs to be explicit, and due to t

[2015-04-09 14:29] kerrywatson1 opened #148 "Update description of conda package manager"
The description of conda from 2013 is outdated. I would like to replace it with something like the following. I'm new to github editing so wanted to post it before attempting to edit, please be kind in letting me know if I've broken any protocols, thanks.

"The conda cross-platform package manager

Anaconda is a Python distribution published by Continuum Analytics. It is a stable collection of  Op

[2015-04-12 22:35] qwcode commented on #148
no protocols broken.... you can proceed to a PR.

[2015-04-14 21:12] kerrywatson1 commented on #148
Thanks @qwcode I believe this is complete... please check and let me know if I can merge it.

[2015-04-15 19:58] kerrywatson1 commented on #148
@qwcode Okay I believe I have addressed your concerns, please let me know if not. Thanks for your help!

[2015-04-16 00:28] qwcode commented on #148
ok, merged.  thanks.

[2015-04-16 00:28] #148 closed

[2015-04-19 16:33] ncoghlan opened #151 "Add a "reference" section pragmatically summarising interoperability standards"
As per the thread at https://mail.python.org/pipermail/distutils-sig/2015-April/026206.html, it would be desirable to have stable homes on packaging.python.org that documented:
- the current version of various interoperability specifications
- which versions of the PyPA tools introduced support for that version of the specification
- end user (as opposed to tool developer) focused overviews of the

[2015-04-19 16:42] qwcode commented on #151
re-pasting my comment from the thread:

the PyPA site has a PEP reference that includes details on implementation:

    https://www.pypa.io/en/latest/peps

I don't think we need another reference in the Packaging User Guide (PUG).   We could mention that the PyPA one exists in the PUG.

As for user-facing PEP docs, I think the docs for PUG/pip/setuptools/wheel etc.. should handle that inline, and

[2015-04-19 16:46] ncoghlan commented on #151
I'm more talking about "What problem does this specification solve?" kinds of documentation, as that's something that tends to confuse end users a bit. PEP 440, for example, is the combined superset of all supported versioning schemes, and represents PyPA being opinionated on behalf of package installers to constrain the practices of package publishers.

It would also serve as an index of "core to

[2015-04-19 16:54] ncoghlan commented on #151
I'd also expect the PUG reference entries to be topic based rather than driven by the PEP numbers. Looking at https://github.com/pypa/interoperability-peps for inspiration, likely topics would be:

* Dependency management
* Versions & version comparisons
* Platform compatibility markers
* Distribution archive formats
* Package installation database
* Ensuring integrity of distribution
* Build syst

[2015-04-19 17:11] qwcode commented on #151
I like the idea of refactoring the index in the PyPA docs by topic.,  just not sure about a centralized topic index like this in the PUG.  I'm more inclined to cover these topics as they naturally occur in the various places in the user docs.  For example, as a user, I would expect (and want) dependency management to be covered in the pip install reference (https://pip.pypa.io/en/latest/reference/

[2015-04-19 19:12] ncoghlan commented on #151
Having the reference docs on pypa.io would potentially work, but part of my goal here is to build awareness of packaging.python.org as *the* site for authoritative guidance on the Python packaging ecosystem. Out of the ~30 people at the packaging open space at PyCon only a handful had even heard of packaging.python.org, and two of those were me and Steve Dower.

The other reason I'd like the refer

[2015-04-19 22:04] dstufft commented on #151
I think it makes sense to have these on packaging.python.org as they aren't specific to how one tool does anything so they don't naturally belong in any one tools documentation. Taking PEP 440 for example, we should have some sort of documentation, designed for end users (which PEP 440 itself isn't), that all the various tools can point at and go "We support the standard version numbers whose docu

[2015-05-12 12:47] ncoghlan commented on #151
As Donald suggests, the aim would be to provide "the bare minimum you need to know about <X>".

For PEP 440, that would be examples of a couple of *valid* ways of numbering versions, without delving into the complexities of everything the full spec ended up allowing in order to get us up to 99.7% compatibility with existing packages.

For 426, I expect we'll eventually want a user facing overview

[2015-05-12 12:49] dstufft commented on #151
We can also be more opinionated about things in packaging.python.org than we can in an interoperability spec too. Not too opinionated of course, but we could outline one or more concrete suggested version schemes that fit within PEP 440. Semver-like being an obvious one as well as possibly date based for instance.

[2015-05-12 12:53] ncoghlan commented on #151
Right, while PEP 440 gives some examples (https://www.python.org/dev/peps/pep-0440/#examples-of-compliant-version-schemes), I didn't talk about the typical semantics of "major.minor.maintenance" numbering schemes at all, and semantic versioning was mentioned mainly in terms of syntactic compatibility: https://www.python.org/dev/peps/pep-0440/#compatibility-with-other-version-schemes

[2015-05-12 12:54] ncoghlan commented on #151
Well, I guess I wrote about compatible releases in https://www.python.org/dev/peps/pep-0440/#compatible-release, but the two sections aren't specifically linked, whereas a user focused guide would talk more about how the choice of numbering scheme relates to the use of `~=` to select versions later.

[2015-05-25 18:37] #138 closed

[2015-06-08 03:10] jayvdb commented on #93
PR merged. Time to close this one?

[2015-06-08 07:12] #93 closed

[2015-06-08 11:23] jayvdb opened #155 "Appveyor without appveyor.yml"
Sometimes you want to do a Win32 build/package of a project, without adding appveyor.yml , and even without install.ps1 and run_with_compiler.cmd (e.g. non-Windows programmers who despise having such junk in their repo.)

I think it would be helpful to also show how this can be done.

As an example of doing it with appveyor.yml , but without install.ps1 and run_with_compiler.cmd , see https://gerr

[2015-06-08 12:08] pfmoore commented on #155
I can't follow what is being proposed in the gerrit link, and I'm not entirely sure what you mean by using the appveyor GUI. I'd suggest you write up a PR to give us something concrete to discuss.

Personally, I'd be happy to see something like this included, as it lowers the barrier for people without access to Windows providing support for Windows users. Although I question the motivation for pr

[2015-08-25 11:29] ncoghlan commented on #142
I'm going to belatedly declare this one as out of scope, as the packaging guide is maintained by the Python *Packaging* Authority, and we don't actually have a strong collective opinion on project templating tools. Keeping the scope of the guide under control is already a tough problem, and letting it expand beyond strictly packaging related topics would make that challenge even worse, so a good r

[2015-08-25 11:29] #142 closed

[2015-08-25 11:36] ncoghlan commented on #101
Sorry for the past radio silence here. I just closed #142 on the grounds of project templating tools being off-topic for distutils-sig, and hence off-topic for the packaging user guide.

Docs are slightly different, in that there *is* a packaging connection through the fact that we allows docs to be uploaded to pythonhosted.org, and we'd eventually like to let folks declare their docs build depend

[2015-08-25 11:39] ncoghlan commented on #63
There's some more discussion of adding Sphinx-related recommendations in #101, so let's try to focus the (belated) discussion there.

[2015-08-25 11:39] #63 closed

[2015-08-25 11:44] ncoghlan commented on #108
Following up on some old issues... regarding cookiecutter et al, I just closed #142 on the grounds of project templating tools being out of scope for PyPA. We can't realistically cram an entire development education into a packaging guide, so I think it's reasonable to apply the rule of thumb that if a particular tool would be off-topic for distutils-sig, then it's also off-topic for the packaging

[2015-08-25 13:08] dstufft commented on #101
Yes. Warehouse already tells people to use RTD when they hit the removed docs upload API.I've talked with @ericholscher about integration options between Warehouse <-> ReadTheDocs as well.

[2015-09-12 03:39] qwcode commented on #88
fixed in 03198d94e007f56747c6241e7f39585e4b165de5

[2015-09-12 03:39] #88 closed

[2015-09-12 03:43] qwcode commented on #65
@ncoghlan , let's go ahead and switch to htmldir, ok?

it would help with nicer spec links, if we go down that road.

RTD makes the transition painless, with this setting  https://read-the-docs.readthedocs.org/en/latest/user-defined-redirects.html#sphinx-redirects

[2015-09-13 22:17] qwcode commented on #65
ok, this is done.   I was doing it for pip, which ended up requiring fastly changes, so  I asked @dstufft to go ahead and make the changes for PyPUG as well.

[2015-09-13 22:17] #65 closed

[2015-09-26 10:16] hickford opened #174 "appveyor.yml missing Python 3.5"
The [`appveyor.yml` example](https://github.com/pypa/python-packaging-user-guide/blob/master/source/code/appveyor.yml) at is missing Python 3.5

https://packaging.python.org/en/latest/appveyor/

[2015-09-26 10:16] hickford commented on #174
I had a go https://github.com/pypa/python-packaging-user-guide/pull/172

[2015-09-26 10:52] nedbat commented on #174
Shouldn't it work to just take the two files from the appveyor demo repo?

[2015-09-26 11:28] hickford commented on #174
You mean [python-appveyor-demo](https://github.com/ogrisel/python-appveyor-demo/)? Maybe, let me try it. Their `run_with_env.cmd` looks a bit more complex than our `run_with_compiler.cmd`

2. https://github.com/ogrisel/python-appveyor-demo/tree/master/appveyor
1. https://github.com/pypa/python-packaging-user-guide/tree/master/source/code

[2015-09-26 11:31] hickford commented on #174
Assuming it works, we should probably make the two repos consistent.

[2015-09-26 17:25] hickford commented on #10
Cool thanks for explaining. I think the guide should be strengthened to be more prescriptive:

1. Always use setup.py `install_requires`
2. You are free to write `requirements.txt` if you like

[2015-10-17 17:31] qwcode opened #178 "move package_data and data_files to an Additional Topic"
move package_data and data_files to an Additional Topic

in the main distribution tutorial, just use MANIFEST.in and `include_package_data`

https://github.com/pypa/sampleproject/issues/30#issuecomment-147565757

[2015-11-09 19:34] nchammas opened #182 "Is there no preferred approach to single-sourcing the project version?"
There are [many approaches](https://github.com/pypa/python-packaging-user-guide/blob/0dcf950850644900af322343fc32025ad8994207/source/single_source_version.rst) offered in the current documentation, but no approach seems to be "recommended" or otherwise suggested as the preferred approach to take. For a new developer looking to package their project, this can be confusing.

Looking at a few of the

[2015-11-09 19:41] pfmoore commented on #182
Typically any attempt to recommend a preferred solution is met with debate. There really doesn't seem to be a consensus.

FWIW, if I recall the common objection to the approach you mention here is that it doesn't work properly if your project build directory isn't on sys.path (which it may not be in certain situations).

The objections to the other options seem to me to be no stronger (but no weak

[2015-11-09 20:01] nchammas commented on #182
Is that a common occurrence? I'm not trying to start a debate about this now; I just ask as a total newcomer to packaging. :)

I suppose if there really is no consensus, or even no approach that we can offer as "works for most people", then we can close this issue.

[2015-11-09 20:31] pfmoore commented on #182
I don't know, it's not my objection...

[2015-11-09 21:14] qwcode commented on #182
It think approach #3 is becoming more common  (I use it now btw), but it's hard for me to say what is globally "more common", w/o doing some kind of analysis of what's being posted to pypi these days.

let's keep this issue open, and maybe #3 can become preferred at some point.

[2015-11-09 22:07] pfmoore commented on #182
BTW, my explanation of the objection I've seen is wrong (if you exec the file,you don't need it on sys.path).

One real issue is getting encodings right. The ```execfile``` approach is Python 2 only. The ```exec``` version needs an ```open()``` but Python 2 doesn't support supplying an encoding to ```open()```, and the default encoding depends on the user's PC settings. The best approach is only u

[2015-11-09 23:20] dstufft commented on #182
You could always just add ``myproject/_version`` which is just a text file, then have:

[code]

and

[code]

[2015-11-09 23:22] dstufft commented on #182
Also, ``codecs.open`` is like ``open`` except it supports an encoding parameter and works on 2 and 3.

[2015-11-09 23:31] qwcode commented on #182
btw, this is already presented as one of the options... #4

[2015-11-21 11:13] Russell-Jones opened #187 "Distutils wiki should note it's out of date and refer users to the PyPA"
https://wiki.python.org/moin/Distutils

This comes up on some Google searches. From [Nobody Expects the Python Packaging Authority](https://www.youtube.com/watch?v=8Xrdt3-YVz4) I understand that part of the aim of the PyPA is to reduce confusion about Python packaging. I think this would help with that.

[2015-11-21 11:41] pfmoore commented on #187
As the above is a wiki, this can be changed by any interested party. Would you be interested in making the necessary edits?

[2015-11-21 14:38] Russell-Jones commented on #187
Ah, thanks. I kind of assumed that it would be editable by known developers only.

... and this seems to be so. I either don't have edit rights (I just created the user "Russell Jones" on the wiki) or the pages have been set to be "Immutable" in some way as the LHS has the text "Immutable Page".

[2015-11-21 15:14] ncoghlan commented on #187
On 22 November 2015 at 00:38, Russell-Jones <notifications@github.com> wrote:

I've at least adjusted the top of the page to direct readers to the
packaging user guide and the PyPA home page:
https://wiki.python.org/moin/Distutils

However, the rest of the content should likely still be reviewed to
see what's worth keeping, and what can safely be discarded from the
current wiki.

MoinMoin's automa

[2015-11-21 19:09] Russell-Jones commented on #187
Thanks for fixing up the page (and Python packaging in general :) ) There are 37 pages on the wiki and some have not much stuff on. I'll have a look through this evening or tomorrow.

[2015-11-21 19:09] #187 closed

[2015-11-26 12:55] Changaco commented on #182
Note: #190 proposes changes to the document that would affect this discussion.

[2015-11-26 18:59] Changaco commented on #182
The problem I have with all the solutions currently listed in the document is that if your project uses Git tags to mark releases, then there isn't a single source of truth anymore: there's the version number in the code and the one in the tags.

[2015-11-26 19:39] nchammas commented on #182
That's correct, but I think that falls outside of the domain of what the PUG should cover. If you want your single-source version to be in Git, then you're coupling how Python versioning is done to something outside of Python. What about users who use Mercurial or SVN? Should the guide cover those as well?

As far as the PUG is concerned, I think agreeing on the best approach to having a single so

[2015-11-26 21:13] xavfernandez commented on #182
Why option 3 and not any other one ? :-)
Note also that all these discussions relate to the use of distutils/setuptools as build tool.

[2015-11-26 21:52] nchammas commented on #182
Per the discussion earlier in this thread, option 3 seems to be the option that new projects are converging on. Do you observe otherwise?

I think PUG serves the community best when it recognizes already-existing conventions, or when it helps nudge the community towards emerging conventions and accelerates their adoption. I don't think anyone here is trying to invent something new and impose it on

[2015-11-26 22:04] nchammas commented on #182
To expand a bit: The PUG is a guide, not an encyclopedia. Its purpose is to present common advice to users facing common problems, not to document every possible permutation that people have found useful.

At least, that's how I see the PUG. Perhaps I've misunderstood it's purpose though.

[2015-11-26 22:50] xavfernandez commented on #182
I must admit I usually don't check the version hack used by the library I use but at work we tend to use something similar to pip: https://github.com/pypa/pip/blob/develop/setup.py#L34-L39 so that would be option 1.

[2015-11-26 22:51] pfmoore commented on #182
@nchammas That sounds pretty much correct.

[2015-11-27 13:04] Changaco commented on #182
Since #190 has become tangled with this issue I've turned it into the following proposal:

- simplify option 1 (`__version__` in `__init__`) and use the same coding style in option 3 (`__version__` in `__about__`)
- move option 2 (external tools) to the end
- remove options 4 (complicated variant of option 3) and 5 (unreliable use of `pkg_resources`)
- remove option 6 (importing `__version__` from

[2015-11-27 13:12] Changaco commented on #182
I've kept both option 1 and option 3 because I can't find a good argument to declare that one is better than the other.

[2015-11-27 15:24] Changaco commented on #182
In #190 @pfmoore points out that option 1 is less simple and solid because it uses regexps. That could justify dropping it in favour of option 3. Opinions?

[2015-11-27 16:04] pfmoore commented on #182
No, I was pointing out that your edits omitted the note that the fact that it used regexps is a factor. I don't think there's anything new in the fact that option 1 uses regexps. So -1 on dropping it "because it uses regexps".

Remember that the original question here was "Is there no preferred approach to single-sourcing the project version?" My answer to that is still "No there isn't, sorry". (B

[2015-11-27 16:35] Changaco commented on #182
Sorry, I didn't mean to misrepresent what you said. Your comment about the missing note *made me realize* that option 1 is less simple and solid.

[2015-11-27 16:39] pfmoore commented on #182
No problem

[2015-12-03 17:52] Changaco commented on #182
Sorry #190 failed to solve this issue, @nchammas.

Considering the reluctance that was expressed to removing options from the page, maybe splitting the options in two sections (e.g. "recommended" and "other") would be a better approach. I won't be the one making that PR though.

[2015-12-03 21:19] ddbeck opened #194 "[tracking] new tutorials and other revisions"
This issue is to track work on writing new, introductory tutorials for the guide, and other activities that are part of an effort to expand and revise the guide. [See this thread from the distutils-sig](https://mail.python.org/pipermail/distutils-sig/2015-November/027776.html) for more details about this project. Work on these tutorials will (at least initially) take place on the `develop` branch.

[2015-12-03 21:20] ddbeck opened #195 "Write introduction to new packaging tutorials"
(For more information about this issue, please see #194).

To kick off the introductory tutorial to Python packaging, we need a short section that answers the questions *Who is this tutorial for?* and *What will be covered in the tutorial?*.

For the first question, that means Python users who are at at least an "advanced beginner" level. They should be comfortable importing something from the sta

[2015-12-03 21:27] ddbeck opened #196 "Write prerequisites section for new packaging tutorials"
(For more information about this issue, please see #194).

We need a short section to follow the tutorial introduction (see #195) that makes sure the user has a working Python environment. This should line up with what's in [Install pip, setuptools, and wheel](https://packaging.python.org/en/latest/installing/#install-pip-setuptools-and-wheel), but using a more step-by-step approach (rather than t

[2015-12-04 15:55] souravsingh commented on #194
I would like to work on the first two parts of the tutorial.

[2015-12-04 17:42] ddbeck commented on #194
@souravsingh That's great! I would suggest picking one to begin with and, as you make progress, mention that you're working on it in the section-specific issue (so others don't duplicate your work). Let me know if you have any questions. Thanks!

[2015-12-04 18:05] souravsingh commented on #195
I will first work on this issue.

[2015-12-06 14:36] souravsingh commented on #49
What will be need to add in the FAQs?

[2015-12-06 15:08] souravsingh commented on #195
I have sent in the PR https://github.com/pypa/python-packaging-user-guide/pull/198

[2015-12-07 01:24] ncoghlan commented on #49
An FAQ can be a good way to tackle questions where the answers aren't obvious (often for historical reasons), but even *raising* the question (let alone trying to answer it) would confuse newcomers rather than helping them.

A number of the existing "Advanced Topics" are actually detailed answers to FAQs (e.g. wheel vs egg, pip vs easy_install), so it might be possible to seed an FAQ with those qu

[2015-12-07 20:48] ddbeck opened #199 "New tutorials: write section to define and describe "package""
(For more information about this issue, please see #194).

We need a short section to follow the prerequisites section (see #196) (i.e., as its own file). It should satisfy the following goals:

* explain what a [distribution package](https://packaging.python.org/en/latest/glossary/#term-distribution-package) is
* explain how a distribution package differs from [import packages](https://packaging.

[2015-12-07 21:00] ddbeck opened #200 "New tutorials: write section to describe sources of packages"
(For more information about this issue, please see #194).

We need a short section to follow the "What's a package?" section (see #199) (i.e., as its own file). It should satisfy the following goals (in no particular order):

* explain that packages can be distributed through many channels (e.g., downloaded from PyPI with a tool like `pip`, an archive downloaded from a website, a VCS repository)
*

[2015-12-08 02:13] duims commented on #200
I'd be down to write this!

[2015-12-08 02:43] nchammas commented on #178
:heavy_plus_sign: :nine: :zero: :zero: :zero: for this.

I just spent a good few hours reading various posts on Stack Overflow and experimenting unsuccessfully with my `setup.py` to try to get it to package my data files correctly. :no_good:

Using MANIFEST.in and `include_package_data` to the exclusion of `package_data` and `data_files` is definitely more straightforward and got me what I wanted

[2015-12-08 03:11] ncoghlan commented on #199
Relevant background info:

The typical case for a distribution package shipping multiple import packages is shipping a single top-level import package that contains multiple subpackages. For example, django.core and django.db are separate import packages provided by the django distribution package.

More uncommonly, a single distribution package may ship multiple top level import packages. For exa

[2015-12-08 09:52] thatdocslady commented on #194
I'll be happy to help with content reviews (proofreading, editing) and overall structure, unfortunately I don't have enough bandwidth at the moment to write content from scratch :-( feel free to assign any content that needs review to me :-)

[2015-12-08 12:10] souravsingh commented on #194
Thanks for the help @thatdocslady

[2015-12-08 13:42] alexwlchan commented on #194
Like thatdocslady, I'm happy to take on review tasks if it's useful, but I can't promise any original content (things are all a bit up-in-the-air at the moment).

[2015-12-08 19:10] ddbeck commented on #194
@thatdocslady @alexwlchan thank you both for volunteering. As sections become stable, I'll definitely call on you to be a new set of eyes.

[2015-12-08 19:17] ddbeck commented on #200
@duims Great, thanks! Feel to get started and please comment if you run into any roadblocks.

[2015-12-08 19:24] ddbeck opened #201 "New tutorials: write section to walk through installing and uninstalling a package"
(For more information about this issue, please see #194).

We need a short section to follow the package sources section (see #200) (i.e., as its own file). It should satisfy the following goals:

* walk through installing a package with pip
* verifying that the package is installed (e.g., with an import statement or running a script)
* upgrade with the (`--upgrade/-U` switch), even if it doesn't

[2015-12-08 19:44] ddbeck opened #202 "New tutorials: using a virtual environment"
(For more information about this issue, please see #194).

We need a short section to follow the install/uninstall section (see #201) (i.e., as its own file). It should satisfy the following goals:
- show the reader to how to install virtualenv (if applicable, Pythons 3.3+ should come with pyenv, I think)
- show the reader how to create a virtual environment
- show the reader how to install someth

[2015-12-08 23:33] amitsaha commented on #202
@ddbeck Can you please assign this one to me?

[2015-12-09 04:23] souravsingh commented on #201
I will be working on this

[2015-12-09 12:57] ddbeck commented on #202
@amitsaha feel to free to start on this (for some reason GitHub won't let me literally assign the issue to you, but don't let my confusion with the UI slow you down)

[2015-12-09 15:10] JoshuaAcosta commented on #196
Daniel, I can work on this section.

[2015-12-09 16:29] ddbeck commented on #196
@JoshuaAcosta thanks!

[2015-12-09 18:27] ddbeck opened #203 "New tutorials: make a package"
(For more information about this issue, please see #194).

We need a short section to follow the section about making a distribution package (see #202) (i.e., as its own file) that will guide the reader through making a bare module or (import) package ready for installing with `pip` (and, in the following section, publishing on PyPI). The section should satisfy these goals:
- show how to make a `s

[2015-12-09 18:37] ddbeck opened #204 "New tutorials: publish a package"
(For more information about this issue, please see #194).

We need a short section to follow the section about making a package (see #203) (i.e., as its own file). It should satisfy the following goals:
- show how to register with PyPI/testPyPI
- ask the reader to install twine (by this point they should be pretty comfortable installing things!)
- demonstrate uploading an sdist and wheel with twin

[2015-12-09 18:58] ddbeck commented on #203
While writing the description for #204, I realized this: the reader should decide what this package is named. If they use it in the next section, it probably needs to _not_ have the same name as everyone else's test package or else confusion will likely follow.

[2015-12-10 00:55] FichteFoll opened #205 "Is `python setup.py register` safe for recent versions?"
In the [Register your Project](https://packaging.python.org/en/latest/distributing/#register-your-project) section, it is suggested to directly upload the `PKG-INFO` file instead of invoking `python setup.py register`, which didn't use secure connections previously and thus exposed credentials over network in plaintext.

The [twine readme](https://pypi.python.org/pypi/twine) states that https is b

[2015-12-10 04:19] nchammas commented on #178
Hmm, actually I'm not totally getting what I expect from MANIFEST.in and `include_package_data`.

This is what I have:

[code]

If I include everything here in my MANIFEST.in, then it all gets packaged by `python3 setup.py sdist` into a `.tar.gz`. This is good. Without the MANIFEST.in, only the Python files in `module/` get packaged by `sdist`. This is also good.

I think so far, this behavior is

[2015-12-10 04:25] nchammas commented on #178
And for the record @dstufft, the explanation of your rationale and vision in [these](https://github.com/pypa/pip/issues/2874#issuecomment-109444845) [two](https://github.com/pypa/pip/issues/2874#issuecomment-109482660) comments was very enlightening. Thank you for writing those up. As a new Python packaging user, I'm optimistic about the direction we're going in.

[2015-12-10 23:42] amitsaha commented on #202
@ddbeck  Great, as I commented in https://github.com/pypa/python-packaging-user-guide/pull/198 , can we decide on one third party package that we will use through out the docs? This can also be used in https://github.com/pypa/python-packaging-user-guide/pull/206 and elsewhere.

[2015-12-11 05:49] dsmatlak commented on #194
I want to learn about Python and participate in this project by either writing, researching, or proofreading. If you have any suggestions for a Python newbie, please let me know. Thanks :)

[2015-12-11 07:37] dsmatlak commented on #199
@ddbeck I will work on this document. In regard to the examples, is it acceptable to write a scenario of the types of files that are contained in a distribution vs import package and why the package type was chosen, or do you want something more specific?

[2015-12-11 10:24] ddbeck commented on #199
@dsmatlak That sounds fine. I think this should be a breezy, high-level overview, so any examples should be too (an outline of files and directories might be helpful, but a long, detailed source code sample wouldn't be—the reader will get a chance to make a package themselves in a later section anyway).

[2015-12-14 16:44] ddbeck commented on #194
@dsmatlak Great, I think you're in the right place. Since you're new to Python, I think it would be a big help if you could test out the new tutorial sections as they are written. I'm also planning to work on writing up some bite-size issues that might be a little more manageable than writing a whole new section. I'm planning to tag issues soon and update here when we get to that point. Thanks for

[2015-12-14 16:49] ddbeck commented on #202
@amitsaha I liked @ncoghlan's suggestion of using the `pprintpp` package. But feel free to choose something that you're comfortable working with now—a draft is easier to edit than an idea. We don't have to commit to having the same sample throughout or we can work on achieving consistency through the editing process, so don't worry much about matching up with the other sections just yet.

[2015-12-15 12:44] moigagoo commented on #203
@ddbeck Hi! I'd like to tackle this one.

The plan is:
1. Module + setup.py
2. Module + setup.py + README
3. Package + setup.py + README
4. Package + resource files + setup.py + README
5. Package + subpackage + resource files + setup.py + README

I'd rather not tell about it because this functionality is somewhat broken. For reasons unknown, the dev mode doesn't use symlinks but a custom substitut

[2015-12-15 15:12] ddbeck commented on #203
@moigagoo That looks like a great start to me. I can't wait to see a first draft!

About the editable thing, this was my thinking: it's one of those things that comes up again and again in various Python docs, blog posts, etc. I'd like the reader to be able to recognize and understand its use, even if it has limitations (just because it is a common practice). It just seemed like a natural fit here

[2015-12-15 15:22] moigagoo commented on #203
@ddbeck I think it's much more natural for a beginner to first install packages locally into a virtualenv with `pip install -U /path/to/my/package`. It's a single command and it's guaranteed to work 100% of times; if it doesn't, there's something wrong with the package, and you should fix it.

If you are in a _real_ hurry and you _really_ hate to reinstall packages after modifying the source code,

[2015-12-15 15:38] ddbeck commented on #203
@moigagoo OK, you've convinced me. Don't mention the editable stuff here at all and I'll think up some other way to deal with this particular tacit knowledge problem. Thanks!

[2015-12-16 01:05] ncoghlan commented on #203
I can provide context on the "Why does -e use a .pth file rather than symlinks?" question:

* firstly, because Windows in 2004 (when the precursor to pip -e, setuptools develop mode, was first defined) didn't support symlinks at all, and Windows symlinks in 2015 are still considered an administrator-only feature
* secondly, because symlinking a directory as a subdirectory of an existing sys.path e

[2015-12-16 07:51] moigagoo commented on #203
@ncoghlan Thanks a lot for the clarification! It all makes sense now.

I'm currently half time on Windows, half on Mac, and I use symlinks to connect subpackages during development everywhere, works like charm. It is indeed silly of Microsoft to make symlinks an admin-only feature.

[2015-12-16 08:27] dsmatlak commented on #199
@ddbeck Great, thanks for the feedback.

[2015-12-16 08:35] dsmatlak commented on #194
@ddbeck Excellent, sounds good.

[2015-12-17 18:00] ddbeck opened #207 "Add build instructions to the README"
Currently, building and viewing the guide locally is undocumented. The README file would probably be a good place to add this information. **This issue would be an excellent task for a first-time contributor** with basic familiarity with the command line and installing things with pip.

Here are the rough steps to complete this task:
1. Fork this repository.
2. In your fork, edit `README.rst` (the

[2015-12-18 04:13] e12e commented on #203
Hi,

I realize this is a recent issue - but is there any progress?

I just started porting/hacking/forking a little cli-tool (basically moving it to python3, use docopt, and wrap it with a setup.py so it's easy to pip install in a venv). And on reading http://python-packaging-user-guide.readthedocs.org/en/latest/distributing/ in particular: http://python-packaging-user-guide.readthedocs.org/en/lat

[2015-12-18 06:04] moigagoo commented on #203
@e12e The rewriting progress is still too small to share, I'm afraid. However, I won't cover this topic in the tutorial anyway—it's way out of the beginner's scope.

Still, here's how I support multiple Python versions while keeping the version in one place. Maybe you'll find my approach useful.

I'll illustrate the approach with my project Cliar: https://bitbucket.org/moigagoo/cliar/src/

## Sepa

[2015-12-18 22:15] e12e commented on #203
@moigagoo Thank you for your reply! I might have been unclear, I'm not (at this time) interested in supporting more than one version of *python*. I'm just trying to make sure my VERSION-file is installed when I pip-install my package.

As it is, `./venv/bin/python setup.py install` picks it up, while `./venv/bin/pip install git+https://github.com/user/package` does not.
I'm just trying to find a s

[2015-12-19 07:16] moigagoo commented on #203
@e12e Sorry, I misunderstood you.

The supported way to include data files in your package with [``package_data``](http://python-packaging-user-guide.readthedocs.org/en/latest/distributing/#package-data):
[code]

For example, here's how I ship _robots.txt_ with one of my packages: https://bitbucket.org/moigagoo/sloth-ci-extensions/src/d725682b4de28f1950d6b93220d6b5baa572cecb/robots_txt/setup.py?at

[2015-12-20 17:25] souravsingh commented on #201
I believe [this] (https://github.com/souravsingh/python-packaging-user-guide/blob/develop/source/installing.rst) covers most of the sections in the tutorial.Do we need to add on this section or is this fine?

[2015-12-20 17:26] souravsingh commented on #207
I will be working on this.

[2015-12-20 18:06] souravsingh commented on #207
I have added the instructions in my fork of the project.They can be accessed here at https://github.com/souravsingh/python-packaging-user-guide/commit/e8177c917d04b70fab3945a485036f51cd66

[2015-12-20 18:37] ddbeck commented on #207
@souravsingh I was hoping that this issue would present an opportunity for someone who has not yet contributed to do so, since some volunteers indicated that they were new to GitHub and Python (plus, it's not germane to your existing pull request, complicating the review process). Would you be willing to hold off submitting this for a while, to give a first timer a chance to attempt it?

[2015-12-20 19:03] souravsingh commented on #207
@ddbeck I made a mistake of editing the README within the develop branch and I am really sorry about it. As for the issue, I didn't know that the issue was for Python newbies.So I am willing to hold off on it.

[2015-12-20 19:04] souravsingh commented on #207
@ddbeck Would it be good if we can add a tag to some of the issues saying something like "low-hanging-fruit" or "newbie-friendly" to bring newbies into making their first PR?

[2015-12-20 19:41] souravsingh commented on #204
@ddbeck I will be working on this

[2015-12-21 12:50] ddbeck commented on #207
@souravsingh That's an excellent idea! I ought to tag all the new tutorials stuff too. I'll do that this evening.

[2015-12-21 12:58] ddbeck commented on #201
@souravsingh You're right that this section is going to overlap the other section. But that other section is a reference, so it covers a lot of things that we don't need to cover here (e.g., installing a prerelease or setuptools extras). Plus, the goal for the tutorials is to give the reader something to practice on (inviting them to do the steps themselves), so that they can build experience and

[2015-12-21 15:08] ncoghlan opened #209 "Idea: Provide a list of known Python 3 backport projects?"
After seeing a link to https://github.com/google/python-subprocess32 on Twitter (which was a new discovery even for me), it occurred to me to wonder if we might be able to do better than https://wiki.python.org/moin/Python2orPython3#Supporting_Python_2_and_Python_3_in_a_common_code_base for maintaining a list of backport projects that make Python 3 features available to Python 2.7 users.

I'm not

[2015-12-24 23:30] JoshuaAcosta commented on #194
@ddbeck Now that finals are over, I can dedicate my time to this project.  I've forked the project but unsure what to do next (this is my first time contributing to OS project). Do I create a branch locally, write the documentation for assigned section (#196)  then once I'm done, submit a pull request to the develop branch? Is there a link to a resource I can check out about this? I appreciate the

[2015-12-31 00:32] amitsaha commented on #202
@ddbeck  Just a note that I am slowly working on this at https://github.com/amitsaha/python-packaging-user-guide/blob/amitsaha_issue202/source/using-a-virtualenv.rst

I have decided to use a separate package, because I felt this is something simpler.

[2016-01-04 16:11] ddbeck commented on #202
Great, keep up the good work and be sure to open a pull request when you're ready to entertain feedback.

[2016-01-04 17:10] ddbeck opened #210 "Guidlines for making a PyPI-friendly readme"
A [warehouse issue](https://github.com/pypa/warehouse/issues/876) brought up the idea of documenting how to format code in READMEs for PyPI. Rather than covering code formatting alone, I thought it might be useful to have a section that covers setting the contents of a project's PyPI home page:
- explaining where the content of a project's page on PyPI comes from (i.e., `long_description`)
- setti

[2016-01-04 17:17] dstufft commented on #210
Note: you can test a long_description using the exact same code that PyPI (and Warehouse) uses (modulo version numbers) using:

[code]

[2016-01-05 23:36] amitsaha commented on #202
Thanks, i have opened a PR for preliminary feedback: https://github.com/pypa/python-packaging-user-guide/pull/211

[2016-01-24 00:54] Ivoz commented on #101
Maybe "Documenting your Project" (or similar) could be a heading under a new section, containing purely 'optional' advice on extra things to do with "developing a python project"; such as using SCM, using CIs, testing, etc

[2016-01-25 02:04] ncoghlan commented on #151
Separately from this idea, https://github.com/pypa/pypa.io/issues/11 covers moving the specifications themselves to a subsection of PyPUG.

Depending on how that works out, we may decide this separate section wouldn't be worth the additional documentation maintenance overhead.

[2016-01-30 10:43] AvdN opened #221 "appveyor.yml unnecessarily complicated"
In the appveyor.yml file there double quoted lines which require backslashes to be escaped. This makes the files unnecessarily complicated and above all this is not consistently applied E.g (gathered from multiple lines in the file).

[code]

YAML supports both single quotes and unquoted strings with spaces, neither of which require backslashes to be escaped. So you can more naturally do :

[code]

[2016-01-31 12:17] berkerpeksag commented on #209
+1

There's also https://wiki.python.org/moin/StandardLibraryBackports for listing stdlib backports.

[2016-02-07 19:56] ddbeck commented on #202
The PR has been merged to develop, plus some style changes: https://packaging.python.org/en/develop/using-a-virtualenv/

Once more sections are written, I'll need to revisit this so that it appropriately signposts the following section (and lines up with the signposting in the previous section).

[2016-02-11 05:55] dsmatlak commented on #199
I had planned to work on #199 but other life events are taking precedence, so I do not have the bandwidth at this time.

[2016-02-11 12:43] ddbeck commented on #199
@dsmatlak I understand completely. Thanks for the heads up!

[2016-02-15 23:38] ionelmc commented on #182
As I understood it, but correct me if I'm wrong, the point of not being opinionated is to prevent the inevitable disagreements and bike-shedding. And that's why PPUG don't want to recommend one way to do it.

That being said, I still believe it should be easier for the user to pick something. Currently you'd be inclined to pick something based on ordering - so there's already some implied recommen

[2016-02-16 09:52] hickford commented on #174
Fixed by https://github.com/pypa/python-packaging-user-guide/commit/94fcc0f1d58c628f1bb4213b2033f37ba0db0372#diff-d477b16812c9d7eb4f92bd98c24212d5R13

[2016-02-16 09:53] #174 closed

[2016-02-22 08:58] damonlynch opened #228 "distutils-extra in the "Non-PyPA Projects" section"
Distutils-extra is useful for developers who wish to deploy their applications or libraries on Linux.

https://launchpad.net/python-distutils-extra

As the team responsible for Distutils-extras states "Enables you to easily integrate gettext support, themed icons and scrollkeeper based documentation into Python's distutils". It can save the developer & packager plenty of time by largely automating

[2016-03-21 09:01] guettli opened #231 "Docs: "Upload your distributions""
Most users don't read from top to bottom.

If you look at this part, then there is one information missing:

{{{
Upload your distributions

Finally, you can upload your distributions to PyPI.

There are two options:

    Use twine

    twine upload dist/*

}}}
From: http://python-packaging-user-guide.readthedocs.org/en/latest/distributing/#upload-your-distributions

I am missing: Where do the file

[2016-05-24 10:03] guettli opened #234 "Definition: Known Good Set (KGS)"
https://packaging.python.org/en/latest/glossary/#term-known-good-set-kgs

There is not definition of "distribution".

There are definitions for concrete distributions:

 * Binary Distribution
 * Built Distribution
 * Distribution Package

Please be explicit: What kind of "distributions" is meant in the above definition of KGS?

[2016-05-24 10:05] guettli opened #235 "Definition of "project""
I am not happy with the current definition of "project"

https://packaging.python.org/en/latest/glossary/#term-project

[code]

The first sentence:

... I don't get it. Sorry. My brain can't imagine what a project is after reading it. My conclusion of this sentence: A project is something.

The second:

Where is "the root of the project src directory"? I guess there are a lot of projects which don

[2016-05-24 10:10] guettli opened #236 "Glossary: Missing a term for environment, site, ...."
I am missing a term for the thing which holds all those nice python libraries.

How to call the container where pip/wheel ... installs the software into?

I asked on python-ideas an this project was mentioned. Maybe we can find
a matching term together.

Python-Ideas thread:

https://groups.google.com/d/msg/python-ideas/XNgEK4lbxt0/SDnuYHAXNQAJ

Up to now I found these terms:

  - Project https://

[2016-05-24 12:57] ncoghlan commented on #236
If you mean something which hosts a Python executable, a standard library, and a "system site-packages", that would be a Python installation, while if you mean something that just hosts a custom site-packages, that would be a virtual environment.

Aside from bundling, projects do not hold installed libraries - they're a way of organising development, not a way of deploying software.

[2016-05-29 12:58] pombredanne opened #238 "Update doc to include latest PEP 513 and many linux uploads to Pypi"
The current doc is outdated and states only that Linux wheels are not supported on Pypi.

[2016-06-07 17:42] ncoghlan opened #241 "Cover using Warehouse for uploads?"
@dstufft recently posted some notes to distutils-sig on using the parallel Warehouse deployment for uploads in order to bypass the stability problems on the legacy PyPI service: https://mail.python.org/pipermail/distutils-sig/2016-June/029083.html

I'm wondering if it may make sense to include explicitly configuring that as interim guidance in the packaging guide until we've fully cut over to pypi

[2016-06-08 20:37] dstufft commented on #241
Not sure if it's worth it. I hope to switch the default in twine in < 1 month, and if that goes well, the default in 3.5.**3** and 3.6, etc.

[2016-06-09 14:45] ncoghlan commented on #241
Sounds like a plan. I'll leave this open until then though - the fact twine uses Warehouse for uploads can be mentioned in a footnote as another good reason for using twine.

[2016-06-09 14:46] dstufft commented on #241
The twine PR is https://github.com/pypa/twine/pull/177.

[2016-06-09 18:14] ncoghlan commented on #241
(To be clear: i don't think this is an urgent priority, I just noticed it as a documentation gap and this seemed like a good place to make note of it)

Does twine have its own docs? Your discussion with @annaraven on the twine PR made me realise we likely need to document this *somewhere* for the sake of folks trying to dig deeper into the architectural relationships between the PyPI service and t

[2016-06-09 18:19] dstufft commented on #241
Twine's only real documentation is it's README file.

[2016-06-10 06:27] stevepiercy opened #242 "Update Installing Packages to reflect deprecation of pyvenv"
Per https://hg.python.org/cpython/rev/6ab285820db2#l1.8 `pyvenv` will be deprecated in 3.6 in favor of `python3 -m venv`. Suggest that [installing.rst](https://github.com/pypa/python-packaging-user-guide/blob/master/source/installing.rst) be reviewed and updated accordingly.

Include citations or references to reasoning for the change, perhaps in footnotes.

[2016-06-10 16:52] annaraven commented on #241
I just created a PR to change the packaging user guide to reflect the change.

[2016-06-10 18:04] stevepiercy commented on #242
See also:
https://bugs.python.org/issue27285

[2016-06-11 19:34] annaraven commented on #231
So you want a phrase like "You can now upload the files created by packaging up your project as described in #packaging your project"? Given it's the very previous section, easily found by scrolling up one window(even on my tiny screen), I'm not convinced this would be helpful.

However, I could see adding something like: "The first time you run the sdist or bdist command will create a new directo

[2016-06-14 08:23] guettli commented on #231
@annaraven Yes, your sentence would make more sense, then mine:

BTW, I don't like "or" in docs much. Is there a common term which matches for both file extensions?

[2016-06-14 16:52] annaraven commented on #231
Okay, how about "The first time you run the command to package up your project, a new directory will be created called dist/, and the new distribution file will be put there."

[2016-06-14 19:16] ncoghlan commented on #231
Closing this one based on @annaraven's PR.

[2016-06-14 19:16] #231 closed

[2016-06-14 19:18] ncoghlan commented on #241
Closing based on @annaraven's tweak to the example configuration.

[2016-06-14 19:18] #241 closed

[2016-06-15 20:19] guettli commented on #231
Thank you for fixing this small issue.

[2016-06-17 16:44] dstufft opened #246 "Naming!"
I'm working on getting a new EV certificate for the PSF, and currently ``packaging.python.org`` is one of the things that we have on that EV certificate. However, in the process of that it occurred to me that since PyPI is getting a new URL with Warehouse (``pypi.io``) that maybe it would make sense to hang this off of that too, instead of where it's at now. Of course, if we did that, we'd redirec

[2016-06-17 16:53] dstufft commented on #205
I just wrote something up about this recently, here's a copy/paste:

I forgot to mention in that, but this also applies to ``setup.py register``.

[2016-06-17 19:38] ncoghlan commented on #246
I'd suggest docs.pypi.io as the specific subdomain (to align with docs.python.org), but +1 for the general idea of moving the canonical URL to a subdomain of the new top level one.

[2016-06-17 21:13] dstufft commented on #246
@ncoghlan I thought about docs.pypi.io, but I wasn't sure how I liked that-- particularly since, unlike docs.python.org, this *isn't* the canonical documentation for any one particular thing but is more along the lines of a recipe book for how to combine the various things to do something reasonable. Also it'll be harder for browser autocomplete to make a mistake between ``guides.pypi.io`` and ``d

[2016-06-18 00:47] ncoghlan commented on #246
I think those are both valid points (especially the one about it being primarily usage guides for tools with their own official documentation maintained elsewhere), so I'd be happy with guides.pypi.io

[2016-06-20 08:54] ddbeck commented on #246
I'm happy with `guides.pypi.io`, but it might also make sense to have `docs.pypi.io` point to Warehouse's documentation (i.e., a redirect to https://warehouse.pypa.io/), or to keep `docs.pypi.io` in reserve for a portal (for lack of a better word, believe me I'm cringing about that one) to direct different audiences to the docs that they're looking for.

[2016-06-22 02:14] Ivoz commented on #246
I actually like `packaging.python.org` for the reason that it is obvious to any newcomer that this is an official, should-be-correct source of information. That is to contrast with, some personal wordpress blog from 2013 that they read beforehand. If I provide an answer to someone and reference with a url from `packaging.python.org` they'll likely immediately know it's correct information.

`guide

[2016-06-22 07:55] pfmoore commented on #246
I agree with @Ivoz, ```packaging.python.org``` is both memorable and discoverable IMO.

Also, I just realised, we have both ```pypa.io``` (where the pip docs are hosted, at least currently) and now ```pypi.io``` is being proposed. That's a recipe for endless confusion (getting confused is how I spotted the issue in the first place!), and I'm afraid I'm a strong -1 on hosting the docs under the ```

[2016-06-22 14:21] dstufft commented on #246
I mean, people are going to have to deal with the ``pypi.io`` domain either way since that's where PyPI is going to be living at. We're moving it from ``pypi.python.org`` to there when warehouse launches. In my opinion keeping it alongside the primary domain users will be interacting with for packaging related tasks seems to be a net win. Confusion with ``pypa.io`` is a possibility, perhaps the wa

[2016-06-24 18:56] #242 closed

[2016-06-28 19:54] dstufft commented on #246
Ok, so I need to get moving on the EV certificate and I'd like to add either ``packaging.python.org`` OR ``guides.pypi.io``, but not both to this certificate (we have a limited number of slots). What do folks think about my idea above, does that fix the problems that @pfmoore and @Ivoz saw with using ``guides.pypi.io``?

I should note, that in either case this is going to have an EV certificate th

[2016-06-28 22:07] pfmoore commented on #246
I'm not 100% sure I understand your proposal. Are you suggesting having ```pypi.io``` as the main domain, with ```pypa.io``` being effectively retired (with links retained for legacy, but the canonical locations being ```pypi.io```)? If so then that sounds OK - my major objection is having *both* ```pypi.io``` and ```pypa.io``` in active use, that seems far too likely to confuse users.

Maybe "dis

[2016-06-28 22:14] dstufft commented on #246
@pfmoore Yes. We're going to have ``pypi.io`` regardless because that's where PyPI is moving to so if folks find having both confusing then we should centralize around that one (or come up with a new one for ``pypa.io``, but I don't think that's needed).

Calling ``packaging.python.org`` more memorable than ``guides.pypi.io`` makes sense. I wonder how much of that is just because you already have

[2016-06-28 23:16] dstufft commented on #246
Oh, and the other question is, if we standardize around ``pypi.io``, should docs be something like:

* ``docs.pypi.io/projects/pip/en/latest/``
* ``pip.docs.pypi.io/en/latest/``
* ``docs.pypi.io/pip/en/latest/``

[2016-06-28 23:17] dstufft commented on #246
Hit enter too soon :(

It's important to note, that of those three, the first two I know for a fact are achievable easily, and the third I *think* is achievable but may not actually be.

[2016-06-29 06:05] ncoghlan commented on #246
For me, memorability is related to pronouncability - "python.org" is four
syllables (pie-thon-dot-awg), while an unambiguous pypi.io is six
(pie-pee-eye-dot-eye-oh). So going from pypi.python.org to pypi.io is a win
(10 syllables down to six), while going from packaging.python.org to
guides.pypi.io is equivalent on syllable count, but adds that horrible
"eye-eee-eye" transition that previously was

[2016-06-29 09:05] pfmoore commented on #246
I still prefer ```packaging.python.org``` for the reasons Nick covered (plus the fact that I pronounce ```pypi``` as "pie-pie" and that clashes with ```pypy```, which I think is a common confusion). But I'm not going to make a huge issue over it - I've made my point on that now.

As for the 3 options, I assume the ```/en/latest/``` part will be handled by a redirect, so it's effectively

1. ```doc

[2016-06-29 15:12] dstufft commented on #246
Okay, then we'll keep ``packaging.python.org``.

Um, mostly just namespace collisions since we'd have other stuff at that same level so we'd have to be careful not to have names clash.

[2016-06-29 15:13] #246 closed

[2016-07-09 12:31] ncoghlan opened #253 "404 for Project Summaries page"
I'm getting a 404 clicking on the Project Summaries link on the main index, which goes to https://packaging.python.org/projects/

Specifying https://packaging.python.org/projects/index.html explicitly also fails.

However, if I do "make dirhtml" locally, the page renders fine.

It also fails if using the default RTFD provided domain: http://python-packaging-user-guide.readthedocs.io/projects/

[2016-07-09 12:34] ncoghlan commented on #253
This could be due to a collision with the paths used for the subprojects feature: http://read-the-docs.readthedocs.io/en/latest/faq.html#how-do-i-host-multiple-projects-on-one-cname

[2016-07-09 12:46] ncoghlan commented on #253
Escalated to RTFD at https://github.com/rtfd/readthedocs.org/issues/2292

Alternatively, since this page is mostly used for internal references within the docs (as far as we know, anyway), we could just rename it to something like "key_projects.rst" and avoid the collision that way.

[2016-07-09 12:47] ncoghlan commented on #253
@dstufft, @qwcode - unless I hear any objections, I'll go ahead and make that change tomorrow my time (so within 12-18 hours or so)

[2016-07-11 07:21] #253 closed

[2016-07-11 07:24] ncoghlan commented on #253
I merged the rename in #254 so the front page link is working again now, and so should any cross-references from other parts of the docs.

[2016-07-30 12:22] mindw opened #259 "Provides-Extra and PEP 508"
It would seem the text for Provides-Extra and pep 508 contradict each other. The text requires the extra to be "a valid python identifier" while the PEP allows "-" & '.' .
For example: `faster-signatures` (actual example from the `wheel` package metadata) is allowed by the PEP but is not a valid Python identifier.

Here is the relevant text from both documents:

Vs PEP 508:

Would it be possible t

[2016-07-30 14:32] ncoghlan commented on #259
PEP 508 takes precedence - we just missed updating the description of Provides-Extra accordingly (which makes the latter a bug to be fixed).

[2016-08-10 17:16] lmazuel opened #263 "Register using twine fails if following the guide"
Hi,

I tried to register my package using Twine as described here:
https://packaging.python.org/distributing/#register-your-project

I got a message that the API is no longer supported:
on test server:

[code]

on prod server:

[code]

If the API is no longer supported, does this mean that `twine register` is not working anymore and that the doc needs to be changed?

Version:

[code]

@brettcannon

[2016-08-23 19:28] glyph opened #265 "there's no documentation of how to package namespace packages"
People seem to really want to do this, and they resort to black magic in order to make it happen.  See for example https://github.com/google/protobuf/issues/1296.  There should probably be clear documentation of how to achieve namespace package packaging in a reliable way.

I think https://setuptools.readthedocs.io/en/latest/pkg_resources.html?highlight=namespace#namespace-package-support is autho

[2016-08-23 20:01] dstufft commented on #265
The best answer here is to use PEP 420 namespaces, but given those are Python 3.3+ only and most people can't/won't move to 3.3+ only then we need another solution. Unfortinately there is no slam dunk solution here, there's basically either:

* Don't do namespace packages, because they're kinda broken, instead do ``namespace_package`` and just deal with the fact that ``_`` is slightly uglier than

[2016-08-24 04:36] ncoghlan commented on #265
Option 3: we ask @ericsnowcurrently to remove some of the scary warnings from the importlib2 README and actively promote it as a modernisation technique for Python 2.7 virtual environments

That is, PEP 420 namespaces *do* work on Python 2.7 if the environment is set up to use importlib2 as its import system implementation (and you get a bunch of other nice improvements as well, like the handling

[2016-08-24 17:47] ericsnowcurrently commented on #265
I'm not opposed...just have to find the time to make sure importlib2 is in a happy place. :)

[2016-09-09 20:03] jacebrowning commented on #263
Related bug in `twine` itself: https://github.com/pypa/twine/issues/200

[2016-09-11 12:54] dholth commented on #263
Right now uploading the file does what register used to do,  plus the file of course.

[2016-09-16 15:06] anarcat commented on #101
hints on how to ship documentation for your project also seems like something i expected to see here. while i don't expect a full documentation tutorial (pointers are already included for that, i believe), it is tricky to figure out where to put the docs: should they be in the .egg file? should setup.py install them in the filesystem hierarchy? if i want to provide offline docs, how do i do that?

[2016-09-18 04:46] ncoghlan opened #267 "Cover "Bundled Applications" as an additional topic"
We currently don't cover the question of "all inclusive" applications at all, where the whole of the application is bundled up into a single file. While that's beyond the scope of PyPA's responsibilities from a development perspective, we can still provide a useful index pointing folks towards the tools and communities that *do* address this problem space.

There are two main approaches to cover:

[2016-09-18 05:09] ncoghlan commented on #267
From http://www.curiousefficiency.org/posts/2016/09/python-packaging-ecosystem.html#comment-2902453788 there's also a relatively new option that uses conda as the internal mechanism for managing the bundled language runtime and all the components installed on top of that: https://www.continuum.io/blog/developer-blog/introducing-constructor

[2016-09-18 05:27] ncoghlan commented on #267
Heh, I thought we had some info about this - it's just under "Application Deployment" at the moment. So it probably makes sense to split that existing topic into two topics, with "Application Deployment" focusing on server use cases (and mentioning things like Docker, Kubernetes, AWS Lambda, etc), and "Bundled Applications" focusing on client devices.

Existing page: https://github.com/pypa/python

[2016-09-18 05:30] ncoghlan commented on #267
(And to be absolutely clear: I'm not planning to do this topic split myself, but if someone does decide to pursue it, I'll defintely make time to do the PR review)

[2016-09-18 11:02] Ivoz commented on #253
I have also just got 404's on https://packaging.python.org/additional/ and https://packaging.python.org/distributing/

They were 404ing for a couple of minutes before finally rendering completely normally, for an inexplicable reason. I found this after being told by someone else it was happening for them.

https://i.imgur.com/KN0LTZx.png <- image of a tab that hadn't been refreshed yet if anyone i

[2016-09-18 15:53] dstufft commented on #253
It looks like something is up with RTD:

[code]

However, it's toggling between 200, 403, and 404. We have Fastly in front of RTD so it'll get cached too.

[2016-09-24 01:24] cjrh commented on #267
@ncoghlan So I'm kind of in love with `Tools/freeze/freeze.py` in the CPython source, particularly how it bundles the **Python stdlib code** into the frozen executable as C files containing arrays of bytes that represent the bytecode of the original Python file.  This tool also gets omitted from every list of bundling tools, and I'm wondering whether there's a reason for that?

It needs a patch to

[2016-09-24 16:50] ncoghlan commented on #182
Belatedly revisiting this, I do agree there's value in offering folks a prescriptive "I don't care about the details, just give me a 'not wrong' approach that covers absolutely everything I need to do".

However, I also think it's problematic for the *PyPA* specifically to publish such a guide, since it's easy for folks to interpret "this is one good approach" as "all other possible approaches are

[2016-09-24 17:21] ncoghlan commented on #267
@cjrh Aside from the general lack of documentation, freezing modules tends to run into the same kinds of problems as zipimport: you break the assumptions of quite a few other pieces of code.

A couple of key problems:

* Frozen submodules aren't supported at all: http://bugs.python.org/issue1644818
* Tracebacks can't provide the original text: http://bugs.python.org/issue25268 (although a post-pro

[2016-09-24 17:38] pfmoore commented on #182
One minor thing - @hynek's post says "Sorry, no Windows", which in't needed as (as far as I can see) there's basically nothing in the post that's OS-specific.

But that nit aside, I agree with the principle of pointing to articles that we endorse to break the logjam of "we don't want to say anything as it makes it too official".

[2016-09-24 17:46] hynek commented on #182
If someone can confirm that everything works on Windows as described, I’ll be *more* than delighted to remove it. :)

[2016-09-24 19:14] pfmoore commented on #182
I haven't run all of the commands, but I have reviewed everything and the only points I'd make are:

1. The ```read()``` function in ```setup.py``` assumes UTF-8. Windows users will have to specifically ensure that they get their text editor to save in UTF-8. But honestly, it's the only sane cross-platform choice, so that's not a problem.
2. In the "You can test whether both install properly" sect

[2016-09-24 21:30] cjrh commented on #267
Thanks for the links!  I did not know about the pkgutil problem (haven't tried "-m"ing anything yet).

[2016-09-26 20:02] jayvdb commented on #221
Hi @AvdN , it would be great if you can contribute this issue description and the fix to https://github.com/ogrisel/python-appveyor-demo first , as that project has CI using the sample `appveyor.yml` to verify it does work as expected.  Then copy & paste here ;-)

[2016-11-08 12:59] ncoghlan commented on #267
While looking for something else, I stumbled across another entrant in this space: Cloudify's [Wagon](http://github.com/cloudify-cosmo/wagon)

The article by which I found it: https://www.infoq.com/articles/python-wagon-offline-packages

[2016-12-11 15:50] iMichka commented on #182
Just adding my 2 cents to the discussion. I stumbled over this a few days ago, as I also have 4 places where I need to change the version number in my library, and failed to do so correctly already twice.

I really like method 1, as the ```__version__``` is defined in your main ```__init__.py``` as a string, which I would expect from most packages. It is the first place where I would look for it.

[2017-01-04 02:48] VelizarVESSELINOV opened #275 "The used license should be distributed or not with the package?"
Legal question:
Example of task: Creating Python pypa project with MIT license.
In your user guide the MIT license is only setup in setup.py is this good enough?
Or (MIT) LICENSE(.txt) file should be included in the package as well?
http://choosealicense.com/licenses/mit/

[2017-01-13 14:15] danielquinn opened #276 "Innacurate/out of date information"
I'm trying to follow the proper process for creating a package and am having far too much trouble.

* The package submission page on the [current site](https://pypi.python.org/pypi?%3Aaction=submit_form) lists the installation preference of twine, register, and web form.
* The [documentation](https://packaging.python.org/distributing/#uploading-your-project-to-pypi) that page points to tells you t

[2017-01-14 05:14] jwodder commented on #276
`bdist_wheel` is possible with all modern versions of Python.  The reason your `setup.py` doesn't recognize it is because you either (a) don't have the `wheel` package installed or (b) are using `distutils` instead of `setuptools`.

[2017-01-28 01:26] jonparrott commented on #275
Most downstream packagers (e.g., linux distributions) really want to have a LICENSE file in the package. In general, it's always best avoid ambiguity with your package's license:

1. Include a license header in every human-created source file.
2. Include LICENSE in your SCM, source distributions (.zip, .tar.gz, python setup.py sdist), and binary distributions (.whl, python setup.py bdist_wheel).
3

[2017-01-28 01:28] jonparrott commented on #265
Bump on this issue

I'm happy to help on the task of updating the user guide with namespace package documentation (having to extensively figure this out for all of the `google.*` packages). Do we have any consensus on what to recommend?

[2017-01-28 17:03] dstufft commented on #265
I *think* that newer setuptools have fixed setuptools type namespace packages so that they work in all cases. Someone would need to go through and see if the problems in like pypa/pip#3 are fixed and such (and ideally it would use PEP 420 namespace packages where possible) but if all of that checks out I Think that is a reasonable recommendation now.

[2017-02-01 21:13] jonparrott commented on #265
@dstufft thanks, I'll see if I can write a suite of tests to verify.

I think these are all the cases to check, but please let me know if I'm missing anything:

1. Install two namespace packages with plain `pip install`.
2. Install two namespace packages with `python setup.py install`.
3. Install one package with `pip install` and the other with `python setup.py install`.
4. Install one package wi

[2017-02-01 21:14] dstufft commented on #265
@jonparrott Yes, I think those are the cases. Somewhere in pypa/pip#3 or one of the related issues someone had steps to reproduce the issue from scratch that might be useful.

[2017-02-01 21:21] jonparrott commented on #265
@dstufft thanks, stay tuned. :)

[2017-02-01 22:04] jonparrott commented on #265
Okay, initial results:

| Package A command | Package B command | Status |
| --- | --- | --- |
pip install . | pip install . | passed
pip install . | pip install -e . | passed
pip install . | python setup.py install | failed
pip install . | python setup.py develop | passed
pip install -e . | pip install . | passed
pip install -e . | pip install -e . | passed
pip install -e . | python setup.py inst

[2017-02-01 22:06] dstufft commented on #265
I think for PEP 420 packages you *don't* use the ``namespace`` kwarg to ``setup()``. But I would have expected it to pass in all examples.

[2017-02-01 22:07] jonparrott commented on #265
@dstufft you mean the `namespace_packages` kwarg? Interesting, let me try that.

[2017-02-01 22:11] jonparrott commented on #265
Well, removing the `namespace_packages` kwargs seems to work the same:

[code]

[2017-02-01 22:22] jonparrott commented on #265
Even worse, all sessions fail on Python 2 when using PEP 420 packages and not specifying `namespace_packages`. So unless I'm doing something wrong, which is very likely, it doesn't seem like we're at "universal compatibility" for namespace packages between pip and setuptools.

I've pushed up my latest code, if anyone wants to poke around.

It seems like we could recommend namespace packages with t

[2017-02-02 12:01] dstufft commented on #265
That seems reasonable, perhaps it would make sense to open an issue with setuptools to see if there is something they can do about the ``setup.py install`` case, but overall that seems to be a fine thing to me.

[2017-02-02 20:11] jonparrott commented on #265
Filed https://github.com/pypa/setuptools/issues/960

@dstufft can you take a look at [this package](https://github.com/jonparrott/namespace-pkg-tests/tree/master/example_pkg_a) and verify that this is up-to-date with what we want to recommend?

Once we're good with that, I can start writing the docs. :)

[2017-02-03 20:51] jonparrott commented on #265
Got confirmation from @jaraco on pypa/setuptools#960 that cross-installing isn't something we want to support, so I'll just explicitly call that out in these docs.

My current working plan is to recommend the following:

* If you only support Python 3, use PEP 420-style namespace packages.
* If you want to support 2 & 3, use the non-PEP 420-style namespace packages.

@dstufft we have https://githu

[2017-02-06 21:13] illume commented on #276
There's also an issue with twine instructions being broken, and the new pypi for twine not working as twine expects for when people don't have. Also the instruction on pypi do not work (setup.py upload) does not work.

[2017-02-18 07:19] azibit commented on #194
Woow, Just came across this issue and I would really love to be of help

[2017-02-18 11:50] ddbeck commented on #194
@azibit thanks for your interest! This has fallen by the wayside a little bit, but I'll have more time to work on this project in the next couple weeks, I expect. Take a look at some of the issues linked from the outline and see if there's something specific you'd like to work on. Happy to provide any specific guidance or help, as needed.

[2017-03-02 21:45] nchammas commented on #53
@JonasGroeger - FYI, your first link is broken.

[2017-03-02 22:07] nchammas commented on #53
I'm interested in helping the [dask/hdfs3](https://github.com/dask/hdfs3/) project improve their packaging so that users don't need to separately install a C++ dependency before installing their Python wrapper.

https://github.com/dask/hdfs3/issues/113

I believe the relevant section in the Packaging Guide is [this one on publishing binary extensions](https://packaging.python.org/extensions/#publi

[2017-03-08 23:03] brettcannon commented on #238
This is specifically mentioned in https://packaging.python.org/distributing/#platform-wheels in a note.

[2017-03-14 12:35] edmorley commented on #238
It's not clear to me whether that note is now out of date, or whether PyPI doesn't yet support manylinux (and that it was just that support was added to pip so far).

[2017-03-14 13:48] ncoghlan commented on #238
The note is out of date, we just missed fixing it when support was enabled on PyPI. See numpy for example: https://pypi.python.org/pypi/numpy

[2017-03-14 14:56] ncoghlan commented on #231
I mentioned the wrong issue in the commit message for https://github.com/pypa/python-packaging-user-guide/commit/094aad139bb2f3dcec4cee4d925970eacb1b62e5 - the correct reference is to #238

[2017-03-14 14:59] edmorley commented on #238
Many thanks :-)

[2017-03-22 01:03] zfrenchee opened #284 "Page isn't finished: https://packaging.python.org/extensions/"
I'm particularly interested in the last header: https://packaging.python.org/extensions/#publishing-binary-extensions which is completely empty =0

[2017-03-31 18:16] simonvanderveldt commented on #265
@jonparrott I'd be interested in your opinion on this:
If you replace the namespace packages implementation in the `__init__.py` files in from your test repo with the `pkgutil.extend_path()` version actually all the non_pep420 tests pass for me.
Note that you also have to remove the `namespace_packages=` declaration from `setup.py`.
If you want to try this you can use my fork of your repo https://

[2017-03-31 18:22] jonparrott commented on #265
@simonvanderveldt do you have a comparison of how the test matrix shakes out in the case?

[2017-03-31 18:44] simonvanderveldt commented on #265
@jonparrott I've added the table and amended my commit
Basically only additional `pass`es, no new failure and all non_pep420 tests pass

[2017-03-31 19:07] jonparrott commented on #265
@simonvanderveldt very interesting.

I'm curious to see what @jaraco and others think about those results- this begs the question of if we should stop recommending `pkg_resources.declare_namespace`.

[2017-03-31 19:49] jaraco commented on #265
That's an interesting finding, and encouraging. If we can deprecate use of pkg_resources and declare_namespace, that would be awesome. I'll do some experiments in my own namespace packages and see if they fail anywhere using pkgutil.

[2017-03-31 19:52] jonparrott commented on #265
Thanks @jaraco! Looking forward to your findings. :)

@simonvanderveldt for posterity, can you open a PR against my repo to make that change.

@dstufft gentle poke on my question [above](https://github.com/pypa/python-packaging-user-guide/issues/265#issuecomment-277359036)

[2017-03-31 19:57] simonvanderveldt commented on #265
Done!
I'll just follow this issue, interested in what the conclusion will be :)

[2017-03-31 20:15] amcgregor commented on #265
The now well documented shenanigans relating to namespace package installation and `__path__` en-garbaging are a pretty consistent thorn in getting new users set up with development tools, ref my comment [over here](https://github.com/pypa/pip/issues/3#issuecomment-260401230).  Unfortunately, by design the suite of libraries I develop are built to operate without code modification or even much in

[2017-03-31 20:19] jonparrott commented on #265
@amcgregor agreed. We're just trying to figure out the state of things right now, then figure out what to recommend. We're not an authority, so what we recommend isn't *law*. If the whatever method you're currently using works fine, then don't mess with it. The Google namespace packages I shepherd probably won't change.

[2017-03-31 20:34] jonparrott commented on #265
The lack of documentation is definitely what I'm trying to fix right now. :)

[2017-04-01 02:00] dstufft commented on #265
@jonparrott I don't do a whole lot with the user facing documentation side of things (I am horrible at it :( ) but that seems reasonable to me?

[2017-04-01 15:39] jaraco commented on #265
Right off the bat, I find that removing the call to `declare_namespace` leads to this error:

[code]

[2017-04-01 16:53] ncoghlan commented on #265
@jaraco Right, there were two steps proposed in @simonvanderveldt's adjustment:

- remove the 'namespace_packages=...' declaration from `setup.py`
- switch from `pkg_resources.declare_namespace()` to `pkgutil.extend_path()` in the common `__init__.py`

That approach should work in any version since 2.3 (when `pkgutil.extend_path` was added), so even folks that still need RHEL 5 (and hence Python 2

[2017-04-03 16:52] jonparrott commented on #265
Awesome. Okay, I have one final curiosity - what happens if you mix a `pkgutil.extend_path` with a `pkg_resources` package? That could be a pretty interesting case. I'm also curious what happens when you mix pep420 and non-pep420. I'll add those to my test matrix. :)

[2017-04-03 16:53] jonparrott commented on #265
@dstufft I'm here to help with user-facing documentation :) I'll create those sample repos on my own github and then we can figure out how to get them under pypa once I write the docs for namespace packages.

[2017-04-03 21:37] jonparrott commented on #265
@simonvanderveldt @jaraco @amcgregor good and bad news. :)

Based on the new table [here](https://github.com/jonparrott/namespace-pkg-tests/blob/f7bd9687089817ac6793894330285d342ecbe049/table.md). The `pkgutil` method succeeds in **regardless of pip or setuprools* in **both 2 and 3**, it works *everywhere!* :D It seems this is the method we should bless and recommend in this documentation. Please,

[2017-04-03 21:53] simonvanderveldt commented on #265
@jonparrott Awesome! Looks promising :)

I wanted to add that both the [Python 2](https://docs.python.org/2/library/pkgutil.html#pkgutil.extend_path) and the [Python 3](https://docs.python.org/3/library/pkgutil.html#pkgutil.extend_path) docs mention this implementation in the pkgutil docs, it might be useful to reference those?

Also, as already mentioned in this issue, PEP-420 defines a new and s

[2017-04-03 22:00] jonparrott commented on #265
I can definitely mention pep420 for Python 3 only packages, but the table
shows that it does have some tooling issues.

On Mon, Apr 3, 2017, 2:53 PM Simon van der Veldt <notifications@github.com>
wrote:

[2017-04-03 22:13] simonvanderveldt commented on #265
Fair point. You probably know best what to do documentation wise for the end users.
It might be a good idea though to file some bugs for the incompatibilities. Is anyone doing that? Otherwise I can file some and reference your table.

[2017-04-03 22:31] jonparrott commented on #265
@jaraco might have some insight into what's going on with mixing pip and setuptools with pep420 packages. The biggest concern is that installing both packages with `python setup.py install` fails.

[2017-04-04 00:25] jaraco commented on #265
Ugh. That makes it difficult for a namespace to transition. Every single package in that namespace would have to be updated and not mixed with any old versions. I can't imagine how we might transition the ecosystem under such a world-breaking scenario.

Setuptools supports installing pep420 packages, but has issues with `find_packages` because there's no way to detect packages without __init__.py

[2017-04-04 02:26] ncoghlan commented on #265
Looking at the code for the two implementations:

* https://github.com/python/cpython/blob/master/Lib/pkgutil.py#L500
* https://github.com/pypa/setuptools/blob/master/pkg_resources/__init__.py#L2135

The two most likely culprits for cross-compatibility issues seem to be:

1. `pkg_resources` assumes that it can track all namespace packages and live-update their children when their `__path__` change

[2017-04-04 02:43] amcgregor commented on #265
That is what I was afraid of.  Now to ask myself, do I have the strength of willpower to claim the `m` space as I migrate packages to the new approach… muhahaha.

[2017-04-04 19:07] jonparrott commented on #265
Slight thorn in this, it seems that mixing pep 420 and pkgutil doesn't work if the first package is installed via setuptools (see updated table [here](https://github.com/jonparrott/namespace-pkg-tests/blob/c307146c774cbc782853caf940903a1822eb36f1/table.md)). @jaraco is this because of the aforementioned `easy_install` code path?

[2017-04-05 22:56] jonparrott commented on #265
Update for those interested: I'm working on a draft of this now and hope to have a PR out on Friday. :)

[2017-04-06 03:31] jonparrott commented on #265
@dstufft @ncoghlan when sending my PR, I noticed there are a large number of outstanding PRs on this repository. I'm happy to help with the burden of PRs reviews on this project if you'll let me know what's involved in earning your collective trust to do so. :)

[2017-04-06 15:53] dstufft commented on #265
@jonparrott You have the power.

[2017-04-06 16:56] jonparrott commented on #265
@dstufft great. I'll start working through the trivial PRs soon. In the meantime I'd love to get some feedback on #290.

[2017-04-07 02:01] ncoghlan commented on #265
Thanks for volunteering @jonparrott!

[2017-04-09 02:44] #265 closed

[2017-04-09 03:23] ncoghlan opened #291 "Additional topic for plugin management?"
Reviewing @jonparrott's PR for an Additional Topic on Namespace Packages (https://github.com/pypa/python-packaging-user-guide/pull/290) that reviewed the available options made me wonder whether or not it might be worth doing a similar comparison between entry points based plugins (http://setuptools.readthedocs.io/en/latest/setuptools.html#dynamic-discovery-of-services-and-plugins), and namespace

[2017-04-09 04:05] ncoghlan commented on #284
The two main options I'm currently aware of for this are:

1. Use `enscons` as your build system (rather than `distutils` or `setuptools`): https://pypi.python.org/pypi/enscons/

That gives you a full-fledged build system to use ([Scons](http://scons.org/)), with some additions for also emitting Python packages as a build output, rather than having to figure out how to teach `distutils`/`setuptool

[2017-04-09 05:40] jonparrott commented on #291
@ncoghlan I'm happy to take this as my next writing task or happy to commit to being the reviewer if you want to write it.

[2017-04-09 05:54] ncoghlan opened #292 "Transfer example namespace package repo, update links"
As part of #290, @jonparrott created a sample namespace package repo at https://github.com/jonparrott/namespace-pkg-tests

We have a couple of options for what to do with this repo:

1. Transfer the repo to one of the PyPA org admins/owners and from there into the PyPA org namespace: https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/

2. Create a new repo un

[2017-04-09 05:56] jonparrott commented on #292
FYI- I'm happy to take on the actual "work" here - transferring the contents and updating the guide.

[2017-04-09 06:01] ncoghlan commented on #291
@jonparrott I think someone else writing with me reviewing works better, as I'm less likely to procrastinate when I'm the reviewer ;)

[2017-04-09 09:24] simonvanderveldt commented on #291
@ncoghlan I don't know if you'd want to mention it as a possibility as well, but simply using a prefix as a namespace gives one pretty much the same possibilities as Python's namespace packages.

Flask for example uses a `flask_` prefix for it's extensions , see http://flask.pocoo.org/docs/0.12/extensiondev/#anatomy-of-an-extension
Flask used namespace packages before, but switched because of the

[2017-04-09 10:47] ncoghlan commented on #291
@simonvanderveldt That's a good point, since the Flask model occupies the tier where you don't need any runtime auto-discovery at all - you just want a common naming convention so "the X plugin for Y" is easily discoverable given the names of both X and Y.

That positions the three approaches as:

- naming convention only, automation limited to name generation, filtering and parsing based on that

[2017-04-09 16:39] dstufft commented on #292
You can transfer them to me and I can transfer into PyPA.

[2017-04-10 16:45] jonparrott opened #293 "Document discouraged / deprecated setup arguments"
We present document an opinionated set of `setup` args that are applicable to most packaging scenarios. We also have additional topics for more advanced use cases. However, we don't presently document arguments that should never be used or used with extreme caution.

So far, the ones I'm aware of are:

1. `requires` dates from a pre-PyPI & setuptools time and has now been replaced by `install_requ

[2017-04-10 19:55] jonparrott commented on #292
@dstufft transfer initiated. Thank you. :)

[2017-04-10 21:57] jonparrott commented on #291
@ncoghlan what was the idea behind using `iter_modules`? I can't seem to get it to work in a reasonable way, could you provide an example?

[2017-04-10 22:04] jonparrott commented on #291
Hmmm. I think I might have an idea now, maybe something like this?

[code]

[2017-04-11 11:09] ncoghlan commented on #291
@jonparrott Aye, that's the one.

[2017-04-12 08:06] johnyf commented on #263
Attempting `python setup.py register` with PyPI raises the API error mentioned in the OP. However, `python setup.py upload` does not properly register the package's metadata on PyPI (I noticed all but one keyword missing, whereas in the past all were present).

Using `twine register` corrected the issue, by successfully registering the keywords of a package that had already been uploaded to PyPI u

[2017-04-13 17:02] #291 closed

[2017-04-13 22:57] jonfujita commented on #194
I'd love to contribute a bit to this. I'm doing a bootcamp and would like to practice adding to documentation and potentially some code. Thanks.

[2017-04-14 10:53] anthrotype opened #295 "setup.py for plugins namespace sub-package"

[2017-04-14 10:54] anthrotype commented on #295
oops, I inadvertently clicked the green button, sorry! Let me write up the full message 😳

[2017-04-14 11:12] anthrotype commented on #295
Hello, sorry again for the multiple messages.

I am trying to use the `pkgutil` namespace package approach to provide plugin functionality for my application.

https://github.com/pypa/python-packaging-user-guide/pull/294

The plugin discovery doc says one can use a sub-package (e.g. myapp.plugin) as the namespace package, and also recommends to _not_ make the top-level package (myapp in this case)

[2017-04-14 18:07] jonparrott commented on #295
@anthrotype it should "just work" by placing the special ``__init__.py`` into ``myapp/plugins``. It may be the case that the top-level package ``myapp`` also needs to be a namespace package. At Google we use ``google.cloud`` as a namespace subpackage but ``google`` is also a namespace package. I'll confirm and let you know.

[2017-04-14 18:11] anthrotype commented on #295
Thank you.

Yes, that's exactly what I'm not sure about.

[2017-04-14 18:20] jonparrott commented on #295
@anthrotype confirmed. This works fine, but the plugin packages must omit `__init__.py` from the `myapp` folder. I'll add a note.

[2017-04-14 18:21] anthrotype commented on #295
Thanks! But, will setuptools' find_package manage to find the myapp/plugins subfolder if myapp does not have an `__init__.py`?

[2017-04-14 18:22] jonparrott commented on #295
@anthrotype nope, you gotta be explicit about it. :)

[2017-04-14 18:22] anthrotype commented on #295
oh.. I'd love to see an example of a plugin's setup.py that does that? :)

[2017-04-14 18:28] jonparrott commented on #295
@anthrotype

[code]

[2017-04-14 18:30] jonparrott commented on #194
@jonfujita as mentioned in @ddbeck's comment, this has fallen a bit by the wayside but if there's any particular topic you want to pursue let us know and we can provide some guidance.

[2017-04-14 18:42] anthrotype commented on #295
Thank you for your help and for working on improving the packaging documentation!

[2017-04-14 18:42] #295 closed

[2017-04-14 19:16] jonparrott commented on #295
My pleasure!

[2017-04-14 20:37] ddbeck commented on #194
@jonparrott Oh jeez that couple weeks thing was… optimistic. I've noticed you've brought on a lot of activity on the repo, triaging open issues and PRs. Did you have any long term plans that I can coordinate with (or at least not get in the way of), especially when it comes to these tutorials?

[2017-04-14 20:57] jonparrott commented on #194
@ddbeck still getting my head around all of this so I'm doing some baby steps (both for my own benefit and to not rustle feathers by changing everything at one). I'll let you know once I'm a bit more comfortable (and feel free to nag me).

[2017-04-18 17:12] jonparrott commented on #292
@dstufft gentle nudge on this.

[2017-04-18 21:14] #263 closed

[2017-04-18 21:16] jonparrott commented on #276
This should be resolved as of #271, but if it isn't, let me know @danielquinn!

[2017-04-18 21:16] #276 closed

[2017-04-18 21:16] jonparrott commented on #205
This should be obsoleted by #271, but if it's not, let me know. :)

[2017-04-18 21:16] #205 closed

[2017-04-19 18:12] jonparrott opened #297 "Update distributing guide to mention twine configuration for storing passwords in the keyring"
This can't be done until this upstream issue is resolved: https://github.com/pypa/twine/issues/216
Original context: https://github.com/pypa/python-packaging-user-guide/pull/271#issuecomment-293357309

[2017-04-19 18:13] theacodes opened #298 "Expand on using TestPyPI in the distributing guide"
Original context: https://github.com/pypa/python-packaging-user-guide/pull/271#issuecomment-293357309

We already mention that TestPyPI is an option, however, we link off to separate documentation on how to use it. We should self-host this documentation and better surface it in our guide.

[2017-04-19 19:44] dstufft commented on #292
Sadly the transfer request expired, sorry! If you do it again I can accept it ASAP.

[2017-04-19 19:44] theacodes opened #301 "Determine what to do with the 'develop' branch"
@ddbeck the `develop` branch seems to be pretty stale now. Do we want to port anything over to master? Can we delete it to clean up?

[2017-04-19 19:46] dstufft commented on #298
FWIW Longish term I want to get rid of TestPyPI, by folding it's primary use case as a baked in feature to Warehouse. Essentially by using https://github.com/pypa/warehouse/issues/726 people can just upload a release without publishing it, then if they don't want to keep it they can just delete it.

[2017-04-19 19:47] jonparrott commented on #298
@dstufft what's the timeline on that (if any)?  I just want to know how to prioritize this.

[2017-04-19 19:48] dstufft commented on #298
It's lower priority work then getting legacy shut down and migrated, beyond that, whenever someone (or me) feels like working on it.

[2017-04-19 19:48] jonparrott commented on #292
@dstufft re-initiated. Thanks. :)

[2017-04-19 19:48] jonparrott commented on #298
Gotcha. :)

[2017-04-19 19:50] jonparrott commented on #301
Looking at the [comparison](https://github.com/pypa/python-packaging-user-guide/compare/develop?expand=1). There's some really useful stuff here. I've independently sent a PR for travis in #300, but the contributing and style guide can be really useful.

[2017-04-19 19:51] dstufft commented on #292
Ok it should be transfered now.

[2017-04-19 19:52] jonparrott commented on #292
@dstufft thanks! Now it's up to me to update the links in the guide.

[2017-04-19 19:54] jonparrott commented on #292
@dstufft can you add me as an admin on that repo? Alternatively, just rename to `sample-namespace-packages`.

[2017-04-19 19:55] dstufft commented on #292
I made the Packaging User Guide Editors admin on that repo just now.

[2017-04-19 20:08] jonparrott commented on #292
Thanks. @dstufft  :)

[2017-04-19 20:14] #292 closed

[2017-04-19 20:19] ddbeck commented on #301
@jonparrott I do think there's some things worth keeping from `develop`, but the overall decision to have a separate branch was a mistake. It was difficult to manage practically and it was kind of demotivating to work on that in isolation. Let's salvage the good stuff and then retire the `develop` branch.

I'm willing to do the work to make this happen and I can commit to spend time on this repo a

[2017-04-19 20:23] jonparrott commented on #301
Personally for me it would be better to a new, separate PR based on master for the contributing and style guide (you can use cherry-pick for this). Then let's figure out what to do with the new tutorial content.

I'm thinking I'm gonna propose a new information architecture here -something along the lines of:

* tutorials
  * setting up packaging tools
  * installing a package
  * creating a packa

[2017-04-19 20:31] jonparrott opened #304 "Consider switching themes"
(This is my first controversial idea for this project, so by all means tell me to forget it).

Sphinx now uses the [Alabaster theme](https://github.com/bitprophet/alabaster) by default. In my opinion, Alabaster's high-contrast, large amount of whitespace, and typography lends itself to be far more readable especially for prose documentation.

I moved [urllib3's documentation](https://urllib3.readt

[2017-04-19 20:36] ddbeck commented on #301
OK, that sounds like a plan to me. I promise at least one PR on this no later than Sunday, April 30 (though maybe sooner—I'm traveling this week, so it's a little hard for me to predict).

Regarding IA, a long while back I wrote [this proposed outline](https://docs.google.com/document/d/1wQ6tso247SJTQnrK7NcMgEj5On_zwtN1qsynoPWCPAI/edit?usp=sharing). It's old (so probably has some gaps) but sounds

[2017-04-19 20:45] jonparrott commented on #301
Great. I'll review quickly. :)

This is great, thanks. I think it might still be useful, at least as an intermediate step, to separate out tutorial content vs reference content. Once we're there, we can start grafting documentation into a new TOC.

[2017-04-22 05:06] ncoghlan commented on #304
+1 in principle from me (as Alabaster is also closer to the current theming of the main Python documentation), but in the discussion at https://github.com/pypa/python-packaging-user-guide/issues/62 @qwcode was keen to maintain theming consistency across the *PyPA* projects, and I think he has a valid point.

In addition to packaging.python.org, the consistency in theming currently covers:

* https

[2017-04-24 01:36] dstufft commented on #304
I don't have any problem in switching the other documention to alabaster (www, pip, virtualenv, warehouse). The rest would need to ask their main maintainers.

[2017-04-24 04:17] ncoghlan commented on #304
Paging @dholth for wheel, @jaraco for setuptools, and @vsajip for distlib.

Folks, what do you think of the idea of switching to the new default Alabaster Sphinx theme for the PyPA and PyPA-related project documentation?

[2017-04-24 07:26] vsajip commented on #304
I don't have _very_ strong views about using Alabaster, though I do prefer sans-serif fonts for body text in documentation. Alabaster doesn't have this as a default.

IMO sans-serif fonts make documentation seem less fusty and are considered by some to be better for accessibility.

I note that @jonparrott's Alabaster variant that he mentioned above _does_ use sans-serif fonts for body text.

Also,

[2017-04-24 16:00] jonparrott commented on #304
I'm obviously +1 on sans serif fonts but I was trying to do one thing at a time. :)

[2017-04-24 17:30] jaraco commented on #304
Fine by me; @jonparrott, would you be willing to submit a PR to setuptools? I'm not sure what needs to be done, maybe just remove the html_theme in conf.py and remove the _theme/nature folder? That's what I would try first, not having spent any time understanding Sphinx themes.

[2017-04-24 17:31] jonparrott commented on #304
Yes, I can submit a PR to setuptools as well.

On Mon, Apr 24, 2017 at 10:30 AM Jason R. Coombs <notifications@github.com>
wrote:

[2017-04-25 02:01] ncoghlan commented on #284
I added a link to the CPython tutorial on writing extension modules by hand: https://github.com/pypa/python-packaging-user-guide/commit/532268ac68b70eb2be9bdc9b2d845ace2b2cc6f7

[2017-04-26 18:00] mihaic opened #306 "MANIFEST.in description should not mention bdist_wheel"
The current description for MANIFEST.in gives the impression that MANIFEST.in can be used together with `python setup.py bdist_wheel`:

However, `python setup.py bdist_wheel` does not include in the resulting wheel the file "LICENSE.txt", which is included in MANIFEST.in.

EDIT: Tested with https://github.com/pypa/sampleproject.

[2017-05-02 23:29] jonparrott commented on #306
@mihaic can you provide the output of sdist and bdist_wheel? I just want to confirm. (maybe @jaraco can independently confirm as well)?

[2017-05-02 23:34] mihaic commented on #306
Using Python 3.5 as packaged in Ubuntu 16.04:
[code]

[code]

[2017-05-03 16:07] MathMagique opened #308 "Question: PyPI and setuptools_scm"
Many projects use `setuptools_scm` to extract the version number from source control. During development, i.e., between version tags, the version number for such a project is

    {next_version}.dev{distance}+{scm letter}{revision hash}

(see the [setuptools_scm readme](https://github.com/pypa/setuptools_scm)). My question is:

_Is it acceptable for projects to upload development versions of Pytho

[2017-05-03 16:42] jonparrott commented on #308
@MathMagique PEP 440 has provisions for [development release](https://www.python.org/dev/peps/pep-0440/#developmental-releases) versions. As such, PyPI is fine if you want to do development releases.

I probably wouldn't do a development release for every single commit to master, but you should be fine to cut development releases.

[2017-05-03 16:42] #308 closed

[2017-05-04 06:26] MathMagique commented on #308
@jonparrott Thanks a lot for the quick and clear answer.

[2017-05-04 07:06] bernhardreiter opened #309 "Distributing: First time registration fails when following guide."
As a first time user of pypi uploading I've following the  [current official guide](https://packaging.python.org/distributing/#upload-your-distributions)
which right now is https://github.com/pypa/python-packaging-user-guide/blob/e548d9febaddb94dce34a5b860110e825cd71493/source/distributing.rst#id122 .

Using the advise of the first note and going to testpypi, I've used the instructions at https://

[2017-05-04 11:09] dstufft commented on #308
One quick clarification, PyPI will *not* let you upload versions that have a ``+`` in them, preferring instead to reserve that namespace for "local" modifications. Some projects (like setuptools_scm) also use that to store more specific version about what VCS revision a release was cut from, however those versions cannot be uploaded to PyPI.

As @jonparrott noted, it is perfectly fine to otherwise

[2017-05-04 13:24] MathMagique commented on #308
@dstufft Thank you for the clarification!

[2017-05-05 22:08] jonparrott commented on #309
I'm wary on this because we're definitely targeting "new" users for the tutorial, which of course means that they wouldn't have put anything in the repository field, that said, I'm up for adding it temporarily if @ncoghlan thinks it's a good call.

I can definitely do this.

@bernhardreiter I'd recommend going ahead and filing a bug over at twine and referencing this one. (I can do it for you, if

[2017-05-08 09:05] bernhardreiter commented on #309
As I was a new user, my experience was that I had it just put in because of the hint I've found on the TestPyPI wiki. I also expect that other new users may use a search engine or elder blog entries or books  and may also end up having this options in when coming to the first time. And I did not expect leaving out a seemly harmless option like this having such an important effect.

Please do! Than

[2017-05-10 09:31] ncoghlan opened #310 "Possible reference article on "The Packaging Gradient""
@mahmoud just published a good article looking at the many possible layers at which developers can consider the question of application packaging and deployment: http://sedimental.org/the_packaging_gradient.html

I don't think we want to pull that directly into PyPUG, but it seems like it could be useful to reference somewhere as background material for some of the "Additional Topics" sections.

[2017-05-10 16:33] jonparrott commented on #310
I'm definitely for this, as it's a fantastic resource for *application* packaging options as opposed to *library* packaging.

[2017-05-11 07:39] mahmoud commented on #310
I'm glad you liked it! It's definitely a good introductory that feels good to get out there, and I couldn't have asked for a warmer reception. Even [HN](https://news.ycombinator.com/item?id=14309168) didn't totally hate it! If there's anything I can do to help adapt the content please let me know. I may need some background on the guide (and some time to recover from PyCon), but it sounds like a f

[2017-05-19 17:33] jaraco opened #312 "pkg_util technique leaves namespace packages undeclared"
As I was investigating pypa/setuptools#1038 and filing pytest-dev/pytest#2419, I realized there's a potential issue with the two recommended mechanisms for declaring namespace packages (PEP-420 and pkg_util). Neither of those techniques provide a mechanism to declare a package as a namespace package, and especially with the pkg_util technique, the namespace package looks indistinguishable from a r

[2017-05-19 17:59] jaraco commented on #312
In light of this issue, is the pkg-util technique an adequate replacement for the `pkg_resources` technique? Can we expect a package to detect (or care about) the distinction between a namespace package and a non-namespace package?

I also worry that the lack of a `-nspkg.pth` file may lead to other issues that were addressed through changes to this file (such as pypa/setuptools#250).

[2017-05-19 18:06] jaraco commented on #312
I've run some tests with these pkg-util-based packages and haven't been able to elicit any emergent issues, so I'll presume my worries are unfounded.

[2017-05-20 03:35] jonparrott commented on #312
@jaraco okay, so it seems you findings match the test results [here](https://github.com/pypa/sample-namespace-packages/blob/master/table.md) which indicate that our samples are fine.

I too was uneasy about the namespace not actually be declared anywhere other than the `__init__.py`, but you can't argue with results I guess.

Can we close this, or is there something I've missed?

[2017-05-20 04:15] jonparrott commented on #306
@mihaic Thanks! I'll fix this during my next block of hours for this project, but if you wanna send a quick PR I'll be happy to review it!

[2017-05-20 04:17] xoviat commented on #312
It the pkgutil method an appropriate way to declare namespace packages? Or is pkg_resources preferred

[2017-05-20 05:12] jonparrott commented on #312
@xoviat based on our [test matrix](https://github.com/pypa/sample-namespace-packages/blob/master/table.md) pkgutil is the best choice for new namespaces that need to work on 2 & 3. pkg_resources is only recommended for packages that already have other packages in the same namespace using that method.

[2017-05-20 05:13] jonparrott commented on #312
(Didn't mean to close until @jaraco confirms)

[2017-05-20 07:25] jaraco commented on #312
I concur. Thanks for taking the time to confirm.

[2017-05-20 07:25] #312 closed

[2017-05-20 14:49] ncoghlan commented on #312
Adding in the import system level context for additional context:

At the language level, a "namespace package" is formally just a normal package where the only module level behaviour is to set the metadata attributes (including `__path__`), with all other attributes being submodules. No runtime code is expected to care about how that state was achieved (whether natively via the import system, or

[2017-05-20 14:52] jonparrott commented on #312
Thanks for the context, @ncoglan, that was really helpful.

On Sat, May 20, 2017, 7:49 AM Nick Coghlan <notifications@github.com> wrote:

[2017-05-20 16:24] jaraco opened #314 "pkg_util leaves broken packages on uninstall"
I've just encountered another issue related to pkg_util-based namespace packages on pre-PEP 420 packages. Uninstallation of one package in a namespace breaks the package for all other in that namespace. Consider:

[code]

The issue occurs because the uninstallation step causes the removal of the now necessary `__init__.py` module for the `backports` package. The issue doesn't occur on late release

[2017-05-20 16:31] jonparrott commented on #314
That is unfortunate behavior. What should we do here to resolve this?

[2017-05-20 16:31] jaraco commented on #314
I think the solution here is pretty simple:

1. Continue to recommend `pkg_util` as the fallback mechanism for namespace package modules.
2. Remove the [setuptools requirement](https://github.com/pypa/setuptools/blob/089cdeb489a0fa94d11b7307b54210ef9aa40511/setuptools/command/build_py.py#L177-L183) that requires declared namespaces to use the pkg_resources technique.
3. Recommend that packages onc

[2017-05-20 16:33] jaraco commented on #314
The downside to the above approach is that we continue to be entrenched in the issues surrounding package discovery (open issue with `find_packages` plus redundancy between defining `packages` and `namespace_packages`).

[2017-05-20 16:38] jaraco commented on #314
Another possibility is that we could work on enhancing pip to avoid removing __init__.py files containing `pkg_util` declarations unless that's the only file remaining.

[2017-05-20 16:50] jaraco commented on #314
Now that I think about it a little bit more,  this first suggestion is probably subject to all of the same issues that dissuaded us from using the PKG_resources technique.

[2017-05-20 16:53] jonparrott commented on #314
Yeah, I wonder what @pfmoore thinks about the pip suggestion.

On Sat, May 20, 2017, 9:50 AM Jason R. Coombs <notifications@github.com>
wrote:

[2017-05-20 17:26] dstufft commented on #314
Fixing pip seems like a good idea.

Sent from my iPhone

[2017-05-20 19:05] jonparrott commented on #314
See https://github.com/pypa/pip/pull/4504

[2017-05-21 02:18] ncoghlan commented on #314
The distro level solution to this is to recommend that namespaces *always* have a clear owner (synthesizing one at the distro level if it doesn't already exist upstream), and then the contributors to the namespace all depend on the owning package.

That way contributing packages can be freely installed and uninstalled, while if you uninstall the owning package, that will show up as a missing depen

[2017-05-22 20:13] jonparrott commented on #314
@ncoghlan thanks for that - I definitely agree it's a good idea to recommend an "owning" package for each namespace that documents which method to use and the policies around it. I'll add that to my work items.

However, I think `pkgutil style namespace packages effectively require having an owning package, as otherwise the __init__.py file will be removed the first time any contributing package i

[2017-05-22 20:41] jonparrott commented on #309
I can't seem to even register for the wiki, so I think the best course is for us to have our own testpypi docs and stop linking to the wiki.

Maybe @dstufft or @ncoghlan have a wiki account (with editor access) and can update it? We just need to remove the `repository` line.

[2017-05-23 02:43] ncoghlan commented on #314
@jonparrott When there's an owning package that all the contributing packages depend on, then the contributing packages should *not* need to include the `__init__.py` file for the namespace. If they do, then you get the undesirable "first uninstall breaks the namespace" behaviour.

That's how the distro level approach works - the owning package is the only one that includes the `__init__.py` file,

[2017-05-23 03:19] ncoghlan commented on #309
Aye, registration to edit the wiki is unfortunately a little convoluted due to persistent spam problems: https://wiki.python.org/moin/FrontPage#use

I've edited https://wiki.python.org/moin/TestPyPI to be consistent with the PyPUG guidance, and also added a comment that links back to the relevant section (hit "Comments" in the nav bar to see it).

[2017-05-23 03:22] jonparrott commented on #309
Thanks!

On Mon, May 22, 2017, 8:19 PM Nick Coghlan <notifications@github.com> wrote:

[2017-05-23 03:59] jonparrott commented on #304
After a conversation with @ncoghlan over on #305, it seems like switching to the Python 3 theme might actually be a better choice for consistent identity across PyPA and Python projects (#62).

The Python 3 theme offers the same benefits as Alabaster - high contrast, legible fonts, and overall cleanliness. It has the added benefit of being consistent with the Python documentation.

I'm gonna updat

[2017-05-23 04:01] jonparrott commented on #309
Since this is adequately tracked by the upstream bug in twine and the wiki is fixed, I'm gonna go ahead and close this. If anyone disagrees, feel free to comment and I'll happily re-open. :)

[2017-05-23 04:01] #309 closed

[2017-05-23 08:00] vsajip commented on #304
I prefer the pydoc theme myself, it's what I used for the distlib docs hosted at
https://pythonhosted.org/distlib/

[2017-05-23 10:11] dstufft commented on #314
Due to hysterical raisins, I think pip + uninstalling namespace packages has always been somewhat painful. If you install a project with setuptools (WITHOUT pip), the only record of what files have been installed is ``top_level.txt``, which list the top level packages, so IIRC we just blow away the entire top level if it's listed in ``top_level.txt``.

We probably need to refactor that, and possib

[2017-05-24 03:25] jonparrott commented on #314
@ncoghlan ah, I see now. Hmmm. I think this might make things complicated for `pip install -e` as the user would need the owning package installed for that.

After reading @dstufft's reply, I'm unsure what to do here. I don't know if the guide should change it's recommendations at this point for namespaces, considering "fixing" the "bug" in pip should make recommending owning packages irrelevant.

[2017-05-24 06:54] ncoghlan commented on #314
I'm fine with starting with an appended section, while leaving the main recommendations alone for now.

I'm not sure about the `pip -e` concern, though - editable installs always need their dependencies installed, and in this case, the owning package becomes just another dependency. The one case I'm aware of that does become more complicated is when the contributing package otherwise has no depend

[2017-05-25 22:08] mihaic commented on #306
@jonparrott, I could send a PR that simply removes the reference to bdist_wheel in the documentation of MANIFEST.in. However, I think it would be better to provide instructions for packaging additional files like LICENSE.txt that also work with bdist_wheel, not only sdist. Unfortunately, I am not aware of such a solution. Are you?

[2017-05-25 22:11] jonparrott commented on #306
@mihaic for the most part wheels aren't really supposed to distribute extra stuff like that, the license issue is actually handled through package metadata. You can use package data to distribute stuff used by the code itself.

@dstufft or @dholth probably has some thoughts.

[2017-05-26 00:14] jonparrott commented on #309
Small update: this has been fixed in twine.

[2017-05-26 17:21] jonparrott opened #317 "Master documentation plan"
This is the master plan for restructuring this guide. This issue's description *will be edited* as discussions occur. It's the plan of record for what the end state is and what steps we will take to get to the end state. This is proposed as a *minimal* set of changes to improve these docs *and encourage contributions*, once we have this foundation we can build on this to improve even further. Spec

[2017-05-26 17:22] jonparrott commented on #317
@ncoghlan @ddbeck Please take a look and let me know if you have any concerns? Feel free to include anyone else.

I've dedicating 2-4 hours a week (mostly on Fridays) to this project going forward, so once we're in agreement I can move on this quickly.

[2017-05-26 17:46] jwodder commented on #306
`bdist_wheel` has actually had support for including license files since 2012(?), though it's never been documented.  If `license_file` in the `[metadata]` section of `setup.cfg` is set to a file path, that file will be copied into the wheel at `*.dist-info/LICENSE.txt` and will remain in the `*.dist-info` directory once the wheel is installed.  There doesn't seem to be any support for including o

[2017-05-27 04:34] ncoghlan commented on #317
I'd suggest splitting out "Interoperability Specifications" as their own document type - they're not "You may want to know this" the way the other discussions are, they're "You probably need to know this if you're a tool developer, otherwise you shouldn't need to care".

The package metadata page and the index API page would then move into that section, and potentially the setup() args discussion

[2017-05-28 05:40] ncoghlan commented on #304
At @merwok's suggestion, I started a python-dev thread to get the thoughts of other core developers on the suitability of this approach: https://mail.python.org/pipermail/python-dev/2017-May/148029.html

Based on @brettcannon's response there, I think the sensible approach to take would be to:

1. Create `python/psf-docs-theme` as the base PSF managed repo used to publish the "Official Python Docu

[2017-05-28 20:53] ddbeck commented on #317
I'm pretty happy with what I'm seeing here (@ncoghlan's comment included). Thanks!

[2017-05-31 02:20] jonparrott commented on #317
Done. Thanks @ncoghlan and @ddbeck. PR to re-arrange things incoming.

[2017-05-31 16:52] jonparrott commented on #304
@ncoghlan that sounds great. @brettcannon anything I can do to help get this process started? If we can get the repo created before Friday I can make it all happen this week.

@ncoghlan I think it's definitely worthwhile to go ahead and create `pypa-docs-theme`. It might just be simple inheritance from the psf theme for now, but we'll probably want some pypa-specific changes at some point. :)

[2017-05-31 23:02] brettcannon commented on #304
I've been waiting for the discussion that @ncoghlan started to wrap up of which there was an email on the topic yesterday. Once that discussion is over I can create the repo.

[2017-05-31 23:09] jonparrott commented on #304
Thanks!

On Wed, May 31, 2017 at 4:02 PM Brett Cannon <notifications@github.com>
wrote:

[2017-06-01 00:22] dstufft commented on #304
FWIW I think the alabaster theme looks nicer than the python docs theme, but I don't have any major objection to using either.

[2017-06-01 00:31] dstufft opened #319 "Specifications page is hard to read"
Looking at https://packaging.python.org/specifications/ the page is kind of hard to read the current grouping doesn't seem to make much sense. It currently groups everything under either "Package distribution metadata" or "Package index interfaces", but the latter only has one item in it and the former has a bunch, some of which are only tangentially related to each other.

Perhaps it'd be best to

[2017-06-01 08:39] ddbeck commented on #319
(This is probably related to #317, too.)

Looking this page over, it seems like the "Provides-Extra" and "Description-Content-Type" sections actually have some content, while the rest are basically just cross-references to PEPs. Since there are only about ten items, it might be best to break those two sections out into their own pages, then simplify what's left into a table or list (each item bein

[2017-06-01 15:26] dstufft commented on #319
I'm not real great at documentation so I can't really speak to what the best way is to do this is, but that doesn't sound unreasonable to me.

[2017-06-01 16:23] jonparrott commented on #319
Totally agreed, after #316 is done I want to revisit existing docs and file bugs for those that need lots of revision. You just got ahead of me here. 👍

I might actually make sense to split this into multiple pages, but I like your proposed structure as a starting point.

[2017-06-02 05:58] ncoghlan commented on #304
@brettcannon Waiting turned out to be a good idea, as my conclusion from that discussion is that it makes more sense to call the repo `python/cpython-docs-theme`: https://mail.python.org/pipermail/python-dev/2017-June/148183.html

The suggested phrasing for the note in the README has also changed from what I wrote above:

of the trust and credibility established by the CPython core
developers over

[2017-06-02 06:09] ncoghlan commented on #319
Breaking these out into separate pages would be a good idea, as the master plan here is to change the way PyPA specifications work to be more like the way the CPython language reference works: rather than continuing to use the PEPs themselves as the specifications, instead have the specifications hosted on packaging.python.org at stable unversioned URLs (but with appropriate versionadded and versi

[2017-06-02 18:38] brettcannon commented on #304
Since the whole thing was slightly contentious I will give it a day to wait for replies, and if nothing comes up I will create the repo (and if I have not by Monday, feel free to ping me to remind me to do so).

[2017-06-04 21:16] brettcannon commented on #304
I have created https://github.com/python/python-docs-theme (I dropped the "c" prefix as this isn't special to the CPython implementation).

@jonparrott I made you a collaborator with write privileges.
@ncoghlan feel free to tweak the README.

[2017-06-05 02:49] ncoghlan commented on #304
@brettcannon The note would look a little odd on an empty repo, so it probably makes more sense for @jonparrott to add it when filling in the extracted theme.

[2017-06-05 15:47] jonparrott commented on #304
Thanks @brettcannon! I should be able to make some progress on this Friday. :)

[2017-06-05 17:46] brettcannon commented on #304
@jonparrott Great! And if the description needs a tweak or anything just let me know.

[2017-06-06 15:21] adamn commented on #43
I believe this is complete (https://packaging.python.org/installing/#installing-to-the-user-site)

[2017-06-06 15:24] adamn commented on #26
This wall of text has been here for 3 years ... probably just best to delete the ticket - somebody can always recreate a similar request in the future.

[2017-06-07 09:09] ctheune opened #320 "Stance (or discussion) on src/ directory"
Is there an official stance on the "src/" directory thing? I'm all for it (and @hynek seems to agree) but I haven't found any discussion or explanation about it from the PyPA. The guide doesn't mention it and the sample project doesn't use it. Even if the stance is "don't use it" (which I would disagree with) then I'd love to see this discussed in the official guide so we can refer to it when peop

[2017-06-07 09:10] ctheune commented on #320
Some references on the discussion that support the "pro" argument:

* https://hynek.me/articles/testing-packaging/
* https://blog.ionelmc.ro/2014/05/25/python-packaging/#the-structure

[2017-06-07 09:33] pfmoore commented on #320
I don't think there's a consensus on the best practice, and the packaging guide isn't really intended to cover general development practices, which this is. There's no discussion on testing or documentation, for similar reasons.

[2017-06-07 16:53] jonparrott commented on #320
Based on the doc plan in #317, this is actually a good candidate for a **discussion** topic. I would be willing to accept a PR to add this topic.

[2017-06-07 16:57] #26 closed

[2017-06-07 16:57] jonparrott commented on #26
Thanks, @adamn

[2017-06-07 16:57] jonparrott commented on #43
Thanks, @adamn!

[2017-06-07 16:57] #43 closed

[2017-06-07 17:03] pfmoore commented on #320
Nice, @jonparrott - I hadn't seen that doc plan. Agreed this would make a good discussion topic. Another one I've seen come up in the past is whether to put tests in the package or in a separate test directory.

[2017-06-07 17:17] jonparrott commented on #320
@pfmoore for sure, I'd be happy to have that topic as well.

[2017-06-13 04:58] jonparrott commented on #317
New org structured is merged (yay).

Now to write a better landing page.

[2017-06-13 15:58] azatoth opened #321 "Broken links from setuptools"
https://pypi.python.org/pypi/setuptools is referencing https://packaging.python.org/installing/ which doesn't seems to exists anymore; assuming it's due to recent reorganization.

Clearly it's setuptools' fault for not planning ahead, but I post a ticket here anyway.

[2017-06-13 16:09] jonparrott commented on #321
No, this is on us. I setup the redirects but it seems that one isn't working. readthedocs' redirect feature is frustrating. I'll investigate.

[2017-06-13 16:10] dstufft commented on #321
Our Fastly config might be breaking the RTD redirects too.

[2017-06-13 16:11] jonparrott commented on #321
Ugh I seems I need to do two redirects for every page, one for `/installing` and another for `/installing/` (with trailing slash).

[2017-06-13 16:12] jonparrott commented on #321
I'm starting to think @ncoghlan's recommendation to use html redirects is the lesser of two evils.

[2017-06-13 16:12] dstufft commented on #321
@jonparrott I can setup Fastly to just blindly redirect ``/<anything>`` to ``/<anything>/`` if we can verify we don't have any paths that don't need to do that.

[2017-06-13 16:14] jonparrott commented on #321
@dstufft that seems to be the case. I'm unsure why we went with htmldir instead of just plain html, as it causes weird problems like this. :(

[2017-06-13 16:15] jonparrott commented on #321
@dstufft actually that won't fix the redirects we've setup in readthedocs. I'd still need to recreate the all with trailing slashes, so don't worry about it.

[2017-06-13 16:16] dstufft commented on #321
@jonparrott Are you familiar with VCL at all?

[2017-06-13 16:21] jonparrott commented on #321
@dstufft not really. what are you thinking?

[2017-06-13 16:25] dstufft commented on #321
@jonparrott I can give you access to change Fastly settings for PyPUG and you can do redirects and stuff right in VCL which is probably easier than doing it using the RTD control panel since VCL can be done programatically.

Like this is our current VCL:

[code]

Which just does a redirect from ``.html`` to ``/`` and ``/en/latest/`` to ``/``. Figured that might be easier, but VCL is a bit weird so

[2017-06-13 16:34] jonparrott commented on #321
@dstufft interesting. I have the entire list of redirects needed defined in [a yaml file](https://github.com/pypa/python-packaging-user-guide/blob/master/scripts/linkmonitor/redirects.yaml). It would likely be possible for me to generate a VCL from that. I'm traveling a bit today but I'll look into that.

In the meantime I've added the extra redirects to readthedocs.

[2017-06-13 16:45] theacodes opened #322 "Generate VCL for page redirects"
Instead of using ReadTheDocs' redirects, we can generate VCL directly for fastly.

Context: https://github.com/pypa/python-packaging-user-guide/issues/321#issuecomment-308172254

[2017-06-13 16:45] jonparrott commented on #321
Closing and moving the VCL recommendation over to #322.

[2017-06-13 16:45] #321 closed

[2017-06-15 04:41] pradyunsg commented on #304
This can be closed now that #305 has merged?

[2017-06-15 04:42] jonparrott commented on #304
Yep. :)

[2017-06-15 04:42] #304 closed

[2017-06-15 09:29] ncoghlan opened #325 "Add see-also links for some extension module helpers"
Extension module patterns guide: https://pythonextensionpatterns.readthedocs.io/en/latest/index.html
2/3 compatible extensions: https://py3c.readthedocs.io/en/latest/

These may also be worth adding as "See Also" links to the CPython docs (or, alternatively flesh out PyPUG's extension module discussion, and add a link to that).

[2017-06-16 19:09] jonparrott commented on #317
All done. :)

[2017-06-16 19:09] #317 closed

[2017-06-23 16:37] jonparrott commented on #301
It seems the virtualenv and pre-reqs sections could still be useful. My thoughts are that I can create a folder called `new-tutorial` and not place it in the toctree, that way we can iterate on these new tutorials until we're ready to replace the existing packaging tutorial with our new set. WDYT @ddbeck? I can probably start writing the new packaging tutorial next week.

[2017-06-23 16:38] jonparrott commented on #203
@ddbeck I'm going to start on this next week. See my comment [here](https://github.com/pypa/python-packaging-user-guide/issues/301#issuecomment-310714081)

[2017-06-23 16:47] #275 closed

[2017-06-23 17:01] jonparrott commented on #314
I ran into some trouble trying to get owning packages to work for everything. Installing a `pkg_resources` owning package broke my Python 3 environment in a spectacular fashion:

[code]

I'm going to put this lower on my priority for now. It seems to me that the issue with the current recommendation (uninstalling) is less severe than the potential drawbacks of owning packages (broken environment).

[2017-06-23 17:29] jonparrott commented on #320
@ctheune if you or @hynek are interested in contributing this topic, I would love to review and merge it. :)

[2017-06-23 19:09] ddbeck commented on #301
@jonparrott Yeah that sounds reasonable to me. Those already written sections need some work (they're pretty stilted for beginner material). If you want to start `new-tutorials`, then I'd be happy to do a pass on the content that's there. The sooner we get rid of the `develop` branch and have content we can iterate on publicly, the better, I think.

[2017-06-23 20:45] pfmoore commented on #320
I'd also be interested in reviewing this. I tried a layout using ```src``` just recently and found there were some  things that were fiddly to get right (coverage was one), so I have a test case I could use to see how the recommendations work in practice :-)

[2017-06-23 20:56] #306 closed

[2017-06-23 21:04] hynek commented on #320
Have you seen https://hynek.me/articles/testing-packaging/ Paul?  I hoped to de-fiddle the process there...

[2017-06-23 21:09] pfmoore commented on #320
@hynek Yes I have. The problem I had was not with combining coverage, but with the basic coverage output from a single tox environment. It's possible it was just lack of familiarity with running coverage under tox, but from what I recall the output had some rather badly nested directories, when I was after filenames relative to ```src``` (so ```mypkg/__init__.py```). I backed out the implementatio

[2017-06-24 13:11] ncoghlan opened #336 "Add flit to the Key Projects list"
`flit` 0.11 added the ability to upload sdists, addressing the one concern I had that kept me from personally recommending it as the default choice for packaging pure Python projects. (@takluyver pointed out on distutils-sig that 0.11 is also the version where `flit` switched to uploading to `pypi.org` by default)

`flit` should also have an entry in the Key Projects list.

@takluyver Would you pr

[2017-06-24 13:14] ncoghlan opened #337 "Add `enscons` to the Key Projects list as a non-PyPA project"
@dholth's `enscons` is the main current example of using PEP 518 to bootstrap a full pip-installable C/C++ build system that also has the ability to emit Python packages, rather than working with the Python-specific distutils/setuptools model.

At the moment we don't mention it anywhere in the packaging user guide though, and I think it should at least be on the Key Projects list, since the two ma

[2017-06-24 13:29] takluyver commented on #336
Thanks @ncoghlan :-)

I'll have a think about moving flit under the PyPA org. If it picks up a lot of users with the sdist capabilities and PEP 517, I might be glad to put it in an org where other people can more easily get involved with maintenance if they're interested.

I'm working on a module to provide an interface to PEP 517 hooks for frontends; once the PEP is finalised, I'd definitely like

[2017-06-24 13:34] ncoghlan commented on #336
@takluyver I should be explicit that it's also entirely reasonable to add `flit` as a Non-PyPA project for now, and then reconsider whether or not to transfer the repo later. It's a standing offer, rather than a one-time deal :)

[2017-06-24 13:41] takluyver commented on #336
Thanks!

I also just remembered a reason you might not want to recommend flit just yet. Once PEP 517 is finalised, I plan to use `pyproject.toml` to store flit metadata (under a tool.flit section). It will continue to interpret `flit.ini` files for a while, but not forever, so people who adopt it now will need to transition at some point. This is why I'm still using 0.x version numbers - I plan to

[2017-06-24 13:47] ncoghlan commented on #336
OK, that makes sense - we won't add flit to the recommendations until after it has reached 1.0 status. Issue title revised accordingly.

[2017-06-24 16:54] dstufft commented on #336
Whether flit becomes part of the PyPA officially or not is entirely up to Thomas and I don't mind it either way. I just wanted to point out that pretty much the only requirements we put on projects is that they accepted the PyPA CoC. Beyond that it's entirely up to the individual projects how they manage their projects, who they make contributors, etc.

It's largely just a branding thing tbh, and

[2017-06-28 06:07] ctheune commented on #320
Thanks for picking up that topic - happy to contribute although I can't promise to be very responsive at times (busy company and small child make my FLOSS contributions a bit spotty at the moment).

I haven't run into the coverage issue before - I usually have both a tox and non-tox pytest setup and ensure my coverage is right in the basic setup. I see the need for checking coverage of Python--ver

[2017-06-28 06:22] jonparrott commented on #320
Distill the source content into a discussion topic and send a pull request.
Or, if you prefer you can author it in Google docs and I can review and
place it here once it's finalized. Happy to help give you guidance on any
step.

On Tue, Jun 27, 2017, 11:07 PM Christian Theune <notifications@github.com>
wrote:

[2017-06-28 15:52] jonparrott opened #341 "Make linkchecker warning-only."

[2017-07-09 11:04] rec opened #346 "Migrating to PyPI.org page has incorrect instructions."
Apparently as of yesterday there's a new way to push things to PyPI, leading the developer to this page https://packaging.python.org/guides/migrating-to-pypi-org/

But this page has issues.

First, there's this statement:

    Tools that support PyPI.org by default are twine v1.8.0+ (recommended tool), setuptools 27+, or the distutils included with Python 3.4.6+, Python 3.5.3+, Python 3.6+, and 2.

[2017-07-09 13:27] ncoghlan commented on #346
Hi @rec, the new upload service doesn't require (or even support) pre-registration, so skipping the register step should resolve your immediate issue.

This is a definite omission from the migration guide though, so I've filed a PR to add a new section to that covering the changes to how package registration works: https://github.com/pypa/python-packaging-user-guide/pull/347

As far as the lack of

[2017-07-09 13:29] ncoghlan commented on #341
Just a heads up that I just broke the linkchecking again in order to push https://github.com/pypa/python-packaging-user-guide/pull/347 out ASAP :)

[2017-07-09 13:38] ncoghlan commented on #346
Closed via #346, which added a new subsection to the service migration guide: https://packaging.python.org/guides/migrating-to-pypi-org/#registering-package-names-metadata

[2017-07-09 13:38] #346 closed

[2017-07-09 14:01] rec commented on #346
Thanks!

[2017-07-09 14:27] jonparrott commented on #341
I'll make it just a warning once I get back from vacation later next week.
:)

On Sun, Jul 9, 2017, 8:29 AM Nick Coghlan <notifications@github.com> wrote:

[2017-07-09 16:12] rec commented on #346
So I spake too soon.  The push worked fine for pypitest - but now I get a error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)> for pypi itself, even if I use Python 3.6.

This documentation bug is probably not the best place to seek help for this - any better ideas?  Sorry to make this pop up again.

[2017-07-09 20:24] techtonik opened #350 "Complete minimal example for Metadata file format version 1.2"
At https://packaging.python.org/specifications/ there is no overview about minimal required set of fields for metadata 1.2 file format. An example `PKG-INFO` would make many issues more clear.

[2017-07-09 20:29] ddbeck commented on #341
I was about to start another issue on this but decided this is more of an escalation of this one. Now that I've had my own first run in with the link checker in #345, I think it's sufficiently confusing that we should turn it off (in failure or warning mode) until there's a clearly documented path to adding or fixing links.

The contributor docs need to cover:

1. What to do if there's a broken li

[2017-07-09 21:50] jonparrott commented on #341
Totally in agreement, I'm just out of office - I'll grab this first thing
when I get back - likely this coming Friday. :)

On Sun, Jul 9, 2017, 3:29 PM Daniel D. Beck <notifications@github.com>
wrote:

[2017-07-10 05:20] ncoghlan commented on #346
@rec Would you mind filing that one at https://github.com/pypa/packaging-problems/issues ?

It would also be useful to know if the certificate validation problem is specific to the upload client, or if you also have problems getting to the domain via a web browser or tools like curl and wget.

[2017-07-14 16:58] jonparrott commented on #350
Who would know this information? @dstufft @ncoghlan?

[2017-07-14 16:58] #341 closed

[2017-07-15 04:11] ncoghlan commented on #350
@techtonik Note that you are still unwelcome as a participant in any project I am involved in. There is no reset button on that just because the PyPA repositories don't automatically track the PSF's blanket ban on your participation in PSF provided communication channels.

The details on which fields are optional and which are required is contained in PEP 345, which is referenced from the specific

[2017-07-15 04:11] #350 closed

[2017-07-15 05:28] ned-deily commented on #284
Perhaps another topic to include in this section, if not discussed elsewhere, is how to package extensions modules built with multiple ABIs, in particular, non-debug vs debug builds.  For Python 3.x, PEP 3149 and follow-ons provide ABI-unique extension module file names so that they can be installed in the same directory.  (Python 2 does not attempt to address this.)

[2017-07-19 13:12] edmorley commented on #238
Whilst the docs now mention manylinux1 after #283, it would be great if it was easier to find example projects that have a working build/upload setup eg using Travis. I found this example project, but I wonder if there are any other real-world examples too?
https://github.com/pypa/python-manylinux-demo

[2017-07-23 07:42] nlhkabu opened #352 "URL for test PyPI"
Is this correct? This is giving a warehouse 404

[2017-07-23 15:46] dstufft commented on #352
Yes it is correct. It only responds to ``POST`` requests.

[2017-07-23 15:46] #352 closed

[2017-07-25 00:45] ncoghlan commented on #118
Eep, it's kinda scary to see how long ago I started this discussion :)

Anyway, a conversation today prompted me to revisit it in light of http://www.curiousefficiency.org/posts/2016/09/python-packaging-ecosystem.html, another few years of using `vex` regularly, and the creation of `pipenv` last year.

The key point is that while I still like `vex` for my own use, the fact that it *doesn't* follow

[2017-07-25 01:22] jonparrott commented on #118
@ncoghlan Sounds good to me - happy to review but I won't have time to author this anytime soon.

[2017-07-25 08:23] pfmoore commented on #118
@ncoghlan Do we have confirmation that ```pew``` works reliably on Windows? From what I recall, I tried it some time ago (probably way back when you originally started this discussion) and found a number of bugs. When I reported them the ```pew``` developers were happy to accept patches but didn't have much in-house expertise on Windows. Having said that, I can't find those issues and the github p

[2017-07-25 10:15] pfmoore commented on #118
Apologies - please ignore the above comment, I was getting confused between ```pew``` and ```pex```. I've got no reason to believe there's any issue with the Windows support of ```pew```.

[2017-07-25 13:10] pfmoore commented on #118
Cool - sorry for the noise.

[2017-07-26 00:44] jtemporal opened #353 "New TestPyPI URL"
Hi all!

I was looking for the [new TestPyPI repository URL earlier today](https://twitter.com/jesstemporal/status/889890126977007616) and couldn’t find anywhere.

@ncoghlan [said I could open up a issue](https://twitter.com/ncoghlan_dev/status/890000634421813248) so that this info is added to the migration page 😉

[2017-07-26 05:36] Menuka5 commented on #207
Hello @ddbeck I'm New new to GitHub and Python. Is this opportunity still available? I would love to learn and contribute.

[2017-07-26 11:48] ncoghlan commented on #353
And checking https://mail.python.org/pipermail/distutils-sig/2017-June/030766.html, the relevant URL for the test service is https://test.pypi.org/legacy/

[2017-07-26 11:50] ncoghlan commented on #353
As a side note, in looking for https://packaging.python.org/guides/migrating-to-pypi-org/, it occurred to me that it probably make sense to add a link directly to that from the bottom of https://packaging.python.org/ and add a short "Migration Status" section to the top of the migration guide.

[2017-07-26 16:07] jonparrott commented on #353
The URL is in the migration guide, but it's a little hidden, I'll make it a bit more visible and add a link on the landing page. :)

[2017-07-26 16:20] jonparrott commented on #207
@Menuka5 yep! This is still available. However, @ddbeck's instructions only need to be tweaked slighty:

1. [Nox](https://nox.readthedocs.io) is required to build the guide locally. You can install Nox using `pip install nox-automation`.
2. To build the docs, run `nox -s build`. You can build the docs and start a local web server to preview the docs by running `nox -s preview`.

[2017-07-26 17:28] ddbeck commented on #207
Hi @Menuka5, thanks for taking an interest in this issue! @jonparrott is right about those changes. If you need any help with making the pull request, feel free to ask questions here, and I'll do what I can.

[2017-07-26 17:32] Menuka5 commented on #207
Thank you @ddbeck and @jonparrott I forked the repository and currently learning ReStructuredText for documentation. I may need a help since I haven't done any pull request before :)

[2017-07-26 19:15] jtemporal commented on #353
Yay! Awesome @jonparrott :)

Thanks!

[2017-07-27 03:26] #353 closed

[2017-07-27 10:44] ncoghlan opened #355 "Add SIP to the extension modules page"
SIP is the C/C++ binding generator used for PyQT and wxWindows: https://pypi.python.org/pypi/SIP/

One of the neat features of sip is that it can (does?) target the *stable* ABI in Python 3 at code generation time, with operations that require access to the full CPython API delegated to the runtime `sip` support module. As a result, it's possible to use it to ship version-independent CPython exten

[2017-07-27 18:07] Menuka5 commented on #207
Hi @ddbeck and @jonparrott I completed the task https://github.com/Menuka5/python-packaging-user-guide Your feedback is highly appreciated

[2017-07-27 18:10] jonparrott commented on #207
@Menuka5, could you send a pull request? See [here](https://help.github.com/articles/github-flow/) for some instructions, but feel free to ask us for help.

[2017-07-27 18:34] Menuka5 commented on #207
@jonparrott I think I made the pull request

[2017-07-27 19:18] #207 closed

[2017-07-28 02:38] Menuka5 commented on #207
@jonparrott and @ddbeck Thank you for helping me :)

[2017-07-28 17:24] jonparrott commented on #355
The packaging binary extension page needs a lot of love right now: https://packaging.python.org/guides/packaging-binary-extensions/

I would love for someone to volunteer to write this as I do not really know anything about binary extensions. I will happy to help with layout, review, and editorial issues. The could even write it in Google Docs and I will transfer it to RST.

It likely needs to be

[2017-07-28 17:25] jonparrott commented on #355
@ncoghlan can you create a `help wanted` label for me?

[2017-07-28 17:28] jonparrott commented on #355
Thanks. :)

[2017-07-28 17:47] jonparrott commented on #301
The `new-tutorials` directory has been added so we can start putting stuff in there whenever. https://github.com/pypa/python-packaging-user-guide/tree/master/source/new-tutorials

I've been a bit swamped but hopefully I can come up for air and start writing this stuff.

[2017-07-29 03:25] #337 closed

[2017-07-29 03:31] #336 closed

[2017-08-01 00:16] ncoghlan opened #359 "Cover Rust/snaek on the extension modules page"
@mitsuhiko's https://github.com/mitsuhiko/snaek is an elegant approach to writing & distributing Rust-accelerated extension modules that minimises the number of binary wheels you need to create by relying on cffi to manage the integration with the Python runtime.

[2017-08-01 00:21] ncoghlan opened #360 "Cover Go on the extension modules page?"
I was able to find a couple of options for writing Python extension modules in Go:

* https://github.com/asottile/setuptools-golang
* https://github.com/go-python/gopy

However, I haven't found any public references for production use of such bindings comparable to the Sentry use case for Rust bindings.

[2017-08-01 00:23] ncoghlan commented on #359
Context for the recommendation:

* https://blog.sentry.io/2016/10/19/fixing-python-performance-with-rust.html
* https://kushaldas.in/posts/writing-python-extensions-in-rust.html

[2017-08-01 00:25] ncoghlan commented on #360
Article about the Go 1.5 changes that enabled this: https://blog.filippo.io/building-python-modules-with-go-1-5/

[2017-08-01 07:10] pfmoore commented on #359
Does this technique (and the one for Go referenced in #360) work on Windows? I believe (but that was from a quick check, some time ago) that Rust uses the mingw behind the scenes, and so won't link with the correct CRT for Python on Windows.

If this is only a suitable option for Unix-based platforms, then we need to explicitly call that fact out as it's an important limitation (particularly as it

[2017-08-01 08:12] mitsuhiko commented on #359
Rust compiles with msvc. However it compiles with a different version than Python obviously. However why does it matter if its compiled with a different version of libc than Python?

[2017-08-01 09:29] pfmoore commented on #359
@mitsuhiko Ah, that's good to know.

It only really matters because python-dev have never supported using extensions compiled with a different MS C runtime than the Python binary.

The specific issue is that if the ```.pyd``` that's loaded into the Python interpreter uses a different C runtime than Python uses, there's the potential for handles managed by one CRT to get passed to a different CRT.

[2017-08-01 10:53] mitsuhiko commented on #359
@pfmoore traditionally the reason that matters is because the c extension uses the same libpython as the main interpreter and assumes memory management between them is compatible. However with snaek all allocation and deallocation happens on the rust side of things and libpython is not even involved.  That's why I don't think an actual issue can happen with a compiler mismatch.

[2017-08-01 10:53] mitsuhiko commented on #359
Also there is no startup code involved in snaek.

[2017-08-01 11:04] pfmoore commented on #359
@mitsuhiko OK, cool. (As the author of the code, I'm completely happy if you say it's OK on Windows - no need to prove it to me :smile:)

[2017-08-01 11:04] mitsuhiko commented on #359
@pfmoore it does not work currently on windows because i did not care but it should work fine there if i get around fixing it.

[2017-08-01 15:00] ncoghlan commented on #359
Right, the compiler mismatch problem relates to the use of CPython APIs that are outside the "stable ABI guarantee" (since the full API not only includes some APIs based on C runtime defined structs like `FILE`, but also allows extension-module allocated objects to be passed over to the core runtime to be deleted, and vice-versa).

Relying solely on cffi at runtime the way snaek does avoids that p

[2017-08-07 02:00] rsyring opened #362 "Document TestPyPI and point wiki.python.org page to these docs"
[Original concern](https://gist.github.com/boppreh/ac7522b3a4ac46b4f6010eecddc57f21) and Donald's reply:

There is reference to TestPyPI [here](https://packaging.python.org/guides/migrating-to-pypi-org/), but maybe it could be expanded.

I have added a deprecation notice to https://wiki.python.org/moin/TestPyPI and mentioned this issue.

[2017-08-10 22:33] mpeckWhisker opened #363 "Glossary doesn't describe pypi.org"
The glossary doesn't mention pypi.org (described in a note at the top of https://packaging.python.org/).  Based on that note and the page it links to, it seems like now that pypi.python.org is in read-only mode (post July 27, 2017), it should be described in the glossary.

https://packaging.python.org/glossary/#term-python-package-index-pypi

[2017-08-10 22:34] jonparrott commented on #363
Thanks for reporting, @mpeckWhisker, I'll try to address this tomorrow. :)

[2017-08-11 17:28] #363 closed

[2017-08-11 17:33] #362 closed

[2017-08-11 17:36] jonparrott commented on #362
@rsyring with #366 merged, could you update the wiki to just link to https://packaging.python.org/guides/using-testpypi/ ?

[2017-08-11 17:50] rsyring commented on #362
@jonparrott done.  Thanks for updating the packaging docs.

[2017-08-24 02:46] ncoghlan opened #367 "Recommend dependency version management tooling based on use case"
Similar to the problem in https://github.com/pypa/python-packaging-user-guide/issues/118 with regards to virtual environment management, our current tooling recommendations don't provide a pointer to higher level dependency version management tools like `pipenv` or `pip-tools`, they only refer to `pip` itself.

While we don't want to overwhelm people with choice, I think we're currently doing folk

[2017-08-24 02:47] ncoghlan commented on #118
Considering my answer to https://twitter.com/ncoghlan_dev/status/900547395095625728, another notable absence from the current tooling recommendations is the fact that we don't point anyone towards `pip-tools` or `pipenv` either, and frankly, if you're doing professional software development with Python (as opposed to ad hoc scripting), you should probably be using either conda or one of those two

[2017-08-25 06:50] pradyunsg commented on #70
This can be closed.

[2017-08-25 06:53] pradyunsg commented on #89
This can be closed?

[2017-08-25 06:55] jonparrott commented on #89
I think so. Closing but we can always re-open.

[2017-08-25 06:55] #89 closed

[2017-08-25 06:55] #70 closed

[2017-08-25 06:57] pradyunsg commented on #66
Does this issue mean redirecting from python-packaging-user-guide.readthedocs.io to packaging.python.org?

What about the various pages on wiki.python.org? It seems to me that updating them and linking them to the new packaging.python.org is a useful change...

[2017-08-25 07:02] jonparrott commented on #66
Possibly, but I don't feel like that's much of an issue any longer.

If we're gonna do that, we should track that separately. Very few of us have edit access to the wiki.

[2017-08-25 07:06] pradyunsg commented on #66
This issue would be a nice to have then, I guess.

[2017-08-25 07:11] pradyunsg commented on #320
Is anyone working on this right now?

[2017-08-25 07:13] pradyunsg commented on #355
Is anyone working on this right now?

If not, I think I can come around to writing this sometime in next month or two. :)

[2017-08-25 07:16] pradyunsg commented on #301
So, this issue would be resolved by trying to extract from `develop` -- whatever makes sense to -- and put them into the `new-tutorials` directory on master?

[2017-08-25 07:21] pradyunsg commented on #319
Question: The actionable task here would be to breakout the sections of specifications page with content into separate pages and move the rest into a tabular form?

[2017-08-25 12:09] ncoghlan commented on #319
Yeah, I think so, and with a few adjustments, I think the current headings would work reasonably well as page names:

    core-metadata
    version-specifiers
    dependency-specifiers
    declaring-build-dependencies
    source-distribution-format
    binary-distribution-format
    platform-compatibility-tags
    recording-installed-packages
    simple-repository-api

For the ones that are curren

[2017-08-25 14:51] jonparrott commented on #320
Nope.

On Fri, Aug 25, 2017, 12:11 AM Pradyun Gedam <notifications@github.com>
wrote:

[2017-08-25 14:51] jonparrott commented on #355
Nope. Go for it.

On Fri, Aug 25, 2017, 12:13 AM Pradyun Gedam <notifications@github.com>
wrote:

[2017-08-25 14:52] jonparrott commented on #301
Yes. This is still on my to-do list.

On Fri, Aug 25, 2017, 12:16 AM Pradyun Gedam <notifications@github.com>
wrote:

[2017-08-26 00:41] ncoghlan commented on #367
`briefcase` would also be worth mentioning for cross-platform native app deployments (including web & mobile): https://pypi.python.org/pypi/briefcase

[2017-08-28 07:40] zmwangx opened #368 "extras_require not documented in distributing-packages.rst"
`extras_require` is documented at [setuptools.readthedocs.io]( https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies) but not in `distributing-packages.rst`.

[2017-08-28 16:00] jonparrott commented on #368
This is intentional, as the distributing package tutorial is pretty minimal. I want to address this when I write the new tutorials (#203 et al), I just haven't quite found time.

In the meantime, I could see a separate guide on this.

Closing for now. If you want to see a specific guide we'd need to figure out what to stick in it.

[2017-08-28 16:00] #368 closed

[2017-08-28 23:18] zmwangx commented on #368
Thanks for the explanation. I don't really need a specific guide — I just had trouble remembering the name `extras_require` yesterday, went to the guide, and realized it's not there. If it doesn't belong there in the first place, no big deal.

[2017-08-29 02:09] kennethreitz commented on #367
I'd love to see pipenv referenced! I think that'd do the community a great service (and pip-tools as well, of course).

I don't do a good job of this myself on python-guide — I just point people to using pip. However, I just updated all my personal projects to recommending installation via pipenv last night. So, slowly encouraging adoption in that area.

--------------------

My thoughts are that

[2017-08-29 02:48] jonparrott commented on #298
I think this is sufficiently covered by #366 for now, and long-term a new tutorial for publishing packages can mention this.

[2017-08-29 04:37] ncoghlan commented on #367
@kennethreitz Heh, your advice on Django vs Flask is almost exactly how I was planning to describe the distinction between `pipenv` and `pip-tools` (i.e. if you don't have a strong opinion yourself, then you want to start with `pipenv`, since that's more comprehensive, whereas `pip-tools` is a better option if you need or want more flexibility over the precise dependency management behaviour).

[2017-08-29 04:55] kennethreitz commented on #367
✨🍰✨

[2017-08-31 01:42] jonparrott commented on #367
From @ncoghlan in https://github.com/pypa/python-packaging-user-guide/pull/369/files/b102d60fe4d8ac3cf6fce53fd5bf5f159d2f7fc8#r136228176

Suggested initial set of links:

* [briefcase](https://briefcase.readthedocs.io/en/latest/): briefcase is a tool that focuses on defining applications as Python packages, and then using that package definition to generate native application installers for popula

[2017-08-31 02:43] ncoghlan commented on #267
Based on a discussion I had with @freakboy3742 at PyCon AU, I'm also thinking we should probably note somewhere that we're pretty much waiting for the dust to settle on Linux desktop application bundling at the Gnome & KDE level before weighing in explicitly on the Snappy vs Flatpak vs AppImage question (while I personally have a preference for Flatpak, I'm also aware that I'm far from being unbia

[2017-08-31 03:01] ncoghlan commented on #367
https://github.com/pypa/python-packaging-user-guide/pull/370 adds this is a set of links at the end of the new pipenv tutorial: https://github.com/pypa/python-packaging-user-guide/pull/370

However, a better overall structure is likely to be:

* create new "Dependency Management" and "Application Bundling" discussion topics (see #267 for the latter)
* mention pipenv & pip-tools directly on the "Re

[2017-08-31 03:15] ncoghlan commented on #367
I closed #370, but have kept the branch so we can easily re-use the content from https://github.com/pypa/python-packaging-user-guide/commit/fbb48640b3f89f0d1dad73a99ead3b04cd50bbf4

[2017-08-31 03:38] jonparrott commented on #367
Sounds good. Thank you. :)

On Wed, Aug 30, 2017, 8:15 PM Nick Coghlan <notifications@github.com> wrote:

[2017-09-01 03:53] ncoghlan opened #373 "Ensure the new pipenv tutorial works on Windows"
https://packaging.python.org/new-tutorials/installing-and-using-packages/#installing-pipenv covers amending PATH to handle user script installations, but the directory isn't `$USER_BASE/bin` on Windows, it's `$USER_BASE/Scripts` (I think)

@pfmoore Would you be able to take a look through https://packaging.python.org/new-tutorials/installing-and-using-packages/ and check for any \*nix-specific det

[2017-09-01 03:56] jonparrott commented on #373
When I get back from vacation I'll also run through this on a clean windows
machine.

On Thu, Aug 31, 2017, 11:53 PM Nick Coghlan <notifications@github.com>
wrote:

[2017-09-01 08:00] pfmoore commented on #373
The instructions for adding the user site directory are wrong on Windows:

[code]

You actually need to add the ```Python36\Scripts``` directory to ```PATH``` and it's not at all obvious how you'd know it's ```Python36```. I'm not actually aware of a reliable way of getting the Python interpreter to give you that directory (```py -m site --user-site```, then go up one and into the Scripts director

[2017-09-01 08:28] ncoghlan commented on #373
Adding @kennethreitz to the thread, as some of @pfmoore's comments above relate to `pipenv` itself, not just our instructions for using `pipenv`

[2017-09-01 10:33] ncoghlan commented on #373
I think the suggestion of recommending `py -m site --user-site` to Windows users is actually a good one, as the editing direction is then just "replace `site-packages` with `Scripts`, and add that to `PATH`".

As part of creating https://github.com/ofek/pybin, @okef also found this detailed tutorial on updating the System PATH in the Java docs: https://www.java.com/en/download/help/path.xml

Howev

[2017-09-01 11:05] pfmoore commented on #373
Yeah that sounds good (```user-site``` with ```site-packages``` replaced with ```Scripts```).

I don't have a good feel for how to advise people on updating PATH, as I know too much to be a good test case for that ;-) What I *will* say is that I've never had much problem with colleagues needing to update paths - if they don't know they typically either google, or ask someone around them, or muddle

[2017-09-01 17:02] kennethreitz commented on #373
FWIW, the python installation guides (here)[http://docs.python-guide.org/en/latest/starting/install3/win/] instruct users on how to update their path accordingly.

[2017-09-02 04:40] kennethreitz commented on #373
@pfmoore landed a fix in master that fixes the warning you saw. thanks for the report! Also got basic windows test coverage up and running today, again. Work in progress still, but it's better than nothing :)

[2017-09-02 04:42] kennethreitz commented on #373
Will remove the :sparkle: :cake: :sparkles: on windows next. Unfortunate, because it works in better terminal emulators, (like cmder). but it is what it is.

[2017-09-02 04:44] kennethreitz commented on #373
okay, removed :sparkle: :cake: :sparkles: from windows. will be in the next release.

[2017-09-02 04:49] kennethreitz commented on #373
v5.3.1 released, which includes these changes!

[2017-09-02 08:44] pfmoore commented on #373
@kennethreitz Thanks, and apologies for not being able to follow up with issues as requested - life's been pretty busy lately.

[2017-09-05 07:00] ofek opened #375 "New tutorial"
Would a tutorial for https://github.com/ofek/hatch be accepted? It defaults to user installs and the workflow is a bit more beginner friendly due to the reduced surface of `pip` it exposes.

[2017-09-05 07:53] ofek commented on #320
I really, really dislike this structure. It makes things a bit more complicated than necessary imo. Newcomers should be considered here.

[2017-09-05 08:13] ofek commented on #293
Thanks for the heads up! https://github.com/ofek/hatch/commit/298e68edbd5f20ef3e9a3cfba4d692806d6a199e

[2017-09-05 13:55] ncoghlan commented on #375
I think it would definitely make sense to reference `hatch` from the proposed discussion in https://github.com/pypa/python-packaging-user-guide/issues/367

However, from my own experience using cookiecutter templates, I think they're too overwhelming for newcomers - while they're great if your aim is to create high quality publishable libraries and tools, they cover too much ground and too many ne

[2017-09-05 14:00] ncoghlan commented on #367
Another one worth mentioning (from #375): https://github.com/ofek/hatch

That goes several steps further than pipenv, and gives you a full project management toolkit for software publishers aiming to release through PyPI, not just consuming components from PyPI for use as part of an application or development & testing environment.

[2017-09-05 14:05] ncoghlan commented on #375
In writing up https://github.com/pypa/python-packaging-user-guide/issues/367#issuecomment-327184373, it also occurred to me that `hatch` potentially fills the niche of "comprehensive PyPI publishing toolchain", just as `pipenv` fills the niche of "comprehensive PyPI consumption toolchain".

[2017-09-05 14:06] kennethreitz commented on #367
Hatch looks very cool, and definitely something worth mentioning — however, it also looks very complex, skimming the README. Far from a simple tool — it just does a lot. Looks like @ofek put a lot of work into it :)

[2017-09-05 19:08] ofek commented on #375
Actually project creation doesn't require configuration, but that was hard to tell initially. I have since uncluttered the readme https://github.com/ofek/hatch#usage

[2017-09-05 20:23] ofek commented on #367
Based on advice from @kennethreitz I have significantly uncluttered the readme https://github.com/ofek/hatch#usage

[2017-09-09 19:54] hynek commented on #320
Beginners who are more likely to make mistakes in their packaging and that would hugely benefit from a more explicit setup that protects them against broken PyPI uploads and deployments?  Yes I agree, they should be very much considered over personal preferences. :)

[2017-09-09 20:08] ofek commented on #320
@hynek More explicit is worse for beginners when they could rather have a simple `packages=find_packages()` :)

[2017-09-10 05:28] hynek commented on #320
I feel like we're moving into "explicit self is bad because you have to type more" territory.

Passing a path to find_packages takes away a lot of mystery and perceived magic how it works and I'd argue you should pass it even if it's "." .

And realistically people just copy paste it anyway so I'm having a hard time to see it as a problem at all.  OTOH *reading* it later is helpful to understand w

[2017-09-11 09:50] pekkaklarck opened #377 "Packaging docs don't make it clear is README.rst included automatically"
Packaging docs [recommend using README.rst](https://packaging.python.org/tutorials/distributing-packages/#readme-rst) but docs don't make it clear is it included in distributions automatically or not. The docs under the MANIFEST.in section refer to [distutils documentation](https://docs.python.org/3.4/distutils/sourcedist.html#specifying-the-files-to-distribute) which says that README.txt or READM

[2017-09-12 16:20] jonparrott commented on #320
For beginners we'll likely have a new tutorial using flit as a starting point. Setuptools-style packaging would likely fall under guides, and a separate guide/discussion can be created around this topic.

[2017-09-12 16:24] jonparrott commented on #375
@ofek I will happily accept a guide on using hatch.

I will leave this bug open to track adding the guide, but hopefully someone other than me will volunteer to write it. :)

[2017-09-12 16:26] jonparrott commented on #373
Okay, it seems the outstanding issues with the guide itself is just the `PATH` update guidance. I'll try to get my hands on a Window laptop on Friday and run through all of this to make sure it's good.

[2017-09-12 16:26] kennethreitz commented on #373
If I can be of any help, let me know! Have a fresh windows machine sitting right here.

[2017-09-12 16:29] ofek commented on #375
@jonparrott Thanks! I'll work on this soon.

[2017-09-12 16:33] jonparrott commented on #373
@kennethreitz If you wanna run through it yourself, PRs are happily accepted. :)

(I'm fresh back from vacation, so I gotta bury myself out of email and peer reviews before I can get to this)

[2017-09-14 14:54] pfmoore opened #378 "Switch to setup.cfg for metadata specification?"
See https://github.com/pypa/sampleproject/issues/56 - should we be recommending that new projects put their metadata in `setup.cfg` rather than in `setup.py`?

[2017-09-14 17:13] jonparrott commented on #378
I can't think of a good reason why we shouldn't.

[2017-09-14 17:14] dstufft commented on #378
Main reason against it would be that it's a relatively new feature and doesn't fail gracefully if someone has an older setuptools.

[2017-09-14 17:18] jonparrott commented on #378
Our guides generally recommend people install the latest versions, or did you mean for people installing the package from sdist?

[2017-09-14 17:19] dstufft commented on #378
Yea, it affects both the author and random people installing the package from sdist. This also affects services like RTD (which just came up in ``#pypa`` yesterday).

[2017-09-14 17:21] jonparrott commented on #378
Hrm. that makes things a bit more tricky.

[2017-09-14 18:29] pfmoore commented on #378
Good point. I guess it depends on the role of the PUG, to an extent. If we're intending to be a discussion of the options available, I strongly believe this should be mentioned (as it's far nicer to use than the `setup()` approach), although we'd probably mention both approaches in that case. If we're intending to be an opinionated guide, then I'd prefer that we emphasised "modern" practice, rathe

[2017-09-14 18:36] jonparrott commented on #378
Yes, I think this is very appropriate for something that goes into the guides section.

The "tutorials" are where we get opinionated. I plan to use flit for the new tutorial for packaging items, so this particular discussion is non-applicable. I *do* think that the guides can and should say "do it this way if you can, but you can also do this way if you must".

This is good stuff for a discussion

[2017-09-14 19:00] pfmoore commented on #378
I don't want to divert the subject here, but given that we're talking about when it's reasonable to recommend a new feature, is it really consistent to be hesitant about recommending a setuptools feature that's been out for 9 months which can't be used when installing from source with an older setuptools, and yet be willing to recommend flit as the build tool when you can't install from source wit

[2017-09-14 19:02] dstufft commented on #378
I don't think we should recommend flit until pip has PEP 517 support, and even then I'm not sure what level of uptake makes sense. There are some differences of course, flit restricts itself to stuff that can ship universal wheels, so for most people ``pip install`` is going to get a wheel and if you're installing from a sdist and your pip is too old, you get a hard failure instead of with setupto

[2017-09-14 19:25] pfmoore commented on #378
There's also some questions we'd have to consider in terms of our overall position on project layout. Flit is taking the view that it supports a single "best practice" approach to project layout, so we'd need to be sure the guide is consistent with that - specifically flit doesn't currently support the layout of having code in a `src` subdirectory (currently under discussion in #320 and https://gi

[2017-09-14 21:40] jonparrott commented on #378
(summing @ncoghlan for his take as well)

As part of the new tutorials we wanted to experiment with using some newer, more opinionated tools as the first ones that users interact with. The idea is that while they aren't perfect for every use case, they are simple and present less friction. For example, we've gotten good feedback on the new installing packages tutorial that uses pipenv instead of p

[2017-09-14 22:29] ncoghlan commented on #378
(Tangent: for RHEL, my own guidance is already:

1. Use OpenShift, RHSCL, or softwarecollections.org to get a newer base Python & pip
2. Always runs `pip install --upgrade pip setuptools wheel` as the first command in a new virtual environment

/tangent)

As far as publishing guidance goes, I think we need to split that into two distinct categories:

1. Advice for newcomers to Python who just want

[2017-09-15 08:39] pfmoore commented on #378
Thanks @ncoghlan - your comments on publishing advice basically match my position, just explained better ;-)

I guess the remaining question for me is whether the "basic publishing" guide should recommend setuptools-with-static-metadata or flit. Longer term, I'm sure that flit will be a better choice, but right now I'm concerned that it might be a bit too bleeding edge for beginners. And setuptool

[2017-09-15 16:50] hynek commented on #320
I'm not sure whether pushing for flit is the right way as long as it precludes the usage of tox.

[2017-09-15 16:51] jonparrott commented on #320
tox does a lot of weird stuff, but how does flit preclude using tox?

[2017-09-15 16:55] hynek commented on #320
It may have changed (sadly I'm on a very bad Botswanan campsite wifi so I can't double check) but last time I checked tox needed a setup.py to work?

[2017-09-15 16:58] jonparrott commented on #320
I *think* you can [turn that off](https://tox.readthedocs.io/en/latest/config.html#tox-global-settings) or use a [different install command](https://tox.readthedocs.io/en/latest/config.html#confval-install_command=ARGV) (though the later affects `deps` as well).

I definitely plan to try out flit significantly before writing the experimental tutorial and gathering feedback before considering makin

[2017-09-15 16:59] obestwalter commented on #320
No.

[code]
... and you're golden.

[2017-09-15 17:04] obestwalter commented on #320
@jonparrott interesting - quite new project also - how come you thought nox is needed? What's missing from tox? I am always interested in seeing how we can improve tox and maybe join forces, if you like open an issue or write on the list.

[2017-09-15 17:09] jonparrott commented on #320
@obestwalter mostly just frustrated with using `ini` files. :)

[2017-09-15 17:13] obestwalter commented on #320
That' what I thought :D - also see https://github.com/tox-dev/tox/issues/600 - sorry for hijacking this - I am quiete now ...

[2017-09-15 17:15] jonparrott commented on #320
@obestwalter cool. :) I think there's room for both. If you ever want to chat about it feel free to reach out. :)

[2017-09-16 11:12] ncoghlan commented on #378
Catching up on the full thread: I do think it makes sense to coordinate with the ReadTheDocs folks, and make sure that any advice we're giving will work in their default docs build environments (I'd missed that concern when writing my initial reply).

Regarding whether it makes sense to recommend `setup.cfg` over `setup.py` at some point, I'm not sure that's actually a good idea, since:

1. `setup

[2017-09-16 11:38] pfmoore commented on #378
OK, those arguments seem convincing to me. For my personal use, I'll probably switch to declarative `setup.py` and hold off on flit till the ecosystem around PEP 517/518 has matured a bit, but I agree that it's not something that should go into the main guides. (I'll leave it to others to judge when the correct time to switch to recommending flit will be).

[2017-09-16 11:43] pfmoore commented on #378
One thought - when we *do* switch our recommendations to flit, we should probably also switch pypa/sampleproject to use flit, too...

[2017-09-16 11:58] ncoghlan commented on #378
Aye, agreed. We'll probably still want to keep an sample `setuptools` project around at that point, but we'd enhance it to do something like include a `cffi` or `cython` extension module, to help illustrate what the extra complexity enables.

For now though, I'm going to close *this* issue as "No, we'll stick with the focus on `setup.py` for the time being".

[2017-09-16 11:58] #378 closed

[2017-09-17 08:19] takluyver commented on #378
The downside of recommending that, of course, is that if you later want those things, you have to switch your packaging tools to use them - it's harder to start simple and add complexity later.

One thing I'm considering is allowing a configurable build step, something like the rust build script you can specify for cargo. But I don't know much about compilation, so input from other people is welco

[2017-09-21 07:52] ncoghlan opened #381 "Add scikit-build to the list of non-PyPA projects of interest"
As enscons is to Scons, scikit-build is to CMake (they even release a pip installable CMake build to make that possible).

Docs: https://scikit-build.readthedocs.io/

(Discovered while researching my options for making the libsolv Python bindings pip installable)

[2017-09-24 10:04] asmodehn commented on #284
While looking around for this kind of information, I also found CMake python integration (see [here](http://www.benjack.io/2017/06/12/python-cpp-tests.html) and [there](http://distutils-cmake.readthedocs.io/en/latest/))

Another (related) point:
While it is easier for the developer to build binary extension from the maintainer side, I find it "more friendly for the user" (ie. more pythonic/open) a

[2017-09-24 10:29] ncoghlan commented on #284
@asmodehn Yes, end users being free to build the extension for themselves is why we *dis*courage wheel-only distribution - we prefer publishers to offer both an sdist (for folks that want to build from source) *and* wheels (for folks that may not even have the appropriate compilation toolchains available).

[2017-09-24 10:29] ncoghlan commented on #284
scikit-build is another option for CMake integration: https://github.com/pypa/python-packaging-user-guide/issues/381

[2017-09-27 04:28] ncoghlan commented on #319
@di has expressed some interest in this. To break it up into more manageable chunks, I think the place to start would be to separate out the current contents of the core-metadata section to their own page at https://packaging.python.org/specifications/core-metadata/, and replace the body of the section with a link to the new page.

A follow-up commit can then bring in the contents of PEP 345 with

[2017-09-28 06:46] ncoghlan commented on #118
I'm going to close this as:

1. #369 added a new tutorial that will recommend `pipenv` as the starting point for new users, rather than raw `pip`
2. `pipenv` not only integrates with `pew` for virtual environment management, but also integrates with `pyenv` for language runtime management

That still leaves Windows users without an automated option for managing the language runtimes themselves (sh

[2017-09-28 06:46] #118 closed

[2017-09-28 11:57] ncoghlan opened #382 "Possible reference link: "A guided tour from the Python REPL to PyPI & beyond""
https://veekaybee.github.io/2017/09/26/python-packaging/ is an interesting article from @veekaybee that starts from the simplest possible Python component (a single statement at the REPL), and works its way all the way through to publication of a package with multiple submodules.

(Note: the article's actual title is "Alice in Python projectland", so the quoted bit in the issue title is just how I

[2017-09-28 12:37] ncoghlan commented on #382
It occurs to me that another possible approach we could take is to add a "Further Reading" section to the *end* of the tutorial, and include not only this link, but also a few other references, such as:

* https://hynek.me/articles/sharing-your-labor-of-love-pypi-quick-and-dirty/
* http://docs.python-guide.org/en/latest/shipping/packaging/
* https://github.com/audreyr/cookiecutter-pypackage

The b

[2017-09-28 13:01] pfmoore commented on #382
I like the approach of article, but there are quite a few points in it that are misleading or simply wrong. For example, when discussing requirements files, the article says the following, which is basically wrong:

I don't want us to get into the position of being reviewers for 3rd party articles, nor do I want to appear to be criticising people for sharing their experiences, but I do think we ne

[2017-09-28 13:17] veekaybee commented on #382
@pfmoore Can you elaborate on what I got wrong here? More than happy to edit the post. Like I mentioned, I want it to be an accurate reference for people. Thanks!